.noPadding_noMargin{
    padding: 0px;
    margin: 0px;
  }


.abc{
    background-color: #ffbe00;
    border:none;
    border-radius: 45px;
    height: 34px;
    width: 96px;
    font-size: 16px;
    
}

.fa{
    float: right;
    line-height: 27px;
    padding-right: 5px;
    font-size: 13px;
}

#label{
    text-align: left;
    margin-right: 20px;
    font-weight: 700;
    font-size: 13px;
    color: black
    
}
button:hover{
    background-color:#ffe582;
    color: black;
  }