<p>
  buttonq works!
</p>
<div class="container">
  <div class="row noPadding_noMargin">
  <button class="abc "><span id='label'>{{label}}</span><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
</div>
</div>
