<div class="main_pages">
    
            <app-header [migrateMode]="header"></app-header>
     

 
  
            <div class="curve-container" id="wht-crv">
              <div class="white-convex-outer">
              <div class="convex">
       <div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>
                  <div class="main-cont">
  <p class="rcgbld mediumfont">Recharge</p>
  </div>
  <div class="main-cont-nomr">
<app-recharge-submenu></app-recharge-submenu>
</div>
<div class="main-cont" style="margin-bottom:5%;">
<router-outlet></router-outlet>
</div>
</div>
</div>
</div>

  
  <div class="bg-color">
  <div class="main-cont">
    <p class="rcgbldd mediumfont">Other services</p> 
    <app-rechargeotherservices></app-rechargeotherservices>
    <!--<app-rechargestatus></app-rechargestatus>-->
  </div>
</div>

 
<div class="ftr-gray-curve">
     <app-footer></app-footer>
</div>
