
.main_pages{ background-color: #f2f2f2; overflow-x: hidden;}

.rcgbld{
 font-size: 28px;
    line-height: 35px;
    margin:0 0 20px;}
.rcgbldd{
font-size:24px ;
line-height:35px; 
padding-top :50px;
}
.backbuttonss{ padding-top: 95px; margin-bottom: 2%; }
.rechargestyle{ margin-left:100px;}
.rdd{  margin-bottom: 20px;}
.recharge_status{ background-color:#f2f2f2;}

.bg-color{ background-color:#f2f2f2; margin-top: -1px; }
.mb{ margin-bottom: 5%;}
h6{
    margin-left:110px;
    margin-top: 92px;
    font-size:24px;
    line-height: 24px;
}


@media screen and (max-width:800px){
    .rechargeabc{
        margin-top: 40px;
    }
    .rechargestyle{
        margin-left:0px;
        
    }
    h6{
        margin-left:15px;
        margin-top: 92px;
    }
}


@media screen and (max-width:640px){
.mb{ margin-bottom: 50px;}
}

@media only screen and (max-width: 768px) {
    .backbuttonss{ padding-top: 25px; }
}

