
<div class="main_pages">
    
       <app-header [migrateMode]="header"></app-header>
    
 
 <div class="container-fluid">
<div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>
    </div>

 <div class="row failmar">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col-2">
                <div class="col-xl-0 col-lg-0 col-md-0 col-sm-0 fail"></div>
            </div>
            <div class="col-10">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 failed mediumfont">Failure!</div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 errmsg regularfont">Recharge Failed</div>
            </div>
        
          </div>
        
        </div>

<div class="col-md-6 col-sm-12">
    <p><b>Mode payment for</b></p>
    <p class="rcgfnt"> +{{msisdnval}}</p>


  </div>

</div>


<div class="row">
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
       <app-footer></app-footer>
    </div>
 </div>
 </div>