.main_pages[_ngcontent-ugy-c1] {
    overflow-x: unset !important;
  
}
.fail{
    height: 60px;
    width: 60px;
    background-color: #ffcc00;
    border-radius: 10px ;
  }
  .failmar{
  
    margin-left: 20px;
    margin-top: 40px;
  }
  .failed{
    font-size: 28px;
    line-height: 35px;
    margin-top: 10px;
  }
  .errmsg{
    font-size: 24px;
    line-height: 30px;
    color:#7f7f7f;
    }
  .errmar{
    margin-left: 44px;
  }
  
  .failbtn{
    margin-left: -30px;
    margin-top: 20px;
  }
  
  .msisdnstl{
    color:#000000;
    font-size: 24px;
    line-height:24px;
    font-weight:700;
  }
.backbuttonss{ padding-top: 95px; margin-bottom: 2%; }
.rcgfnt{
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin-left: 0%;
  margin-bottom: 34px;
  }
  
  .vouchertxt{
    font-size: 14px;
    line-height: 13px;
    color: #4C4C4C;
    font-weight: 700;
    margin-bottom: 10px;
    //margin-top: 6px;
  }