<div class="failmar">
       
     <div class="row mobfail">
         <div class="fail">
         <img src="../../../../assets/images/failed.svg" alt="failed"> 
      </div>
           <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-9 failed mediumfont">Failed!</div>                                                    
      </div>        
         <div class="row errmar">                
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 errmsg regularfont">{{Message}}</div>                  
           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">   
       
           </div>                                          
        </div>                       

</div>