
.fail{  height: 60px; width: 60px;
  background-color: #ffcc00;
  border-radius: 10px ;
  padding: 5px; flex-shrink:0;
  margin-left: 10px;
}
  .fail img{width: 100%;}
.failmar{ margin: 50px 0;}
  
    .failed{
    font-size: 28px;
    margin-top: 10px;
  }
  .errmsg{
    font-size: 24px;
    line-height: 30px;
   color:#7f7f7f;
    }
  .errmar{  margin:10px 0 10px 44px;}
  
  .failbtn{
    margin-left: -30px;
    margin-top: 20px;
  }
  
  .msisdnstl{
    color:#000000;
    font-size: 24px;
    line-height:24px;
  }
  
  .vouchertxt{
    font-size: 14px;
    line-height: 13px;
    color: #4C4C4C;
    margin-bottom: 10px;
  }

@media screen and (max-width:768px){
  .fail{ margin-left: 20px;}
  }