.ng-star-inserted{width: 100%}

.backbuttonlogin { margin-top: 10px;  margin-bottom: 20px;}
.card{
    border-radius:15px;
    -moz-box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);/* Firefox 3.5 - 3.6 */
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -ms-box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border:none;
}
.fontsize{
font-size:14px;
}
.grey_text{
    max-width:536px;
    //display: flex;
    
}
.xplanst{
    padding:0px;
}
.no-gutters{
    height:61px;
}
.text-center{
    border-radius:0px 15px 15px 0px;
    cursor: pointer;
  
    padding:18px 0px 0px 0px;
    font-size:20px;
}
.card-body{
    padding: 21px 1px 0px 17px;
    font-size: 14px;
}
.active { 
     background-color: #ffcc00;
     border-radius:0px 15px 15px 0px;
     color:black;
    
}

.inactive {
    background-color: #7f7f7f;
    border-radius:0px 15px 15px 0px;
    color:white;
}
    
    @media only screen and (max-width:768px){
      .text-center{
        border-radius:0px 15px 15px 0px;
        cursor: pointer;
    
        padding:18px 0px 14px 0px;
        font-size:20px;
    }
    .xplanst{
        padding:0px;
    }
    .xplanst > div{
        max-width: 100%;
        flex: 0 0 100%;
    }
    .no-gutters{
        height:72px;
    }
    .no-gutters > div{
        width: 70%;
        float: left;
        max-width: 70%;
    }
    .no-gutters > div:last-child{
        max-width: 30%;

    }
    .payment{

        display: block;
    }
    }
    

.progress {
display: -ms-flexbox;
    display: flex;
    height: 25px;
    overflow: hidden;
    font-size: 13px;
    background-color: #f2f2f2;
    width: 100%;
    margin:95px 0 35px;
    border-radius: .65rem;      
}

    .progress-bar{
        background-color: #f2f2f2 !important;
        color: black;
        
    }
    .progress-bar-success{
        background-color: #0faf4b !important;
        //margin-right: 5px;
        color: white;
        border-radius: 10px 10px 10px 10px;
    }
    .progress-bar-warning{
        background-color: #ffcc00 !important;
        //color: white;
        border-radius: 10px 10px 10px 10px;
    }
    .progress-bar-failure{
        background-color: red !important;
        color: white;
        border-radius: 10px 10px 10px 10px;
    }


    .active {
        background-color: #ffcc00;
    //     transform: rotate(-135deg);
    //   -webkit-transform: rotate(-135deg);
    color: black;
    }

    .rcgfnt{
        font-size: 24px;
        line-height: 24px;
        margin-left: 0%;
        margin-bottom: 34px;
        }
        .debitlogo{
            height:40px;
            width:40px;
            padding: 3%;
            margin-left: 2%;
        }
        
        
        .coloravila{
    color: #7f7f7f
        }

 @media only screen and (max-width:768px){
            .progress {   margin-top: 85px;   max-width: 100%;}
        }
 @media only screen and (max-width:640px){
            .progress {   margin-top:85px;   max-width: 100%;}
        }
