
<div class="main_pages">
  
  <app-header [migrateMode]="header"></app-header>


<div class="main-cont">

<div class="rechargeabc"> 
<div class="progress" *ngIf="unlinksuccess" >
<div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
Confirmation
</div>
<!-- [ngClass]='{"progress-bar-success" : showconfimdiv}' -->
<div class="progress-bar progress-bar-warning"    role="progressbar" style="width:50%">
Success!
</div>
</div>

<div class="progress" *ngIf="unlinkfailure">
  <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
  Confirmation
  </div>
  <!-- [ngClass]='{"progress-bar-success" : showconfimdiv}' -->
  <div class="progress-bar progress-bar-failure"   role="progressbar" style="width:50%">
  Failure!
  </div>
  </div>

<!-- <div class="backbuttonlogin" *ngIf="showsuccessdiv1" >
<app-backbutton label='Back' (click)="backButton()"></app-backbutton>
</div>
 -->


</div>


<!-- hidden Form form for payment -->

<div class="row" *ngIf="unlinksuccess">
<!-- <p class="rcgfnt">Success!</p> -->
<app-success Message="You have succesfully unlinked +234-{{unlinkNumber}}"></app-success><br>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12"style="margin:0px 30px 0px 10px;">
<app-buttonnew size='half-btn' (click)="Dashboard()" label='Go To Dashboard'  ></app-buttonnew>
</div>
</div>

<div class="row" *ngIf="unlinkfailure">
  <app-failure Message="Failed to unlink 234-{{unlinkNumber}}"> </app-failure>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12"style="margin:0px 30px 0px 10px;">
    <app-buttonnew size='half-btn' (click)="Dashboard()" label='Go To Dashboard'  ></app-buttonnew>
    </div>
  </div>


<!-- <div *ngIf='showLoader' class="row">
  <app-slimloader></app-slimloader>
</div> -->

</div>


<app-footer></app-footer>

</div>
