<div class="scrollmenu">
   <a (click)="onLoadMdNav(helpNavEl)"  class="tiny-card" [ngClass]="{'highlighted_bg' : active_nav === helpNavEl.id }"  aria-selected='true'  *ngFor="let helpNavEl of helpNavElements">
            <img class="imgicon" [src]="helpNavEl.source">
             <div class="tcard-txt"> <p class="mediumfont">{{helpNavEl.value}}</p> </div>
    </a>                
</div>
