<div *ngIf='showLoader' class="row"> 
  <app-slimloader></app-slimloader>
  
  </div>
  
<div class="main_pages">
 
         <app-header [migrateMode]="header"></app-header>



 <div class="main-cont  min-height">

    <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
            Confirmation
          </div>
          <div class="progress-bar" [ngClass]='{"progress-bar-warning" : suceesDiv,"progress-bar-failure" : failurDiv}'   role="progressbar" style="width:50%">
            {{message}}
          </div>
        </div>
        <div class="backbutton"  >
            <app-backbutton label='Back' (click)="backout()"></app-backbutton>
              </div>
<div *ngIf="switchCondition" class="" >


      <div>
              <p class="fontsize mediumfont">You are requesting to switch from </p>
              <p  class="rcgfnt mediumfont">{{parentNumber}} </p>
              <p class="fontsize mediumfont">to</p>

                <div class="row col-md-12 col-sm-12 xplanst">
                   
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="card mb-3 grey_text">
                        <div class="row no-gutters">
                          <div class=" col-xs-6 col-md-8 col-sm-12">
                            <div class="card-body">
                              <p class="card-text mediumfont">
                                {{numberToSwitch}}
                                <br/>
                              </p>
                            </div>
                          </div>
                          <div class="col-xs-3 col-md-4 col-sm-6 inactive" [ngClass]="{'active' : colorpayment,'active': !active}">
                            <div class="text-center mediumfont" (click)='changeStatus(i)'>
                              <!-- {{numberToSwitch}} -->
                              <span class="card-text2 regularfont">{{nickname}}</span>
                            </div>                              
                          </div>
                        </div>                    
                      </div>
                    </div>                
      </div>
    <div>
         
         <p class="fontsize mediumfont">Are you sure you want to proceed?</p>
         <div class="col-md-3 col-sm-12 col-xs-12 buttondata">
          <app-mainbutton size='full' (click)="switchAccount()" label='Confirm' ></app-mainbutton>
    </div>
    </div>
  </div>

</div>

<!--Unlink Account Confirmation-->
<div *ngIf="unlinkCondition" class="" >


    <div>
            <p class="fontsize mediumfont">Are you sure you want to unlink?</p>
       
              <div class="row col-md-12 col-sm-12 xplanst">
                  <div class="col-md-4 col-sm-6 col-xs-12">&nbsp;</div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="card mb-3 grey_text">
                      <div class="row no-gutters">
                        <div class=" col-xs-6 col-md-8 col-sm-12">
                          <div class="card-body">
                            <p class="card-text mediumfont">
                              {{unlinkNumber}}
                              <br/>
                            </p>
                          </div>
                        </div>
                        <div class="col-xs-3 col-md-4 col-sm-6 inactive" [ngClass]="{'active' : colorpayment,'active': !active}">
                          <div class="text-center mediumfont" (click)='changeStatus(i)'>
                            <!-- {{numberToSwitch}} -->
                            <span class="card-text2 regularfont">{{unlinkName}}</span>
                          </div>                              
                        </div>
                      </div>                    
                    </div>
                  </div>                
    </div>
  <div>
  
       <app-mainbutton size='half' (click)="unlinkAccount()" label='Confirm'></app-mainbutton>
  </div>
</div>

</div>
<div class="row" *ngIf="failurDiv"  >
  <p class="fontsize mediumfont">{{message1}}</p>
    </div>
    <div class="row" *ngIf="suceesDiv"> 
      <p class="fontsize mediumfont">{{message1}}</p>
    </div>
</div>
<app-footer></app-footer>
</div>
