.main_pages{  overflow-x:hidden;
    position: relative;}
  
    .back-marg{
        padding-top: 100px;
    }
   
    .backbutton{ margin-top: 20px; margin-bottom: 2%; }
.ng-star-inserted{width: 100%}
.card{
    border-radius:15px;
    -moz-box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);/* Firefox 3.5 - 3.6 */
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -ms-box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border:none;

    }

.fontsize{
font-size:14px;
}
.grey_text{
    max-width:536px;
    //display: flex;
    
}
.card-text{
font-size:14px;
}
.card-text1{
    font-size:11px;
}
.card-text2{
    font-size:16px;
}
.xplanst{
    padding:0px;
}
.text-center{
    border-radius:0px 15px 15px 0px;
    //cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    //padding:30px 0px 0px 0px;
    font-size:20px;

}
.card-body{
    line-height: 14px;
    /* margin: auto; */
    display: flex;
    /* justify-content: center; */
    height: 100%;
    align-items: center;
}
.active { 
     background-color: #ffcc00;
     border-radius:0px 15px 15px 0px;
     color:black;
    
}

.inactive {
    background-color: #7f7f7f;
    border-radius:0px 15px 15px 0px;
    color:white;
}
    
    @media only screen and (max-width:768px){
        // h4{
        //     margin-bottom:7%;
        // }


       
    //   .price_tag{
    //       width:100px;
    //       height:60px;
    //       position:absolute;
    //       right:0px;
    //   }
     
    .xplanst{
        padding:0px;
    }
    .xplanst > div{
        max-width: 100%;
        flex: 0 0 100%;
    }
    .no-gutters > div{
        width: 70%;
        float: left;
        max-width: 70%;
    }
    .no-gutters > div:last-child{
        max-width: 30%;

    }
    .payment{

        display: block;
    }
    // .grey_text{
    //     width:70%;
    // }

    }
    

.progress {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    height: 1.5rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    width: auto;
    max-width: 100%;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 2%;
    border-radius: .65rem;
    
}

    .progress-bar{
        background-color: #f2f2f2 !important;
        color: black;
        
    }
    .progress-bar-success{
        background-color: green !important;
        color: white; padding: 3px;
        border-radius: 10px 10px 10px 10px;
    }
    .progress-bar-warning{
        background-color: #ffcc00 !important;
        //color: white; 
        padding: 3px;
        border-radius: 10px 10px 10px 10px;
    }
     .progress-bar-failure{
        background-color:red !important;
        color: white; padding: 3px;
        border-radius: 10px 10px 10px 10px;
    }

    .active {
        background-color: #ffcc00;
    //     transform: rotate(-135deg);
    //   -webkit-transform: rotate(-135deg);
    color: black;
    }

    .rcgfnt{
        font-size: 24px;
        line-height: 24px;
        margin-left: 0%;
        margin-bottom: 10px;
        }
        .debitlogo{
            height:40px;
            width:40px;
            padding: 3%;
            margin-left: 2%;
        }
        
        
        .coloravila{
    color: #7f7f7f
        }
    

        @media only screen and (max-width:1024px){
            .progress {  margin-top: 12%;}
        }

        @media only screen and (max-width:768px){
            .progress {  margin-top: 14%;}
        }
        @media only screen and (max-width:640px){
            .progress {
                margin-top: 25%; max-width:80%;
            }

        }
// .card{
//     border-radius:15px;
//     -moz-box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);/* Firefox 3.5 - 3.6 */
//     -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
//     -ms-box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
//     box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//      border:none;
// }
// .grey_text{
//     max-width:536px;
    
// }
// .no-gutters{
//     height:61px;
// }
// .text-center{
//     border-radius:0px 15px 15px 0px;
//     cursor: pointer;
  
//     padding:18px 0px 0px 0px;
//     font-size:20px;
// }
// .card-body{
//     padding: 21px 1px 0px 17px;
//     font-size: 14px;
// }
// .active {
  
//      background-color: #ffcc00;
//      border-radius:0px 15px 15px 0px;
//      color:black;
    
// }

// .inactive {
//     background-color: #7f7f7f;
//     border-radius:0px 15px 15px 0px;
//     width:168px;
//     color:white;
// }
    
//     @media only screen and (max-width:767px){
       
//       .price_tag{
//           width:100px;
//           position:absolute;
//           right:0px;
//       }
//       .text-center{
//         border-radius:0px 15px 15px 0px;
//         cursor: pointer;
    
//         padding:18px 0px 14px 0px;
//         font-size:20px;
//     }
//     }
    


///add account scss files
