.rcgd{
    margin-bottom: 10px;
    margin-left: 18px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
    color:#000000;
}

.rcgmarg{
margin-top:12px;
}

.abb{
margin-top:40px;
}
.form-grp{
  align-items: center
}


@media only screen and (max-width: 800px){    
    .center_button{
        margin: 0 ;  
      }
      .abb{
        margin-top: 40px;
        margin-left:15px;
        }
      }
    
      @media screen and (max-width: 768px){
        .center_button{
            margin: 0 ;
            max-width: 540px;
            padding: 0px;
            width: 100%;
          }
          .abb{
            margin-top: 20px;
            }
    
      }
    