
<form  [formGroup]='existing_cust' class='card-content-pad'>
<div class="rcgmarg">
    <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    <p class="rcgd">Please enter valid MTN number below to recharge</p>
   <app-input-floating formControlName='msisdn' placeholder='Enter MTN Number' iconName='recharge'   iconPosition='left'
  value='' type='text' required maxlengthVal=13
              [valid]="((existing_cust.get('msisdn').hasError('required') || existing_cust.get('msisdn').hasError('minlength')))"
                 [errorMsg]="'Please enter a valid MTN number.'" required
                   (keypress)="numberOnly($event)"></app-input-floating> <a ><b style=" color:#be1e50;">{{errorMsg}}</b></a>
    </div>
    </div>
      
     <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
     <p class="rcgd">Please enter voucher code below and replace missing digits with 'x'</p>
     <app-input-floating formControlName='msisdn' placeholder='Enter Voucher Code'  value='' type='text' required maxlengthVal=17
              [valid]="((existing_cust.get('msisdn').hasError('required') || existing_cust.get('msisdn').hasError('minlength')))"
                 [errorMsg]="'Please enter a valid Voucher number.'" required
                   ></app-input-floating><br><a ><b style=" color:#be1e50;">{{errorMsg}}</b></a>
    </div>
    </div>


  <div class="row form-grp">
     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
         <p class="rcgd">Please enter voucher card serial number</p>
         <app-input-floating formControlName='msisdn' placeholder='Enter Serial Number'  value='' type='text' required maxlengthVal=17
              [valid]="((existing_cust.get('msisdn').hasError('required') || existing_cust.get('msisdn').hasError('minlength')))"
                 [errorMsg]="'Please enter a valid Voucher number.'" required
                   ></app-input-floating> <a ><b style=" color:#be1e50;">{{errorMsg}}</b></a>
     </div>
   
       <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
               <div class="center_button">
             <app-mainbutton label='Proceed' size='half'></app-mainbutton>
                </div>
          </div>
  </div>
</div>
</form>

