<div class="main_pages">

        <app-header [migrateMode]="header"></app-header>

       <div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>

<div class="main-cont">
<app-complaints-submenu></app-complaints-submenu>
</div>
<router-outlet></router-outlet>
</div>



 

