
    
<div class="main-cont">
<h4 class="mediumfont headspan" id="tarr_1">Tariff Plans</h4>

<div class="scrollmenu"  id="tarr">
  <a (click)="onLoadMdNav(rechargeNavEl)"  class="tiny-card" [ngClass]="{'highlighted_bg' : active_nav === rechargeNavEl.id }"  aria-selected='true'  *ngFor="let rechargeNavEl of rechargeNavElements">
             <img class="imgicon" [src]="rechargeNavEl.source">
             <div class="tcard-txt"> <p class="mediumfont">{{rechargeNavEl.value}}</p> </div>
  </a>          
</div>

</div>
