<div class="main_pages ">
       <app-header [migrateMode]="header"></app-header>
  


<div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>
      
   <div class="main-cont">  
   <p class="faqbld mediumfont">Frequently asked questions</p>
   </div>
   <div class="main-cont-nomr">  
     <div class="scrollmenu  carousel carousel-faq">
             <a (click)="onLoadMdNav(faqsNavEl)" class="tiny-card carousel-cell"
                    [ngClass]="{'highlighted_bg' : active_nav === faqsNavEl.id }" aria-selected='true'
                    *ngFor="let faqsNavEl of faqsNavElements">
                    <img class="imgicon" [src]="faqsNavEl.source">
                    <div class="tcard-txt mediumfont">
                        <p>{{faqsNavEl.value}} {{faqsNavEl.value1}}  {{faqsNavEl.value2}} </p>     
                    </div>
                  </a>        
     </div>
     </div>
   <!-- FAQS  SmartWebNav  add class[ngClass]="{'exp_bld' : '(opened)=panelOpenState1=true '}"-->
   <div class="main-cont" style="margin-bottom: 5%;"> 
        <div class="exp_body">
            <mat-accordion  *ngIf="active_nav === 'smartWebNav'" >

                <mat-expansion-panel  (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false" hideToggle="true">
                <mat-expansion-panel-header>
                    <mat-panel-title class="regularfont">What is myMTN ?</mat-panel-title>
                    
                    <mat-panel-description>
                        <mat-icon *ngIf="!panelOpenState1"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                        <mat-icon *ngIf="panelOpenState1"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                    </mat-panel-description> 
                </mat-expansion-panel-header>
                <span class="regularfont">
                myMTN is a web self-service portal designed as an interactive application that 
                empowers you to resolve issues and also carry out transactions at your 
                convenience simply by logging to the myMTN web on your device.
                </span>
                </mat-expansion-panel>
                <mat-expansion-panel  (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false" hideToggle="true">
                <mat-expansion-panel-header>
                    
                    <mat-panel-title class="regularfont">Who can use myMTN ?</mat-panel-title>
                    
                    <mat-panel-description>
                        <mat-icon *ngIf="!panelOpenState2"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                        <mat-icon *ngIf="panelOpenState2"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                    </mat-panel-description> 
                </mat-expansion-panel-header>
                <span class="regularfont">
                myMTN can be used by any registered MTN Nigeria prepaid, post-paid or ePostPaid customer.
                    </span>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState3 = true" (closed)="panelOpenState3 = false" hideToggle="true">
                    <mat-expansion-panel-header>
                        
                        <mat-panel-title class="regularfont"> How do I get access to myMTN?</mat-panel-title>
                    
                        <mat-panel-description>
                            <mat-icon *ngIf="!panelOpenState3"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                            <mat-icon *ngIf="panelOpenState3"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                        </mat-panel-description> 
                    </mat-expansion-panel-header>
                    <span class="regularfont">
                    To use the myMTN, you will simply visit the portal to request for your PIN. 
                    An SMS will be sent to you containing your PIN, Enter your phone number and 
                    security PIN then Click on Login to have access to your account.
                        </span>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState4 = true" (closed)="panelOpenState4 = false" hideToggle="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="regularfont">Will I be charged for using myMTN?</mat-panel-title>
                        <mat-panel-description>
                            <mat-icon *ngIf="!panelOpenState4"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                            <mat-icon *ngIf="panelOpenState4"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                        </mat-panel-description> 
                    </mat-expansion-panel-header>
                    <span class="regularfont">
                    No, You will not be charged for using the myMTN web, the only requirement is that you are 
                    connected to internet service or have available data running on your device.
                    Note that normal data rates apply.
                        </span>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState5 = true" (closed)="panelOpenState5 = false" hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="regularfont"> How do I resolve the error message ‘Unable to Connect’ ?</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon *ngIf="!panelOpenState5"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                <mat-icon *ngIf="panelOpenState5"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                            </mat-panel-description>
                        
                        </mat-expansion-panel-header>
                        <span class="regularfont">
                        You will check if the mobile browser is working well with the same setting that is used
                        on the browser. If this does not work then the issue could be because of wrong APN settings.
                        You can use the setting below when you have this error: APN Name: web.gprs.mtnnigeria.net; 
                        Proxy Name: 10.199.212.2;  Port: 8080
                        </span>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState6 = true" (closed)="panelOpenState6 = false" hideToggle="true">
                        <mat-expansion-panel-header>
                            
                            <mat-panel-title class="regularfont">Can myMTN work on WI-FI ?</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon *ngIf="!panelOpenState6"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                <mat-icon *ngIf="panelOpenState6"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <span class="regularfont">
                        Yes, it can work on WI-FI
                        </span>
                        </mat-expansion-panel>
                        <mat-expansion-panel  (opened)="panelOpenState7 = true" (closed)="panelOpenState7 = false" hideToggle="true">
                            <mat-expansion-panel-header>
        
                                    <mat-panel-title class="regularfont">What are the services that are available on myMTN?</mat-panel-title>
                                <mat-panel-description>
                                    <mat-icon *ngIf="!panelOpenState7"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                    <mat-icon *ngIf="panelOpenState7"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                </mat-panel-description>
                                
                            </mat-expansion-panel-header >
                            <span class="regularfont">
                            Services such as Data bundle activation, Account balance check, PUK, Customers last recharge details, Send GPRS and data
                            settings to 3rd party, Information on MTN products and services, Customers’
                            call records, current data balance and expiry date, buy data bundle, CRBT, Load Airtime, check card status and Change 
                            Tariff Plan and lot more can be accessed on the Web.
                            </span>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState8 = true" (closed)="panelOpenState8 = false" hideToggle="true">
                            <mat-expansion-panel-header>
                                
                                <mat-panel-title class="regularfont">Can I resolve other MTN related issues on myMTN?</mat-panel-title>
                                <mat-panel-description>
                                    <mat-icon *ngIf="!panelOpenState8"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                    <mat-icon *ngIf="panelOpenState8"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <span class="regularfont">
                            You can submit your complaints on myMTN on any issue via the Contact Us
                            tab and our Customer care representative will contact you.
                            </span>
                            </mat-expansion-panel>
            
            </mat-accordion>


        <!-- faq Login content  -->
            <mat-accordion  *ngIf="active_nav === 'login'">

                <mat-expansion-panel (opened)="panelOpenStatel1 = true" (closed)="panelOpenStatel1 = false" hideToggle="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="regularfont"> How do I Logon to myMTN?</mat-panel-title>
                        <mat-panel-description>
                            <mat-icon *ngIf="!panelOpenStatel1"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                            <mat-icon *ngIf="panelOpenStatel1"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                        </mat-panel-description> 
                    </mat-expansion-panel-header>
                    <span class="regularfont">
                    You can access the application by using your Mobile number e.g. 08032123456. 
                    Enter your phone number in the provided space and enter your PIN that will be 
                    sent to your phone and click Submit.
                    </span>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenStatel2 = true" (closed)="panelOpenStatel2 = false" hideToggle="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="regularfont"> What happens on a Successful login?</mat-panel-title>
                        <mat-panel-description>
                            <mat-icon *ngIf="!panelOpenStatel2"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                            <mat-icon *ngIf="panelOpenStatel2"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                        </mat-panel-description> 
                    </mat-expansion-panel-header>
                    <span class="regularfont">
                    On a successful login, you will be directed to ‘Home’ 
                        page from where you can access other services.
                        </span>
                    </mat-expansion-panel>

            </mat-accordion>



            <!-- FAQS Databundle -->
                <mat-accordion  *ngIf="active_nav === 'databundle'">

                    <mat-expansion-panel (opened)="panelOpenStated1 = true" (closed)="panelOpenStated1 = false" hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="regularfont"> Can I purchase data bundles from myMTN?</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon *ngIf="!panelOpenStated1"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                <mat-icon *ngIf="panelOpenStated1"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                            </mat-panel-description> 
                        </mat-expansion-panel-header>
                        <span class="regularfont">
                        Yes, you can purchase mobile data bundles from the myMTN web.
                        </span>

                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenStated2 = true" (closed)="panelOpenStated2 = false" hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="regularfont"> Can I send data/GPRS settings to another phone number?</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon *ngIf="!panelOpenStated2"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                <mat-icon *ngIf="panelOpenStated2"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                            </mat-panel-description> 
                        </mat-expansion-panel-header>
                        <span class="regularfont">
                        Yes, you can send data/GPRS settings to another phone number
                        </span>
        
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenStated3= true" (closed)="panelOpenStated3 = false" hideToggle="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="regularfont"> How do I know my data subscription was successful?</mat-panel-title>
                                <mat-panel-description>
                                    <mat-icon *ngIf="!panelOpenStated3"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                    <mat-icon *ngIf="panelOpenStated3"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                </mat-panel-description> 
                            </mat-expansion-panel-header>
                            <span class="regularfont">
                            You will receive a notification SMS from MTN confirming the subscription of the data bundle.
                            The SMS will also confirm your subscription bundle type, size and expiry.
                                </span>
                        </mat-expansion-panel>
                </mat-accordion>


            <!-- FAQS accountBalance -->
                <mat-accordion  *ngIf="active_nav === 'accountBalance'">

                    <mat-expansion-panel (opened)="panelOpenStatea1 = true" (closed)="panelOpenStatea1 = false" hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="regularfont"> How can I check my account balance on myMTN?</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon *ngIf="!panelOpenStatea1"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                <mat-icon *ngIf="panelOpenStatea1"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                            </mat-panel-description> 
                        </mat-expansion-panel-header>
                        <span class="regularfont">
                        To check your account balance, simply go to Home page where your account balance will be displayed. 
                        This is usually the landing page after successful login.
                        </span>

                    </mat-expansion-panel>
                </mat-accordion>



            <!-- FAQS SIMSwap -->
                <!-- <mat-accordion  *ngIf="active_nav === 'SIMSwap'">

                    <mat-expansion-panel (opened)="panelOpenStates1 = true" (closed)="panelOpenStates1 = false" hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="regularfont"> Can I perform SIM swap on the myMTN?</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon *ngIf="!panelOpenStates1"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                <mat-icon *ngIf="panelOpenStates1"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                            </mat-panel-description> 
                        </mat-expansion-panel-header>
                        <span class="regularfont">
                        This service is presently not available on the smart web
                        </span>

                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenStates2 = true" (closed)="panelOpenStates2 = false" hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="regularfont">How do I check SIM swap status?</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon *ngIf="!panelOpenStates2"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                <mat-icon *ngIf="panelOpenStates2"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                            </mat-panel-description> 
                        </mat-expansion-panel-header>
                        <span class="regularfont">
                        You can check SIM swap status by clicking on ‘Help’ icon, then click on 
                        Check Swap Status’ to check the status of your last SIM Swap request.
                        </span>
        
                        </mat-expansion-panel>
                </mat-accordion>  -->

            <!-- FAQS Migration -->
                <mat-accordion  *ngIf="active_nav === 'Migration'">

                    <mat-expansion-panel (opened)="panelOpenStates1 = true" (closed)="panelOpenStates1 = false" hideToggle="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="regularfont">Can I perform migration on the myMTN web?</mat-panel-title>
                        <mat-panel-description>
                            <mat-icon *ngIf="!panelOpenStates1"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                            <mat-icon *ngIf="panelOpenStates1"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                        </mat-panel-description> 
                    </mat-expansion-panel-header>
                    <span class="regularfont">
                    Yes, you can migrate to a prepaid tariff plan of your choice provided you are a prepaid customer.
                        </span>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenStates2 = true" (closed)="panelOpenStates2 = false" hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="regularfont">Will I be charged for migration on myMTN?</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon *ngIf="!panelOpenStates2"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                <mat-icon *ngIf="panelOpenStates2"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                            </mat-panel-description> 
                        </mat-expansion-panel-header>
                        <span class="regularfont">
                        Your first migration attempt within 30 days is free. Subsequent migrations 
                        within the 30 days will cost you N100 each.
                        </span>

                    </mat-expansion-panel>
                </mat-accordion> 


            <!-- FAQS SIMRegistration NO DATA FAQs active_nav === 'SIMRegistration-->
                <mat-accordion  *ngIf="active_nav === 'SIMRegistration'">

                    <mat-expansion-panel (opened)="panelOpenStatesm1 = true" (closed)="panelOpenStatesm1 = false" hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="regularfont"> No Frequently asked questions</mat-panel-title>
                            <!-- <mat-panel-description>
                                <mat-icon *ngIf="!panelOpenStatesm1"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                <mat-icon *ngIf="panelOpenStatesm1"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                            </mat-panel-description>  -->
                        </mat-expansion-panel-header>

                    </mat-expansion-panel>
                </mat-accordion> 


            <!-- FAQS PUKRequest -->
                <mat-accordion *ngIf="active_nav === 'PUKRequest'">

                    <mat-expansion-panel (opened)="panelOpenStated1 = true" (closed)="panelOpenStated1 = false" hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="regularfont">How can I check my PUK number on myMTN?</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon *ngIf="!panelOpenStated1"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                <mat-icon *ngIf="panelOpenStated1"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                            </mat-panel-description> 
                        </mat-expansion-panel-header>
                        <span class="regularfont">
                        To check your PUK number, simply go to the ‘My Profile’ page
                            </span>
                    </mat-expansion-panel>
                </mat-accordion> 
                    
            <!-- FAQS CallRechargeSMS -->
                        <mat-accordion  *ngIf="active_nav === 'CallRechargeSMS'">

                        <mat-expansion-panel (opened)="panelOpenStated1 = true" (closed)="panelOpenStated1 = false" hideToggle="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="regularfont"> How can I recharge on myMTN?</mat-panel-title>
                                <mat-panel-description>
                                    <mat-icon *ngIf="!panelOpenStated1"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                    <mat-icon *ngIf="panelOpenStated1"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                </mat-panel-description> 
                            </mat-expansion-panel-header>
                            <span class="regularfont">
                            You can load airtime through recharge PIN or logical card and MTN-on-Demand
                                </span>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenStated2= true" (closed)="panelOpenStated2 = false" hideToggle="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="regularfont"> Can I recharge an over-scratched card on the Web?</mat-panel-title>
                                <mat-panel-description>
                                    <mat-icon *ngIf="!panelOpenStated2"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                    <mat-icon *ngIf="panelOpenStated2"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                </mat-panel-description> 
                            </mat-expansion-panel-header>
                            <span class="regularfont">
                            No, you cannot recharge an over scratched card.
                                </span>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="panelOpenStated3 = true" (closed)="panelOpenStated3 = false" hideToggle="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="regularfont"> What happens if the myMTN web is not displaying recent calls/SMS/data/recharge details ?</mat-panel-title>
                                    <mat-panel-description>
                                        <mat-icon *ngIf="!panelOpenStated3"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                        <mat-icon *ngIf="panelOpenStated3"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                    </mat-panel-description> 
                                </mat-expansion-panel-header>
                                <span class="regularfont">
                                Try any of the below for recent recharge details.<br/>
                                1. Kindly try log-out and re-login.  <br/>
                                2. If still not displaying kindly contact customer care on 180. 
                                    </span>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="panelOpenStated4 = true" (closed)="panelOpenStated4 = false" hideToggle="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="regularfont">Can I check my call details on myMTN?</mat-panel-title>
                                    <mat-panel-description>
                                        <mat-icon *ngIf="!panelOpenStated4"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                        <mat-icon *ngIf="panelOpenStated4"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                    </mat-panel-description> 
                                </mat-expansion-panel-header>
                                <span class="regularfont">
                                Yes, you can check your call details on the myMTN. 
                                    </span>
                                </mat-expansion-panel>
                        </mat-accordion> 


            <!-- FAQS ManageData -->
                    <mat-accordion  *ngIf="active_nav ==='ManageData'">

                        <mat-expansion-panel (opened)="panelOpenStated1 = true" (closed)="panelOpenStated1 = false" hideToggle="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="regularfont"> No Frequently asked questions</mat-panel-title>
                                <!-- <mat-panel-description>
                                    <mat-icon *ngIf="!panelOpenStated1"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                    <mat-icon *ngIf="panelOpenStated1"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                </mat-panel-description>  -->
                            </mat-expansion-panel-header>
            
                        </mat-expansion-panel>
                    </mat-accordion>


            <!-- FAQS Others -->
                    <mat-accordion *ngIf="active_nav === 'Others'">

                        <mat-expansion-panel (opened)="panelOpenStated1 = true" (closed)="panelOpenStated1 = false" hideToggle="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="regularfont"> No Frequently asked questions</mat-panel-title>
                                <!-- <mat-panel-description>
                                    <mat-icon *ngIf="!panelOpenStated1"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                    <mat-icon *ngIf="panelOpenStated1"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                                </mat-panel-description>  -->
                            </mat-expansion-panel-header>
            
                        </mat-expansion-panel>
                    </mat-accordion>

        </div>
</div>


<app-footer></app-footer>