


    <p class="rcgbld mediumfont">Complaints</p>

  <div class="scrollmenu">
    <a (click)="onLoadMdNav(complaintNavEl)"  class="tiny-card" [ngClass]="{'highlighted_bg' : active_nav === complaintNavEl.id }"  aria-selected='true'  *ngFor="let complaintNavEl of complaintNavElements">
                 <img class="imgicon" [src]="complaintNavEl.source">
                 <div class="tcard-txt mediumfont"> <p>{{complaintNavEl.value}}</p> </div>
     </a>
      
</div>
