.label{
  margin-bottom: 10px;
  line-height: 18px;
  color: #000000;
  font-size: 14px;
}


.heading{
  color:#1d1d1d;
  font-size: 14px;
  line-height: 14px;
}


.text{
  color: #000000;
  font-size: 14px;
  line-height: 24px;

}

.container1{
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 15px;
}

.top_curve{
    height: 2em;   
    background-color:#f2f2f2;        
    color:#FFF;
    display:block;
}
.top_curve:before{
  width: 100%;
  height: 2em;
  border-radius : 0 0 50% 50%;
  background-color:white;    
  display:inline-block;    
  content: '';
  }

.bg-color{
    background-color:#f2f2f2;
    padding-top: 5%;
    // padding-bottom: 5%;
    }
    

.bottmmarotp{
  font-size: 24px;
  color: #000000;
    line-height: 24px;
}

@media only screen and (max-width: 768px) {
	.mobMargin{
	  margin: 0 15px;
	}

} 

@media only screen and (min-width: 768px) {

} 
