<div *ngIf='showLoader' class="row"> 
  <app-slimloader></app-slimloader>
</div>



<div class="curve-container bg-gray">
  <div class="white-convex-outer">
  <div class="convex">
        <div class="main-cont" style="margin-bottom:5%;">
  <p class="label regularfont">Please enter ticket number to search your complaint:</p>

<form  [formGroup]='existing_cust'  (ngSubmit)='onSubmit(existing_cust)'>
<div class="row">
       <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <app-input-floating formControlName='ticket' placeholder='Enter ticket number'  iconPosition='left'
        iconName='search'  value='' type='text' required maxlengthVal=9
  [valid]="((existing_cust.get('ticket').hasError('required') || existing_cust.get('ticket').hasError('minlength')))"
     [errorMsg]="'Please enter valid ticket number.'" required
       ></app-input-floating>
                       
        </div>
         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
         	 <app-mainbutton label='Submit' [disabled]="existing_cust.invalid" size='full'></app-mainbutton>
         </div>
</div>
</form>    
</div>

</div>
</div>
</div>


<div style="margin-bottom:-2%;">
<!-- 
<div class="bg-color" *ngIf="response">
<div class="main-cont">
<div *ngFor="let data of message">

   <p class="bottmmarotp mediumfont">  Your tickets : {{data.TicketNumber}} </p>

        <p class="heading mediumfont">Log date</p>   
        <p class="bottmmarotp mediumfont">   {{data.TicketLogDate}} </p>

          <p class="heading mediumfont">Status</p>
          <p class="bottmmarotp mediumfont">    {{data.TicketStatus}}</p>              
 
          <p class="heading mediumfont">Issue</p>   
           <p class="bottmmarotp mediumfont">  {{data.CategoryId}} </p>             
     
         <p class="heading mediumfont">Complaint</p>
         <p class="text regularfont">{{data.Complaint}}</p>              

</div> 
</div>
</div>  -->



  
  
  <div class="bg-color" *ngIf="loading">
      <div class="main-cont">
          <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 space">
            <h5 class="bottmmarotp">
              <p class="mediumfont">Loading...</p>
            </h5>
          </div>
        </div>
        </div>
  </div>
  
        
  <div class="bg-color" *ngIf="errMsg">
      <div class="main-cont">
          <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 space">
            <h5 class="bottmmarotp">
              <p class="mediumfont">Unable to connect, please try again.</p>
            </h5>
          </div>
        </div>
        </div>
  </div>

  <div class="bg-color" *ngIf="isValid">
    <div class="main-cont">
        <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 space">
        <h5 class="bottmmarotp">
          <p class="mediumfont">Dear customer, you do not have any tickets on your line</p>
        </h5>
      </div>
    </div>
    </div>
</div>
  
<div *ngIf="response">
  <div class="bg-color" *ngFor="let data of message">
      <div class="main-cont">
          <div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="
      padding-bottom: 10px;
  ">
     <p class="bottmmarotp mediumfont">
                          Your tickets : {{data.TicketNumber}}
      </p>
  </div>
  </div>
  
  <div class="row ">
         <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 " style="
      padding-bottom: 10px;
  ">
            <p class="heading mediumfont">Log date</p>   
             <p class="bottmmarotp mediumfont">
                  {{data.TicketLogDate}}
              </p>
          </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
             <p class="heading mediumfont">Status</p>
              <p class="bottmmarotp mediumfont">
                    {{data.TicketStatus}}
              </p>              
          </div>
  </div>
  
  <div class="row ">
         <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
            <p class="heading mediumfont">Issue</p>   
             <p class="bottmmarotp mediumfont">
                {{data.CategoryId}}
              </p>             
          </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
           <p class="heading mediumfont">Complaint</p>
           <p class="text regularfont">{{data.Complaint}}</p>              
          </div>
  </div>
  </div> 
  </div>
</div>
  
  
  

  
  </div>
      
   
  <div class="ftr-gray-curve mt">
  <app-footer></app-footer>    
  </div>