
<div *ngIf='showLoader' class="row"> 
                <app-slimloader></app-slimloader>
            
            </div>

<div class="main-cont">

<div class=" font_size_18 mediumfont">
<span>{{tariffPlanName}}</span>
</div>
 <!-- <p class="regularfont font_size_14">{{descriptions}}</p> -->
</div>
