.container > div{display: none;}
.container > div.tabs{float: left;}
section.tabs{
background-color: #f2f2f2;
padding: 8px 10px;
margin:20px 0px; border-radius: 50px;
}
.container > div.tabs,
.container > div.activetab{
display: block
}

div.scrollmenu .menu:hover {background-color:#ffcc00; color: black;}
.active {background-color:grey !important; border-radius: 50px;}