<div *ngIf='showLoader' class="row">
  <app-slimloader></app-slimloader>
</div>



<div class="curve-container" id="wht-crv">
  <div class="white-convex-outer">
  <div class="convex">
      <div class="main-cont" style="margin-bottom:5%;">
    <p class="rcgtxt regularfont">Please select a date range (max 4 days):</p>
      <form [formGroup]='datahistoryForm' class='card-content-pad'>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="start-date">
              <app-datepicker formControlName='startdate' placeholder='Start date' required
               [maxDate]="endDate" (selectedDate)="getStartDate($event)"
                [(ngModel)]="startDate">
              </app-datepicker>
            </div>
            <div class="end-date">
              <app-datepicker class="end-date" formControlName='enddate' placeholder='End date' required
                [maxDate]="currentDate" [minDate]="startDate" (selectedDate)="getEndDate($event)" [(ngModel)]="endDate">
              </app-datepicker>
            </div>
          </div>
        </div>
        <div class="row mt-2 ng-star-inserted" *ngIf="dataMaxDateErrMsg">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
               <span class="mat-error">{{dataMaxDateErrMsg}}</span>
            </div>
         </div>
        <div class="row" id="download-and-view-btn">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 abb">
            <div class="center_button">
              <app-mainbutton label='View history' size='full' [disabled]="!datahistoryForm.valid"
                (click)="validateMaxDateRange()"></app-mainbutton>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
  </div>
  </div>


<div class="bg-color" >
  <div class="container" *ngIf="dataHistoryData.length > 0">
    <p class="history-type mediumfont">Data record ({{startDate | date:'dd/MM/yyyy'}} to {{endDate | date:'dd/MM/yyyy'}}) - <span class="total-data">{{totalConsumedData}} data consumed </span></p>
    <app-gridtable [tableData]="dataHistoryData" [listOfFields]="listOfFields" [startDate]="startDate"
      [endDate]="endDate" [enableRtl]="true" [pdfLabel]="dwnldPdfBtnLabel" 
      [excelLabel]="dwnldExcelBtnLabel" [historyType]="fileName" [showDwnldBtn]="true" [childGridData]="childGrid" [hierarchyDataToExport]="hierarchyDataToExport">
    </app-gridtable>
  </div>
  <div class="container" *ngIf="dataErrMsg" >
    <p class="call-err-msg mediumfont" style="padding-top:50px;">{{dataErrMsg}}</p>
 </div>

 <div class="ftr-gray-curve" *ngIf="footerGray"> 
  <app-footer></app-footer>    
</div> 
</div>

<div *ngIf="footerWhite" id="target"> 
  <app-footer></app-footer>   
  </div>