.ng-star-inserted{width: 100%}
.card{
    border-radius:15px;
    -moz-box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);/* Firefox 3.5 - 3.6 */
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -ms-box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border:none;
}
.grey_text{
    max-width:536px;
    //display: flex;
    
}
.xplanst{
    padding:0px;
    cursor: pointer;
}
/*.no-gutters{
   // height:90px;
}*/
.card-text{
font-size:14px;
}
.card-text1{
    font-size:11px;
    }
.text-center{
    border-radius:0px 15px 15px 0px;
    //cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    //padding:30px 0px 0px 0px;
    font-size:20px;

}
.card-body{
    line-height: 14px;
    /* margin: auto; */
    display: flex;
    /* justify-content: center; */
    height: 100%;
    align-items: center;
}
.active { 
     background-color: #ffcc00;
     border-radius:0px 15px 15px 0px;
     color:black;
    cursor:pointer;
}

.inactive {
    background-color: #7f7f7f;
    border-radius:0px 15px 15px 0px;
    color:white;
	cursor:pointer;
}
    
    @media only screen and (max-width:768px){
        // h4{
        //     margin-bottom:7%;
        // }


       
    
    //   .text-center{
    //     border-radius:0px 15px 15px 0px;
    //     cursor: pointer;
    
    //     padding:40px 0px 14px 0px;
    //     font-size:20px;
    // }
    .xplanst{
        padding:0px;
    }
    .xplanst > div{
        max-width: 100%;
        flex: 0 0 100%;
    }
   /* .no-gutters{
        height:120px;
    }*/
    .no-gutters > div{
        width: 70%;
        float: left;
        max-width: 70%;
    }
    .no-gutters > div:last-child{
        max-width: 30%;

    }
    

    }
    

