<div class="xplanst">

     <div class="card mb-3 grey_text">
	        <div class="row no-gutters"> 
			 <div class=" col-xs-6 col-md-8 col-sm-12">
           <div class="card-body">
             <p class="card-text mediumfont">{{label}}<br/><span class="card-text1 regularfont">{{desc}}</span></p>
 
           </div>
         </div>
         <div class="col-xs-3 col-md-4 col-sm-6 inactive" [ngClass]="{'active' : active,'inactive': !active}">
           <div class="text-center mediumfont" >N{{price}}</div>
           
         </div>
       </div>
 
     </div>
   </div>
 