.main_pages{  overflow-x:hidden;}
      
.sucessMsg{  font-size: 28px;
    line-height: 35px;
    margin:0 0 20px; color:#1d1d1d;}
    .sucessMsgTxt{
      font-size:24px;
    line-height:30px;
      color:#7f7f7f;
    }

.main-cont{	margin:4% auto ;}
.backbuttonss{ padding-top: 95px; margin-bottom: 2%; }

@media only screen and (max-width: 768px) {
    .backbuttonss{ padding-top: 25px; }
}
