<div class="main_pages">

           <app-header [migrateMode]="header"></app-header>
  
<div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>
  
  <div class="main-cont">

        <p class="sucessMsg mediumfont">Confirmation</p>
   
        <p class="sucessMsgTxt regularfont">Are you sure you want to redirect to {{product.name}} ?</p>
  
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5 col-xs-5">
      <a href="{{product.url}}" target="_blank">
      <app-buttonnew size='full' label='Proceed'></app-buttonnew>
    </a>
     </div>
    </div>  
  </div> 
  

  <app-footer></app-footer>
  </div>
  