 //NEW FEATURE CARD

.aaaa{ margin-left:12%; }

.card-cont{ height: 200px;} 
.crd{ background-color: #ffffff;
     // flex-shrink: 0;
      border-radius: 15px;     
      width: 100px; height: 155px; 
      padding:15px 10px; 
      margin:20px 15px 20px 0;  
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15) !important;
  }
  
  .fntt{
    font-size: 12px;
    color: #000000;
    padding-top: 3px;
    margin-left: 10px;
  }
  
  .abcc{
    background-color: #ffcc00;
    border:none;
    border-radius: 45px;
    margin-top: 25px;
    padding: 5px 10px; width: 100%;
    text-align: left;
    font-size: 14px;
    color: 000000;  
  }
 
  .abccc{
    background-color: #ffcc00;
    border:none;
    border-radius: 45px;
    margin-top: 8px;
    padding: 5px 10px; width: 100%;
    text-align: left;
    font-size: 14px;
    color: 000000;  
  }
.abcc .fa{
    float: right;
    padding-top: 5px;
    font-size: 13px;
  }
  .abccc .fa{
    float: right;
    padding-top: 5px;
    font-size: 13px;
  }
  
  button:hover{
      background-color:#ffe582;
      color: #000000;
    }
 @media only screen and (min-width: 769px){
   .card-cont{ display: flex; flex-wrap: nowrap;} 
.crd{flex-shrink: 0;}
    }


/* external css: flickity.css */
.carousel-cell {
  counter-increment: carousel-cell;
  }

/* enable Flickity by default */
.carousel:after {
    content: 'flickity';
    display: none; /* hide :after */
  }
  
   @media screen and ( min-width: 769px ) {
    /* disable Flickity for large devices */
    .carousel:after {
      content: '';
    }
  } 