<div class="main-cont-nomr">

<div class="card-cont carousel carousel-cards2">

    <div class="crd spc carousel-cell">
        <img src="/app/appassets/icons/recharge.svg" class="imgicon">
        <div class="fntt regularfont">Recharge</div>
        <div (click)="recharge()">
            <button class="abcc  mediumfont"><span id='labell'>View</span><i class="fa fa-chevron-right"
                    aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="crd spc carousel-cell">
        <img src="/app/appassets/icons/buy_bundle.svg" class="imgicon">
        <div class="fntt regularfont">Bundles</div>
        <div (click)="buybundleview()">
            <button class="abcc mediumfont"><span id='labell'>View</span><i class="fa fa-chevron-right"
                    aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="crd spc carousel-cell">
        <img src="/app/appassets/icons/tariff_plans.svg" class="imgicon">
        <div class="fntt regularfont"  >Tariff plans</div>
        <div (click)="tarrifPlanView()">
            <button class="abcc mediumfont"><span id='labell'>View</span><i class="fa fa-chevron-right"
                    aria-hidden="true"></i></button>
        </div>
    </div>
    <!-- <div class="crd spc">
        <img src="/app/appassets/icons/recharge.svg" class="imgicon">
        <div class="fntt regularfont">VAS</div>
        <div>
            <button class="abcc mediumfont"><span id='labell'>View</span><i class="fa fa-chevron-right"
                    aria-hidden="true"></i></button>
        </div>
    </div> -->
    <div class="crd spc carousel-cell">
        <img src="/app/appassets/icons/history.svg" class="imgicon"> 
        <div class="fntt regularfont">History</div>
        <div (click)="history()">
            <button class="abcc mediumfont"><span id='labell'>View</span><i class="fa fa-chevron-right"
                    aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="crd spc carousel-cell">
        <img src="/app/appassets/icons/help.svg" class="imgicon">
        <div class="fntt regularfont">My Subscription</div>
        <div (click)='subscriptionapi()' >
            <button class="abccc mediumfont"><span id='labell'>View</span><i class="fa fa-chevron-right"
                    aria-hidden="true"></i></button>
        </div>
    </div>
      <div class="crd spc carousel-cell">
        <img src="/app/appassets/icons/recharge.svg" class="imgicon">
        <div class="fntt regularfont">Store Locator</div>
        <div (click)="storelocater()">
            <button class="abccc mediumfont"><span id='labell'>View</span><i class="fa fa-chevron-right"
                    aria-hidden="true"></i></button>
        </div>
    </div>
</div>
</div>