
table { table-layout: fixed; width: 100%;   }
th,td { word-wrap: break-word;}
.banner-curve-container{ 
  position: relative;
	 margin-top: 69px;
	overflow: hidden;
	height: auto;	
}
.banner-convex-outer {
	background-color:#fff ;
	border-radius: 0 0 200% 200%;
	left: -50%;
	margin: 0 auto;
	overflow: hidden;
	position:relative;
	width: 200%;
}
.banner-curve-container .convex{max-width: 50%;
	margin: 0 auto;}
.convex img{ max-width: 100%;}
.i-banner{
  background-image:  url("/app/appassets/images/MTN_SOHO_639708272.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  min-height: 350px;
 
}

.backbuttonss{ padding-top: 25px; margin-bottom: 2%; }
.rowspace{ margin: 50px 0 20px;}

.rnglogo{
  background-color: #ffcc00;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: -15px 16px 16px 0;
}
.heading{ font-size: 28px; line-height: 35px; color: #000000; }
  
  .para{
  font-size: 16px;
  line-height: 1.5;
  // color: #000000;
  padding: 10px 0 10px 15px;
  }

  .highlight{
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    padding: 0 0 0 15px;
    }
    
    .container-fluid1 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
.term{ padding-top: 50px;}
    
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
      .term{  font-size: 35px;  line-height: 35px;  color:#ffffff; } 
.curve-container{  min-height: 350px;}
   .i-banner{  min-height: 250px;}  
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
    .term{ font-size: 35px; line-height: 35px; color:#ffffff; } 
    }
    
@media only screen and (max-width: 768px) {
.banner-curve-container{margin-top: 0px;}
}
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) { 
        .term{ font-size: 35px;  line-height: 35px;  color:#ffffff; }
    } 
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {          
        .term{  font-size: 72px;  line-height: 62px;   color:#ffffff; }
    } 
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
            
        .term{
          font-size: 72px;
          line-height: 62px;
          color:#ffffff;
        }
    }
    
    @media only screen and (min-width: 2000px) {
   
        
        .term{
          font-size: 72px;
          line-height: 62px;
          color:#ffffff;
        }
    
    }

