
        
        <div class="main_pages">

            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                    <app-header [migrateMode]="header"></app-header>
                </div>
            </div>

            <div class="banner-curve-container">
                    <div class="banner-convex-outer">
                    <div class="convex">
        <div class="i-banner">

           <div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>

            
            <div class="main-cont term mediumfont">
              <p>Contact Us</p>
            </div>

            </div>
            </div>
          
          
            </div>
          
           <!--  <app-curve type="3" image_curve_bottom='true'></app-curve> -->
          
            <div class="main-cont">
          
                      <div class="row rowspace">

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0;">
                  
                    <p class="heading mediumfont"> MTN Call Center</p>

                  <table> 
                    <tr>
                        <td rowspan="2" width="30px">
                        <div class="rnglogo"></div>
                        </td>
                        <td class="para regularfont"> Free assistance 24/7 from any MTN number</td>  
                    </tr>
                    <tr>
                        <td class="highlight mediumfont">216</td>
                    </tr>
                   <p></p>
                    <tr>
                        <td rowspan="2"  width="30px">
                        <div class="rnglogo"></div>
                        </td>
                        <td class="para regularfont">From any other phone</td>  
                    </tr>
                    <tr>
                        <td class="highlight mediumfont">080310216000</td>
                    </tr>
                    </table>     
                    <br/>
                    <p class="heading mediumfont"> Customer Service</p>

                    <table> 
                      <tr>
                          <td rowspan="2" width="30px">
                          <div class="rnglogo"></div>
                          </td>
                          <td class="para regularfont">Send email to</td>  
                      </tr>
                      <tr>
                          <td class="highlight mediumfont">CustomerCare3@mtn.com</td>
                      </tr>
                     <p></p>
    
                      </table>  
                    
                    
                  </div>
          
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0;">
                    <p class="heading mediumfont"> MTN Self Service</p>

                  <table> 
                    <tr>
                        <td rowspan="2" width="30px">
                        <div class="rnglogo"></div>
                        </td>
                        <td class="para regularfont"> Free assistance 24/7 from any MTN number</td>  
                    </tr>
                    <tr>
                        <td class="highlight mediumfont">216</td>
                    </tr>
                   <p></p>
                    <tr>
                        <td rowspan="2"  width="30px">
                        <div class="rnglogo"></div>
                        </td>
                        <td class="para regularfont">From any other phone</td>  
                    </tr>
                    <tr>
                        <td class="highlight mediumfont">080310216000</td>
                    </tr>
                    </table>     

                    <br/>
                    <p class="heading mediumfont">Website</p>

                    <table> 
                      <tr>
                          <td rowspan="2" width="30px">
                          <div class="rnglogo"></div>
                          </td>
                          <td class="para regularfont">Visit us at</td>  
                      </tr>
                      <tr>
                          <td class="highlight mediumfont"><a href="https://www.mtnonline.com/" target="_blank">www.mtnonline.com</a></td>
                      </tr>
                     <p></p>
    
                      </table>  
                    
                   </div>
            </div>
         
            </div>
    
            
          
          
            <app-footer bgColor='white'></app-footer>
            </div>
          
          
