.noPadding_noMargin{
    padding: 0px;
    margin: 0px;
  }

.main{
    // padding-top: 5px;
     font-weight: 200;
     vertical-align: middle;
 }
 
 .label-padding{
     padding-top: 15px;
 }
 
 .highlighted_bg_mouseover {
     background-color: #f6f6f6 !important;
   }


   lement.style {
    width: 14.2857%;
}

// .menu[_ngcontent-c18] {
//     display: inline-block;
//     color: #000;
//     text-align: center;
//     text-decoration: none;
//     /* border: 1px solid; */
//     padding: 7px;
//     background: grey;
//     background-color: grey;
//     cursor: pointer;
//     min-width: -webkit-fit-content;
//     min-width: -moz-fit-content;
//     border-radius: 20px;
//     min-width: fit-content;
// }

// *, ::after, ::before {
//     box-sizing: border-box;
// }