<div class="row noPadding_noMargin main" (mouseenter)="highlightedList($event)" (mouseleave)="highlightedList($event)" [ngClass]="{highlighted_bg_mouseover:mouseovered}">
  <div class="col-xs-8 col-sm-8 col-md-8">
      <div class="label-padding">
        <!-- {{label}} -->
          <br> 
          <!-- <font color="#acacac" *ngIf='priceHidden'>Price:</font> -->
          <!-- <font color="#027fa3"> {{price}}</font> -->
      </div>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4">
      <!-- <com-button label='{{buttonLabel}}' type='filled' (click)='buyButton()' icon='right_arrow' size='full' [disabled]="false"></com-button> -->
      <!-- <button label='{{buttonLabel}}' type='filled' (click)='buyButton()' icon='right_arrow' size='full' [disabled]="false"></button> -->
  <button>gdfgdfgdfgdfg</button>
    </div>
</div>
<hr>