
<div *ngIf='showLoader' class="row"> 
        <app-slimloader></app-slimloader>
</div>

<div class="main_pages">
      
                <app-header [migrateMode]="header"></app-header>
       
      
    <div class="banner-curve-container bg-white">
                        <div class="banner-convex-outer">
                              <div class="convex">
                        <div class="i-banner">
                                            
                   
                                    <div *ngIf='sendotp'>
                                        <div class="otp-cont" *ngIf='!OTPShow'>
                                            <div class="container-fluid">
<div class="backbuttonss">
                                        <app-backbutton label='Back' (click)="backtologin1()"></app-backbutton>
                                                </div>
                                              </div>
                                        </div>
                                      </div>

                        <div *ngIf='!sendotp'>
                           <div class="container-fluid">
<div class="backbuttonss">
                                    <app-backbutton label='Back' (click)="backtologin2()"></app-backbutton>
                          
                          </div>
                        </div>
                        </div> 
                        
                  
                        </div>
                    </div>
                    </div>
                    </div> 

<div class="curve-container bg-gray">
  <div class="white-convex-outer">
  <div class="convex">
    <div class="main-cont lggn">
        <div *ngIf='OTPShow'>
            <div class="row signtop">
                <div class="col-12 col-md-6">
                    <p class="rcgfntlogin mediumfont"> Sign in </p>
		     <p class="mat-error" *ngIf="sessionErr">{{sessionErr}}</p>
                    
                    <p class="welcom regularfont">
                        <b> Y'ello! </b> Welcome to the single sign-on Digital World! </p>
                </div>
            </div>
    
    
             <form [formGroup]='existing_cust'  (ngSubmit)='onSubmit(existing_cust)'>
                    <div class="row">
                            
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                              
                            <app-input-floating formControlName='msisdn' placeholder='Enter MTN Number' iconName='recharge'  iconPosition='left'  value='' type='text' required maxlengthVal=13
                               [valid]="(existing_cust.get('msisdn').hasError('required') || existing_cust.get('msisdn').hasError('minlength'))"
                                  [errorMsg]="'Please enter a valid MTN number.'" required
                                    (keypress)="numberOnly($event)"></app-input-floating>
 				
        				<!-- <a ><b style=" color:#be1e50;">{{errorMsg}}</b></a>   -->                 
                                   </div>
                              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">					
                              <app-mainbutton label='Proceed' [disabled]="existing_cust.invalid"  size='full'></app-mainbutton>  
                         </div>
                                           
                           </div>  
                        </form>     
    
    
    
    
    
           
    
        </div>
    
        <div *ngIf='!sendotp'>
            <div class="otp-cont" *ngIf='!OTPShow'>
                    <!-- <div class="backbuttonlogin">
                            <app-backbutton label='Back' (click)="backtologin1()"></app-backbutton>
                    </div> -->
    
                <div class="form-wrapper">
                   <div class="otpclass">
    
                     <p class="rcgfntlogin mediumfont">
                        OTP Options
                    </p>
    
                    <a class="welcom  regularfont">Please select how you want to receive One Time password(OTP)</a>
                         </div>
                    <div class="row"> 
                    <div class="form-container col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    
                        <mat-radio-group [(ngModel)]="otp_radio" aria-label="Select an option">
                            <span class="col-xs-6 col-sm-6 col-md-6  otpbelow radiomargin">
                            
                                <mat-radio-button checked  id="primarynu" name='otp_radio' [value]="primaryNumber"  (click)="checkEmail(false)"><p class="regularfont">Primary number</p><p class="ptagradio mediumfont">+{{ protectedMsisdn }}</p></mat-radio-button>
                                
                            </span>
    
                            <span *ngIf="email" class="col-xs-6 col-sm-6 col-md-6  otpbelow radiomargin">
                                <mat-radio-button id="emailaddre" name='otp_radio' [value]="email" (click)="checkEmail(true)"><p class="regularfont">Email address</p><p class="ptagradio mediumfont">{{ protectedMail }}</p></mat-radio-button>
                                
                            </span>
    
                            <span *ngIf="alternateNumber" class="col-xs-6 col-sm-6 col-md-6    otpbelow radiomargin">
                                <mat-radio-button id="secondaynu" name='otp_radio' [value]="alternateNumber" (click)="checkEmail(false)"><p class="regularfont">Alternate number</p><p class="ptagradio mediumfont">+234{{ protectedalterMsisdn  }}</p></mat-radio-button>
                                
                            </span>
    
                        </mat-radio-group>
    
    
                    </div>
    
                    <div class="col-12 col-md-3 col-sm-12 col-xs-6 col-lg-3">
                     <div class="center_button full-btn">
                <app-mainbutton label='Send OTP'(click)="sendotpClick()" type='filled' icon='right_arrow' size="full"></app-mainbutton>
    </div>
                    </div>
                </div>
                </div>
         
            </div>
        </div>
      
        <div *ngIf='!OTPShow'>
         
               <!--   <div class="backbuttonlogin">
                        <app-backbutton label='Back' (click)="backtologin2()"></app-backbutton>
                 </div> -->
                 <div class="row">
                <div class="col-12 col-md-6 entertop">
                    
 <p class="rcgfntlogin mediumfont"> Enter OTP</p>
  <p class="welcom  regularfont"><b>Y'ello</b>, please enter the OTP sent to your number below:</p>
                </div>
            </div>
    
            <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            
                    <form [formGroup]='otp_cust' class='card-content-pad' (ngSubmit)='onSubmit(otp_cust)'>
                            <app-input-floating 
                            formControlName='enterotp' 
                            placeholder='Enter OTP here' 
                            value=''
                            type='password' required maxlengthVal=6
                                [valid]="((otp_cust.get('enterotp').hasError('required')))"
                                 [errorMsg]="'Please enter a valid OTP number'" required
                                (keypress)="numberOnlyotp($event)"  oncopy="return false" onpaste="return false" ></app-input-floating><br><a ><b style=" color:#be1e50;"></b></a>
                               
                        </form> 
					<p class="timeoutErr mat-error regularfont">{{timeoutErr}}</p>
<p class="resentnow regularfont" (click)="resendotpClick()" >Didn't receive OTP yet?
                    <span style="color: #00678f;cursor: pointer;">Resend OTP now!</span>
                </p>
                </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="center_button">
                     <app-mainbutton label='Proceed' [disabled]="otp_cust.invalid" (click)="validateOtp()" size='full'></app-mainbutton>
    
                  </div>  
                </div>
            </div>
                     <!-- <div *ngIf="!hideee" class="invalidotp">{{message}}</div> -->
                

        </div>
    
   </div>
 </div>
 </div>
</div>
       


  <div class="bg-color">
          <div class="main-cont">          
                <p class="rcgfnt mediumfont">Recharge</p>            
                <app-login-submenu></app-login-submenu>
                <router-outlet></router-outlet>            
         </div>
</div>
    

        <div class="ftr-gray-curve">
                <app-footer></app-footer>     
    </div>
    
