
.main_pages{ overflow-x:hidden;}

.history_heading {
    font-size: 28px;
    line-height: 35px;
    margin:0 0 20px;}

// .container1 {
//     width: 90%;
//     margin-left: 5%;
//     margin-right: 5%;
// }

.backbuttonss{ padding-top: 95px; margin-bottom: 2%; }

@media only screen and (min-width: 576px) {

    // .container {  max-width: 1140px !important; margin-left: auto !important; }
    .history {  background-color: #f2f2f2; }
}

@media screen and (max-width: 992px) {
    .history_heading {  font-size: 22px !important; }
}

@media only screen and (max-width: 768px) {
    .backbuttonss{ padding-top: 25px; }
}