<div class="main_pages">

      <app-header [migrateMode]="header"></app-header>

<div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>

  
  <div class="main-cont">
    <p class="history_heading mediumfont">History</p>
  </div>
  <div class="main-cont-nomr">
    <app-account-history-submenu></app-account-history-submenu>
  </div>

  <router-outlet></router-outlet>

<!-- <app-footer></app-footer> -->