select{
  //height: calc(2.25rem + 20px);
  background-color: #f2f2f2;
  //color: white;
}

select.input-lg {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  //border-radius: 30px;
  font-size: 15px;
  // background-color: #000;
  // color: white;
}


select + i.fa {
  float: right;
  margin-top: -38px;
  margin-right: 5px;
  pointer-events: none;
  padding-right: 5px;
  //background-color: #000;
  //color: white;
}


.form-control:focus{
    background: #f2f2f2 !important;
    //color: white;
}

i.fa:focus {
  background: #ffcc00 !important;
  //color: black;
}
select option{
    margin: 40px;
    background: #ffffff !important;
    text-shadow: 0 1px 0 #ffcc00;
    border-radius: 30px;
    font-size: 15px;
    color: black;
}
select option[value="option"]{
    background: #ffffff;
    border-radius: 30px;
    color: #000;
    padding: 60px;
    margin: 30px;
    //font-size: 20px;
}
select option:checked,
select option:hover {
  box-shadow: 0 0 10px 100px #ffcc00 inset;
}
select:focus > option:checked { 
  background: #ffcc00 !important;
}
.row{
    margin: 0px;
    padding: 0px;
}
.marginbot{
  margin-bottom: 20px;
}
agm-map{
  height: 300px;
  max-width: 600px;
  width: 100%;
  //margin-left: 20px;
  border: 5px solid #f2f2f2;
  
}

select{
  height: calc(2.25rem + 20px);
  //font-weight: 200;
}
textarea:focus,select:focus{
  border:2px solid;
  border-color:#ffcc00 !important;
  box-shadow:none;
}


.mapdata{ width:100%; padding:0px;}
// .containerp{
//   width:100%;
// }
.containerp > div{display: none;}
.containerp > div.tabs{
  float: left; 
}
.bottonspace{
  margin-bottom:25px;
  padding: 0px;
}
// section.tabs{
//   background-color:  #f2f2f2;
//   padding: 5px;
//   margin:20px 10%;
//   border-radius: 50px;
//   display: inline-block;
// }

section.tabs{
  background-color:  #f2f2f2;
  padding: 5px 5px;
  margin-top:20px;
  margin-bottom: 20px;
  border-radius: 50px;
  display: inline-block;
    width: auto;
    font-size: 14px;
    margin-left: 10%;
    cursor: pointer;
}
.containerp > div.tabs,
.containerp > div.activetab{
  display: block
}
div.scrollmenu .menu:hover {
  background-color:#ffcc00;
  color: black;
 
}
.active {
// width: 10px !important
  background-color: #ffcc00 !important;
  border-radius: 50px;
}

.paddbutton{
  padding:8px 15px;
  margin: 0px 5px;
  float: left;
}

// .paddbutton{
//   padding: 8px 25px; margin-left: 10px;
//   display: inline-block;
//   border-radius: 50px;
//   text-align: center;
//   text-decoration: none;
//   font-size:14px; cursor: pointer;
// }

textarea{
  height: 100px;
  max-width: 500px;
  width: 100%;
  border: 2px solid #f2f2f2; 
  background-color: #f2f2f2;
  //padding: 10%;
}
.dessignbox{
  width:300px;
  height:30px;
}
.currentloc{
  padding: 10px;
  font-size: 14px;
  // width:100%;
}
.inner-content .col-11{
  width:50%;
  //cursor: pointer;
  //cursor: hand;
}

select{
  height: calc(2.25rem + 20px);
}
.selectstate{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}
div.scrollmenu {
    background-color: #f2f2f2;
    border-radius: 50px;
       padding: 1%;
    max-width: 100%;
  }
  .yellow{
    color: #ffcc00;
    font-size: 20px;;
  }
  
  .noPadding{
    padding: 0%;
  }
  
  .greybanner{
    padding: 0px;
    margin: 0px;
  }
  .stores{
    font-size: 24px;
    float: left;
    margin: 10px 0px;
    padding: 0px;
 
  }
  .storesothers{
    font-size: 24px;
    float: left;
    margin: 10px 0px;
    padding: 0px;
  
  }
  .container-grid{
    margin-top: 10px;
    cursor: pointer;
    cursor: hand;
    border-bottom: 2px solid #ddd;
  }
  .line{
    // border-bottom: 2px solid #ddd;
    width: calc(100%/2);
  }
  .wrapper-grid {
    overflow: hidden;
    clear: both;
    font-size: 12px;
    margin-top: 7px;
    margin-left: 6%;
    //padding-left: 50px;
}
.wrapper-grid .flex {
  display: flex;
  flex-wrap: nowrap;
  width:100%;
}
.wrapper-grid .flex p {
  width: calc(100%/2);

}
.wrapper-grid .flex p:last-child{
  text-align: right;
  //padding-left: 30%;
}
.wrapper-grid .inner-content{
transition: all .3s ease-in-out;
}
// .cursser{
//   cursor: hand;
//   cursor: pointer;
// }

.bg-color{
    background-color:#f2f2f2;
     }
    .top_curve{
      height: 2em;   
      background-color:#f2f2f2;        
      color:#FFF;
      display:block;
  }
  .top_curve:before{
    width: 100%;
    height: 2em;
    border-radius : 0 0 50% 50%;
    background-color:white;    
    display:inline-block;    
    content: '';
    }
   
        option:first {
            color: #999;
            content:'please';
        }
        .form-grp{
          align-items: center;
          width:100%
        }
        @media only screen and (max-width: 1024px) and (min-width: 769px){
          section.tabs{ 
              margin-left: 5%;
          }

        }
        @media only screen and (min-width:768px) and  (max-width:768px){
          .form-grp .col-md-5{
            width: 100%;
            max-width: 100%;
            flex: 0 0 67%;
          }
          agm-map{
            width: 100%;
            
          }
          // .inner-content .col-md-3{
          //   max-width:50%;
          // }
          // .wrapper-grid{
          //   padding-left: 60px;
          // }
          .flex{
            width:100%;
          }
          section.tabs{
            margin-left:8%;
          }
        

        }
      
   

        @media only screen and (max-width:767px){
          .convex .col-11{
            margin: auto;
          }
          .wrapper-grid{
            margin-left:0px;
          }
          .wrapper-grid .flex p:last-child{
                 text-align: right;
               }
          section.tabs{margin:20px 7.5%; overflow-x: auto;}
         }

         @media only screen and (max-width:320px){
             section.tabs{margin:20px 4.5%; overflow-x: auto;}
         }

            