<div *ngIf='showLoader' class="row">
    <app-slimloader></app-slimloader>
  </div>
  
  <!-- <div class="containerp"> -->
  
    <!-- <section class="tabs mediumfont">
      <div class="active paddbutton"  style="margin-left:0;">Use Precise Location</div>
      <div class="paddbutton">Others</div>
    </section> -->
  
    <!-- <div class="near activetab">
  
        <div class="curve-container bg-gray">
            <div class="white-convex-outer">
            <div class="convex">
      
             <div class="main-cont marginbot">
      <p class="currentloc regularfont">Your Current Location</p>
  
      <textarea class="currentloc regularfont" row='5' column='6' id='getLocation'
        placeholder='Current Location' maxlength="100" required>{{addressss}}</textarea>
  
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 bottonspace">
        <app-mainbutton label='Refresh location' (click)="getrefreshlocation()" size='full'>
          </app-mainbutton>
  </div>
  </div>
  
      </div>
      </div>
      </div>
  
  
        <div class="bg-color">
          <div class="main-cont">
        <p class="row stores mediumfont">Below are the 5 nearest MTN Service Stores</p>
        <div class="row col-12">
          <div class="col-xl-6 col-md-6 col-sm-12 mapdata">
                  <div class="greybanner">
                   <agm-map  [latitude]="viewlatitude" [longitude]="viewlongitude" [zoom]="zoom" [usePanning]="true"
                  (idle)="updateMapCenter()" (mapReady)="getMapInstance($event)" [mapTypeControl]="true" 
                  [showDefaultInfoWindow]="true">
                  <agm-marker title="marker.lati" [latitude]="latitude" [longitude]="longitude"> </agm-marker>
                  <agm-marker *ngFor="let marker of mtnstores" (mapReady)="latlongfun($event, marker)" 
                    [latitude]="marker.lati" [longitude]="marker.long" (markerClick)="select_marker(infoWindow)"
                    (mapClick)="latlongfun(nearest)">
                    <agm-info-window  [disableAutoPan]="false"  #infoWindow>
                     <p class="dessignbox" > <b>Name:</b> {{marker.name}} <br/> <b>Address:</b> {{marker.address}}</p></agm-info-window>   
                  </agm-marker>
                 </agm-map>                
   </div>
  
          </div>
          <div class="col-xl-6 col-md-6 col-sm-12">
              <div class="wrapper-grid">
                  <div class="container-grid regularfont" *ngFor='let nearest of mtnstores;let i = index'>
                    <div class="flex">
                      <p (click)="latlongfun(nearest)">{{nearest.name}}</p>
                      <p (click)="plusminus(data, i)">
                        <span *ngIf="nearest.active"><i class="fas fa-minus yellow" aria-hidden="true"></i></span>
                        <span *ngIf="!nearest.active"><i class="fas fa-plus yellow" aria-hidden="true"></i></span>
                      </p>
                    </div>
                    <div class="inner-content regularfont" *ngIf="nearest.active">
                      <p>{{nearest.address}}</p>
                      <div class="col-sm-11 col-11 ">
                        <app-mainbutton label='Get direction' (click)="getdirectionnearest(nearest)" size='full'>
                        </app-mainbutton>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
      </div> 
   </div> -->
    
  
  
   
  
    <div class="others">
        <div class="curve-container bg-gray">
            <div class="white-convex-outer">
            <div class="convex">
      
    <div class="main-cont">
        <div class="others">
          <p class="selectstate regularfont">Please select State and LGA below:</p>
          <div class="row form-grp regularfont" style="display: inline-flex;padding-right: 2%;">
            <div class="col-xl-6  col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group noPadding">
  
              <select class="form-control input-lg" id="sel1" style="font-weight: 200;"
                (change)="onChangeState($event.target.value)">
                <option *ngFor='let state of stateList'>{{state.STATE}}</option>
                
              </select>
              <i class="fa fa-chevron-down"></i>

            </div>
          </div>
        </div>
  
         <div class="row form-grp regularfont"  style="display: inline-flex;padding-right: 2%;">
          <div class="col-xl-6  col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group noPadding">
            <select class="form-control  input-lg" id="sel11"
              (change)="onChangeLga($event.target.value)">
               <option *ngFor='let lga of lgaList'>{{lga.LGA}}</option>
            </select>
            <i class="fa fa-chevron-down"></i>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
  
  
      <div class="bg-color">
          <div class="main-cont">
          <p class="row stores mediumfont">Below are the service stores found:</p>
          <div class="row col-12">
            <div class="col-xl-6 col-md-6 col-sm-12 mapdata">  
               <div class="greybanner">
               <agm-map [latitude]="viewlatitude" [longitude]="viewlongitude"
                [zoom]="zoom" [usePanning]="true"
                (idle)="updateMapCenter()" (mapReady)="getMapInstance($event)" [mapTypeControl]="true" 
                [showDefaultInfoWindow]="true">
                <agm-marker [latitude]="latitude" [longitude]="longitude"> </agm-marker>
                <agm-marker *ngFor="let marker of dataSource"  [latitude]="marker.LATITUDE"
                    [longitude]="marker.LONGITUDE" (markerClick)="select_marker(infoWindow)"(mapReady)="latlongfunothers($event)">
                    <agm-info-window [disableAutoPan]="false" #infoWindow>
                      <p class="dessignbox" > <b>Name:</b> {{marker.NAME}} <br/> <b>Address:</b> {{marker.ADDRESS}}</p></agm-info-window>
                  </agm-marker>
                </agm-map>
                  </div>
    
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="wrapper-grid">
                    <div class="container-grid regularfont" *ngFor='let data of dataSource;let i = index'>
                        <div class="flex" (click)="latlongfunothers(data)">
                          <p>{{data.NAME}}</p>
                          <p (click)="plusminusothers(data, i)">
                            <span *ngIf="data.active"><i class="fas fa-minus yellow" aria-hidden="true"></i></span>
                            <span *ngIf="!data.active"><i class="fas fa-plus yellow" aria-hidden="true"></i></span>
                          </p>
                        </div>
                        <div class="inner-content regularfont" *ngIf="data.active">
                          <p>{{data.ADDRESS}}</p>
                          <div class="col-sm-11 col-11 ">
                            <app-mainbutton label='Get direction' (click)="getdirection(data)" size='full'>
                            </app-mainbutton>
                          </div>
                        </div>
          </div>
        </div>
          </div>
      </div>
  </div>
    </div>
  </div>
  
<!-- </div> -->