.failmar{
margin: 50px 30px !important;
}

.label{
  margin-bottom: 10px;
  line-height: 18px;
  color: #000000;
  font-size: 14px;
}

.heading{
  color:#1d1d1d;
  font-size: 14px;
  line-height: 14px;
}


.text{
  color: #000000;
  font-size: 14px;
  line-height: 24px;
}

.placeholder{
  color: #6e6e6e;
  font-size: 14px;
  line-height: 19px;
 margin-bottom: 6px;
}

.text-muted{
    margin: -8px 0px;
}
.container1{
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 15px;
}

.container{
	margin: 5px 0;
}

textarea{
	width: 100%;
/*  height: 125px;*/
  border:1px solid #ced4da;
  border-radius:.25rem;
  padding: 15px;
}

select{
  height: calc(2.25rem + 20px);
  //font-weight: 200;
}

textarea:hover,select:hover {
border:2px solid;
border-color:#6e6e6e !important;
}

textarea:focus,select:focus{
  border:2px solid;
  border-color:#ffcc00 !important;
  box-shadow:none;
}

.top_curve{
  height: 2em;   
  background-color:#f2f2f2;        
  color:#FFF;
  display:block;
}
.top_curve:before{
width: 100%;
height: 2em;
border-radius : 0 0 50% 50%;
background-color:white;    
display:inline-block;    
content: '';
}

.bg-color{
    background-color:#f2f2f2;
    padding-top: 5%;
    }
    

.bottmmarotp{
  font-size: 24px;
  color: #000000;
    line-height: 24px;
    padding-bottom: 14px;
}

.sucessMsg{
font-size:28px;
line-height:35px;
color:#1d1d1d;
  
}
.sucessMsgTxt{
  font-size:24px;
line-height:30px;
  color:#7f7f7f;
}


@media only screen and (max-width: 768px) {
.mobMargin{ margin: 0 15px;}
.mt{ margin-top:-50px;}
} 
 
