<div *ngIf='showLoader' class="row"> 
  <app-slimloader></app-slimloader>
</div>


<div *ngIf="complaintsForm">

<!-- <div class="curve-container bg-gray">
<div class="white-convex-outer">
<div class="convex"> -->

<div class="row" *ngIf="errorMsg1">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" >
          <p class="label regularfont" style="text-align: center;color:red;">Unable to connect, please try again.</p>
        </div>
</div>

<form [formGroup]='complaintForm' style="margin-bottom:5%;" (ngSubmit)="submitComplaint()">
  <div class="main-cont">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="label regularfont">Please fill the form to log your complaint:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0;">
       
          <select id="department" (change)="getSubCatAsPerIssueType($event)" class="form-control placeholder regularfont" 
          [(ngModel)]="issueTypeId" name="issueTypeId" formControlName='issueType'>
            <option [value]="undefined" hidden selected>Issue type*</option>
            <option [value]="issue.CATEGORY" *ngFor="let issue of issueTypes">{{issue.CATEGORY_DESC}}</option>
          </select>
        </div>
    
      <div class="col-xl-6 col-lg-6 col-md-6" style="padding:0;">
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0;">
       

          <select id="emp" class="form-control placeholder regularfont" 
          [(ngModel)]="subCatId" name="subCatId" formControlName='subCat'>
            <option [value]="undefined" hidden selected>Sub-category*</option>
            <option [value]="category.SUBCATEGORY" *ngFor="let category of subCategoryList">
              {{category.SUBCATEGORY_DESC}}</option>
          </select>

        </div>

      <div class="col-xl-6 col-lg-6 col-md-6" style="padding:0;">
      </div>
    </div>


    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0;">
     
          <select class="form-control placeholder regularfont" name="priority" id="priority" formControlName='priority'
          [(ngModel)]="priority" name="priority">
            <option [value]="undefined" hidden selected>Priority*</option>
            <option [value]="0">Low</option>
            <option [value]="5">Medium</option>
            <option [value]="10">High</option>
          </select>
        
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6" style="padding:0;">
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 5px 0 0 0;">
        <p class="label regularfont">Provide more information</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0;">
        
          <textarea id="complaintDescription" class="placeholder regularfont" placeholder="Please type here" #complaintDescription
            maxlength="459" [(ngModel)]="description" name="description" formControlName='desc' cols="60" rows="5"></textarea>
          <small class="form-text text-muted placeholder regularfont " style="padding-top:10px;padding-bottom: 15px;">{{459 - complaintDescription.value.length}} Characters left</small>
      
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6" style="padding:0;">
      </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12" style="padding:0;">
      <app-mainbutton label='Submit' size='full' [disabled]="complaintForm.invalid" ></app-mainbutton>
    </div>
  </div>
</form>
<!-- 
</div>
</div>
</div> -->

</div>


<div style="margin-bottom:-2%;">



<div *ngIf="successMsg"> 
    <div class="curve-container bg-gray">
        <div class="white-convex-outer">
        <div class="convex">

    <div class="main-cont" style="padding-bottom: 50px;">

          <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:20px;">
            <app-success Message={{statusMessage}}></app-success>
          </div>
          </div>
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <app-buttonnew size='full' label='OK' (click)="loadForm()"></app-buttonnew>
           </div>
          </div>  
        </div> 

        </div>
        </div>
        </div>
</div>



<div *ngIf="failureMsg">    

    <div class="curve-container bg-gray">
        <div class="white-convex-outer">
        <div class="convex">

    <div class="main-cont" style="padding-bottom:50px;">

          <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:20px;">
            <app-failure Message={{statusMessage}}></app-failure>
            </div>
          </div>

            <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <app-buttonnew size='full' label='OK' (click)="loadForm()"></app-buttonnew>
           </div>
          </div> 
        </div> 

        </div>
        </div>
        </div>
</div>
</div>


<!-- <div class="bg-color" *ngIf="loading">
    <div class="main-cont">
        <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 space">
          <h5 class="bottmmarotp">
            <p class="mediumfont">Loading...</p>
          </h5>
        </div>
      </div>
      </div>
</div>

       -->
<!-- <div class="bg-color" *ngIf="errMsg">
    <div class="main-cont">
        <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 space">
          <h5 class="bottmmarotp">
            <p class="mediumfont">Unable to connect, please try again.</p>
          </h5>
        </div>
      </div>
      </div>
</div> -->

<!-- <div class="bg-color" *ngFor="let data of message">
    <div class="main-cont">
        <div class="row">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="
    padding-bottom: 10px;
">
   <p class="bottmmarotp mediumfont">
                        Your tickets : {{data.TicketNumber}}
    </p>
</div>
</div>

<div class="row ">
       <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 " style="
    padding-bottom: 10px;
">
          <p class="heading mediumfont">Log date</p>   
           <p class="bottmmarotp mediumfont">
                {{data.TicketLogDate}}
            </p>
        </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
           <p class="heading mediumfont">Status</p>
            <p class="bottmmarotp mediumfont">
                  {{data.TicketStatus}}
            </p>              
        </div>
</div>

<div class="row ">
       <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
          <p class="heading mediumfont">Issue</p>   
           <p class="bottmmarotp mediumfont">
              {{data.CategoryId}}
            </p>             
        </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
         <p class="heading mediumfont">Complaint</p>
         <p class="text regularfont">{{data.Complaint}}</p>              
        </div>
</div>
</div> 
</div> -->


<!-- 
<div class="bg-color" *ngIf="isValid">
    <div class="main-cont">
        <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 space">
        <h5 class="bottmmarotp">
          <p class="mediumfont">Dear customer, you do not have any tickets on your line</p>
        </h5>
      </div>
    </div>
    </div>
</div>

</div> -->
<!--     
 
<div class="ftr-gray-curve mt"> -->
  <div>
<app-footer></app-footer>    
</div>
