
.sfmessage{
    font-size: 28px;
    line-height: 35px;
    margin-left: 50px;
    margin-top: 50px;

} 
.sfmessageblw {
    font-size: 24px;
    line-height: 30px;
    color: #7f7f7f;
    margin-top: 10px;
    width: 50%;
}   
.rcgp{
    margin-bottom: 10px;
    /*margin-left: 18px;*/
    line-height: 18px;
    font-size: 14px;
    color:#000000;


}
.form-grp{
  align-items: center;
    display: -webkit-box;
}
.rcgmrg{
margin-top:12px;
margin-bottom: 12px;
}
.abb{
margin-top:30px;
}
.fail{  height: 60px; width: 60px;
  background-color: #ffcc00;
  border-radius: 10px ;
  padding: 5px; flex-shrink:0;
  margin-left: 10px;
}
.fail img{width: 100%;}
.failmar{ margin: 50px 0;}
.failed{
  font-size: 28px;
  margin-top: 10px;
}
.errmsg{
font-size: 24px;
  line-height: 30px;
  color:#7f7f7f;
}
.errmar{ margin:10px 0 10px 44px;}

.failbtn{
  margin-left: -30px;
  margin-top: 20px;
}

.msisdnstl{
  color:#000000;
  font-size: 24px;
  line-height:24px;
}

.vouchertxt{
  font-size: 14px;
  line-height: 13px;
  color: #4C4C4C;
  margin-bottom: 10px;
  //margin-top: 6px;
}



@media only screen and (max-width: 800px){    
.center_button{
    margin: 0 ;  
  }
 .abb{
   margin-top:30px;
   }

  .btnmar{
    margin-left: 15px;
    }
.mobfail{
    display: -webkit-box;
  }
  .errmsg{
    font-size: 14px;
    line-height: 16px;
  }
  .msisdnstl{
   margin-left: -67px;
  }
  
  .vouchertxt{
  margin-left: -67px;
  margin-top: 25px;
  }
.failbtn{
  margin-left: -30px;
  margin-top: 20px;
  margin-right: 10px;
  }
 }

  @media screen and (max-width: 768px){
    .center_button{
        margin: 0 ;
        max-width: 540px;
        padding: 0px;
        width: 100%;
      }
      
  }
  
