   <div *ngIf='showLoader' class="row"> 
   <app-slimloader></app-slimloader>
  </div> 

  <form  [formGroup]='existing_cust' class='card-content-pad' *ngIf="formhide" (ngSubmit)='onSubmitVoucher(existing_cust)'>
    <div class="rcgmrg">
    <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    <p class="rcgp regularfont">Please enter valid MTN number below to recharge</p>
     <app-input-floating formControlName='msisdn' placeholder='Enter MTN Number'  iconPosition='left'
                    iconName='recharge'  value='' type='text' required maxlengthVal=13
              [valid]="((existing_cust.get('msisdn').hasError('required') || existing_cust.get('msisdn').hasError('minlength')))"
                 [errorMsg]="'Please enter a valid MTN number.'" required
                   (keypress)="numberOnly($event)"></app-input-floating> <a ><b style=" color:#be1e50;">{{errorMsg}}</b></a>
      </div>
   </div>
 <p class="rcgp regularfont">Please enter voucher code below</p>
      <div class="row">
         <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">       
            <app-input-floating formControlName='voucher' placeholder='Enter Voucher Code'  value='' type='text' required maxlengthVal=17
              [valid]="((existing_cust.get('voucher').hasError('required') || existing_cust.get('voucher').hasError('minlength')))"
                 [errorMsg]="'Please enter a valid Voucher number.'" required
                   ></app-input-floating><a><b style=" color:#be1e50;">{{errorMsg}}</b></a>
         </div>
       
           <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
               <div class="center_button">
             <app-mainbutton label='Proceed' [disabled]="existing_cust.invalid" size='full'></app-mainbutton>
                </div>
          </div>
    </div>
</div>
       </form>

  
          <!--Success Message-->

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 failmar">
            <div *ngIf="hideee">         
               <div class="row mobfail">
                      <div class="fail"> 
                         <img src="../../../../assets/images/success.svg" alt="success"> 
                      </div> 
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-9 col-9 failed mediumfont">Success!</div>                                                    
                </div>        
                   <div class="row errmar">                
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 errmsg regularfont">{{message}}</div>                  
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">   
                     <div class="vouchertxt mediumfont">Voucher loaded for</div> 
                     <div class="msisdnstl mediumfont">{{msisdn}}</div>     
                     </div>                                          
                  </div>                       
                   <div class="row failbtn">
                   <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                      <app-buttonnew size='full' label='Load another Voucher Card' (click)="loadvoucher()"></app-buttonnew>
                   </div>
                   </div>          
             </div>            
         </div>




        <!--Failure Message-->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 failmar">
           <div *ngIf="failure">         
              <div class="row mobfail">
               <div class="fail">
               <img src="../../../../assets/images/failed.svg" alt="failed"> 
            </div>
                 <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-9 failed mediumfont">Failed!</div>                                                    
               </div>        
                  <div class="row errmar">                
                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 errmsg regularfont">{{message}}</div>                  
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">   
                    <div class="vouchertxt mediumfont">Voucher loaded for</div> 
                    <div class="msisdnstl mediumfont">{{msisdn}}</div>     
                    </div>                                          
                 </div>                       
                  <div class="row failbtn">
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                     <app-buttonnew size='full' (click)="loadvoucher()" label='Load another Voucher Card'></app-buttonnew>
                  </div>
                  </div>          
            </div>            
        </div>    






  
  
