
<div class="main_pages">
  
           <app-header [migrateMode]="header"></app-header>


<div class="main-cont min-height">
   
  <div class="rechargeabc"> 
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar">
    Confirmation
  </div>
  <div class="progress-bar" [ngClass]='{"progress-bar-warning" : suceesDiv,"progress-bar-failure" : failurDiv}'   role="progressbar">
    {{message1}}
  </div>
</div>

<div class="backbuttonlogin" *ngIf="showsuccessdiv1" >
    <app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
      </div>

<div *ngIf="showsuccessdiv">
 
    <p class="fontsize mediumfont">Your secondary number is </p>
      <div class="row xplanst">
          <div class="col-md-12 col-sm-6">
            <p class="rcgfnt mediumfont"><span style="color:#d0d0d0">(+234)</span>{{msisdnval}}</p>
          </div>
      </div>
  <p class="fontsize mediumfont">Your new email address is</p>
      <p class="rcgfnt mediumfont">{{email}}</p>
      <p class="fontsize mediumfont">Are you sure you want make the changes?</p>
       <div class="row">     
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
 <app-mainbutton size='full' (click)="confirm()" label='Confirm' *ngIf="airttt" ></app-mainbutton>
    </div>
    </div>

     </div>

  </div>


<!-- hidden Form form for payment -->

<div class="row" *ngIf="suceesDiv"  >
  <!-- <p class="rcgfnt">Success!</p> -->
  <app-success Message={{message}}></app-success><br>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12"style="margin:0px 30px 0px 10px;">
    <app-buttonnew size='half-btn' (click)="Dashboard()" label='Go To Dashboard' *ngIf="airttt"  ></app-buttonnew>
  </div>
  
</div>

<div class="row" *ngIf="failurDiv"  >

<app-failure Message={{message}}> </app-failure>
</div>

<div *ngIf='showLoader' class="row"> 
<app-slimloader></app-slimloader>

</div>

</div>


    <app-footer></app-footer>

</div>
