<div *ngIf='showLoader' class="row">
   <app-slimloader></app-slimloader>
 </div>
 
 

 <div class="bg-color" >
   <div class="container" >
      <!-- <p class="history-type mediumfont">Recharge record ({{startDate | date:'dd/MM/yyyy'}} to {{endDate | date:'dd/MM/yyyy'}})</p> -->
      <app-gridtable [tableData]="rechargeHistoryData" [listOfFields]="listOfFields" [startDate]="startDate"
      [endDate]="endDate" [enableRtl]="false" [pdfLabel]="dwnldPdfBtnLabel" [excelLabel]="dwnldExcelBtnLabel"
      [historyType]="fileName" [showDwnldBtn]="false">
   </app-gridtable>
   </div>
   <div class="container" *ngIf="rechargeErrMsg">
    <p class="call-err-msg mediumfont">{{rechargeErrMsg}}</p>
 </div>
 
 </div>
<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
 <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 abb" *ngIf="rechargeHistoryData.length > 0">
  <div class="center_button centerbutton">
<app-mainbutton label='View more' size='full'
(click)="onlinerecharge()"></app-mainbutton>
</div>
</div>
</div>
 