

 .rcgfnt {
     font-size: 28px;
    line-height: 35px;
    margin:0 0 20px;  }
   
.backbuttonss{ padding-top: 95px; margin-bottom: 2%; }

@media only screen and (max-width: 768px) {
    .backbuttonss{ padding-top: 25px; }
}
