<div class="main_pages">
                <app-header [migrateMode]="header"></app-header>
      
<div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>

 <div class="main-cont">
      <p class="rcgfnt mediumfont">Profile information</p>
      <app-detailsprofile-submenu></app-detailsprofile-submenu>
      <router-outlet></router-outlet>
    </div>
           <app-footer></app-footer>

    </div>