
.rcgfnt{  font-size: 28px;
    line-height: 35px;
    margin:0 0 20px;}
.bg-color{margin-top:-1px;}
.backbuttonss{ padding-top: 95px; margin-bottom: 2%; }
.wht-bg{background-color:#fff;}
.main_pages{background-color:#f2f2f2;}
@media only screen and (max-width: 768px) {
    .backbuttonss{ padding-top: 25px; }
}


