<div class="main_pages">
              <app-header [migrateMode]="header"></app-header>
<div class="wht-bg">

<div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>

<div class="main-cont">
        <p class="rcgfnt mediumfont">Store Locator</p>
 </div>
 <app-mtnstore-submenu></app-mtnstore-submenu>
</div>

<div class="ftr-gray-curve">
  <app-footer></app-footer>
</div>
