<div class="main_pages">
      <div *ngIf='showLoader' class="row">
        <app-slimloader></app-slimloader>
      </div>
      
                  <app-header [migrateMode]="header"></app-header>
      
        
      <div class="main-cont">
      <app-buybundlespayment [hideDebit]='eligibility' [getInternalCardDetails]="proceedData" [masisdnpayment]="msisdnval">
        
      </app-buybundlespayment>
      </div>
      
       <app-footer></app-footer>
      