
<div *ngIf='showLoader' class="row"> 
        <app-slimloader></app-slimloader>

  </div>

<div class="main_body" style="overflow-x: hidden;">
        <div class="row ">
            <div class="col">
                <app-header [migrateMode]="header"></app-header>
            </div>
        </div>
    
    
        <div class="row">
            <div class="col topimginsmallscreen">
                <img src="app/appassets/images/3.png" class="imagebottomspace">
            </div>
        </div>
    
    <div class="marginleft paddingleft lggn">
        <div *ngIf='OTPShow'>
            <div class="row signtop">
                <div class="col-12 col-md-6">
                    <h4>
                        <b>Sign in</b>
                    </h4>
                    <br>
    
                    <p class="welcom">
                        <b>
                            <i>Y'ello!</i>
                        </b> Welcome to the single sign-on Digital World! </p>
                </div>
            </div>
    
    
            <div class="row form-grp">
                <div class="col-12 col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <form [formGroup]='existing_cust' class='card-content-pad' (ngSubmit)='onSubmit(existing_cust)'>
                        <app-input-floating 
                        formControlName='msisdn' 
                         placeholder='Enter MTN Number' 
                        iconPosition='left'
                        iconName='recharge' 
                                         
                        value=''
                        type='text' required maxlengthVal=13
                        [valid]="((existing_cust.get('msisdn').hasError('required') || existing_cust.get('msisdn').hasError('minlength')))"

                        [errorMsg]="'Please Enter a valid MTN Number'" required
                            (keypress)="numberOnly($event)" ></app-input-floating><a ><b style=" color:#be1e50;">{{errorMsg}}</b></a>
                           
                    </form> 
    
     </div>
              
                <div class="col-12 col-md-4 col-sm-12 col-xs-3 col-lg-3">
                <div class="center_button">
        
               <app-mainbutton label='Proceed' [disabled]="existing_cust.invalid" (click)="onSubmit()" size='full'></app-mainbutton>  
               </div>
                </div>
            </div>
    
    
    
    
    
    
           
    
        </div>
    
        <div *ngIf='sendotp'>
            <div class="row" *ngIf='!OTPShow'>
                <div class="backbuttonlogin">
                        <app-backbutton label='Back' (click)="backtologin1()"></app-backbutton>
                          </div>
    
                <div class="form-wrapper col-12 col-md-6 col-sm-12 col-xs-6 col-lg-6">
                   <div class="otpclass">
    
                    <h5>
                        <b>OTP Options</b>
                    </h5>
    
                    <a class="otp">Please select how you want to recive One Time password(OTP)</a>
                         </div>
                    <br>
                    <br>
                    <div class="  form-container marleftradio col-xs-12 col-sm-12 col-md-12 col-lg-8 ">
    
                        <mat-radio-group [(ngModel)]="otp_radio" aria-label="Select an option">
                            <span class="col-xs-6 col-sm-6 col-md-6  otpbelow radiomargin">
                            
                                <mat-radio-button [checked]="true"  id="primarynu" name='otp_radio' [value]="primaryNumber"  (click)="checkEmail(false)"><p>Primary number</p><p class="ptagradio">{{primaryNumber}}</p></mat-radio-button>
                                
                            </span>
    
                            <span *ngIf="email" class="col-xs-6 col-sm-6 col-md-6  otpbelow radiomargin">
                                <mat-radio-button id="emailaddre" name='otp_radio' [value]="email" (click)="checkEmail(true)"><p>Email address</p><p class="ptagradio">{{ email }}</p></mat-radio-button>
                                
                            </span>
    
                            <span *ngIf="alternateNumber" class="col-xs-6 col-sm-6 col-md-6    otpbelow radiomargin">
                                <mat-radio-button id="secondaynu" name='otp_radio' [value]="alternateNumber" (click)="checkEmail(false)"><p>Alternate number</p><p class="ptagradio">{{ alternateNumber }}</p></mat-radio-button>
                                
                            </span>
    
                        </mat-radio-group>
    
    
                    </div>
    
                    <div class="col-12 col-md-12 col-sm-12 col-xs-6 col-lg-6 noPadding_md">
                     <div class="center_button full-btn">
                <app-mainbutton label='Send OTP'(click)="sendotpClick()" type='filled' icon='right_arrow' size="full" style="margin-left: 15px;"></app-mainbutton>
    </div>
                    </div>
                </div>
    
            </div>
        </div>
      
    
      
        <div *ngIf='!sendotp'>
            <div class="row">
                 <div class="backbuttonlogin">
                        <app-backbutton label='Back' (click)="backtologin2()"></app-backbutton>
                          </div>
    
                <div class="col-12 col-md-6 entertop">
                    <h5 class="bottmmarotp">
                        <b>Enter OTP</b>
                    </h5>
                    <br>
                    <p>An OTP is sent to number or email id or other number, below:</p>
                </div>
            </div>
    
            <div class="row">
                <div class="col-12 col-md-6">
            
                    <form [formGroup]='otp_cust' class='card-content-pad' (ngSubmit)='onSubmit(otp_cust)'>
                            <app-input-floating 
                            formControlName='enterotp' 
                            placeholder='Enter OTP here' 
                            value=''
                            type='text' required maxlengthVal=6
 [valid]="((otp_cust.get('enterotp').hasError('required') || otp_cust.get('enterotp').valid))"
                                 [errorMsg]="'Please enter valid OTP number'" required
                                (keypress)="numberOnly($event)"></app-input-floating><br><a ><b style=" color:#be1e50;"></b></a>
                               
                        </form> 
                </div>
                <div class="col-12 col-md-6">
                    <div class="center_button">
                     <!-- <app-mainbutton label='Proceed' (click)="validateOtpClick()" size='half'></app-mainbutton> -->
                    <app-mainbutton label='Proceed' [disabled]="otp_cust.invalid" (click)="validateOtp()" size='half'></app-mainbutton>
    
    </div>  
                </div>
    
                <p class="resentnow" (click)="resendotpClick()" >Didn't receive OTP yet?
                    <span style="color: #00678f">Resend OTP now!</span>
                </p>
    
            </div>
    
    
    </div>
    
    
          
    
    
</div>
    
         <div class="top_curve" style="margin:-1px -15px;"></div>
        <div class="row paddingleft bg-color">
                <div class="marginleft">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                <br>
                <br>
                <br>
                <p class="rcgfnt">Recharge</p>            
                <app-login-submenu></app-login-submenu>
                <router-outlet></router-outlet>
            </div>
         
        </div>
        
    </div>
    
        <div class="row ">
            <div class="col">
                <app-footer></app-footer>
            </div>
        </div>
    </div>
    
    
    
    
