
<div *ngIf='showLoader' class="row"> 
        <app-slimloader></app-slimloader>
</div>

<div class="main_body" style="overflow-x: hidden;">
      
                <app-header [migrateMode]="header"></app-header>
       
      
    <div class="curve-container bg-white">
                        <div class="white-convex-outer">
                              <div class="convex">
                        <div class="">
                                            
                            
                        </div>
                    </div>
                    </div>
                    </div> 

                    <div class="container-fluid" >
                   
                            <div *ngIf='sendotp'>
                                <div class="otp-cont" *ngIf='!OTPShow'>
                                       <div class="container-fluid">
                                        <div class="backbuttonss">
                                                <app-backbutton label='Back' (click)="backtologin1()"></app-backbutton>
                                        </div>
                                    </div>
                                </div>
                              </div>

                <div *ngIf='!sendotp'>
                    <div class="container-fluid">
                                        <div class="backbuttonss">
                            <app-backbutton label='Back' (click)="backtologin2()"></app-backbutton>
                     </div>
                 </div>
                </div> 
                
                        </div> 


<div class="curve-container">
  <div class="white-convex-outer">
  <div class="convex">
    <div class="main-cont lggn">
      
    
        <div *ngIf='sendotp'>
            <div class="otp-cont" *ngIf='true'>
                    <!-- <div class="backbuttonlogin">
                            <app-backbutton label='Back' (click)="backtologin1()"></app-backbutton>
                    </div> -->
    
                <div class="form-wrapper">
                   <div class="otpclass">
    
                     <p class="rcgfntlogin mediumfont">
                        OTP Options
                    </p>
    
                    <a class="welcom  regularfont">Please select how you want to receive One Time password(OTP)</a>
                         </div>
                    <div class="row"> 
                    <div class="form-container col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    
                        <mat-radio-group [(ngModel)]="otp_radio" aria-label="Select an option">
                            <span  *ngIf="primaryNumber" class="col-xs-6 col-sm-6 col-md-6  otpbelow radiomargin">
                                <mat-radio-button   id="primarynu" name='otp_radio' [value]="primaryNumber"  (click)="checkEmail(false)"><p class="regularfont">Primary number</p><p class="ptagradio mediumfont">{{primaryNumber}}</p></mat-radio-button>
                                
                            </span>
    
                            <span *ngIf="email" class="col-xs-6 col-sm-6 col-md-6  otpbelow radiomargin">
                                <mat-radio-button id="emailaddre" name='otp_radio' [value]="email" (click)="checkEmail(true)"><p class="regularfont">Email address</p><p class="ptagradio mediumfont">{{ email }}</p></mat-radio-button>
                                
                            </span>
    
                            <span *ngIf="alternateNumber" class="col-xs-6 col-sm-6 col-md-6    otpbelow radiomargin">
                                <mat-radio-button id="secondaynu" name='otp_radio' [value]="alternateNumber" (click)="checkEmail(false)"><p class="regularfont">Alternate number</p><p class="ptagradio mediumfont">{{ alternateNumber }}</p></mat-radio-button>
                                
                            </span>
    
                        </mat-radio-group>
    
    
                    </div>
    
                    <div class="col-12 col-md-3 col-sm-12 col-xs-6 col-lg-3">
                     <div class="center_button full-btn">
                <app-mainbutton label='Send OTP'(click)="sendotpClick()" type='filled' icon='right_arrow' size="full"></app-mainbutton>
    </div>
                    </div>
                </div>
                </div>
         
            </div>
        </div>
      
        <div *ngIf='!sendotp'>
         
               <!--   <div class="backbuttonlogin">
                        <app-backbutton label='Back' (click)="backtologin2()"></app-backbutton>
                 </div> -->
                 <div class="row">
                <div class="col-12 col-md-6 entertop">
                    
 <!-- <p class="rcgfntlogin mediumfont"> Enter OTP</p> -->
  <p class="welcom  regularfont">To access secure services, please enter OTP sent below</p>
                </div>
            </div>
    
            <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            
                    <form [formGroup]='otp_cust' class='card-content-pad' (ngSubmit)='onSubmit(otp_cust)'>
                            <app-input-floating 
                            formControlName='enterotp' 
                            placeholder='Enter OTP here' 
                            value=''
                            type='password' required maxlengthVal=6
                                [valid]="((otp_cust.get('enterotp').hasError('required') || otp_cust.get('enterotp').hasError('minlength')))"
                                 [errorMsg]="'Please enter valid OTP number'" required
                                (keypress)="numberOnlyotp($event)"  oncopy="return false" onpaste="return false" ></app-input-floating><br><a ><b style=" color:#be1e50;"></b></a>
                               
                        </form> 
					<p class="timeoutErr mat-error regularfont">{{timeoutErr}}</p>
                </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="center_button">
                     <app-mainbutton label='Proceed' [disabled]="otp_cust.invalid" (click)="validateOtp()" size='full'></app-mainbutton>
    
                  </div>  
                </div>
            </div>
                     <!-- <div *ngIf="!hideee" class="invalidotp">{{message}}</div> -->
                <p class="resentnow regularfont" (click)="resendotpClick()" >Didn't receive OTP yet?
                    <span style="color: #00678f">Resend OTP now!</span>
                </p>

        </div>
    
   </div>
 </div>
 </div>
</div>
       



    

        <div class="ftr-gray-curve">
                <app-footer></app-footer>     
    </div>
    
