.main_body{background-color:#f2f2f2; position: relative;}
.i-banner{
  background-image:url("/app/appassets/images/MTN_Youth_814764104.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  min-height: 350px;
  margin-top: 69px;
}

.backbuttonss{ padding-top: 25px; margin-bottom: 2%; }

.mat-error {
  font-size: 14px !important;
}

.noPadding_noMargin{ padding: 0px; margin: 0px;}
.rcgfntlogin { margin-top: 30px ; font-size: 24px; }
.invalidotp{
  color: #be1e50;
  margin-left: 15px;
   margin-top:-20px;
   padding:10px;
}
.ptagradio{font-size: 14px;}
.lggn{margin-bottom:32px;}

.bg-color{ background-color:#f2f2f2;  padding-bottom: 5%;}

.mat-radio-button p{ margin-bottom: 0;}
.marginleft{ display: block; width: 100%;}
.otpbelow.radiomargin{  display: block;}
.form-grp{ align-items: center; display: -webkit-box;}
.mat-radio-container .mat-radio-outer-circle{margin-top: 0;}
.form-wrapper,
.radiomargin {
  padding: 0;
      font-family: 'MTN Sans';
}
.form-wrapper1{ margin-left: 1%; margin-top:8%;}

.otp-cont{position: relative;}

.paddingleft{padding-left: 8%;}
.paddingleftinput{padding-left: 5%; margin-top: 5%;}
.marginsigin{margin-top: -8%;}
.welcom {margin-top:5px; font-size: 14px;}
.marginput{margin-top: -6%;}
.backbutt {margin-top: -50% !important;}
.marginprocee { margin-top: -5%;}
.procee{margin-top: -3%;}
.ptagchange {margin-bottom: -4px; font-size: 12px;}
.marginbotmmpage{ font-size: 12px; margin-bottom: 4px;}
.margintop{margin-top: -4px;}
.h4 {margin-top: 30px !important;}

.ptagchange{background-color:#f2f2f2;}
.otpclass{ font-size: 12px;}
.otpbelow{font-size: 12px}
.resendtest {font-size: 14px;}
.procedotp{margin-top: 1.3%;}
.margttt{margin-top: -1%;}

.resentnow{
  margin-top: -1%;
font-size:14px;
}

.bottmmarotp{
  margin-bottom: -0.5rem !important;
}

.mat-radio-button ~ .mat-radio-button {
padding-right: 16px;
    font-family: 'MTN Sans';
}
:host /deep/.mat-radio-outer-circle {
border: solid 2px rgb(8, 8, 8) !important;
 
}
:host /deep/.mat-radio-inner-circle {
background-color: rgb(8, 8, 8) !important;
margin-top: 0%;
    font-family: 'MTN Sans';

}

.rcgfnt{ font-size: 24px; padding-top: 30px;}

::ng-deep .send_otp_btn button .half-btn{
  width: 100%;
}

.timeoutErr {
  margin-left: 20px;
  margin-top: -16px;
  color:#be1e50; 
}

@media only screen and (min-width: 992px){
.noPadding_md {
    flex: 0 0 50%;
    max-width: 35%;
}
}

@media only screen and (max-width: 800px) {
  .marginsigin {
    margin-top: 0px;
    margin-left: 40px;
    }  
  .center_button{ margin: 0 ;  }

  }

@media only screen and (min-width: 769px) {
  .noPadding_md{
    padding: 0;
  }
  
}
@media only screen and (max-width: 769px) {
  .entertop{margin-top: 8%; }
  .otpclass{   margin-top: 7%; }
  .signtop{
    margin-top: 10%;
  }
    .topimginsmallscreen {
      margin-top: 18%;
      height: 100%;
    }
    .marginleft{
      margin-left:10%;
      margin-right:10%;
      }
      .marginleft1{
        margin-left:5%;
      }
 
    }

@media only screen and (max-width: 768px) {
    /*  .main-cont{width: 95%;}*/
.marginsigin {
margin-top: 10px;
margin-left: 20px;
}
.marginprocee {
  margin-top: 0%;
 }

.resendtest {
margin-left: 30px;
margin-top: 30px;
}
.resentnow {
margin-top: 1%;
margin-left: 10px;
}
.paddingleftinput{
padding-left: 0%;
margin-top: 5%;
}
.marginput{
  width: 100%;
}
.form-wrapper1{
  margin-left: 6%;
  margin-top:8%;
}

.center_button{
  margin: 15px 0 ;
  max-width: 540px;
  padding: 0px;
  width: 100%;
}
.welcom {margin-top:5px;}
}

