
.prdct-row{ width: 60%; border-bottom: 1px solid #b7baba; 
  padding-bottom: 10px; margin-bottom: 10px; display: flex; justify-content: space-between;}

.compare-row{ width: 60%; border-bottom: 1px solid #b7baba; 
    padding-bottom: 10px; margin-bottom: 10px;}

.check-box{ width: 15px; margin-right: 10px; flex-shrink: 0;}
.compare-conainer{ display: flex; justify-content: space-between;}
.product-name{flex-grow: 8; cursor: pointer;}
.product-name p{ margin: 0;}
.plusicon i{ color:#ffcc00;}
div.scrollmenu {
    background-color: #f2f2f2;
    border-radius: 50px;
       padding: 1%;
    max-width: 100%;
  }
  .noPadding{
    padding: 0%;
  }
.personal> div{display: none;}
.personal> div.tabs{
    float: left;
    
}
.pl-0{padding-left: 0px;}
.headspan{  font-size: 28px; }
section.tabs{
    background-color:  #f2f2f2;
    padding: 5px;
    margin:20px 0px;
    border-radius: 50px;
    display: inline-block;
}
.personal> div.tabs,
.personal > div.activetab{
    display: block
}

  div.scrollmenu .menu:hover {
    background-color:#ffcc00;
    color: black;
  }
  .active {
    background-color: #ffcc00 !important;
    border-radius: 50px;
  }
  .paddbutton{
   padding: 8px 25px; margin-left: 10px;
   display: inline-block;
   border-radius: 50px;
   text-align: center;
   text-decoration: none;
   font-size:14px; cursor: pointer;
  }

  .fail{  height: 60px; width: 60px;
    background-color: #ffcc00;
    border-radius: 10px ;
    padding: 5px; flex-shrink:0;
    margin-left: 10px;
  }
    .fail img{width: 100%;}
  .failmar{ margin: 50px 0;}
    
      .failed{
      font-size: 28px;
      margin-top: 10px;
    }
    .errmsg{
      font-size: 24px;
      line-height: 30px;
     color:#7f7f7f;
      }
    .errmar{  margin:10px 0 10px 44px; display: inline-block;}
    .mobfail{ display: inline-block;}
    .failbtn{
      margin-left: -30px;
      margin-top: 20px;
    }
    
  .msisdnstl{
    color:#000000;
    font-size: 24px;
    line-height:24px;
    font-weight:700;
  }
  
  .vouchertxt{
    font-size: 14px;
    line-height: 13px;
    color: #4C4C4C;
    font-weight: 700;
    margin-bottom: 10px;
    //margin-top: 6px;
  }
  
  
    .rect{
    margin:0 auto;
    padding: 5px 10px;
    width:50%;
    border:0.5px solid rgba(151, 144, 144, 0.596);
    border-radius:4px;
 }
 
input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #f2f2f2;
  border-radius: 0px;
  background-color: #f2f2f2;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}


  @media screen and (max-width:800px){
    .abb{
        margin-left:10px;
        margin-top:8px;
    }
    .fail{ margin-left: 20px;}
  }
    
  @media screen and (max-width:768px){
  .prdct-row,.compare-row{ width: 100%;}
 .rect{ width:100%;}
  }