
<div *ngIf='showLoader' class="row"> 
                <app-slimloader></app-slimloader>         
 </div>


<div class="main-cont personal" *ngIf="formhide">
    <section class="row tabs" [hidden]="compareMode">
			<div class="active paddbutton mediumfont" style="margin-left:0;">
						Personal
						</div>
						<div class="paddbutton mediumfont">Business
						</div>
						
						</section>
                
            <!--personal-->
            <div class="near activetab" [hidden]="compareMode">
            <div class="prdct-row" *ngFor='let planNames of personalPlansList;let i=index'>
                <div class="check-box">
                        <input type="checkbox" class="personalCheckbox" [checked]="planNames.checked" name="checkbox" (click)="PersonalcheckboxChange($event, i)">
                        <p class="holder_personal_desc" style="display: none;">{{planNames.Description}}</p>
                        <p class="holder_personal_name" style="display: none;">{{planNames.ProductName}}</p>
                        <p class="holder_personal_price" style="display: none;">{{planNames.Price}}</p>
                </div>
                <div class="product-name">
                        <p class="mediumfont" (click)="plusminus(i)">{{planNames.ProductName}}</p>
            
            
                        <div class="inner-content" *ngIf="plusminusVar[i]==true">
                                <p class="regularfont">{{planNames.Description}}</p>
                                
                                <div class="pl-1 col-xl-3 col-lg-3 col-md-4 col-sm-11 col-11 " >
                                        <app-mainbutton  class= "pr-2" label='Select a plan'  size='full' *ngIf="!initialSelectedPlan && !secondSelectedPlan"></app-mainbutton>
                                    </div>
                                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 pl-0">
                                        <app-mainbutton  class= "pr-2" label='Compare'  size='full' (click)="ComparePlans(true)" 
                                        *ngIf='initialSelectedPlan && secondSelectedPlan'
                                        ></app-mainbutton>
                                    </div>
                                <div class="pl-1 col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 ">
                                    <!-- <app-mainbutton class= "pr-2" label='Migrate'  size='full' (click)="MigratePlan()" *ngIf='selectedCheckBox[i] && selectedCount !== 2 && previousSelectedIndex != i'></app-mainbutton> -->
                            <app-mainbutton class= "pr-2" label='Migrate'  size='full' (click)="MigratePlan(planNames)" *ngIf='initialSelectedPlan && !secondSelectedPlan' ></app-mainbutton>
                                </div>
                                </div> 
                </div>
                <div class="plusicon">
                        <div (click)="plusminus(i)"  >
                                <span *ngIf="plusminusVar[i]==true"><i class="fa fa-minus"style="color:#ffcc00"  aria-hidden="true"></i></span>
                                <span *ngIf="plusminusVar[i] != true"><i class="fa fa-plus" style="color:#ffcc00" aria-hidden="true"></i></span>
                        </div>
            
                </div>
            
                    
            </div>  
            
            </div>
            
    
    
    <!--business-->
    <div class="others" [hidden]="compareMode">
            <div class="prdct-row" *ngFor='let busplanNames of businessPlanList;let i=index'>
                    <div class="check-box">
                            <input type="checkbox"  class="businessCheckbox" [checked]="busplanNames.checked" name="checkbox" (click)="BusinesscheckboxChange($event, i)" >
                            <p class="holder_business" style="display: none;">{{busplanNames.Description}}</p>
                            <p class="holder_business_name" style="display: none;">{{busplanNames.ProductName}}</p>
                            <p class="holder_business_price" style="display: none;">{{busplanNames.Price}}</p>

                        </div>
                    <div class="product-name">
                    <p class="mediumfont" (click)="plusminus(i)">{{busplanNames.ProductName}}</p>
                
                
                            <div class="inner-content" *ngIf="plusminusVar[i]==true">
                                    <p class="regularfont">{{busplanNames.Description}}</p>
                        
                                    
                                    <div class="pl-1 col-xl-3 col-lg-3 col-md-4 col-sm-11 col-11 " >
                                        <app-mainbutton  class= "pr-2" label='Select a plan'  size='full' *ngIf="!initialSelectedPlanbusiness && !secondSelectedPlanbusiness"></app-mainbutton>
                                    </div>
                                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 pl-0">
                                        <app-mainbutton  class= "pr-2" label='Compare'  size='full' (click)="ComparePlans(true)" 
                                        *ngIf='initialSelectedPlanbusiness && secondSelectedPlanbusiness'
                                        ></app-mainbutton>
                                    </div>
                                    <div class="pl-1 col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 ">
                                        <!-- <app-mainbutton class= "pr-2" label='Migrate'  size='full' (click)="MigratePlan()" *ngIf='selectedCheckBox[i] && selectedCount !== 2 && previousSelectedIndex != i'></app-mainbutton> -->
                                <app-mainbutton class= "pr-2" label='Migrate'  size='full' (click)="MigratePlan(busplanNames)" *ngIf='initialSelectedPlanbusiness && !secondSelectedPlanbusiness' ></app-mainbutton>
                                    </div>
                                        </div> 
                    </div>
                    <div class="plusicon">
                            <div (click)="plusminus(i)"  >
                                    <span *ngIf="plusminusVar[i]==true"><i class="fa fa-minus"style="color:#ffcc00"  aria-hidden="true"></i></span>
                                    <span *ngIf="plusminusVar[i] != true"><i class="fa fa-plus" style="color:#ffcc00" aria-hidden="true"></i></span>
                            </div>
                
                    </div>
           
                </div>  
                
    </div>
    
    </div>


    <!--COMPARE MODE-->


<div class="main-cont" *ngIf="compareMode">
 <h4 class="mediumfont headspan" id="tarr_2">Tariff Plans Comparison</h4>

<div class="compare-row">
        <div class="compare-conainer" >
<div class="product-name">
    <p class="regularfont pb-2">Description</p>


</div>
<div class="plusicon">
        <div (click)="plusminuscompare()"  >
                <span *ngIf="plusminusVar_1==true"><i class="fa fa-plus"style="color:#ffcc00"  aria-hidden="true"></i></span>
                <span *ngIf="plusminusVar_1!= true"><i class="fa fa-minus" style="color:#ffcc00" aria-hidden="true"></i></span>
        </div>
</div>

</div>

<div class="row" *ngIf="plusminusVar_1!= true">

<span class="col-md-6 col-sm-6 col-xs-6 col-6">
<div class="mediumfont ml-1 rect" style="font-size: 15px; color:#30afc2;background-color: #f5f6f9;">{{comparePlanNames[0].name}}</div>

        <div class="regularfont pt-2">{{comparePlanNames[0].desc}}</div>
</span>
<span class="col-md-6 col-sm-6 col-xs-6 col-6">
<div class="mediumfont ml-0 rect" style="font-size: 15px; color:#30afc2;background-color: #f5f6f9;">{{comparePlanNames[1].name}}</div>
        <div class="regularfont pt-2">{{comparePlanNames[1].desc}}</div>
    </span>

</div>

</div>

<div class="compare-row" *ngIf="compareMode">
<div class="compare-conainer" >
<div class="product-name">
    <p class="regularfont">Cost</p>

</div>
<div class="plusicon">
    <div (click)="plusminuscomparecost()"  >
            <span *ngIf="plusminusVarCost==true"><i class="fa fa-minus"style="color:#ffcc00"  aria-hidden="true"></i></span>
            <span *ngIf="plusminusVarCost!= true"><i class="fa fa-plus" style="color:#ffcc00" aria-hidden="true"></i></span>
    </div>

</div>
</div>

<div class="row" *ngIf="plusminusVarCost==true">
<div class="col-md-6 col-sm-6 col-xs-6 col-6">
        <div class="regularfont">{{comparePlanNames[0].cost}}</div>

</div>
<div class="col-md-6 col-sm-6 col-xs-6 col-6">
        <div class="regularfont">{{comparePlanNames[1].cost}}</div>
</div>

</div>
</div>
</div>

<!--COMPARE MODE ENDS HERE-->



<!--sucess message and failure message-->


<!--Success Message-->
<div class="main-cont">
<div class="failmar">
        <div *ngIf="hideee">         
           <div class="row mobfail">
               <div class="fail">
                        <img src="../../../../assets/images/success.svg" alt="failed">
        </div> 
                 <!--<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 failed">Success!</div>-->                                                    
            </div>        
               <div class="row errmar">                
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 errmsg">{{message}}</div>                  
                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">   
               
                 </div>                                          
              </div>                       
               <div class="row failbtn">
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                  <app-buttonnew size='full' label='Migrate Plan' (click)="loadtopup()"></app-buttonnew>
               </div>
               </div>          
         </div>            
     </div>
     <div *ngIf="ExistOnPlan">
                <p class="sucessMsg mediumfont"><i><strong>Y</strong></i>ello , you can't migrate </p>
           
        <p class="sucessMsgTxt regularfont">Sorry, you are already on {{activeTariffPlanName}} Tarrif Plan.</p>
          
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5 col-xs-5">
              <a (click)="loadtopup()">
              <app-buttonnew size='full' label='Ok'></app-buttonnew>
            </a>
             </div>
            </div>  
          </div> 
  
  
  
  
    <!--Failure Message-->
    <div class="failmar">
       <div *ngIf="failure">         
          <div class="mobfail">
                        <div class="fail">
                               <img src="../../../../assets/images/failed.svg" alt="failed">
                        </div> 
                <!--<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 failed">Failed!</div>-->                                                    
        </div>  
              <div class="errmar">                
             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 errmsg">{{message}}</div>                  
                                                     
             </div>                       
              <div class="row failbtn">
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                 <app-buttonnew size='full' (click)="loadtopup()" label='Migrate Plan'></app-buttonnew>
              </div>
              </div>          
        </div>            
    </div>

   <div *ngIf="confirm">

        <p class="sucessMsg mediumfont">Confirmation</p>
   
        <p class="sucessMsgTxt regularfont">Are you sure you want to migrate ?</p>
  
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5 col-xs-5">
      <a (click)="MigratePlans()">
      <app-buttonnew size='full' label='Proceed'></app-buttonnew>
    </a>
     </div>
    </div>  
  </div> 
  
  
  </div>
