
.borrow{
    font-family: 'MTNBrighterSans-Regular';
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin-left: 22px;
    margin-top: 20px;
}
.radborrow{
    margin-left: 22px;
}
:host /deep/.mat-radio-outer-circle {
    border: solid 2px rgb(8, 8, 8) !important;
 
  }
  :host /deep/.mat-radio-inner-circle {
    background-color: rgb(8, 8, 8) !important;  
  }
  .brwbtn{
    margin-left:10px;
    margin-top: 10px;
  }
  .failmsg{
    font-size: 16px;
    font-weight: 600;
    color: #d50000;
  }
  .abc{
    margin-left: 10px;
  }

  //Success css
  .failmar{ 
    margin-left: 20px;
  }

  .fail{
    height: 60px;
    width: 60px;
    background-color: #ffcc00;
    border-radius: 10px ;
  }

  .failed{
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
    margin-top: 10px;
  }

  .errmar{
    margin-left: 44px;
  }

  .errmsg{
  
    font-size: 24px;
    line-height: 30px;
    color:#7f7f7f;
    font-weight: 600;
  }

  .failbtn{
    margin-left: -30px;
    margin-top: 20px;
  }
  
@media  screen and  (max-width:600px){
  .brwbtn{
    margin-right: 10px;
    margin-left:10px;
    margin-top: 10px;
  }
  .mobfail{
    display: -webkit-box;
  }
  .failbtn{
    margin-left: -30px;
    margin-top: 20px;
    margin-right: 10px;
    }
}
  