<div *ngIf='showLoader' class="row"> 
  <app-slimloader></app-slimloader>
</div>
<div *ngIf="hideborrow">
<p class="borrow">Please select from below list:</p>

<div class="radborrow">
      <mat-radio-group>
        <div *ngFor="let data of eligibilityListData; let i = index " >
          <mat-radio-button  (click)="onslectradio(data.serviceid)" [value]="data.serviceid"  [checked]='i === 0'>{{data.serviceid}}</mat-radio-button>
        </div>      
        </mat-radio-group> 
      </div>
  <div class="row  brwbtn">
     <div class="col-xl-3 col-lg-4 col-md-4 col-sm-10">
  <app-mainbutton (click)='Proceed()' label='Proceed' size='full' ></app-mainbutton>
    </div>
  </div>
</div>

<!--Failure for Elijibility-->
<div *ngIf="brweligibility" class="row abc">
   <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
   <p class="failmsg regularfont">{{message}}</p>
</div>
</div>

<!--Success BorrowAirtime-->

<!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 failmar">
  <div *ngIf="successMsg">         
     <div class="row mobfail">
         <div class="col-xl-0 col-lg-0 col-md-0 col-sm-0 fail"></div> 
           <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 failed">Success!</div>                                                    
      </div>        
         <div class="row errmar">                
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 errmsg">{{message}}</div>                                                           
        </div>                       
         <div class="row failbtn">
         <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
            <app-buttonnew size='full' label='Ok' (click)="Okay()"></app-buttonnew>
         </div>
         </div>          
   </div>            
</div> -->


<!--Failure BorrowAirtime-->

<!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 failmar">
  <div *ngIf="failureMsg">         
     <div class="row mobfail">
         <div class="col-xl-0 col-lg-0 col-md-0 col-sm-0 fail"></div> 
           <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 failed">Failed!</div>                                                    
      </div>        
         <div class="row errmar">                
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 errmsg">{{message}}</div>                                                         
        </div>                       
         <div class="row failbtn">
         <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
            <app-buttonnew size='full' (click)="Okay()" label='Ok'></app-buttonnew>
         </div>
         </div>          
   </div>            
</div> -->

