
  <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
               <app-header [migrateMode]="header"></app-header>
        </div>
     </div>
      <br>
    <!-- <div class="progress">
      <div class="progress-bar progress-bar-success" *ngIf = "showconfimdiv" role="progressbar" style="width:50%">
        Confirmation
      </div>
      <div class="progress-bar" *ngIf="success"  [ngClass]='{"progress-bar-success" : success}'   role="progressbar" style="width:50%">
        Success!
      </div>
      <div class="progress-bar" *ngIf="failure" [ngClass]='{"progress-bar-failure" : failure}'   role="progressbar" style="width:50%;background-color: red;">
        Failure!
      </div>
    </div> -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
        OTP Varification
      </div>
      
      <div class="progress-bar progress-bar-success " *ngIf="Confirmation" [ngClass]='{"progress-bar-success" : success}'   role="progressbar" style="width:50%;background-color: green !important; color:#fff">
      Confirmation
      </div>
      <div class="progress-bar progress-bar-success " *ngIf="success" [ngClass]='{"progress-bar-success" : success}'   role="progressbar" style="width:50%;background-color: green !important; color:#fff">
        Success!
        </div>
      <div class="progress-bar float-right" *ngIf="failure" [ngClass]='{"progress-bar-failure" : failure}'   role="progressbar" style="width:50%;background-color: red !important;">
        failure
      </div>
    
    
    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    <br>
    <div class="backbuttonlogin">
        <app-backbutton label='Back' (click)="backButton()"></app-backbutton>
          </div>
    
    <br>
    <div class="classMain" *ngIf = "otpvarification">
    <div class="row col-sm-12 " *ngIf="showconfimdiv">
    
      <div class="col-md-12 col-sm-12">
        
            <h5 class="bottmmarotp">
                    <b>Enter OTP</b>
                </h5>
                <p class="mediumfont">An OTP is sent to number or email id or other number, below:</p>
            </div>

            <!-- <div class="form-section">
                    <form [formGroup]='otp_cust' 
                    class='card-content-pad' 
                    (ngSubmit)='onSubmit(otp_cust)'>
                            <app-input-floating 
                            formControlName='enterotp' 
                            placeholder='Enter OTP here' 
                            value=''
                            type='text' required maxlengthVal=6
                                [valid]="((otp_cust.get('enterotp').hasError('required') || otp_cust.get('enterotp').hasError('minlength')))"
                                 [errorMsg]="'Please enter valid OTP number'" required
                                (keypress)="numberOnlyotp($event)"></app-input-floating><br><a ><b style=" color:#be1e50;"></b></a>
                               
                        </form> 
            </div> -->

        <div class="row" style="width:100%" >
            <div class="col-12 col-md-6">
        
                <form [formGroup]='otp_cust' class='card-content-pad'>
                        <app-input-floating 
                        formControlName='enterotp' 
                        placeholder='Enter OTP here' 
                        value=''
                        type='text' required maxlengthVal=6
                            [valid]="((otp_cust.get('enterotp').hasError('required') || otp_cust.get('enterotp').hasError('minlength')))"
                             [errorMsg]="'Please enter valid OTP number'" required
                            (keypress)="numberOnlyotp($event)"></app-input-floating><br><a ><b style=" color:#be1e50;"></b></a>
                           
                    </form> 
                <p class="timeoutErr mat-error">{{timeoutErr}}</p>
            </div>
            <div class="col-12 col-md-6">
                <div class="center_button">
                 <app-mainbutton label='Proceed' [disabled]="otp_cust.invalid" (click)="validateOtp()" size='half'></app-mainbutton>

              </div>  
            </div>
             <!-- hidden Form form for payment -->
    
    <div class="row" *ngIf="suceesDiv"  >
            <!-- <p class="rcgfnt">Success!</p> -->
            <app-success Message={{message}}></app-success>
          </div>
          
          <div class="row" *ngIf="failurDiv"  >
          
          <app-failure Message={{message}}> </app-failure>
          </div>
          
          <div *ngIf='showLoader' class="row"> 
          <app-slimloader></app-slimloader>
          
          </div>
        </div>
      </div>
    </div>
    
      <div class="row col-xs-6 col-lg-6 col-lg-6 col-sm-12 abc " *ngIf="Confirmation">
          
      
        
            <div>
          <p class="mediumfont"><b>You are linking below number with your account</b> </p>
            <div class="row col-md-12 col-sm-12 xplanst">
                <div class="col-md-12 col-sm-6">
                  <p class="rcgfnt">{{sec_msisdn}}</p>
                </div>
            </div>
            <div >
                    <p class="mediumfont" >Are you sure you want to proceed?</p>
                        <app-mainbutton size='half' (click)="linkAccount()" label='Confirm' ></app-mainbutton>
                  </div>
        </div>
     
    </div>
    <div class="row col-sm-12 " *ngIf="failure">
        <div class="col-md-6 col-sm-12 abc">
            <h5>There is a issue while processing your request</h5>
      </div>
    </div>
    <div class="row col-sm-12 " *ngIf="success">
      <div class="col-md-6 col-sm-12 abc">
          <h5 class="mediumfont">Dear {{firstName}} Thank you for linking {{sec_msisdn}} to your primary account {{msisdn}}</h5>
    </div>
  </div>
    
    
    
    <div class="row">
     <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
        <app-footer></app-footer>
     </div>
    </div>
    