.loading {

  width: 100%;
  height: 100%;
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:1000;
 background: rgba(0,0,0,0.7);
}
.loading-wheel {
  width: 20px;
  height: 20px;
  margin-top: -40px;
  margin-left: -40px;
  
  position: absolute;
  top: 70%;
  left: 50%;
  
  border-width: 30px;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.style-2 .loading-wheel {
  border-style: double;
  border-color: #ffbb00 transparent;
}
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0);
  }
  100% {
      -webkit-transform: rotate(-360deg);
  }
}

/* Custom, iPhone Retina */ 

@media only screen and (min-width : 320px) {
  .loading-wheel{
    border-width: 16px !important;
}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .loading-wheel{
    border-width: 18px !important;
}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .loading-wheel{
    border-width: 22px !important;
}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .loading-wheel{
    border-width: 28px !important;
}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .loading-wheel{
    border-width: 28px !important;
}
}



