   
.noPadding_noMargin{ padding: 0px; margin: 0px; }
.invalidotp{  color: #be1e50; margin-left: 15px; padding:10px; }
    
.lggn{ margin-bottom:50px; }
.ccc{ margin-left:16px;}
.backbuttonss{ padding-top: 95px; margin-bottom: 2%; }
.bg-color{ background-color:#f2f2f2; }
     .page-heading{ font-size: 28px; line-height: 35px; margin:0 0 20px;}   

    .mat-radio-button p{
      margin-bottom: 0;
          font-family: 'MTN Sans';
    }
    .marginleft{
      display: block;
      width: 100%;
    }
    .otpbelow.radiomargin{
      display: block;
    }
    .form-grp{
      align-items: center;
       display: -webkit-box;
    }
    .mat-radio-container .mat-radio-outer-circle{margin-top: 0;}
    .form-wrapper,
    .radiomargin {
      padding: 0;
          font-family: 'MTN Sans';
    }
    .form-wrapper1{
      margin-left: 1%;
      margin-top:8%;
    }
    .imgheigwidth{
    width: 100%;
    border-bottom-left-radius: 100% 10%;
    border-bottom-right-radius: 100% 10%;
    height: 60%;
    }
    
    
    .paddingleft{
    padding-left: 8%;
    }
    .paddingleftinput{
    padding-left: 5%;
    margin-top: 5%;
    }
    .marginsigin{
    margin-top: -8%;
    
    }
    
    .welcom {
    margin-top:5px;
    }
    .marginput{
    
    margin-top: -6%;
    }
    .backbutt {
    margin-top: -50% !important;
    
    }
    .marginprocee {
     margin-top: -5%;
    }
    .procee{
    margin-top: -3%;
    }
    
    .ptagchange {
    margin-bottom: -4px;
    font-size: 12px;
    }
    .marginbotmmpage{
    font-size: 12px;
    margin-bottom: 4px;
    }
    // .inputtpadding{
    //   width: 112% !important;
    // }
    
    .margintop{
    margin-top: -4px;
    }
    .h4 {
    margin-top: 30px !important;
      
    }
    .annau{
    background-image: url("/app/appassets/images/curve.svg")
    }
    .ptagchange
    {
    background-color:#f2f2f2;
    
    }
    
   
    .marleftradio{
      margin-left: 2%;
    }
    .otpclass{
      font-size: 12px;
      margin-bottom: -6%;
      margin-top: -15%;
      margin-left: 4%;
    }
    
    .otpbelow{
    font-size: 12px
    }
    .resendtest {
    font-size: 14px;
    }
    .procedotp{
    margin-top: 1.3%;
    }
    .margttt{
    margin-top: -1%;
    }
    
    .resentnow{
      margin-left: 2.2%;
      margin-top: -1%;
    }
    
    
    .backbuttonlogin{
      position: absolute;
      top:20%;
      left:0%;
    }
    
    .bottmmarotp{
      margin-bottom: -0.5rem !important;
    }
    
    .mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
        font-family: 'MTN Sans';
    }
    :host /deep/.mat-radio-outer-circle {
    border: solid 2px rgb(8, 8, 8) !important;
     
    }
    :host /deep/.mat-radio-inner-circle {
    background-color: rgb(8, 8, 8) !important;
    margin-top: 0%;
        font-family: 'MTN Sans';
    
    }
    
    .rcgfnt{
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      margin-left: 17px;
     margin-bottom: 34px;
    }
    
    .otp_margin{
      margin: -8% 0 0 0;
    }
    
    ::ng-deep .send_otp_btn button .half-btn{
      width: 100%;
    }
    
    .timeoutErr {
      margin-left: 20px;
      margin-top: -16px;
      color:#be1e50; 
    }
    
    @media only screen and (min-width: 992px){
    .noPadding_md {
        flex: 0 0 50%;
        max-width: 35%;
    }
    }
    
    @media only screen and (max-width: 800px) {
      .marginsigin {
        margin-top: 0px;
        margin-left: 40px;
        }  
        .paddingleft{
          padding-left:0%;
          }
          .center_button{
            margin: 0 ;  
          }
          // .ptagradio{
          //   margin-left: 14%;
          //   }
          .marginleft{
            margin-left:10%;
            margin-right:10%;
            }
            .marginleft1{
              margin-left:5%;
            }
            
      }
    
    @media only screen and (min-width: 769px) {
      .noPadding_md{
        padding: 0;
      }
    }
    @media only screen and (max-width: 769px) {
      .entertop{
        margin-top: 8%;
      }
      .otpclass{
        margin-bottom: -8%;
        margin-top: 7%;
      }
      .signtop{
        margin-top: 10%;
        margin-left: 0%;
      }
        .topimginsmallscreen {
          margin-top: -4%;
          height: 100%;
        }
        .marginleft{
          margin-left:10%;
          margin-right:10%;
          }
          .marginleft1{
            margin-left:5%;
          }
     
        }
    
    @media screen and (max-width: 768px){
    
    .marginsigin {
    margin-top: 10px;
    margin-left: 20px;
    }
    .marginprocee {
      margin-top: 0%;
      // padding-top: 5px;
      // padding-bottom: 5px;
     }
    // .ptagradio{
    // margin-top: -5px;
    // margin-bottom: 1rem;
    // margin-left: 5.5%;
    // }
    .resendtest {
    margin-left: 30px;
    margin-top: 30px;
    }
    .resentnow {
    margin-top: 1%;
    margin-left: 10px;
    }
    .paddingleftinput{
    padding-left: 0%;
    margin-top: 5%;
    }
    .marginput{
      width: 100%;
      // align-content: center;
    }
    .form-wrapper1{
      margin-left: 6%;
      margin-top:8%;
    }
    
    .center_button{
      margin: 15px 0 ;
      max-width: 540px;
      padding: 0 15px;
      width: 100%;
    }
    .welcom {
    margin-top:5px;
    
    }
    .marginleft{
      margin-left:10%;
      margin-right:0%;
      max-width: 80%;
      }
      .marginleft1{
        margin-left:5%;
      }
    .resentnow{
      margin-left: 5%;
    }
    .backbuttonlogin{
      position: absolute;
      top:10%;
      left:0%;
    }
    
    }
    
    .ng-star-inserted{width: 100%}
  .card{
      border-radius:15px;
      -moz-box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);/* Firefox 3.5 - 3.6 */
      -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -ms-box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       border:none;
    margin-left:-15px;
    
  
  }
  .grey_text{
      max-width:500px;
      //display: flex;
      
  }
  .xplanst{
      padding:0px;
  }
  .no-gutters{
      height:61px;
  }
  .text-center{
      border-radius:0px 15px 15px 0px;
      cursor: pointer;
    
      padding:18px 0px 0px 0px;
      font-size:20px;
  }
  .card-body{
      padding: 21px 1px 0px 17px;
      font-size: 14px;
      font-weight: 500;
  }
  .active { 
       background-color: #ffcc00;
       border-radius:0px 15px 15px 0px;
       color:black;
      // height: 61px;
       width: 131px;
      
  }
  .crsbtn{
    margin-left: 105%;
    margin-top: -45px;
    height: 27px;
    width: 28px;
    border: 2px solid black;
    border-radius: 50%;
  }
  button:hover {
    background-color:none !important;
  }
  .close:not(:disabled):not(.disabled) {
    cursor: pointer;
    /* margin-bottom: -34px; */
    margin-top: -3px;
  }
  
  .inactive {
      background-color: #7f7f7f;
      border-radius:0px 15px 15px 0px;
      color:white;
  }
      
      @media only screen and (max-width:768px){
          // h4{
          //     margin-bottom:7%;
          // }
  
  
         
      
        .text-center{
          border-radius:0px 15px 15px 0px;
          cursor: pointer;
      
          padding:18px 0px 14px 0px;
          font-size:20px;
      }
      .xplanst{
          padding:0px;
      }
      .xplanst > div{
          max-width: 100%;
          flex: 0 0 100%;
      }
      .no-gutters{
          height:72px;
      }
      .no-gutters > div{
          width: 70%;
          float: left;
          max-width: 70%;
      }
      .no-gutters > div:last-child{
          max-width: 30%;
  
      }
      
  
      }

@media only screen and (max-width: 768px) {
    .backbuttonss{ padding-top: 25px; }
}

      