<div *ngIf='showLoader' class="row"> 
    <app-slimloader></app-slimloader>

</div>

<div class="main_pages" style="overflow-x: hidden;">
  
               <app-header [migrateMode]="!header"></app-header>
      
   
   
<div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>
   
<div class="main-cont lggn min-height">
    
        <div class="row signtop">
            <div class="col-12 col-md-6">
                <h4 class="page-heading mediumfont" > Switch To Main Account </h4>
                <div class="col-md-12 col-sm-6">
                        <div class="card mb-3 grey_text">
                          <div class="row no-gutters">
                            <div class=" col-xs-6 col-md-8 col-sm-12" >
                              <div class="card-body">
                                <p class="card-text mediumfont">{{mainnumber}}</p>
                                
                              </div>
                            </div>
                            <div class="col-xs-3 col-md-4 col-sm-6 active">
                              <div class="text-center" (click) = "switchAccount()">Switch 
                                    
                                 </div>
                                 
                                 
                                 <!-- <app-mainbutton label='Remove' (click)="unlinkAccount()"  size='full'></app-mainbutton>   -->
                              </div>
                              
                          </div>
                              
                        </div>
          <h5 class="mediumfont">You are using secondary contact number, please switch to your main Account</h5>
        
                          </div>
          </div>
       </div>
       </div>
  <app-footer></app-footer>
                    
                        </div>
     
                      