
<div class="main_pages">
  
    <app-header [migrateMode]="header"></app-header>


<div class="main-cont min-height">

<div class="rechargeabc"> 
<div class="progress">
<div class="progress-bar mediumfont progress-bar-success" role="progressbar">
Confirmation
</div>
<div class="progress-bar mediumfont" [ngClass]='{"progress-bar-warning" : suceesDiv,"progress-bar-failure" : failurDiv}'   role="progressbar">
{{message1}}
</div>
</div>

<div class="backbuttonlogin"  >
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>

<div *ngIf="confirmdiv"class="cnfrm-msg">

<p class="fontsize mediumfont">Your topup number is </p>
<div class="row xplanst">
   <div class="col-md-12 col-sm-6">
     <p class="rcgfnt mediumfont"><span style="color:#d0d0d0">(+234)</span>{{msisdn}}</p>
   </div>
</div>
<p class="fontsize mediumfont">Your Vocher card number is</p>
<p class="rcgfnt mediumfont">{{voucher_code}}</p>
<p class="fontsize mediumfont">Are you sure you want to topup {{product}}</p>
<div class="row">     
<div class="col-lg-3 col-md-3 col-sm-6 col-12">
<app-mainbutton size='full' (click)="onSubmitTopup()" label='Confirm' ></app-mainbutton>
</div>
</div>

</div>

</div>


<!-- hidden Form form for payment -->

<!-- <div class="row" *ngIf="suceesDiv"  > -->
<!-- <p class="rcgfnt">Success!</p> -->
<!-- <app-success Message={{message}}></app-success><br> -->
<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12"style="margin:0px 30px 0px 10px;"> -->
<!-- <app-buttonnew size='half-btn' (click)="Dashboard()" label='Go To Dashboard' *ngIf="airttt"  ></app-buttonnew> -->
<!-- </div> -->

<!-- </div> -->

<!-- <div class="row" *ngIf="failurDiv"  > -->

<!-- <app-failure Message={{message}}> </app-failure> -->
<!-- </div> -->

<div *ngIf='showLoader' class="row"> 
<app-slimloader></app-slimloader>

</div>
  <!--Success Message-->

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 failmar">
      <div *ngIf="suceesDiv">         
         <div class="row mobfail">
           <div class="fail">  <img src="../../../../assets/images/success.svg" alt="failed"> </div>                                                   
           <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 errmsg">{{message}}</div>         
         </div>                      
           <div class="row failbtn">
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
                <app-buttonnew size='full' label='Load another Voucher Card' (click)="backbuttons()"></app-buttonnew>
             </div>
             </div>          
       </div>            
   </div>




  <!--Failure Message-->
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 failmar">
     <div *ngIf="failurDiv">         
        <div class="row mobfail">
            <div class="fail"> <img src="../../../../assets/images/failed.svg" alt="failed"></div>                                                                     
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 errmsg">{{message}}</div>                                                                   
         </div>                      
             <div class="row failbtn">
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
               <app-buttonnew size='full' (click)="backbuttons()" label='Load another Voucher Card'></app-buttonnew>
            </div>
            </div>          
      </div>            
  </div>


</div>


<app-footer></app-footer>

</div>
