<div class="main_pages">

           <app-header [migrateMode]="header"></app-header>

  <div class="main-cont  min-height"> 
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar">
    Confirmation
  </div>
  <div class="progress-bar" [ngClass]='{"progress-bar-success" : showconfimdiv}'   role="progressbar">
    
  </div>
</div>


<div class="backbuttonlogin">
    <app-backbutton label='Back' (click)="backButton()"></app-backbutton>
      </div>

<div class="classMain">
<div class="row col-sm-12 " *ngIf="showsuccessdiv">

  <div class="col-md-6 col-sm-12">
      <div>
    <p class="fontsize mediumfont">You are requesting to pay: </p>
      <div class="row col-md-12 col-sm-12 xplanst">
          <div class="col-md-12 col-sm-6">
            <p class="rcgfnt mediumfont">N{{debitAmount}}</p>
          </div>
      </div>
  <p class="fontsize mediumfont">You are making a payment for:</p>
      <p class="rcgfnt mediumfont"><span style="color:#d0d0d0">(+234)</span>{{msisdnval1}}</p>

      </div>
  <div >
      <p class="fontsize mediumfont">Are you sure you want to proceed?</p>

          <app-mainbutton size='full'   (click)="debitpaymebtconfirm()" label='Confirm Debit' *ngIf="airttt1"  ></app-mainbutton>
<div class="row">     
<div class="col-lg-6 col-md-6 col-sm-6 col-12">
          <app-mainbutton size='full' (click)="paymentconfirm()" label='Confirm' *ngIf="airttt" ></app-mainbutton>
</div>
</div>
    </div>
    <form #form id='payForm' method='post' action=''>
      <input type='hidden' name='mtnepg_transaction_amount' value='' id='mtnepg_transaction_amount'>
      <input type='hidden' name='mtnepg_cust_id' value='' id='mtnepg_cust_id'>
      <input type='hidden' name='mtnepg_cust_name' value='' id='mtnepg_cust_name'>
      <input type='hidden' name='mtnepg_cust_mobile' value='' id='mtnepg_cust_mobile'>
      <input type='hidden' name='mtnepg_cust_email' value='' id='mtnepg_cust_email'>
	  <input type='hidden' name='transaction_type' value='' id='transaction_type'>
  <input type='hidden' name='bundleid' value='' id='bundleid'>
  <input type='hidden' name='price' value='' id='price'>
  <input type='hidden' name='autorenew' value='' id='autorenew'>
    </form>

  </div>
</div>
</div>



<!-- hidden Form form for payment -->

<div class="row" *ngIf="suceesDiv"  >
  <!-- <p class="rcgfnt">Success!</p> -->
  <app-success Message={{message}}></app-success>
</div>

<div class="row" *ngIf="failurDiv"  >

<app-failure Message={{message}}> </app-failure>
</div>

<div *ngIf='showLoader' class="row"> 
<app-slimloader></app-slimloader>

</div>

</div>


    <app-footer></app-footer>

