
.fa{
    float: right;
    line-height: 21px;
    padding-right: 14px;
    font-size: 14px;

}

#label{
    //font-weight: 700;
    font-size: 14px;
    color: black;  
    float: left;
    padding-left: 18px;
	//font-family:'MTN Sans';

}
button:hover{
    background-color:#ffe582;
    color: black;
  }

  #btn-container{
    display: grid;
    grid-template-columns: 1fr;
    
  }

  .full-btn{
    width: 100%;
  }
  
  .quater-btn{
    width: 30%;
  }
  .half-btn{
    width: 60%;
  }
  button {
     width: 100%;
    background-color: white ;
     text-align: center;
     border-radius: 100px;
     margin: 10px 0px !important;
     padding: 8px 0px;
     font-size: 12px;
     //filter: drop-shadow(0 0 0.2rem grey);
     // box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
      border: none;
      border: 2px solid black;
   }
   #label{
    //font-weight: bold;
    overflow : hidden;
    text-overflow : ellipsis;
    padding-right : 1px;
    font-size: 14px;
    text-align: left;
    white-space: nowrap;
    display: block;
    //font-family: 'MTN Sans'
  }

  @media only screen and (max-width: 800px){
    .fa{
    // float: unset;
    }
  }
  @media only screen and (min-width:320px) and (max-width:768px){
    #label{
      //font-weight: bold;
      overflow : hidden;
      text-overflow : ellipsis;
      padding-right : 1px;
      font-size: 14px;
      text-align: left;
      white-space: nowrap;
      display: block;
      //font-family: 'MTN Sans';
    }
    .fa{
     float: right;
      line-height: 21px;
      padding-right: 14px;
      font-size: 14px;
      display:none;
    }
  }
  