<div *ngIf='showLoader' class="row">
    <app-slimloader></app-slimloader>
</div>
<div class="scrollmenu" >
    <div class="pn-ProductNav_Wrapper">
                    <nav  class="pn-ProductNav">
                        <div  class="pn-ProductNav_Contents">
                            
                            <a (click)="onLoadMdNav(dashboardNavEl)"  class="pn-ProductNav_Link" [ngClass]="{'highlighted_bg' : active_nav === dashboardNavEl.id }"  aria-selected='true'  *ngFor="let dashboardNavEl of dashboarddNav">
                               <img class="imgicon" [src]="dashboardNavEl.source">
                               <div class="abc">
                              <p class="aaa mediumfont">{{dashboardNavEl.value}} {{dashboardNavEl.value1}}</p>
                              <p class="aaa"></p>
                            
                            </div>
                            </a>
                        </div>
                    </nav>
                </div>
</div>
