* {box-sizing: inherit;}

div.scrollmenu {
     overflow: auto;
     white-space: nowrap;
     display: -webkit-box;
 }

 .aaa{
     display: table-caption;
    line-height: 1.2;
    width: 95px;
    word-wrap: break-word;
    white-space: normal;
    margin-bottom: 0px !important;
 }

 .wordd{ word-spacing: 9999px;}
 div.scrollmenu a {
     display: inline-block;
     color: #111;
     background-color:#f2f2f2;
     text-align: left;
     //padding: 15px;
     text-decoration: none;
     
 }
 
 div.scrollmenu a:hover {
     background-color: #d3d3d3;
 }
 
 .highlighted_bg {
     // position: relative;
         background-color: #ffcc00 !important;
        // background-image: url('/assets/logo/active_card.svg');
     color:#000000!important;
     // box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15) !important;
            box-shadow: 0 15px 16px 0 rgba(0, 0, 0, 0.15) !important;
 }
 
 .highlighted_bg::after {
    content: '';
    position: absolute;
    top: 125px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 18px solid #ffcc00;
    clear: both;
    margin-left: 35px;
 }
 
 
 .menu {
     display: inline-block;
     color: #acacac;
     text-align: center;
     text-decoration: none;
     cursor: pointer;
 }
 ////////////////////////////////////

 
 .pn-ProductNav_Wrapper {
     position: relative;
     padding: 0 0px;
     box-sizing: border-box;
 }
 
 .pn-ProductNav {
     /* Make this scrollable when needed */
     overflow-x: hidden;
     /* We don't want vertical scrolling */
     overflow-y: hidden;
     /* For WebKit implementations, provide inertia scrolling */
     -webkit-overflow-scrolling: touch;
     /* We don't want internal inline elements to wrap */
     white-space: nowrap;
     /* If JS present, let's hide the default scrollbar */
     .js & {
         /* Make an auto-hiding scroller for the 3 people using a IE */
         -ms-overflow-style: -ms-autohiding-scrollbar;
         /* Remove the default scrollbar for WebKit implementations */
         &::-webkit-scrollbar {
             display: none;
         }
     }
     /* positioning context for advancers */
     position: relative;
     // Crush the whitespace here
     font-size: 0;
 }
 
 .pn-ProductNav_Contents {
     float: left;
     transition: transform .2s ease-in-out;
     position: relative;
     display: flex;
     height:170px;
    padding-left: 10px;
 }
 
 .pn-ProductNav_Contents-no-transition {
     transition: none;
 }
 
 .pn-ProductNav_Link {
     text-decoration: none;
     color: #888;
     font-size: 14px;
     //font-family: -apple-system, sans-serif;
     //font-weight: bold;
     // display: inline-flex;
     align-items: center;
     height: 115px;
     width: 115px;
     border: 1px solid transparent;
     border-radius: 15px;
     padding: 0 11px;
     margin: 15px 15px 15px 0px;
      &[aria-selected="true"] {
         color: #111;
     }
 }

 .imgicon{
     margin-top: 10px;
     margin-right: 10px;
 }
 .abc{ padding-top: 20px;}
  
 .pn-Advancer {
     /* Reset the button */
     appearance: none;
     background: transparent;
     padding: 0;
     border: 0;
     &:focus { outline: 0; }
     &:hover { cursor: pointer; }
     /* Now style it as needed */
     position: absolute;
     top: 0;
     bottom: 0;
     /* Set the buttons invisible by default */
     opacity: 0;
     transition: opacity .3s;
 }
 
 .pn-Advancer_Left {
     left: 0;
     [data-overflowing="both"] ~ &,
     [data-overflowing="left"] ~ & {
         opacity: 1;
     }
 }
 
 .pn-Advancer_Right {
     right: 0;
     [data-overflowing="both"]  ~ &,
     [data-overflowing="right"] ~ & {
         opacity: 1;
     }
 }
 
 .pn-Advancer_Icon {
     width: 11px;
     height: 18px;
     fill:#373737;
 
 }
 
 .pn-ProductNav_Indicator {
     position: absolute;
     bottom: 0;
     left: 0;
     height: 4px;
     width: 100px;
     background-color: white;
     transform-origin: 0 0;
     transition: transform .2s ease-in-out, background-color .2s ease-in-out;
 }
 @media only screen and  (max-width:768px) {

 }
 @media only screen and  (max-width:500px) {
  
 }
 
 
