.grid .row {
    justify-content: center !important;
}

#download-and-view-btn {
    margin-top: 15px;
}

#download-btn .mat-button[disabled] {
    height: 43px !important;
}

.table-grid {
    padding-bottom: 2rem;
}