<div class="grid">
  <div class="table-grid col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
    <ejs-grid #grid id='Grid' [dataSource]='tableData' [allowResizing]='true' [pageSettings]='pageSettings'
      [columns]="listOfFields" [enableRtl]='enableRtl' width="100%" allowTextWrap='true' [childGrid]='childGridData'
      gridLines='Horizontal' [allowPdfExport]='true' [allowExcelExport]='true' 
      (pdfExportComplete)='exportComplete()' (excelExportComplete)='exportComplete()' (dataBound)="dataBound()">
    </ejs-grid>
  </div>
  <div class="row" *ngIf="tableData.length > 0 && showDwnldBtn">
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 reportdwnld-btn">
      <app-mainbutton label={{pdfLabel}} size='full' (click)="exportReport('PdfExport')">
      </app-mainbutton>
    </div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 reportdwnld-btn">
      <app-mainbutton label={{excelLabel}} size='full' (click)="exportReport('ExcelExport')"></app-mainbutton>
    </div>
  </div>
</div>