<div class='comp-margin'>
    <span *ngIf="errormsg !== ''"><i class="fa fa-exclamation-circle fa-8px label-error "></i>{{errormsg}}</span> 
     <span *ngIf="errormsg === ''" ></span>
    <span></span>
  </div>
  <div class='input-wrapper ' [ngClass]='wrapper_class'>
      <input [type]="type" (blur)='onBlur()' (focus)='onFocus()'  class="input-box-field"
      [(value)]="_value" (keyup)="renderChange($event.target.value)" [placeholder]="placeholder"
       required>
      </div>

      
