.input-wrapper{
  display: grid;
  grid-template-columns: 1fr auto;
  align-self: left;
  box-sizing: border-box;
  // border-radius: 0px;
  border-radius: 5px;
  border: 1px solid #ffbe00 !important;
  margin: 0px 10px 0px 10px;
  // font-style: unset !important;
}
.wrapper-blur {
  // border: 1px solid #969696;
  border-color: black !important;
  margin: 0px 10px 0px 10px;
}
.input-box-field{
  // grid-column: 1 / 2;
  // box-sizing: border-box;
  // width: 100%;
 
}
.close-button {
  // box-sizing: border-box;
}

