<div *ngIf='showLoader' class="row">
  <app-slimloader></app-slimloader>
</div>
<div class="xtraplans" *ngIf='paymentuipagemigerate'>
    <div class="ml-2 xtradata mediumfont mediumfont">
        <div class="xtradata-ttl" (click)="xtradata()">XtraData </div>
          <div class="circle" id="circledata"  [ngClass]='{"active" : arrow}' (click)="xtradata()"><i
              class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !arrow}' aria-hidden="true"></i>
            </div>
    </div>
    <div *ngIf='arrow'>
     <div class="row col-12"  *ngIf='isDataLoaded'>
       
        <app-xtravaluetabs  class='tab-width' [faq_tab_header_Elements]='elementVal' (selected_tab)="onLoadData($event,'XTRADATA')"></app-xtravaluetabs >
     </div>
     <div class="row  intercuard">
        <div class="col-md-6 col-sm-12" *ngFor="let data of elementXtraValPerioicity;let i = index">
          
           <app-internalcards [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price"  (click)='changeStatus(data, i)'></app-internalcards> 
       <!-- <app-xtraplanst  [label]="data.pname" [active]=data.active [price]="data.price" (click)='changeStatus(i)'></app-xtraplanst>  -->
          
    </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div>
        <mat-radio-group class="fontsize mediumfont">
          <div>
            <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="1">Self</mat-radio-button>
          </div>

          </mat-radio-group> 
        </div>
        
        <form  [formGroup]='selfform'  class='card-content-pad' *ngIf="!_selectradi">
              <div class="row form-grp" >
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 "  style="padding:10px 10px 10px 0;">
                  <app-input-floating formControlName='msisdn' placeholder='myMTN Number' iconPosition='left' iconName='recharge' value='1' type='text' required maxlengthVal=13
                    [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
                       [errorMsg]="'Please click valid fields to proceed.'" required  (keypress)="numberOnlyself($event)"
                       [(ngModel)] = "msisdnval"  (keypress)="numberOnly($event)" disabled=true></app-input-floating> 
<a ><b style=" color:#d50000;">{{errorMsg}}</b></a>
                </div>
              
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 abb">
                    <app-mainbutton label='Proceed' [disabled]="!bottoncolr" (click)="buyprocce()"   size='full' ></app-mainbutton>
                 </div>
              </div>
             </form>
        
         <form  [formGroup]='othersform'  class='card-content-pad' *ngIf="_selectradi">
           <div  class="row form-grp">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 "  style="padding:10px 10px 10px 0;">
                <app-input-floating formControlName='msisdn1' placeholder='Enter MTN Number' iconPosition='left' iconName='recharge'  value='2' type='text' required maxlengthVal=13
                  [valid]="((othersform.get('msisdn1').hasError('required') || othersform.get('msisdn1').hasError('minlength')))"
                  [(ngModel)] = "msisdnother" [errorMsg]="'Please enter a valid MTN number'" required
                     (keypress)="numberOnly($event)"></app-input-floating> <a ><b style=" color:#d50000;">{{errorMsg}}</b></a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 abb">
              <app-mainbutton label='Proceed' [disabled]="othersform.invalid || !otherValid"  (click)="buyprocce()"  size='full' ></app-mainbutton>
           </div>
          </div>
      
          </form>
        
        </div>

        
    </div>
         <div class="ml-2 xtradata xtradetails mediumfont">
            <div class="xtradata-ttl" (click)="xtratalk()">XtraTalk </div>
              <div class="circle" [ngClass]='{"active" : arrow1}' (click)="xtratalk()"><i
                  class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !arrow1}' aria-hidden="true"></i>
                </div>
          </div>

 
     <div  *ngIf='arrow1'>
          <div class="row col-12" *ngIf='isDataLoaded'>
        
             <app-xtravaluetabs  class='tab-width' [faq_tab_header_Elements]='elementVal' (selected_tab)="onLoadData($event,'XTRATALK')"></app-xtravaluetabs >
          </div>
          <div class="row  intercuard">
             <div class="col-md-6 col-sm-12" *ngFor="let data of elementXtraValPerioicity;let i = index">
        
               <app-internalcards [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price" (click)='changeStatus(data, i)'></app-internalcards>
        
         </div>
       </div>


       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div>
          <mat-radio-group class="fontsize mediumfont">
            <div>
              <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="1">Self</mat-radio-button>
            </div>
            
            </mat-radio-group> 
          </div>
          
          <form  [formGroup]='selfform'  class='card-content-pad' *ngIf="!_selectradi">
            <div class="row form-grp">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 "  style="padding-left:0px;padding-top: 10px">
                <app-input-floating formControlName='msisdn' placeholder='myMTN Number' iconPosition='left' iconName='recharge' value='1' type='text' required maxlengthVal=11
                  [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
                  [(ngModel)] = "msisdnval" [errorMsg]="'Please enter a valid MTN number'" required
                     (keypress)="numberOnly($event)" disabled=true></app-input-floating> <a ><b style=" color:#d50000;">{{errorMsg}}</b></a>
              </div>
            
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                  <app-mainbutton label='Proceed' [disabled]="!bottoncolr" (click)="buyprocce()" size='full' ></app-mainbutton>
               </div>
            </div>
           </form>
          
           <form  [formGroup]='othersform'  class='card-content-pad' *ngIf="_selectradi">
             <div  class="row form-grp">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 "  style="padding-left:0px;padding-top: 10px">
                  <app-input-floating formControlName='msisdn1' placeholder='Enter MTN Number' iconPosition='left' iconName='recharge' value='2' type='text' required maxlengthVal=13
                    [valid]="((othersform.get('msisdn1').hasError('required') || othersform.get('msisdn1').hasError('minlength')))"
                    [(ngModel)] = "msisdnother" [errorMsg]="'Please enter a valid MTN number'" required
                       (keypress)="numberOnly($event)"></app-input-floating>  <a ><b style=" color:#d50000;">{{errorMsg}}</b></a>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <app-mainbutton label='Proceed' [disabled]="othersform.invalid || !otherValid" (click)="buyprocce()"  size='full' ></app-mainbutton>
             </div>
            </div>
        
            </form>
          
          </div>


   </div> 
  </div>
