@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .input-wrapper{
      display: -ms-grid;
      -ms-grid-columns: 1fr auto;
      height: 38px;
      border: none;
    }
  
    .label-error{
      display: none;
    }
  }
  
   
  mat-label.label-off {
    background-color: #ffffff;
}

.mat-form-field-wrapper{
  background-color: transparent;
  border-radius: 4px;
  padding:0px !important;
  margin:0px;
}
 
.mat-form-field-disabled .mat-form-field-outline-thick{
  background-color: #f2f2f2 !important;
  opacity: 1;
  color: #e6e6e6 !important;}

  input.mat-input-element {
    font-size: 13px !important;
    color: black !important;
    padding: 3px 10px !important;
    vertical-align: text-bottom;
  }
  .input-untouched{
    border: 1px solid #666666;
  }
  .input-touched{
    border: 1px solid #ffcc00;
  }
  .input-dirty{
    border: 1px solid #d50000;
  }
  .left-icon{
    width: 22px;
    height: 26px;
  }
  @media all and (-ms-high-contrast:none) {
      img {
        vertical-align: top !important;
      }
  }
  @supports (-ms-ime-align:auto) {
    img {
      vertical-align: auto !important;
    }
  }
  
  @media only screen and (min-width: 576px){
  
  .container {
      max-width: 540px;
      margin-left: 0px;
  }
  }
  
  
  
  // input.mat-input-element {
  //   font-size: 14px !important;
  //   color: black !important;
  //   padding: 3px 10px !important;
  //   vertical-align: text-bottom;
  // }
  // .left-icon{
  //   width: 22px;
  //   height: 26px;
  // }
  // @media all and (-ms-high-contrast:none) {
  //     img {
  //       vertical-align: top !important;
  //     }
  // }
  // @supports (-ms-ime-align:auto) {
  //   img {
  //     vertical-align: auto !important;
  //   }
  // }