

<div class="main_pages">
  
  <app-header [migrateMode]="header"></app-header>


<div class="main-cont min-height">

<div class="rechargeabc"> 
<div class="progress">
<div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
Confirmation
</div>
<div class="progress-bar" [ngClass]='{"progress-bar-warning" : suceesDiv,"progress-bar-failure" : failurDiv}'   role="progressbar" style="width:50%">
{{message1}}
</div>
</div>
</div>

<div class="backbuttonlogin"  >
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
<br/>
</div>


<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
<div class="row">

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 " *ngIf="showsuccessdiv">
<div  >
<h4 class="failbtn fontsize mediumfont">Confirmation</h4>
<p class="fontsize mediumfont">Do you wish to create the ticket ?</p>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
<div class="row">     
<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
<app-mainbutton size='full' (click)="submitTicket()" label='Submit'></app-mainbutton>
</div>
<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
<app-mainbutton size='full' (click)="backbuttons()" label='Close'></app-mainbutton>
</div>
</div>
</div>
</div>
</div>




<!-- hidden Form form for payment -->
       
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 " *ngIf="suceesDiv">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding:15px 0;"> 
        <div class="row">

    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 " >
    <div class="fail"><img src="../../../../assets/images/success.svg" alt="failed">    
    </div> 
    </div>

    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
    <div class="failbtn fontsize mediumfont">                                             
    Success
    </div>   
  </div>

</div>
</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding:0;">

<div class="fontsize mediumfont">                                             
<p>    Y'ello, your ticket has been successfully logged. please note down the ticket reference number {{message}}.</p>
    </div> 
</div>
    
        
         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12" style="padding:0;">
            <app-mainbutton size='full' (click)="backbutton()" label='Ok'></app-mainbutton>

         </div>          
   </div>      

   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 " *ngIf="failurDiv">    
  

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding:15px 0;">
        <div class="row">

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 " >
        <div class="fail"> <img src="../../../../assets/images/failed.svg" alt="failed">
        </div>     
        </div>

        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
        <div class="failbtn fontsize mediumfont">                                                                  
        Failure
        </div>  
        </div>    
        
        </div>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding:0;">
          
        <div class="fontsize mediumfont">                                                                  
           <p>Y'ello, currently we are unable to process your request, please try again later. Thank you</p>
            </div>
        </div>
                       
        
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12" style="padding:0;">
            <app-mainbutton size='full' (click)="backbuttons()" label='Ok'  ></app-mainbutton>
         </div>    
  </div>     

       

</div>
</div>

<div *ngIf='showLoader' class="row"> 
<app-slimloader></app-slimloader>
</div>

</div>

<app-footer></app-footer>

</div>
