<div *ngIf='showLoader' class="row"> 
  <app-slimloader></app-slimloader>

</div>

 <!-- Hynet Capped Plan-->
<div class="goodybag" *ngIf='paymentuipagemigerate'>
  <div class="row xtradata xtradetails mediumfont">
        <div class="xtradata-ttl" (click)="Capped()">Capped plans </div>
          <div class="circle" id="circledata"  [ngClass]='{"active" : capped}' (click)="Capped()"><i
              class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !capped}' aria-hidden="true"></i>
     </div>
      </div>
  
  
     <div *ngIf='capped'>
      <div class="row col-12"  *ngIf='isDataLoaded'>
        
         <app-xtravaluetabs  class='tab-width' [faq_tab_header_Elements]='elementVal' (selected_tab)="onLoadData($event,'New SME Bundles')"></app-xtravaluetabs >
      </div>
      <div class="row">
         <div class="col-md-6 col-sm-12" *ngFor="let data of elementGBSMEPeriodicity;let i = index">
            <app-internalcards [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price"  (click)='changeStatus(data,i)'></app-internalcards>         
     </div>
     </div>
  
  
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <!-- <p class="rcgtxt regularfont">Please enter MTN number below to recharge</p> -->
         <div>
         <mat-radio-group class="fontsize mediumfont">
           <div>
             <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="1">Self</mat-radio-button>
           </div>
           <div>
             <mat-radio-button (click)="onslectradio(true)" value="2">Others</mat-radio-button>
           </div>
           </mat-radio-group> 
         </div>
         
         <form  [formGroup]='selfform'  class='card-content-pad' *ngIf="!_selectradi">
           <div class="row form-grp">
             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " style="padding:10px 10px 10px 0;">
               <app-input-floating formControlName='msisdn' placeholder='myMTN Number'  iconPosition='left' iconName='recharge'  value='1' type='text' maxlengthVal=13
                 [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
                 [(ngModel)] = "msisdnval" [errorMsg]="'Please enter a valid MTN number.'" required
                    (keypress)="numberOnly($event)" disabled=true></app-input-floating>
		    <a ><b style=" color:#d50000;">{{errorMsg}}</b></a>
             </div>
           
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 abb">
                 <app-mainbutton label='Proceed' [disabled]="!bottoncolr" (click)="buyprocce()" size='full' ></app-mainbutton>
              </div>
           </div>
          </form>
         
         <form  [formGroup]='othersform'  class='card-content-pad' *ngIf="_selectradi">
            <div  class="row form-grp">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " style="padding:10px 10px 10px 0;">
                  <p class="rcgtxt regularfont">Please enter MTN number below to recharge</p>
                <app-input-floating formControlName='msisdn1' placeholder='Enter MTN Number' iconPosition='left' iconName='recharge' value='2' type='text' required maxlengthVal=13
                  [valid]="((othersform.get('msisdn1').hasError('required') || othersform.get('msisdn1').hasError('minlength')))"
                  [(ngModel)] = "msisdnother" [errorMsg]="'Please enter a valid MTN number.'" required
                     (keypress)="numberOnly($event)"></app-input-floating> 
		     <a ><b style=" color:#d50000;">{{errorMsg}}</b></a>
            </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 abb">
               <app-mainbutton label='Proceed' [disabled]="othersform.invalid || !otherValid"  (click)="buyprocce()"  size='full' ></app-mainbutton>
            </div>
           </div>
       
           </form>
  
         </div>      
     </div>
     <!--Hynet Capped Plan End-->
  
  
  
  
  
      <!--Hynet Unlimited Plan-->
  
     <div class="row facebok xtradata xtradetails mediumfont">
            <div class="xtradata-ttl" (click)="Unlimited()">Unlimited Plans</div>
              <div class="circle" id="circledata"  [ngClass]='{"active" :unlimited}' (click)="Unlimited()"><i
                  class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !unlimited}' aria-hidden="true"></i>
         </div>
          </div>
  
  
  
     <div  *ngIf='unlimited'>
          <div class="row col-12" *ngIf='isDataLoaded'>
        
             <app-xtravaluetabs  class='tab-width' [faq_tab_header_Elements]='elementValUn' (selected_tab)="onLoadDataUnlimited($event,'New SME Bundles')"></app-xtravaluetabs >
          </div>
          <div class="row">
             <div class="col-md-6 col-sm-12" *ngFor="let data of elementGBSMEPeriodicity;let i = index">
        
               <app-internalcards [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price" (click)='changeStatus(data,i)'></app-internalcards>
        
         </div>
       </div>
  
  
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p class="rcgtxt regularfont">please enter MTN number below to recharge</p>
          <div>
          <mat-radio-group class="fontsize mediumfont">
            <div>
              <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="1">Self</mat-radio-button>
            </div>
            <div>
              <mat-radio-button (click)="onslectradio(true)" value="2">Others</mat-radio-button>
            </div>
            </mat-radio-group> 
          </div>
          
          <form  [formGroup]='selfform'  class='card-content-pad' *ngIf="!_selectradi">
            <div class="row form-grp" *ngIf="!selctradio">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " style="padding:10px 10px 10px 0;">
                <app-input-floating formControlName='msisdn' placeholder='myMTN Number' iconPosition='left' iconName='recharge' value='1' type='text' required maxlengthVal=13
                  [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
                  [(ngModel)] = "msisdnval" [errorMsg]="'Please enter a valid MTN number'" required
                     (keypress)="numberOnly($event)" disabled=true></app-input-floating> <a ><b style=" color:#d50000;">{{errorMsg}}</b></a>
              </div>
            
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 abb">
                  <app-mainbutton label='Proceed' [disabled]="!bottoncolr" (click)="buyprocce()" size='full' ></app-mainbutton>
               </div>
            </div>
           </form>
          
          <form  [formGroup]='othersform'  class='card-content-pad' *ngIf="_selectradi">
            <div  class="row form-grp">
             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " style="padding:10px 10px 10px 0;">
                 <app-input-floating formControlName='msisdn1' placeholder='Enter MTN Number' iconPosition='left' iconName='recharge' value='2' type='text' required maxlengthVal=13
                   [valid]="((othersform.get('msisdn1').hasError('required') || othersform.get('msisdn1').hasError('minlength')))"
                   [(ngModel)] = "msisdnother" [errorMsg]="'Please enter a valid MTN number'" required
                      (keypress)="numberOnly($event)"></app-input-floating> <a ><b style="color:#d50000;">{{errorMsg}}</b></a>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 abb">
               <app-mainbutton label='Proceed' [disabled]="othersform.invalid || !otherValid"  (click)="buyprocce()"  size='full' ></app-mainbutton>
            </div>
           </div>
       
           </form>
  
          
          </div>
   </div> 
  </div>
  <div *ngIf='!paymentuipagemigerate'>
      <app-buybundlespayment [masisdnpayment]="msisdnval"> </app-buybundlespayment>
    </div>
  
  <!--Hynet Unlimited Plan  End-->
