.xtraplans{
    padding:0%;
    margin:0%;
    width:100%;
}
.rcgtxt{
font-size: 14px;
margin-top:10px;
margin-bottom:10px;
}
.fontsize{
font-size:14px;
}
h4{
    margin-top: 3%;
    margin-bottom: 2%;
}
.tabmargin{ margin: 2% 0;}
.butnmarg {padding-top: 15px;}
.xtradata{margin-bottom: 2%; width:100%; margin-top: 20px; display: flex;}
.xtradata-ttl{ font-size: 28px; width: 340px;}
.circle{  width: 40px; height: 40px;
    padding: 3px 3px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid #ffcc00;
    transition: all .5s ease; 
     text-align: center;
 cursor: pointer;
    flex-shrink: 0;
}
.xtratalk{
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        margin-left: 0%;
        margin-bottom: 2%;
        margin-top: 2%;
        }
        
    .arrow:true{
        background-color: #ffcc00;
    }
    
.active{
    background-color: #ffcc00;
}
    .mat-radio-button p{
        margin-bottom: 0;
      }

.tab-width{
    width:100%;
    margin-bottom: 3%;
}

      .otpbelow.radiomargin{
        display: block;
      }
      .mat-radio-container .mat-radio-outer-circle{margin-top: 0;}
      .form-wrapper,
      .radiomargin {
        padding: 0;
      }


.flex{
    display: flex;
    // flex-direction: row;
    // flex-direction: row-reverse;
}



.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
    }
    :host /deep/.mat-radio-outer-circle {
    border: solid 2px rgb(8, 8, 8) !important;
    }
    :host /deep/.mat-radio-inner-circle {
    background-color: rgb(8, 8, 8) !important;
    margin-top: 0%;
    }

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #000 !important;
}
[class^="mat-radio-inner-circle"]{
    background-color: #000 !important;
}

@media only screen and (max-width:768px){
     h4{ margin-bottom:7%;}
    }

    @media only screen and (max-width:640px){
        .butnmarg {padding: 0px 10px 0 0;}
        }
@media only screen and (max-width:460px){
        .xtradata-ttl{ width: 240px; font-size: 24px;}
       }     