<div *ngIf='showLoader' class="row"> 
        <app-slimloader></app-slimloader>

  </div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="formhide" style="padding:0;">
    <p class="regularfont">Please enter recharge card code</p>
    <form  [formGroup]='recharge_status'  class='card-content-pad' (ngSubmit)='getRechargeDetails(recharge_status)'>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
           <app-input-floating formControlName='voucher' placeholder='Enter code'  value='voucher' type='text' required maxlengthVal=17
             [valid]="((recharge_status.get('voucher').hasError('required') || recharge_status.get('voucher').hasError('minlength')))"
                [errorMsg]="'Please enter valid code.'" (keypress)="numberOnly($event)" required></app-input-floating> 
<a ><b style=" color:#be1e50;">{{errorMsg}}</b></a>
        </div>
      
         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
            <app-mainbutton label='Proceed' size='full' [disabled]="recharge_status.invalid"></app-mainbutton>
         </div>
      </div>
     </form>
    </div>


<!--Success Message-->

     <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 failmar"> -->
      <div *ngIf="hideee">         
         <!-- <div class="row ">
             <div class="col-xl-0 col-lg-0 col-md-0 col-sm-0 fail"></div> 
               <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 failed">valid!</div>                                                    
          </div>        
             <div class="row errmar">                
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 errmsg">{{message}}</div>                                                           
            </div>                        -->
            <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
             <app-success Message={{message}}></app-success>
             </div>
           </div>

             <div class="row">
               <div class="col-xl-4 col-xs-12 col-lg-4 col-md-4 col-sm-12 ">
                <app-buttonnew size='full' label='Load another Recharge Card' (click)="loadtopup()"></app-buttonnew>
             </div>
             </div>          
       </div>            
   <!-- </div> -->




  <!--Failure Message-->
  
     <div *ngIf="failure">         
        <!-- <div class="row mobfail">
            <div class="col-xl-0 col-lg-0 col-md-0 col-sm-0 fail"></div> 
              <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 failed">Invalid!</div>                                                    
         </div>        
            <div class="row errmar">                
           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 errmsg">{{message}}</div>                                                          
           </div>                        -->
           <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <app-failure Message={{message}}></app-failure>
          </div>
        </div>
            <div class="row">
            <div class="col-xl-4 col-xs-12 col-lg-4 col-md-4 col-sm-12 ">
               <app-buttonnew size='full' (click)="loadtopup()" label='Load another Recharge Card'></app-buttonnew>
            </div>
            </div>          
      </div>            

    
    
          
           
        
    
    
    
    
    
    
      
      
    
