 <!--<div style="float:left; width:560px;">
              <h6>Plan</h6>
           </div>

           <div>
                 <h6>Autorenewal</h6>
              </div>-->
			     <span class="mediumfont mediumfont_plan">Plan</span>
              <span class="aoto mediumfont mediumfont_plan">Autorenewal</span>
     <table class="table table-striped">
       <tbody>
          <tr *ngFor=" let data of ProductNames;let idx=index;">
            <td  class="regularfont">
                 <p style="font-size:14px;"><b>{{data.ProductName}}</b></p>
         <p style="font-size:10px;margin-top: -16px">Expires On {{data.ExpiryDate}}</p>
         <p style="font-size:10px;margin-top: -16px">Validity {{data.Validity}} {{data.ValidityUnit}}</p> 
            </td>
            <p>{{erromessage}}</p>
            <td class="regularfont right">
              <app-slidetoggle   [toggleStatus]='ProductNames[idx].AutoRenewal' (click)="sub.emit(idx)"></app-slidetoggle>
           </td>
          </tr>
          <tr>
            <!-- <td>{{ProductNames}}</td> -->
          </tr>
           </tbody>
      </table>

  <!-- <p>{{erromessage}}</p> -->