








//sai input

@import './config/config';

input {
  width:100%;
  background-color: transparent;
  border: 0px;
  line-height:40px;
  font-size: $input-hint-font;
  font-weight: 200;
  padding:1px 0px 1px 28px;
}
// .input-wrapper-error{
//   // color: $input-border-error;
// }
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
*:focus{
  outline: none;
}
.btn-append{
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  font-size: $input-hint-font;
  font-weight: 300;
}
.input-wrapper{
  padding: 0px 0px !important;
  background-color: $input-background;
  border: 1px solid $input-border-default;
  // border-radius: 4px;
}
.wrapper-focus{
  border: 1px solid $input-border-focus;
}
.wrapper-blur {
  border: 1px solid $input-border-default;
}
.wrapper-error {
  border: 1px solid $input-border-error;
}
.wrapper-filled{
  border: 1px solid $input-border-filled;
}
.wrapper-disable{
  pointer-events: none;
  background-color: $input-disabled;
  border: 1px solid $input-disabled;
}
.comp-margin{
  margin-left:5px;
}
.error-msg{
  font-size: $info-font-size-small;
  color: $input-border-error;
  font-weight: $font-thin;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7F7F7F;
  font-size: $input-hint-font;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #7F7F7F;
  font-size: $input-hint-font;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #7F7F7F;
  font-size: $input-hint-font;
}
:-moz-placeholder { /* Firefox 18- */
  color: #7F7F7F;
  font-size: $input-hint-font;
}
.r-text-div{
  background-color: $primary;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  ::-ms-clear {
    width: 0px;
    height: 0px;
 }
 .btn-append {
   margin-top: 7px !important;
 }
}







// @import './config/config';

// input {
//   background-color: transparent;
//   border: 0px;
//   line-height: 38px;
//   font-size: $input-hint-font;
//   font-weight: 300;
//   padding:0px 0px 0px 10px;
// }
// input[type=number]::-webkit-outer-spin-button,
// input[type=number]::-webkit-inner-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
// }

// input[type=number] {
//     -moz-appearance:textfield;
// }
// *:focus{
//   outline: none;
// }
// .btn-append{
//   background-color: transparent;
//   border: transparent;
//   cursor: pointer;
//   font-size: $input-hint-font;
//   font-weight: 300;
// }
// .input-wrapper{
//   padding: 0px 0px !important;
//   background-color: $input-background;
//   border: 1px solid $input-border-default;
//   border-radius: 4px;
// }
// .wrapper-focus{
//   border: 1px solid $input-border-focus;
// }
// .wrapper-blur {
//   border: 1px solid $input-border-default;
// }
// .wrapper-error {
//    border: 1px solid $input-border-error;
//   //border: 1px solid $input-border-focus;
// }
// .wrapper-filled{
//   // border: 1px solid $input-border-filled;
//   border: 1px solid $input-border-focus;
// }
// .wrapper-disable{
//   pointer-events: none;
//   background-color: $input-disabled;
//   border: 1px solid $input-disabled;
// }
// i.label-error{
//   color:#d12f63 !important;
//   padding-right:5px;
// }
// .comp-margin{
//   font-weight: 200;
//   color: red;
//   margin-top:10px;
// }

// .wrapper-blur > .floating-label {  
//   display: none;  
// }

// .wrapper-filled > .floating-label,
// .wrapper-error > .floating-label,
// .wrapper-focus > .floating-label{
// 	// top: 2px;
// 	// left: 10px;
// 	font-size: 12px;
//   opacity: 1;
//   display: block;
//   padding:0px 0px 0px 10px;
//   background-color: $input-background-filled;
//   color: $help-text;
// }

// .wrapper-blur > .input-box-field {  
//   padding:9px 0px 9px 10px;
//   font-style: italic;
//   background-color: $input-background;
// }

// .wrapper-filled > .input-box-field,
// .wrapper-error > .input-box-field,
// .wrapper-focus > .input-box-field{
//   padding:0px 0px 0px 10px;
//   font-style: normal;
//   background-color: $input-background-filled;
//   color: $content-text;
// }
// .input-wrapper .floating-label {  
//   display: none;
//   position: absolute;
// 	pointer-events: none;
// 	top: 18px;
// 	left: 10px;
//   transition: 0.2s ease all;  
// }

// .input-wrapper input:focus{  
//   background-color: $input-background-filled;
// }

// .input-wrapper input:focus ~ .floating-label,
// .input-wrapper input:not(:focus):valid ~ .floating-label{
// 	top: 0px;
// 	left: 10px;
// 	font-size: 13px;
//   opacity: 1;
//   display: block;
// }