<div *ngIf='showLoader' class="row"> 
  <app-slimloader></app-slimloader>
</div>
<div class="goodybag" *ngIf='paymentuipagemigerate'>
<div class="row facebok xtradetails mediumfont">
      <div class="xtradata-ttl" (click)="Whaatsapp()">Whatsapp </div>
        <div id="circledata" class="circle"  [ngClass]='{"active" : whatsup}' (click)="Whaatsapp()"><i
            class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !whatsup}' aria-hidden="true"></i>
   </div>
    </div>


   <div *ngIf='whatsup'>
    <div class="row col-12"  *ngIf='isDataLoaded'>
      
       <app-xtravaluetabs  class='tab-width' [faq_tab_header_Elements]='elementVal' (selected_tab)="onLoadData($event,'WhatsApp')"></app-xtravaluetabs >
    </div>
    <div class="row intercuard">
       <div class="col-md-6 col-sm-12" *ngFor="let data of elementGBFacebookPeriodicity;let i = index">
         
          <app-internalcards [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price"  (click)='changeStatus(data, i)'></app-internalcards> 
         
   </div>
   </div>


   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       <div>
       <mat-radio-group class="fontsize mediumfont">
         <div>
           <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="1">Self</mat-radio-button>
         </div>
         </mat-radio-group> 
       </div>
       
       <form  [formGroup]='selfform'  class='card-content-pad'>
         <div class="row form-grp">
           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " style="padding:10px 10px 10px 0;">
             <app-input-floating formControlName='msisdn' placeholder='myMTN Number' iconPosition='left' iconName='recharge' value='1' type='text' required maxlengthVal=11
               [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
               [(ngModel)] = "msisdnval" [errorMsg]="'Please enter a valid MTN number'" required
                  (keypress)="numberOnly($event)"  disabled='true'></app-input-floating><a *ngIf="errorMsg"><b style=" color:#d50000;">{{errorMsg}}</b></a>
           </div>
         
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 abb" >
               <app-mainbutton  label='Proceed' [disabled]="!bottoncolr" (click)="buyprocce()"  size='full' ></app-mainbutton>
            </div>
         </div>
        </form>
       
        
       
       </div>

       
   </div>
   



   
   <div class="row facebok xtradetails mediumfont">
          <div  class="xtradata-ttl" (click)="Facebook()">Facebook</div>
            <div  class="circle"  [ngClass]='{"active" : facebook}' (click)="Facebook()"><i
                class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !facebook}' aria-hidden="true"></i>
       </div>
        </div>

   <div  *ngIf='facebook'>
        <div class="row col-12" *ngIf='isDataLoaded'>
      
           <app-xtravaluetabs  class='tab-width' [faq_tab_header_Elements]='elementVal' (selected_tab)="onLoadData($event,'FaceBook')"></app-xtravaluetabs >
        </div>
        <div class="row intercuard">
           <div class="col-md-6 col-sm-12" *ngFor="let data of elementGBFacebookPeriodicity;let i = index">
      
             <app-internalcards [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price" (click)='changeStatus(data, i)'></app-internalcards>
      
       </div>
     </div>


     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div>
        <mat-radio-group class="fontsize mediumfont">
          <div>
            <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="1">Self</mat-radio-button>
          </div>
          
          </mat-radio-group> 
        </div>
        
        <form  [formGroup]='selfform'  class='card-content-pad'>
          <div class="row form-grp" *ngIf="!selctradio">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " style="padding:10px 10px 10px 0px;">
              <app-input-floating formControlName='msisdn' placeholder='myMTN Number' iconPosition='left' iconName='recharge'  value='1' type='text' required maxlengthVal=11
                [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
                [(ngModel)] = "msisdnval" [errorMsg]="'Please enter a valid MTN number'" required
                   (keypress)="numberOnly($event)" disabled='true'></app-input-floating><a *ngIf="errorMsg"><b style=" color:#d50000;">{{errorMsg}}</b></a>
            </div>
          
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 abb">
                <app-mainbutton label='Proceed' [disabled]="!bottoncolr" (click)="buyprocce()" size='full' ></app-mainbutton>
             </div>
          </div>
         </form>
        
         
        
        </div>


 </div> 





 
 <div class="row facebok xtradetails mediumfont">
        <div class="xtradata-ttl" (click)="Instagramm()">Instagram</div>
          <div  class="circle"  [ngClass]='{"active" : instagram}' (click)="Instagramm()"><i
              class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !instagram}' aria-hidden="true"></i>
            </div>
     </div>

 <div  *ngIf='instagram'>
      <div class="row col-12" *ngIf='isDataLoaded'>
    
         <app-xtravaluetabs  class='tab-width' [faq_tab_header_Elements]='elementVal' (selected_tab)="onLoadData($event,'Instagram')"></app-xtravaluetabs >
      </div>
      <div class="row intercuard">
         <div class="col-md-6 col-sm-12" *ngFor="let data of elementGBFacebookPeriodicity;let i = index">
    
           <app-internalcards [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price" (click)='changeStatus(data, i)'></app-internalcards>
    
     </div>
   </div>


   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div>
      <mat-radio-group class="fontsize mediumfont">
        <div>
          <mat-radio-button [checked]="true"  (click)="onslectradio(false)" value="1">Self</mat-radio-button>
        </div>
       
        </mat-radio-group> 
      </div>
      
      <form  [formGroup]='selfform'  class='card-content-pad'>
        <div class="row form-grp" *ngIf="!selctradio">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " style="padding-left:0px;padding-top: 10px">
            <app-input-floating formControlName='msisdn' placeholder='myMTN Number' iconPosition='left' iconName='recharge'  value='1' type='text' required maxlengthVal=11
              [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
              [(ngModel)] = "msisdnval" [errorMsg]="'Please enter a valid MTN number'" required
                 (keypress)="numberOnly($event)" disabled='true'></app-input-floating><a *ngIf="errorMsg"><b style=" color:#d50000;">{{errorMsg}}</b></a>
          </div>
        
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 abb">
              <app-mainbutton label='Proceed' [disabled]="!bottoncolr" (click)="buyprocce()" size='full' ></app-mainbutton>
           </div>
        </div>
       </form>
      
       
      </div>


</div> 


<div class="row facebok xtradetails mediumfont">
        <div class="xtradata-ttl" (click)="TwoGo()">2go</div>
          <div  class="circle"  [ngClass]='{"active" : twogo}' (click)="TwoGo()"><i
              class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !twogo}' aria-hidden="true"></i>
            </div>
     </div>
 <div  *ngIf='twogo'>
      <div class="row col-12" *ngIf='isDataLoaded'>
    
         <app-xtravaluetabs  class='tab-width' [faq_tab_header_Elements]='elementVal' (selected_tab)="onLoadData($event,'2Go')"></app-xtravaluetabs >
      </div>
      <div class="row intercuard">
         <div class="col-md-6 col-sm-12" *ngFor="let data of elementGBFacebookPeriodicity;let i = index">
    
           <app-internalcards [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price" (click)='changeStatus(data, i)'></app-internalcards>
    
     </div>
   </div>


   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div>
      <mat-radio-group class="fontsize mediumfont">
        <div>
          <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="1">Self</mat-radio-button>
        </div>
       
        </mat-radio-group> 
      </div>
      
      <form  [formGroup]='selfform'  class='card-content-pad'>
        <div class="row form-grp" *ngIf="!selctradio">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " style="padding:10px 10px 10px 0;">
            <app-input-floating formControlName='msisdn' placeholder='myMTN Number' iconPosition='left' iconName='recharge' value='1' type='text' required maxlengthVal=11
              [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
              [(ngModel)] = "msisdnval" [errorMsg]="'Please enter a valid MTN number'" required
                 (keypress)="numberOnly($event)" disabled='true'></app-input-floating><a *ngIf="errorMsg"><b style=" color:#d50000;">{{errorMsg}}</b></a>
          </div>
        
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 abb">
              <app-mainbutton label='Proceed' [disabled]="!bottoncolr" (click)="buyprocce()" size='full' ></app-mainbutton>
           </div>
        </div>
       </form>
      
       
      
      </div>


</div> 




<div class="row facebok xtradetails mediumfont">
        <div class="xtradata-ttl" (click)="Wechatt()">WeChat</div>
          <div  class="circle"  [ngClass]='{"active" : wechat}' (click)="Wechatt()"><i
              class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !wechat}' aria-hidden="true"></i>
            </div>
     </div>
 <div  *ngIf='wechat'>
      <div class="row col-12" *ngIf='isDataLoaded'>
    
         <app-xtravaluetabs  class='tab-width' [faq_tab_header_Elements]='elementVal' (selected_tab)="onLoadData($event,'WeChat')"></app-xtravaluetabs >
      </div>
      <div class="row intercuard">
         <div class="col-md-6 col-sm-12" *ngFor="let data of elementGBFacebookPeriodicity;let i = index">
    
           <app-internalcards [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price" (click)='changeStatus(data, i)'></app-internalcards>
    
     </div>
   </div>


   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div>
      <mat-radio-group class="fontsize mediumfont">
        <div>
          <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="1">Self</mat-radio-button>
        </div>
       
        </mat-radio-group> 
      </div>
      
      <form  [formGroup]='selfform'  class='card-content-pad'>
        <div class="row form-grp" *ngIf="!selctradio">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " style="padding:10px 10px 10px 0;">
            <app-input-floating formControlName='msisdn' placeholder='myMTN Number' iconPosition='left' iconName='recharge' value='1' type='text' required maxlengthVal=11
              [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
              [(ngModel)] = "msisdnval" [errorMsg]="'Please enter a valid MTN number'" required
                 (keypress)="numberOnly($event)" disabled='true'></app-input-floating><a *ngIf="errorMsg"><b style=" color:#d50000;">{{errorMsg}}</b></a>
          </div>
        
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 abb">
              <app-mainbutton label='Proceed' [disabled]="!bottoncolr" (click)="buyprocce()" size='full' ></app-mainbutton>
           </div>
        </div>
       </form>
      
       
      
      </div>


</div> 


<div class="row facebok xtradetails mediumfont">
        <div class="xtradata-ttl" (click)="Eskimii()">Eskimi</div>
          <div  class="circle"  [ngClass]='{"active" : eskimi}' (click)="Eskimii()"><i
              class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !eskimi}' aria-hidden="true"></i>
            </div>
     </div>

 <div  *ngIf='eskimi'>
      <div class="row col-12" *ngIf='isDataLoaded'>
    
         <app-xtravaluetabs  class='tab-width' [faq_tab_header_Elements]='elementVal' (selected_tab)="onLoadData($event,'Eskimi')"></app-xtravaluetabs >
      </div>
      <div class="row intercuard">
         <div class="col-md-6 col-sm-12" *ngFor="let data of elementGBFacebookPeriodicity;let i = index">
    
           <app-internalcards [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price" (click)='changeStatus(data, i)'></app-internalcards>
    
     </div>
   </div>


   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div>
      <mat-radio-group class="fontsize mediumfont">
        <div>
          <mat-radio-button [checked]="true"  (click)="onslectradio(false)" value="1">Self</mat-radio-button>
        </div>
       
        </mat-radio-group> 
      </div>
      
      <form  [formGroup]='selfform'  class='card-content-pad'>
        <div class="row form-grp" *ngIf="!selctradio">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " style="padding:10px 10px 10px 0;">
            <app-input-floating formControlName='msisdn' placeholder='myMTN Number' iconPosition='left' iconName='recharge'  value='1' type='text' required maxlengthVal=11
              [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
              [(ngModel)] = "msisdnval" [errorMsg]="'Please enter a valid MTN number'" required
                 (keypress)="numberOnly($event)" disabled='true'></app-input-floating><a *ngIf="errorMsg"><b style=" color:#d50000;">{{errorMsg}}</b></a>
          </div>
        
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 abb">
              <app-mainbutton label='Proceed' [disabled]="!bottoncolr" (click)="buyprocce()" size='full' ></app-mainbutton>
           </div>
        </div>
       </form>
      
       
      
      </div>


</div>









<div class="row facebok xtradetails mediumfont">
    <div class="xtradata-ttl" (click)="Nimbuzzz()">Youtube and Instagram</div>
      <div  class="circle"  [ngClass]='{"active" : nimbuzz}' (click)="Nimbuzzz()"><i class="fa fa-chevron-up"
        [ngClass]='{"fa-chevron-down" : !nimbuzz}' aria-hidden="true"></i>
 </div>
  </div>

<div  *ngIf='nimbuzz'>
  <div class="row col-12" *ngIf='isDataLoaded'>

     <app-xtravaluetabs  class='tab-width' [faq_tab_header_Elements]='elementVal' (selected_tab)="onLoadData($event,'YOUTUBE AND INSTAGRAM')"></app-xtravaluetabs >
  </div>
  <div class="row intercuard">
     <div class="col-md-6 col-sm-12" *ngFor="let data of elementGBFacebookPeriodicity;let i = index">

       <app-internalcards [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price" (click)='changeStatus(data, i)'></app-internalcards>

 </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div>
  <mat-radio-group class="fontsize mediumfont">
    <div>
      <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="1">Self</mat-radio-button>
    </div>  
    </mat-radio-group> 
  </div>
  <form  [formGroup]='selfform'  class='card-content-pad'>
    <div class="row form-grp" *ngIf="!selctradio">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " style="padding:10px 10px 10px 0;">
        <app-input-floating formControlName='msisdn' placeholder='myMTN Number' iconPosition='left' iconName='recharge' value='1' type='text' required maxlengthVal=11
          [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
          [(ngModel)] = "msisdnval" [errorMsg]="'Please enter a valid MTN number'" required
             (keypress)="numberOnly($event)" disabled='true'></app-input-floating><a *ngIf="errorMsg"><b style=" color:#d50000;">{{errorMsg}}</b></a>
      </div>
    
       <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 abb">
          <app-mainbutton label='Proceed' [disabled]="!bottoncolr" (click)="buyprocce()" size='full' ></app-mainbutton>
       </div>
    </div>
   </form>
  </div>
</div> 


<div class="row facebok xtradetails mediumfont">
    <div class="xtradata-ttl" (click)="SocialMediaa()">Social Bundle</div>
      <div  class="circle"  [ngClass]='{"active" : socialmedia}' (click)="SocialMediaa()"><i
        class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !socialmedia}' aria-hidden="true"></i>
 </div>
  </div>

<div  *ngIf='socialmedia'>
  <div class="row col-12" *ngIf='isDataLoaded'>

     <app-xtravaluetabs  class='tab-width' [faq_tab_header_Elements]='elementVal' (selected_tab)="onLoadData($event,'Social Bundle')"></app-xtravaluetabs >
  </div>
  <div class="row intercuard">
     <div class="col-md-6 col-sm-12" *ngFor="let data of elementGBFacebookPeriodicity;let i = index">

       <app-internalcards [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price" (click)='changeStatus(data, i)'></app-internalcards>

 </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div>
  <mat-radio-group class="fontsize mediumfont">
    <div>
      <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="1">Self</mat-radio-button>
    </div>  
    </mat-radio-group> 
  </div>
  <form  [formGroup]='selfform'  class='card-content-pad'>
    <div class="row form-grp" *ngIf="!selctradio">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " style="padding: 10px 10px 10px 0;">
        <app-input-floating formControlName='msisdn' placeholder='myMTN Number' iconPosition='left' iconName='recharge'  value='1' type='text' required maxlengthVal=11
          [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
          [(ngModel)] = "msisdnval" [errorMsg]="'Please enter a valid MTN number'" required
             (keypress)="numberOnly($event)" disabled='true'></app-input-floating> <a *ngIf="errorMsg"><b style=" color:#d50000;">{{errorMsg}}</b></a>
      </div>
    
       <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 abb">
          <app-mainbutton label='Proceed' [disabled]="!bottoncolr" (click)="buyprocce()" size='full' ></app-mainbutton>
       </div>
    </div>
   </form>
  </div>
</div> 



</div>

<div *ngIf='!paymentuipagemigerate'>
    <app-buybundlespayment [masisdnpayment] ="msisdnval" > </app-buybundlespayment>
</div>
