<div *ngIf='showLoader' class="row"> 
  <app-slimloader></app-slimloader>

</div>
<div class="xtraplans"  *ngIf='paymentuipagemigerate'  >
   
  <div class="tabwidth"  *ngIf='isDataLoaded'>
  <app-tabsnormal  class='tab-width' [faq_tab_header_Elements]='elementVal' (selected_tab)="onLoadData($event)"></app-tabsnormal >
  </div>
       
     
      <div class="row intercuard">
         
               <div class="col-md-6 col-sm-12" *ngFor="let data of periodicityData;let i=index">
               <app-internalcards [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price" (click)='changeStatus(data,i)'></app-internalcards> 

         
         </div>
         
      </div>
  
 

       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="rcgtxt regularfont">Please enter MTN number below to recharge</p>
            <div>
            <mat-radio-group class="fontsize mediumfont">
              <div>
                <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="false">Self</mat-radio-button>
                <!-- <input type="button"  [checked]="true" value="Self" id='active' class='self' (click)="onselect_tab(false)" > -->
              </div>
                <div *ngIf="radiotherhide">
                <mat-radio-button (click)="onslectradio(true)" value="true">Others</mat-radio-button>
              </div> 
              </mat-radio-group> 
            </div>
            
            <form  [formGroup]='selfform'  class='card-content-pad' *ngIf="!_selectradi">
              <div class="row form-grp" >
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " style="padding:10px 10px 10px 0;">
                  <app-input-floating formControlName='msisdn' value='1' placeholder='myMTN Number'  iconPosition='left'
                        iconName='recharge'    type='text' required maxlengthVal=13
                    [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
                       [errorMsg]="'Please enter a valid MTN number.'" required
                       [(ngModel)] = "msisdnval"  (keypress)="numberOnlyself($event)" disabled='true'></app-input-floating> 
		       <a ><b style=" color:#d50000;">{{errorMsg}}</b></a>
                </div>
              
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 butnmarg ">
                    <app-mainbutton (click)="buyprocce()"  [disabled]="!bottoncolr"  label='Proceed' size='full' ></app-mainbutton>
                 </div>
              </div>
             </form>
            
             <form  [formGroup]='othersform'  class='card-content-pad' *ngIf="_selectradi">
              <div  class="row" >
                
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " style="padding:10px 10px 10px 0;">
                   <app-input-floating formControlName='msisdnother' placeholder='Enter MTN Number' iconPosition='left'
                        iconName='recharge'   value='2' type='text' required maxlengthVal=13
                     [valid]="((othersform.get('msisdnother').hasError('required') || othersform.get('msisdnother').hasError('minlength')))"
                         [errorMsg]="'Please enter a valid MTN number.'" required   [(ngModel)]="msisdnother" (keypress)="numberOnlyself($event)" 
                        ></app-input-floating> <a ><b style=" color:#d50000;">{{errorMsg}}</b></a>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 butnmarg abb">
             
                 <app-mainbutton (click)="buyprocce()" [disabled]="othersform.invalid || !otherValid" label='Proceed' size='full' ></app-mainbutton>
              </div>
             </div>
         
             </form> 
            
            </div>

  </div>
  
  
