div.scrollmenu {
    background-color: #f2f2f2;
    border-radius: 50px;
    padding: 5px;
    display: inline-block; 
  }
    
  

  .menu {
    display: inline-block;
    border-radius: 50px;
    /* margin-left: 1%; */
     text-align: center;
    text-decoration: none;
    font-size:14px;
    padding: 8px 25px; 
    //background-color: #fff;
    cursor: pointer;
    // min-width: 20%;
}

  
  div.scrollmenu .menu:hover {
    background-color:#ffcc00;
    color: black;
  }
  .highlighted_bg {
// width: 10px !important
    background-color: #ffcc00 !important;
  }
  @media only screen and (max-width:1024px){
    div.scrollmenu{    
      padding: 5px;
      white-space: nowrap;
    }
  
  }
 
  @media only screen and (max-width:768px){
    div.scrollmenu{
      padding: 5px;
      white-space: nowrap;
      overflow-x: scroll; }
  }
  @media only screen and (max-width:640px){
    div.scrollmenu{ width:110%;}
  }