
  <div class="scrollmenu">
    <div *ngFor="let faq_tab_header_El of faq_tab_header_Elements" class="menu mediumfont" 
    (click)="onLoadQA(faq_tab_header_El)"  [ngClass]="{highlighted_bg : active_nav === faq_tab_header_El }">
      <div > {{faq_tab_header_El}}</div>
    </div>
  </div>

