<div *ngIf='showLoader' class="row"> 
        <app-slimloader></app-slimloader>
  </div>

  <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
<form  [formGroup]='send_airtime' class='card-content-pad'(ngSubmit)='sendairtime()'>
 
 <div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="regularfont">Enter Airtime amount you want to share</p>
      </div>
   </div>

   <div class="row">
         <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 input_field_main">
       <app-input-floating formControlName='amount' placeholder='Enter amount' iconPosition='right' iconName='info' value='' type='text' required maxlengthVal=6
                  [valid]="((send_airtime.get('amount').hasError('required') || send_airtime.get('amount').hasError('minlength')))"
                     [errorMsg]="'Please check that amount is correct'" required
                       (keypress)="amount($event)" (tooltip)="functionName()"></app-input-floating>
    
 <div  id="tooltipMain"*ngIf="isShow">
            <p class="tool regularfont">-Minimum amount of NGN 50 <br>
               -Maximum amount of NGN 5,000.00 on each transaction<br>
               -NGN 10,000.00 only allowed<br>
               -Kobo not allowed</p>
         </div> 

        </div>
        </div>
          
         <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <p class="regularfont">Please enter pin</p>
               </div>
            </div>

            <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
         <app-input-floating formControlName='pin' placeholder='Enter PIN' iconPosition='right' iconName='info' value='' type='password' required maxlengthVal=4
                  [valid]="((send_airtime.get('pin').hasError('required') || send_airtime.get('pin').hasError('minlength')))"
                     [errorMsg]="'Please check the pin is correct.'" required
                       (keypress)="voucher($event)"></app-input-floating>
                      
        </div>
        </div>
    
    
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
             <p class="regularfont">Enter a valid MTN number below to share Airtime</p>
            </div>
         </div>

         <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
             <app-input-floating formControlName='msisdn' placeholder='Enter MTN Number'  iconPosition='left' iconName='recharge'  value='' type='text' required maxlengthVal=13
                  [valid]="((send_airtime.get('msisdn').hasError('required') || send_airtime.get('msisdn').hasError('minlength')))"
                     [errorMsg]="'Please enter a valid MTN number.'" required
                       (keypress)="msisdn($event)"></app-input-floating>
                       <!-- <br><a ><b style=" color:#be1e50;">{{errorMsg}}</b></a> -->
         </div>
       
         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
             <app-mainbutton label='Proceed' size='full' [disabled]="send_airtime.invalid" (click)="abc()"></app-mainbutton>
           
          </div>
      </div>

      <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p class="regularfont" style="color: #707070;font-size: 14px;">MTN cannot be held responsible for numbers entered incorrectly.  Please double check the cell number you've chosen before recharging. </p>
        </div>
        </div>

  
    </form>
    </div>
    </div>
    
    
