.rcgd{
    margin-bottom: 10px;
    margin-left: 18px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
    color:#000000;
}

.rcgmarg{
margin-top:12px;
}

.abb{
margin-top:40px;
}
[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
    border-bottom: 8px solid transparent;  /* left arrow slant */
	border-top: 8px solid transparent; /* right arrow slant */
	border-right: 8px solid #1a1a1a; 	
	position:absolute;
	top:30px;
	left:532px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:0px;
	//bottom: 12px;
	left:539px;
	padding:5px 8px;
	background:#1a1a1a;
	color:#fff;
	z-index:9;
	font-size: 0.75em;
	height:80px;
	width:210px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:break-word;
    //word-wrap:break-word;
   
}
// [data-tip]:before,
// [data-tip]:after {
// 	display:block;
// }

#tooltipMain.hide-class{
	display: none;
}
.input_field_main{
	position: relative;
}
.input_field_main{
	#tooltipMain{
		position: absolute;
    width: 40%;
    top: 10px;
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 10px 10px;
	right: -200px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:break-word;
    //word-wrap:break-word;
	}
} 
.input_field_main{
	#tooltipMain{
		.tool{margin:0;
			position: relative;
			font-style:italic;
			line-height: 16px;
			&::before{
				content: "";
				position: absolute;
				width: 0px;
				height: 10px;
				border-style: solid;
				border-width: 13px 13px 13px 0;
				border-color: transparent #000 transparent transparent;
				display: inline-block;
				left: -22px;
				top: 25px;
				
				}
			}
	}
} 
// .input_field_pin{
// 	#tooltipMain{
// 		.tool_one{margin:0;
// 			position: relative;
// 			&::before{
// 				content: "";
// 				position: absolute;
// 				width: 0;
// 				height: 0;
// 				border-style: solid;
// 				border-width: 13px 13px 13px 0;
// 				border-color: transparent #000 transparent transparent;
// 				display: inline-block;
// 				left: -22px;
// 				top: 25px;
// 				}
// 			}
// 	}
// } 
.abcd{
    margin-left: 50px;
}
@media only screen and (max-width: 800px){

 .abb{
    margin-left:17px;
    margin-bottom: 10px;
    margin-top: 2px;
}

}
