.para{	font-size: 16px; line-height: 1.5;}
.plus{color: #ffcc00;  font-weight: bold; font-size: 18px; padding: 0 20px; margin: 0;}
.backbuttonss{ padding-top: 95px; margin-bottom: 2%; }
.faqbld{ font-size: 28px; line-height: 35px;margin:0 0 20px;	}
.mat-expanded .mat-expansion-panel-header-title {
	font-family: "MTNBrighterSans-Bold" !important;
  }
  .mat-expansion-panel {
	border-bottom: 2px solid #ddd;	
	border-radius: 0px;
  }
.mat-expansion-panel-header-description{
	flex-grow: 0;
  }
  .mat-expansion-panel-header{
	   padding:10px 0px ;
	   height: auto !important;
  }
  .mat-expansion-panel-body {
	padding:0px !important;
	margin-left: -24px;
        font-family:"MTNBrighterSans-Regular";
        font-size:12px;
  }

  .mat-expansion-panel-content {
	margin-left: -24px  !important;
  }
  .mat-expansion-panel:not([class*='mat-elevation-z']) {
	box-shadow: none;	
}

.exp_body{
	margin-top: 20px;
	margin-bottom: 100px;
}
.exp_bld{font-family:blod;}

.scrollmenu {
	height: 150px;
	margin-bottom: 10px;
}

.tiny-card {
	color: #111;
	background-color:#f2f2f2;
	text-align: left;
	text-decoration: none;
	cursor: pointer;
	color: #888;
	font-size: 14px;
	height: 115px;
	width: 115px;
	border: 1px solid transparent;
	border-radius: 15px;
	padding: 10px;
	margin-right: 15px;
}

.tiny-card:hover {  background-color: #d3d3d3; }
.imgicon{ margin-top:5px; margin-right: 10px; width: 35px; }
.tcard-txt{ padding-top: 5px; margin-left:0px; }

.highlighted_bg {
   position: relative;
   background-color: #ffcc00 !important;
   color:#000000!important;
   box-shadow: 0 15px 16px 0 rgba(0, 0, 0, 0.15) !important;
}

.highlighted_bg::after {
	content: '';
 position: absolute;
 left: 50px;
 bottom: -15px;
 width: 0;
 height: 0;
 border-left: 8px solid transparent;
 border-right: 8px solid transparent;
 border-top: 18px solid #ffcc00;
 clear: both;
}

@media only screen and (min-width: 769px){
	.scrollmenu {display:flex; padding-left: 10px;}
  .tiny-card {flex-shrink: 0;}
.backbuttonss{ padding-top: 25px; }
}

@media only screen and (max-width: 425px){
	.mat-expansion-panel-header{
		padding:7px 0px ;
		height: auto !important;
   }

}

/* enable Flickity by default */
.carousel:after {
    content: 'flickity';
    display: none; /* hide :after */
  }
  
   @media screen and ( min-width: 769px ) {
    /* disable Flickity for large devices */
    .carousel:after {
      content: '';
    }
  } 
