<div class="main_pages">
      <app-header [migrateMode]="header"></app-header>



<div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>


  <div class="main-cont">
      <p class="faqbld mediumfont">Legal</p>
  </div>
  <div class="main-cont-nomr">
    <div class="scrollmenu carousel carousel-crds">
       <a (click)="onLoadMdNav(faqsNavEl)" class="tiny-card carousel-cell"
              [ngClass]="{'highlighted_bg' : active_nav === faqsNavEl.id }" aria-selected='true'
              *ngFor="let faqsNavEl of faqsNavElements">
                         
              <img class="imgicon" [src]="faqsNavEl.source">
              <div class="tcard-txt mediumfont">
                <p>{{faqsNavEl.value}} {{faqsNavEl.value1}} </p>
            </div>
            </a>       
    </div>

  </div>
  <div class="main-cont">
   <!-- privacypolicy-->
   <div class="exp_body">
    <mat-accordion  *ngIf="active_nav === 'privacypolicy'" >

        <mat-expansion-panel  (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false" hideToggle="true">
          <mat-expansion-panel-header>
              <mat-panel-title class="para regularfont">MTN's enhancement to your privacy ?</mat-panel-title>
              
              <mat-panel-description>
                  <mat-icon *ngIf="!panelOpenState1"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                  <mat-icon *ngIf="panelOpenState1"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
              </mat-panel-description> 
          </mat-expansion-panel-header>
         <span class="para regularfont">
           MTN Proprietary Limited, Registration Number: 1993/001411/07 ('MTN') 
           respects the privacy of our customer's personal information that customers
           provide us with and should be protected through the use and interaction with
           the www.mtnonline.com website and all associated websites, mobile applications,
           products and services. We have prepared this MTN Customer Privacy Policy and notice 
           ("this policy") to notify you of what type of personal information we collect from 
           you and our customers and/or users, how we will treat that personal information,
           and the circumstances under which we will share it with third parties.
        </span>
        </mat-expansion-panel>
       
      
        <mat-expansion-panel  (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false" hideToggle="true">
          <mat-expansion-panel-header>
              
              <mat-panel-title class="para regularfont">Who is the customer ?</mat-panel-title>
              
              <mat-panel-description>
                  <mat-icon *ngIf="!panelOpenState2"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                  <mat-icon *ngIf="panelOpenState2"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
              </mat-panel-description> 
          </mat-expansion-panel-header>
          <span class="para regularfont">
             A customer is a person (individual or organisation) who enters into a contract with MTN
            or any MTN Affiliate for the receipt of Services or Products for its own use 
            (as part of an integrated solution provided by MTN or any MTN Affiliate). 
            Customers who act on behalf of an organisation may only use the MTN websites,
            mobile applications, products and services with authoritisation from the organisation.
            Customers who are natural persons may only be 18 years or older. If you are under 18
            years, you may only use the MTN websites, mobile applications, products and services
            with the involvement of a parent or guardian who has provided consent for you.
      </span>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState3 = true" (closed)="panelOpenState3 = false" hideToggle="true">
            <mat-expansion-panel-header>
                 
                <mat-panel-title class="para regularfont"> Who is the user ?</mat-panel-title>
              
                <mat-panel-description>
                    <mat-icon *ngIf="!panelOpenState3"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                    <mat-icon *ngIf="panelOpenState3"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                </mat-panel-description> 
            </mat-expansion-panel-header>
            <span class="para regularfont">
            A user is a person (individual or organisation)
             who uses the MTN websites, mobile applications, products and services.
        </span>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState4 = true" (closed)="panelOpenState4 = false" hideToggle="true">
              <mat-expansion-panel-header>
                  <mat-panel-title class="para regularfont">Consent from you</mat-panel-title>
                  <mat-panel-description>
                      <mat-icon *ngIf="!panelOpenState4"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                      <mat-icon *ngIf="panelOpenState4"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                  </mat-panel-description> 
              </mat-expansion-panel-header>
              <span class="para regularfont">
                MTN will not collect or process customer and/or user personal information without
                obtaining the customer and/or user's consent. Your consent is obtained in terms 
                of a legally binding agreement, which includes the applicable commercial terms and
                conditions, website and mobile applications terms and conditions. 
                (For example MTN subscriber agreements, pre-paid terms and conditions, 
                Master services/reseller agreements and registrations or signing up of any MTN online
                 services and products and this policy). By accepting to the above mentioned terms
                 and conditions you are accepting the terms and conditions of this privacy policy,
                and MTN with consent for the processing of your personal information and accepting 
                the practices described in this policy.
          </span>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState5 = true" (closed)="panelOpenState5 = false" hideToggle="true">
                <mat-expansion-panel-header>
                    <mat-panel-title class="para regularfont"> Who does this policy apply to ?</mat-panel-title>
                    <mat-panel-description>
                        <mat-icon *ngIf="!panelOpenState5"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                        <mat-icon *ngIf="panelOpenState5"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                    </mat-panel-description>
                   
                </mat-expansion-panel-header>
                <span class="para regularfont">
                Y this policy applies to:- All customers and/or users who are natural persons;
                 <br/>All customers and/or users who are organisations;
                That uses MTN's websites, mobile application, products and services.
                </span>
              </mat-expansion-panel>
                 
    </mat-accordion>


<!-- faq Login content  -->
      <mat-accordion  *ngIf="active_nav === 'content'">

          <mat-expansion-panel (opened)="panelOpenStatel1 = true" (closed)="panelOpenStatel1 = false" hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-title class="para regularfont"> Applicability ?</mat-panel-title>
                <mat-panel-description>
                    <mat-icon *ngIf="!panelOpenStatel1"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                    <mat-icon *ngIf="panelOpenStatel1"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                </mat-panel-description> 
            </mat-expansion-panel-header>
            <span class="para regularfont">
            By accessing or downloading the Content, an agreement between you and MTN incorporating these
             terms and conditions will come into force at such time ('the Agreement').
              We reserve the right to introduce amendments to the terms and conditions
               and/or the Content as we shall from time to time deem necessary. By accessing 
               or downloading Content following any such modification you will be deemed to accept 
               such modification. It is your responsibility to keep up to date with any changes in the terms
                and conditions. The general terms and conditions of your subscriber agreement
                 (including post-paid and prepaid) shall also apply when accessing the Content.
                  In the event of any conflict, this Agreement will prevail in respect of the Content only.
                  This Agreement is governed by Nigeria Law,
                 and you agree to submit to the exclusive jurisdiction of the Nigeria courts.</span>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenStatel2 = true" (closed)="panelOpenStatel2 = false" hideToggle="true">
              <mat-expansion-panel-header>
                  <mat-panel-title class="para regularfont">Licence grant ?</mat-panel-title>
                  <mat-panel-description>
                      <mat-icon *ngIf="!panelOpenStatel2"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                      <mat-icon *ngIf="panelOpenStatel2"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                  </mat-panel-description> 
              </mat-expansion-panel-header>
              <span class="para regularfont">
              The Content and any copyright and other intellectual property rights in any material
               (including text, photographs, videos, graphics, logos, music, sound and other material images)
                included in the Content is either owned by MTN or has been licensed to MTN by the rights owner(s).
                You are only entitled to download Java Games once to your phone and store one copy of that Content 
                in your phone's memory. You may make one copy of that Content for back-up purposes only.
                All copies of Content remain
               the property either of MTN or the rights owner(s) from which the Content has been licensed.</span>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenStatel3 = true" (closed)="panelOpenStatel3 = false" hideToggle="true">
                <mat-expansion-panel-header>
                    <mat-panel-title class="para regularfont">Delivery of the content ?</mat-panel-title>
                    <mat-panel-description>
                        <mat-icon *ngIf="!panelOpenStatel3"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                        <mat-icon *ngIf="panelOpenStatel3"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                    </mat-panel-description> 
                </mat-expansion-panel-header>
                <span class="para regularfont">
                You acknowledge that access to and delivery of the Content and performance and 
                message transmission response times are subject to the enabling technology on
                 which the Content is based and may be adversely affected by network performance
                  and other operational factors beyond our control, including, without limitation, 
                  congestion, network coverage, dropped connections and the performance of wireless
                   enabled devices. MTN is not responsible for any failure to deliver Content to you 
                   if your mobile phone is not switched on or is not configured correctly, your answer
                    is not in the correct format, your mobile phone is not within coverage or for any 
                    other reason cannot be reached, you have a bar on text/WAP/Java services, you are 
                    a prepaid subscriber and you have run out of calling credit, your message mail box 
                    or phone memory is full or for any other reason which is out of our control or out 
                    of the control of any third party delivering the Content.We may vary the Content or 
                    the technical specification of the Content from time to time.</span>
              </mat-expansion-panel>

              <mat-expansion-panel (opened)="panelOpenStatel4 = true" (closed)="panelOpenStatel4 = false" hideToggle="true">
                <mat-expansion-panel-header>
                    <mat-panel-title class="para regularfont">Warranty</mat-panel-title>
                    <mat-panel-description>
                        <mat-icon *ngIf="!panelOpenStatel4"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                        <mat-icon *ngIf="panelOpenStatel4"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                    </mat-panel-description> 
                </mat-expansion-panel-header>
                <span class="para regularfont">
                MTN warrants that the Content will be substantially free from defects and fit for 
                use on your phone provided that such phone is listed on MTN's website as supporting 
                such Content. Except as specifically provided herein and to the fullest extent allowed 
                by applicable law, MTN expressly disclaims all other warranties, conditions and other terms,
                 whether express or implied, written or oral, with respect to the Content including any warranty,
                  condition or term of merchantability, fitness for a particular purpose, or non-infringement.
                   If the Content you have bought is defective, your remedy is to seek a refund for the cost 
                   of that defective Content from the retailer where you purchased the Content. Content will 
                   not be considered defective due to problems arising solely from your mobile phone or your 
                   WAP connection. To the fullest extent allowed by applicable law, MTN and any of the other 
                   parties involved in the provision of the Content will not be liable for direct, indirect, 
                   special or consequential damages arising out of your use of or inability to use the Content
                    including but not limited to damages for loss of use, profits, data or the cost of procurement
                    of substitute goods or services, whether such damages arise in contract, negligence, delict or
                     otherwise.</span>
              </mat-expansion-panel>

      </mat-accordion>



      <!-- FAQS complainhandling -->
          <mat-accordion  *ngIf="active_nav === 'complainhandling'">

              <mat-expansion-panel (opened)="panelOpenStated1 = true" (closed)="panelOpenStated1 = false" hideToggle="true">
                <mat-expansion-panel-header>
                    <mat-panel-title class="para regularfont"> What is a complaint ?</mat-panel-title>
                    <mat-panel-description>
                        <mat-icon *ngIf="!panelOpenStated1"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                        <mat-icon *ngIf="panelOpenStated1"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                    </mat-panel-description> 
                </mat-expansion-panel-header>
                <span class="para regularfont">
                A complaint is an expression of dissatisfaction made to MTN, relating to our products or services,
                 where you expect a response or resolution.
                 Please be advised that a complaint is not a query or request for information from MTN.
                    </span>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenStated2 = true" (closed)="panelOpenStated2 = false" hideToggle="true">
                  <mat-expansion-panel-header>
                      <mat-panel-title class="para regularfont"> MTN complaints handling procedure</mat-panel-title>
                      <mat-panel-description>
                          <mat-icon *ngIf="!panelOpenStated2"><p class="plus"><i class="fa fa-plus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                          <mat-icon *ngIf="panelOpenStated2"><p class="plus"><i class="fa fa-minus" style="color:#ffcc00"  aria-hidden="true"></i></p></mat-icon>
                      </mat-panel-description> 
                  </mat-expansion-panel-header>
                  <span class="para regularfont">
                  All complaints will be acknowledged by the MTN Complaints Department within 1 working day.
                   You will receive an email with a reference number for your complaint. After the complaint
                    has been fully investigated, feedback will be given within 5 working days.
                     Please note that all complaints are handled based on the nature of the complaint.
                      Although we endeavor to address all complaints within 5 working days, 
                      there may be cases where investigations take longer. To follow up on the status of your
                     complaint,
                   please call our call centre and quote your reference number.
                    </span>
                </mat-expansion-panel>
             
          </mat-accordion>

        </div>

  </div>



<app-footer></app-footer>