
<div class="main_pages">
  
      <app-header [migrateMode]="header"></app-header>
  


<div class="container-fluid">
<div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>
   </div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 failmar">
    
<div class="row mobfail">
   <div class="col-xl-0 col-lg-0 col-md-0 col-sm-0 fail"></div> 
     <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 failed mediumfont">Success!</div>                                                    
</div>        
   <div class="row errmar">                
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 errmsg regularfont">{{message}}</div>                  
     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">   
 
     </div>                                          
  </div>                       
<div *ngIf="checkdate()">
  <app-mainbutton  (click)="navigate()" label='FeedBack' size='half'></app-mainbutton>                    
</div>
</div>

<div class="row">
   <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
      <app-footer></app-footer>
   </div>
</div>
</div>