div.scrollmenu {
    background-color: #f2f2f2;
    border-radius: 50px;
    padding: 5px;
    display: block; 
  }
    
  

  .menu {
    display: inline-block;
    border-radius: 50px;
    /* margin-left: 1%; */
    //margin-right: 1%;
    text-align: center;
    text-decoration: none;
    //overflow-x: scroll;
    font-size:14px;
    padding: 8px 25px;
    //margin-right: 10px;
    //background-color: #fff;
    cursor: pointer;
    // min-width: 20%;
}

  
  div.scrollmenu .menu:hover {
    background-color: #ffcc00;
    color: black;
  }
  .highlighted_bg {
// width: 10px !important
    background-color: #ffcc00 !important;
  }
  @media only screen and (max-width:1024px){
    div.scrollmenu{
      padding: 5px;
    display: block;

    }
  
  }


  // @media only screen and (max-width:768px){
  //   div.scrollmenu{
  //     //width: 60%;
  //     padding: 0%;
  //    // max-width: 100%;
  //     display: flex;
  //     white-space: nowrap;
  //   }
  
  // }
  
  @media screen and (max-width: 475px){
    .scrollmenu{
      white-space: nowrap;
      padding: 5px;
      display: block;
     //width: 100%;
      // overflow-x: scroll;
    }
  }