

<div *ngIf='showLoader' class="row"> 
  <app-slimloader></app-slimloader>
</div>

<div class="main_pages">
  <app-header [migrateMode]="header"></app-header>

  <div class="main-cont min-height">
  <p class="martext1 mediumfont">Notification </p>
  <!-- <form [formGroup]='existing_cust'  (ngSubmit)='onSubmit(existing_cust)'> -->
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <p class="martext2 regularfont"><b>Y’ello</b> {{name}}, Please confirm the information below for the delivery of your notifications</p>                    
        <!-- <app-input-floating formControlName='msisdn' placeholder='Alternate Number'    required maxlengthVal=13
                    [valid]="((existing_cust.get('msisdn').hasError('required') || existing_cust.get('msisdn').hasError('minlength')))"
                    [errorMsg]="'Please enter a valid MTN number.'" required
                    (keypress)="numberOnly($event)"disabled='true' [(ngModel)] = "a_msisdnng">
        </app-input-floating> -->
        <app-input-floating  placeholder='Alternate Number'    required maxlengthVal=13
                   
        (keypress)="numberOnly($event)"disabled='true' [(ngModel)] = "a_msisdnng">
</app-input-floating>


      </div>
    </div>
    <form [formGroup]='existing_cust'  (ngSubmit)='onSubmit(existing_cust)'> 
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                              
        <app-input-floating formControlName='email' placeholder='Email address'    type='email' 
                       [valid]="(((existing_cust.get('email').hasError('pattern')||existing_cust.get('email').hasError('required')) && (existing_cust.get('email').dirty || existing_cust.get('email').touched) ))"
                          [errorMsg]="'Please enter a valid MTN number.'" required
                            [(ngModel)] = "emailng">
        </app-input-floating>              
      </div>                 
    </div>  
      
  <div class="row">   
    <div class=" col-xl-3 col-lg-3 col-md-3">
      <app-mainbutton  (click)="godashboard()"  label='Not Now' size='full'></app-mainbutton>
     
    </div>
      <div class=" col-xl-3 col-lg-3 col-md-3" >
       <app-mainbutton [disabled]="existing_cust.invalid" value="submit"  label='Proceed' size='full'></app-mainbutton>
    </div>
  </div>
</form> 

</div>



      <app-footer></app-footer>
 
</div>