

.main-cont{ margin-top: 145px;}
.martext1{  font-size: 28px;
    line-height: 35px;
    margin:0 0 20px;}
.martext2{ font-size: 14px;}

.crdsmar{ margin-bottom: 2%; margin-left: 1%; margin-right: 1%; }
@media screen and (max-width: 768px) {
    .main-cont{ margin-top: 15px;}
  }
