<!--SME BizBuzz-->
<div *ngIf='showLoader' class="row">
  <app-slimloader></app-slimloader>

</div>
<div class="goodybag" *ngIf='paymentuipagemigerate'>
<!-- <div class="row xtradata whats">
    <h4>SME BizPlus <span id="circledata" class="circle" [ngClass]='{"active" : bizplus}' (click)="Bizplus()">
    <i class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !bizplus}' aria-hidden="true"></i></span></h4>
   </div> -->
<div class="row xtradata xtradetails mediumfont">
      <div class="xtradata-ttl" (click)="Bizplus()">SME BizPlus </div>
        <div class="circle" id="circledata"  [ngClass]='{"active" : bizplus}' (click)="Bizplus()"><i
            class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !bizplus}' aria-hidden="true"></i>
   </div>
    </div>


   <div *ngIf='bizplus'>
    <div class="row col-12"  *ngIf='isDataLoaded'>
      
       <app-xtravaluetabs  class='tab-width' [faq_tab_header_Elements]='elementVal' (selected_tab)="onLoadData($event,'SME Bizplus')"></app-xtravaluetabs >
    </div>
    <div class="row">
       <div class="col-md-6 col-sm-12" *ngFor="let data of elementGBSMEPeriodicity;let i = index">
          <app-internalcards [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price"  (click)='changeStatus(data,i)'></app-internalcards>         
   </div>
   </div>


   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       <div>
       <mat-radio-group class="fontsize mediumfont">
         <div>
           <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="1">Self</mat-radio-button>
         </div>
         </mat-radio-group> 
       </div>
       
       <form  [formGroup]='selfform'  class='card-content-pad' *ngIf="!_selectradi">
         <div class="row form-grp">
           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " style="padding:10px 10px 10px 0;">
             <app-input-floating formControlName='msisdn' placeholder='myMTN Number'  iconPosition='left' iconName='recharge'   value='1' type='text' required maxlengthVal=13
               [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
               [(ngModel)] = "msisdnval" [errorMsg]="'Please enter a valid MTN number.'" required
                  (keypress)="numberOnly($event)" disabled=true></app-input-floating> 
				  <a ><b style=" color:#d50000;">{{errorMsg}}</b></a>
           </div>
         
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 abb">
               <app-mainbutton label='Proceed' [disabled]="!bottoncolr" (click)="buyprocce()" size='full' ></app-mainbutton>
            </div>
         </div>
        </form>
       
      

       </div>      
   </div>
   <!--SME BizBuzz End-->





    <!--Data plan SME-->

   <!-- <div class="row xtradata xtradetails mediumfont">
      <h4>SME data plans <span class="circle" [ngClass]='{"active" : dataplan}' (click)="Dataplan()">
        <i class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !dataplan}' aria-hidden="true"></i></span></h4>
       </div> -->

   <div class="row facebok xtradata xtradetails mediumfont">
          <div class="xtradata-ttl" (click)="Dataplan()">SME Data Plans </div>
            <div class="circle" id="circledata"  [ngClass]='{"active" : dataplan}' (click)="Dataplan()"><i
                class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !dataplan}' aria-hidden="true"></i>
       </div>
        </div>



   <div  *ngIf='dataplan'>
        <div class="row col-12" *ngIf='isDataLoaded'>
      
           <app-xtravaluetabs  class='tab-width' [faq_tab_header_Elements]='elementVal' (selected_tab)="onLoadData($event,'SME Data Share Bundles')"></app-xtravaluetabs >
        </div>
        <div class="row">
           <div class="col-md-6 col-sm-12" *ngFor="let data of elementGBSMEPeriodicity;let i = index">
      
             <app-internalcards [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price" (click)='changeStatus(data,i)'></app-internalcards>
      
       </div>
     </div>


     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div>
        <mat-radio-group class="fontsize mediumfont">
          <div>
            <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="1">Self</mat-radio-button>
          </div>
        
          </mat-radio-group> 
        </div>
        
        <form  [formGroup]='selfform'  class='card-content-pad' *ngIf="!_selectradi">
          <div class="row form-grp" *ngIf="!selctradio">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " style="padding:10px 10px 10px 0;">
              <app-input-floating formControlName='msisdn' placeholder='myMTN Number'  iconPosition='left' iconName='recharge'  value='1' type='text' required maxlengthVal=13
                [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
                [(ngModel)] = "msisdnval" [errorMsg]="'Please enter a valid MTN number'" required
                   (keypress)="numberOnly($event)" disabled=true></app-input-floating> 
				   <a ><b style=" color:#d50000;">{{errorMsg}}</b></a>
            </div>
          
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 abb">
                <app-mainbutton label='Proceed' [disabled]="!bottoncolr" (click)="buyprocce()" size='full' ></app-mainbutton>
             </div>
          </div>
         </form>
        
        
        
        </div>
 </div> 
</div>
<div *ngIf='!paymentuipagemigerate'>
    <app-buybundlespayment [masisdnpayment]="msisdnval"> </app-buybundlespayment>
  </div>

<!--Data plan SME  End-->

<!-- sme data share-->

<!-- <div class="row xtratalk xtradetails">
  <h4>SME Data Share <span class="circle romaingdispl" [ngClass]='{"active" :smedatashare}' (click)="smedatashared()">
    <i class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !smedatashare1}' aria-hidden="true"></i></span></h4>
   </div> -->
<div class="goodybag">
   <div class="row xtradata xtratalk xtradetails mediumfont">
      <div class="xtradata-ttl" (click)="smedatashared()">SME Data Share </div>
        <div class="circle romaingdispl"  [ngClass]='{"active" : smedatashare}' (click)="smedatashared()"><i
            class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !smedatashare}' aria-hidden="true"></i>
   </div>
    </div>

  

   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" [hidden]="datashare" *ngIf="smedatashareBlance">
    <!-- <div>
    <mat-radio-group class="fontsize mediumfont">
      <div *ngFor="let data of ProductNames">
        <mat-radio-button (click)="onslectradioshare(data.Me2U,data.ProductID)" [value]='{a: data.Me2U, b: data.ProductID}' [checked]='selctradioshare == data.Me2U'>{{data.ProductName}}</mat-radio-button>
      </div>

      </mat-radio-group> 
    </div> -->
    
    <form [formGroup]='DataShare' class='card-content-pad'>
        <div>
          <p class="mediumfont" *ngIf="remaining_balance || remaining_balance == 0">Your SME balance <br>
            <span class="remaining_balnc">{{remaining_balance}}</span></p>
        </div>
        <p class="rcgtxt regularfont">Select data value to share</p>
        <div>
          <mat-radio-group class="fontsize mediumfont" formControlName='dataPlan' value="dataPlan">
            <div *ngFor="let data of ProductNames">
              <mat-radio-button (click)="onslectradioshare(data.Me2U,data.ProductID)"
                [value]='{a: data.Me2U, b: data.ProductID}' [checked]='selctradioshare == data.Me2U' required>
                {{data.ProductName}}</mat-radio-button>
            </div>
            <!-- <div>
            <mat-radio-button (click)="onslectradio(true)" value="2">{{ProductNames_1}}</mat-radio-button>
          </div>
          <div>
            <mat-radio-button (click)="onslectradio(true)" value="3">{{ProductNames_2}}</mat-radio-button>
          </div>
          <div>
            <mat-radio-button (click)="onslectradio(true)" value="4">{{ProductNames_3}}</mat-radio-button>
          </div>
          <div>
            <mat-radio-button (click)="onslectradio(true)" value="5">{{ProductNames_4}}</mat-radio-button>
          </div> -->
          </mat-radio-group>
        </div>
    
    
        <div class="row form-grp">
          <div class="col-md-7 col-sm-12" style="padding-left:0px;padding-top: 10px;">
            <app-input-floating formControlName='msisdn2' placeholder='Beneficiary number' value='1' type='text' required
              maxlengthVal=13
              [valid]="((DataShare.get('msisdn2').hasError('required') || DataShare.get('msisdn2').hasError('minlength')))"
              [errorMsg]="'Please enter a valid MTN number.'"
              required (keypress)="numberOnly($event)"></app-input-floating><a *ngIf="errorMsg"><span
                style=" color:#d50000;">{{errorMsg}}</span></a>
          </div>
    
          <div class="col-md-7 col-sm-12 col-12 " style="padding:10px 10px 10px 0;">
            <app-input-floating formControlName='PIN' placeholder='Enter secure service PIN' value='2' type='password' required
              maxlengthVal=4
              [valid]="((DataShare.get('PIN').hasError('required') || DataShare.get('PIN').hasError('minlength')))"
              [errorMsg]="'Please enter a valid PIN'" required (keypress)="numberOnly($event)"></app-input-floating><a
              *ngIf="errorMsg"><span style=" color:#d50000;">{{errorMsg}}</span></a>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 abb">
            <app-mainbutton label='Proceed' (click)="DataSharedSme($event)" size='full' [disabled]="DataShare.invalid">
            </app-mainbutton>
          </div>
        </div>
      
    </form>

    <div class="row">
    <p class="regularfont" style="color: #707070;font-size: 14px;">MTN cannot be held responsible for numbers entered incorrectly.  Please double check the cell number you've chosen before recharging. </p>
  </div>
  
    </div>
    <p *ngIf="smedatashareBlancemsg" class="regularfont" style="font-size: 14px;">{{message}}</p>
    
  </div>

<!--sme data share end-->