

.container1{
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 15px;
  }
  
  .end-date {
    margin-top: 10px;
}

.bg-color {
    background-color: #f2f2f2;
}

.top_curve {
    height: 2em;
    background-color: #f2f2f2;
    color: #FFF;
    display: block;
}

.top_curve:before {
    width: 100%;
    height: 2em;
    border-radius: 0 0 50% 50%;
    background-color: white;
    display: inline-block;
    content: '';
}

.history {
    margin-left: 100px;
}

.history-type {
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    padding-top: 15px;
    margin-bottom: 0px;
}

#view-btn {
    margin-top: 15px;
	margin-bottom: 15px;
}

.mat-error {
    text-align: center;
    font-size: 14px;
}

.call-err-msg {
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 0px;
    text-align: center;
}

@media only screen and (min-width: 576px) {

    // .container {
    //     max-width: 1140px !important;
    //     margin-left: auto !important;
    // }

    .history {
        background-color: #f2f2f2;
    }
}

@media screen and (max-width: 992px) {
    .history-type {
        font-size: 14px !important;
    }

    .select-date {
        font-size: 14px !important;
    }

    .history_heading {
        font-size: 22px !important;
    }

    .mat-error {
        font-size: 12px !important;
    }
}