<div *ngIf='showLoader' class="row">
   <app-slimloader></app-slimloader>
</div>



<div class="curve-container" id="wht-crv">
   <div class="white-convex-outer">
   <div class="convex">
       <div class="main-cont" style="margin-bottom:5%;">
      <p class="select-date regularfont">Please select a date range (max 7 days):</p>

         <form [formGroup]='callhistoryForm' class='card-content-pad'>
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="start-date">
                     <app-datepicker formControlName='startdate' placeholder='Start date' required [maxDate]="endDate"
                        (selectedDate)="getStartDate($event)" [(ngModel)]="startDate">
                     </app-datepicker>
                  </div>
                  <div class="end-date">
                     <app-datepicker class="end-date" formControlName='enddate' placeholder='End date' required
                        [maxDate]="currentDate" [minDate]="startDate" (selectedDate)="getEndDate($event)"
                        [(ngModel)]="endDate">
                     </app-datepicker>
                  </div>
               </div>
            </div>
            <div class="row mt-2 ng-star-inserted" *ngIf="callMaxDateErrMsg">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                  <span class="mat-error">{{callMaxDateErrMsg}}</span>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 abb">
                  <div class="center_button">
                     <app-mainbutton label='View history' size='full' [disabled]="!callhistoryForm.valid"
                        (click)="validateMaxDateRange()"></app-mainbutton>
                  </div>
               </div>
            </div>
         </form>
      </div>

   </div>
   </div>
   </div>
 



<div class="bg-color"  >
   <div class="container" *ngIf="callHistoryData.length > 0">
      <p class="history-type mediumfont pb-3">Call record ({{startDate | date:'dd/MM/yyyy'}} to {{endDate | date:'dd/MM/yyyy'}})</p>
      <app-gridtable [tableData]="callHistoryData" [listOfFields]="listOfFields" [startDate]="startDate"
         [endDate]="endDate" [enableRtl]="false" [pdfLabel]="dwnldPdfBtnLabel" [excelLabel]="dwnldExcelBtnLabel"
         [historyType]="fileName" [showDwnldBtn]="true">
      </app-gridtable>
   </div>
   <div class="container" *ngIf="callErrMsg">
      <p class="call-err-msg mediumfont" style="padding-top:50px;">{{callErrMsg}}</p>
   </div>
   <div class="ftr-gray-curve" *ngIf="footerGray"> 
      <app-footer></app-footer>    
   </div> 
</div>



<div *ngIf="footerWhite" id="target"> 
<app-footer></app-footer>   
</div>