.main_pages{ overflow-x:hidden; padding: 0%; margin:0%;}
.buttonp{ margin: 20px 0px !important;}
 .rcgfnt{
    font-size: 28px;
    line-height: 35px;
    margin:0 0 20px;    }

.xtratalk{
    font-size: 24px;
    line-height: 24px;
    margin-left: 17px;
    margin-bottom: 34px;
    }

.backbutton{ margin-top: 95px; margin-bottom: 2%; }

.otpbelow.radiomargin{  display: block;}
.mat-radio-container .mat-radio-outer-circle{margin-top: 0;}
.form-wrapper,.radiomargin {  padding: 0;}
.mat-radio-button p{  margin-bottom: 0;}

.mat-radio-button ~ .mat-radio-button { padding-right: 16px;  }
.form-grp{ align-items: center }
.know_more{ margin-top:8%; }
.know_more p{
            margin-top: 20px;
            font-size: 14px;
            margin-left: 2px;
            margin-right: 10px;
            text-align:justify;
            cursor:text;
            }

              .know_more_bg{
                 background-color:#f2f2f2;
              }



   .static_image{
      height: 3em;
    background-color: #ffffff;
    color: #fff;
    border-radius: 0 0 35% 35%;
    z-index: 4;
    position: relative;
    top: 1em;
    margin-top: 0px;
             }
   img{ height: auto;  width: 100%; }

            
 @media screen and (max-width: 768px){
             .half-btn {   width: 65%; margin: 0 auto; }
 }

  @media only screen and (max-width: 640px) {
         .know_more{  width:80%;  margin-left: 10%; margin-right: 10%;}
         .know_more_bg1{  width:80%;  margin-left: 10%;  margin-right: 10%; }
  }

@media only screen and (max-width: 768px) {
    .backbutton{ margin-top: 25px; }
}
