<div class="main_pages">

  <app-header [migrateMode]="header"></app-header>

  <div class="banner-curve-container">
    <div class="banner-convex-outer">
    <div class="convex">
<div class="i-banner">

<div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>


<div class="main-cont term mediumfont">
<p>Privacy Policy</p>
</div>
</div>
</div>
</div>
  </div>


<div class="main-cont">
<div class="row rowspace">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 pm-0">
      
    <p class="para regularfont">
        MTN Nigeria Communications Plc (MTNN) is committed to the privacy and confidentiality of the information provided to it. We are committed to the informed collection of personal information for legitimate and lawful purposes and use. MTNN commits to processing data lawfully, fairly, in a transparent manner and in accordance with the relevant data protection regulations. Personal information collected will be processed based on the consent provided, for the performance of a contract or to enter into the contract or in relation to the intended use, and in furtherance of MTNN’s legitimate business interest or in compliance with a mandatory legal obligation.
    </p>

    <p class="para regularfont">MTNN may share personal information with partners or agents involved in the delivery and optimization of its products, services, and business operations. MTNN may also share personal information in good faith and with the belief that such action is necessary to conform with a legal obligation or to defend MTNN’s rights.</p>
    
    <p class="para regularfont">To ensure that personal data is not kept for longer than necessary, MTNN shall put in place a policy on data retention, archiving and destruction for each location in which personal data is processed.</p>
    <p class="para regularfont">MTNN is committed to implementing data security measures appropriate to the degree of sensitivity of the personal data to protect against malicious intrusion, loss, alteration or disclosure to non-authorized third parties, for the purpose of securing personal information. In the event that despite the security measures we implement to protect information it is accessed by unauthorized third parties, MTNN shall report the breach to the relevant agency as appropriate.</p>
    <p class="para regularfont"> MTNN reserves the right to vary the terms of this Privacy Policy from time to time. Such variations shall become effective immediately upon publication of the revised Privacy Policy.</p>

    <p class="para regularfont">
        This Privacy and Data Protection Policy shall be governed and construed in accordance with the laws of the Federal Republic of Nigeria and the Nigerian Courts shall have exclusive jurisdiction on all matters related thereto.

    </p>

</div>
</div>
</div>



<app-footer bgColor='white'></app-footer>
</div>

