.aaaa{ margin:0px;}

.placeholder{
  color: #6e6e6e;
  font-size: 14px;
  line-height: 19px;
}

textarea{
  width: 100%;
 /* height: 125px;*/
  border:1px solid #ced4da;
  border-radius:.25rem;
  padding: 15px;
}

textarea:hover,select:hover {
border:2px solid;
border-color:#6e6e6e !important;
}

textarea:focus,select:focus{
  border:2px solid;
  border-color:#ffcc00 !important;
  box-shadow:none;
}

.mar{ margin:2%;}
.headspan{ font-size: 28px;
    line-height: 35px;
    margin:0 0 20px; }
.cardspan{ font-size: 14px;  }
.spc{ margin: 10px 20px 10px 0; }
.backbutton{ margin-top: 95px; margin-bottom: 2%; }
.crdsmar{ margin-bottom: 2%; margin-left: 1%;cursor: pointer; margin-right: 1%;}
.counter{ margin-left: -110px; }
  .crd img{
    padding:15px 27px;
    background-color: #e0f5ff;
    border-radius:15px 15px 0px 0px;
  }
  .crd img.selected{
  background-color: #0faf4b;
  }
 
.mainbtn {  margin-left: .7%; }
  .cdtext{
    text-align: left;
    font-size:14px;
     margin-left:10px;
     margin-top:10px;
     font-family: 'MTNBrighterSans-Regular';
  }
  .cdtext span.selected { font-family: 'MTNBrighterSans-Bold'; }
  .tick{ margin-left: 5px;}
  .tick i{ color:green;}
  .crd{
    background-color: #ffffff;
    cursor:pointer;
      border-radius: 15px 15px 15px 15px;
      height: 155px;
      width: 130px;
      box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15) !important;

  }
  .textarea
    {
      border-radius: 10px 10px 10px 10px;
      font-size: 14px;
      box-sizing: border-box;
    }
    .textarea:hover{
      // background-color:#ffe582;
      
      border-color: #ffe582;
    }
    .textarea:focus{
      // background-color:#ffe582;
   
      border-color: #ffe582;
      border: 0px;
      box-shadow:1px 1px 5px 5px #ffe582;
    }
    @media only screen and (max-width: 800px){
      .aaaa{
      display: -webkit-box;
      overflow-x: scroll;
      }
  }

 @media only screen and (max-width: 768px){
  .backbutton{ margin-top: 25px; }
  }
  
