
<div *ngIf='showLoader' class="row"> 
    <app-slimloader></app-slimloader>

</div>
<div class="main_pages">
      <app-header [migrateMode]="header"></app-header>
 
 
 
    <div class="container-fluid">
      <div class="backbutton">
        <app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
      </div>
    </div>

 
    <div class="main-cont" *ngIf="content">
      <div class="headspan boldfont">Feedback</div>
     <!--  <div class="cardspan regularfont mar" >Help us serve you better. Rate your experience label:</div> -->
          <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 5px 0 0 0;">
        <p class="label regularfont">Help us serve you better. Rate your experience, Tap to rate:</p>
      </div>
    </div>
      <div class="row aaaa">
        <div class="crd spc" (click)="click(emoj.name,i)" *ngFor="let emoj of feedbackEmoj;let i = index" title="Tap to rate">
            <img src="{{emoj.url}}" class="imd" [class.selected]="emoj.name===selectedem">           
            <div class="cdtext" ><span [class.selected]="emoj.name===selectedem"  >{{emoj.name}}</span>
              <span class="tick"><i *ngIf="emoj.name===selectedem" class="fa fa-check-circle" aria-hidden="true"></i></span></div>
                      
        </div>  
         
    </div>
<!--     <div *ngIf="clicked" >
      <span class="mar cardspan regularfont">Please enter a reason below:</span><br>
      <textarea placeholder="Your message…" class="mar regularfont col-11 col-lg-5 col-md-9 textarea"  matInput [(ngModel)]="text" maxlength="495" cols="60" rows="5"></textarea>
      <span class="counter regularfont cardspan" >{{500-text.length}} characters</span>
    </div> -->
    <div *ngIf="clicked">
       <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 5px 0 0 0;">
        <p class="label regularfont">Please enter a reason below:</p>
      </div>
    </div>

      <div class="row" >
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0;">
        <div class="container" style="float: left;">
          <textarea id="feedbackmsg" class="placeholder regularfont" placeholder="Your message…" #feedbackmsg
            maxlength="500" [(ngModel)]="text" name="description"  cols="60" rows="5"></textarea>
          <small class="form-text text-muted placeholder regularfont " style="padding-bottom: 15px;text-align: right;">{{500 - feedbackmsg.value.length}} Characters</small>
        </div>
      </div>
 
    </div>
  </div>

    <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:0;">
        <app-mainbutton [disabled]="value" (click)="submit(emoj)" label='Submit' size='full'></app-mainbutton>
    </div>

  <!-- <div class="boldfont mar cardspan" >{{message}}</div> -->
</div>
<div class="main-cont"*ngIf="!content" >
    <div  *ngIf="sucessDiv"  >
    <app-success Message={{message}}></app-success><br>
    </div>
    <div *ngIf="!sucessDiv"  >
        <app-failure Message={{message}}> </app-failure><br>
        </div>
<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:0;">
  <app-buttonnew  (click)="showcontent()" label='Give another feedback' size='full'></app-buttonnew>

</div></div>

  <app-footer></app-footer>
