

<div class="main_pages">
      <app-header [migrateMode]="header"></app-header>
 
 <div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>
     
        <div class="min-height">

      <app-tarrifsubmenu></app-tarrifsubmenu>
    
    <router-outlet></router-outlet>

</div>

<!-- <app-xtravaluetabs></app-xtravaluetabs >  -->

      <app-footer></app-footer>

    </div>
