<div class="scrollmenu carousel carousel-crds">
            <a (click)="onLoadMdNav(rechargeNavEl)"  class="tiny-card carousel-cell" [ngClass]="{'highlighted_bg' : active_nav === rechargeNavEl.id }"  aria-selected='true'  *ngFor="let rechargeNavEl of rechargeNavElements">
                     <img class="imgicon" [src]="rechargeNavEl.source">
                      <div class="tcard-txt"> <p class="mediumfont">{{rechargeNavEl.value}}</p>  </div>
            </a>
</div>