<div>
  <div class="curve-top desk" [class]="bgColorpp"
  [ngClass]="{ 'neg-top-margin' : image_curve_bottom, 'top-margin' : image_curve_top}">
    <img [src]="srcDesk" class="curve-image">
  </div>
  <div class="curve-top mob"  [class]="bgColorpp" [ngClass]="{ 'neg-top-margin' : image_curve_bottom, 'top-margin' : image_curve_top}">
    <img [src]="srcMob" class="curve-image">
  </div>  
</div>


<!-- <div>
    <div class="curve-top desk" [ngClass]="{ 'top-margin' : image_curve}">
      <img [src]="srcDesk" class="curve-image">
    </div>
    <div class="curve-top mob" [ngClass]="{ 'top-margin' : image_curve}">
      <img [src]="srcMob" class="curve-image">
    </div>  
  </div> -->
  