
.curve-top{
  z-index: 4;
  position: relative;
  margin-left: -2px;
  margin-right: -2px;
 // height: 100px;
  // width: 100%;
  // background: red;
}
.curve-image{
  width: 101%;
  margin-bottom: -2px;
  //background-color: red;
}
.top-margin{
  margin-bottom: -1%;  
}

.neg-top-margin{
  margin-top: -2%;
}
.mob{
  display: none;
}
.grey{
  background-color: #f2f2f2;
}

@media screen and (max-width: 768px){
  .top-margin{   
    margin-bottom: -6%;
  }

  .neg-top-margin{
    margin-top: -8%;
  }
  .curve-image{
    width: 101%;
  }
  .desk{
    display: none;
  }
  .mob{
    display: block;
  }
}






// .curve-top{
//   z-index: 500;
//  // height: 100px;
//   // width: 100%;
//   // background: red;
// }

// .top-margin{
//   margin-top: -2%;  
// }

// .mob{
//   display: none;
// }

// @media screen and (max-width: 768px){
//   .top-margin{   
//     margin-top: -8%;
//   }
//   .curve-image{
//     width: 100%;
//   }
//   .desk{
//     display: none;
//   }
//   .mob{
//     display: block;
//   }
// }
