

<div class="main_pages">
           <app-header [migrateMode]="header"></app-header>

  <div class="main-cont min-height"> 
<div class="progress mediumfont">
  <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
    Confirmation
  </div>
  
  <div class="progress-bar" *ngIf="success" [ngClass]='{"progress-bar-success" : success}'   role="progressbar">
  Success  
  </div>
  <div class="progress-bar float-right" *ngIf="failure" [ngClass]='{"progress-bar-failure" : failure}'   role="progressbar" style="background-color: red;">
    Failure!
  </div>

</div>


<br>
<div class="backbuttonlogin">
    <app-backbutton label='Back' (click)="backButton()"></app-backbutton>
      </div>


<div class="classMain">
<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" style="padding: 10px 0px">
<div class="col-sm-12 col-xs-12 col-md-6 col-lg-6" *ngIf="showconfimdiv" style="padding:0px">

    <p class="fontsize mediumfont">You are requesting to pay: </p>

            <p class="rcgfnt1 mediumfont">N{{debitAmount}}</p>

  <p class="fontsize mediumfont">You are making a payment for:</p>
      <p class="rcgfnt mediumfont"><span style="color:#d0d0d0">(+234)</span>{{msisdnval1}}</p>


      <p class="fontsize mediumfont">Are you sure you want to proceed?</p>

          <app-mainbutton size='half'   (click)="debitpaymebtconfirm()" label='Confirm' *ngIf="airttt1"  ></app-mainbutton>
          <app-mainbutton size='half' (click)="paymentconfirm()" label='Confirm' *ngIf="airttt" ></app-mainbutton>

</div>

<div class="col-sm-12 col-xs-12 col-md-6 col-lg-6" *ngIf="failure" style="padding:0px">
      <p class="fontsize mediumfont">Recharge failed: </p>
      <p class="rcgfnt regularfont">{{Airtime}}</p>
</div>


    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6" *ngIf="success" style="padding: 0px">

    <p class="fontsize mediumfont">Recharge success: </p>
            <p class="rcgfnt regularfont">{{Airtime}}</p>

  </div>
</div>
</div>
  </div>
<!-- hidden Form form for payment -->
<div class="main-cont"> 
<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" *ngIf="suceesDiv" >
    <div class="row">
  <!-- <p class="rcgfnt">Success!</p> -->
  <app-success Message={{message}}></app-success>
</div>
</div>
</div>

<div class="main-cont"> 
<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" *ngIf="failurDiv" style="padding:0px">
<div class="row">
<app-failure Message={{message}}> </app-failure>
</div>
</div>
</div>



<div *ngIf='showLoader' class="row"> 
<app-slimloader></app-slimloader>
</div>



<div class="row">
 <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
    <app-footer></app-footer>
 </div>
</div>
