.main_pages{  overflow-x:hidden;}
.know_more_bg {margin-bottom: 4%;}
#ylw .main-cont{padding-top: 50px;}
.know_more p{
    margin-top: 20px;
    font-size: 16px;
    margin-left: 2px;
    margin-right: 10px;
    text-align:justify;
    cursor:text;
    }

img{ height:auto; width:100%;}
.font_size{  font-size: 12px;}
.vouchertxt{text-align: right;}
h4{  padding-top:50px;}
h5{ font-size: 24px; margin-left:0px;}

.subscrption{width: 50%;}
 


.static_image{
   height: 3em;   
   background-color:#f2f2f2;        
   color:#FFF;
   border-radius : 0 0 35% 35%;
   z-index: 4;
   position: relative;
   top: 1em;
   margin-top: -23px
}


.yellow_bg{
   background-color:#ffcc00 ;
   margin-top: -1px;
}


.close_btn{
   background: white;
   border: 1px solid grey;
   width: 200px;
   height: 36px;
   border-radius: 25px;
   margin: 25px auto;
   padding-top: 3px;
   margin-bottom: 29px;
   cursor:pointer;
}
.close_btn:hover{
   background-color:#ffe582 ;
   cursor:pointer;
}
.centre{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.center_button{text-align: center;}

@media only screen and (max-width:1024px){
   .subscrption{width: 70%;}
  }
@media only screen and (max-width: 768px) {
   .subscrption{width: 100%;}
   .know_more_bg { margin-bottom: 15% !important; }
  
}
@media only screen and (max-width: 640px) {
   
   .know_more_bg1{
      width:80%;
      margin-left: 10%;
      margin-right: 10%;
   }
   .vouchertxt{text-align: left;}
}

@media only screen and (max-width:480px){
   .know_more_bg { margin-bottom: 17% !important; }
}

