<div *ngIf='showLoader' class="row">
   <app-slimloader></app-slimloader>
</div>
   
   
<div class="main_pages">
   <div id='main-header-row-div'>
          <app-header [migrateMode]="header"></app-header>
      </div>
   
  <div class="dashboard_main"> 
 <app-courosel></app-courosel>
      
 <div class="curve-container bg-gray" id="ylw">
   <div class="yellow-convex-outer">
         <div class="convex">
        
   <app-homecard [check_postpaid]='check_postpaid' [firstName]='firstName' [outstandingBalance]='outstandingBalance' [creditLimitAssignedBalance]='creditLimitAssignedBalance' [creditLimitBalance]='creditLimitBalance' [mynumber]="primaryNumber"
   [mainnumber]="mainnumber" [linkedGotten]="linkedGotten" [numberLists]='numberLists' 
    [switched]='switched'  [dataBalance]='dataBalance' [dataBonusBalance]='dataBonusBalance'
    [airtimeBonusBalance]='airtimeBonusBalance' [airtimeBalance]='airtimeBalance' 
    [tariffPlanName]='tariffPlanName' (balances)='balancesapi()' (details)='detailsapi()'>
      </app-homecard>   
  
</div>
</div>
</div>


 <div class="curve-container bg-gray" *ngIf="tblhidden">
      <div class="white-convex-outer">
      <div class="convex">
         <div class="row">
            <div class="col-12 pt-4 centre mt-4" [hidden]="tablehidden">
            <div style="width: 100%;" *ngIf='showTable'>
                  <app-tableview (crossIcon)="crossIcon()" [other]='other'  [bundleName]="bundleName" [bundleType]='bundleType' [bundleValue]='bundleValue' [bundleExpiry]='bundleExpiry'></app-tableview>
         </div>
            <div *ngIf='!showTable'>
               <p>No bundles available</p>
            </div>
           <button class="close_btn mediumfont" (click)='close_other_balance()'>Close</button> 
        
      </div>
         </div>

    <!--view bills-->
  
         <div class="main-cont">


            <div class="col-12 pt-4 mt-4 mediumfont" [hidden]="viewopenbills">

               <div *ngIf="showTableview && TransectionNumber != null">
               
                  <h6 style="margin-top:20px;" *ngIf='showTableview'>View open bill details</h6>
                  <div style="margin-top:20px;" *ngIf='showTableview'>
                     <h6 >Invoice Number:{{TransectionNumber}}</h6>
                  </div>
                  <div class="row">
                     <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="float:left;font-size: 14px;" *ngIf='showTableview'>
                        <span>Due Date</span>
                        <h6>{{DueDate}}</h6>
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="float:left;font-size: 14px;" *ngIf='showTableview'>
                        <span>Outstanding Amount</span>
                        <h6>{{OutstandingAmount}}</h6>
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="float:left;font-size: 14px;" *ngIf='showTableview'>
                        <span>Invoice Amount</span>
                        <h6>{{TotalInvoiceAmount}}</h6>
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="float:left;font-size: 14px;" *ngIf='showTableview'>
                        <span>Cleared Amount</span>
                        <h6>{{TotalClearedAmount}}</h6>
                     </div>

                  </div>

               </div>
               
               <div *ngIf='!showTableview || TransectionNumber == null'>
                     <p style="text-align: center;">Dear <b>{{firstName}}</b> You do not  have any open any open invoices on your line</p>
               </div>

               <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12">
                     <div class="center_button">
                        <button class="close_btn mediumfont" (click)='close_other_balance()'>Close</button>  
                    </div>
               </div>


            </div>
         </div>
   <!--view bills-->

   </div>
   </div>
</div>



<div class="curve-container">
      <div class="gray-convex-outer">
            <div class="convex">
           <div class="main-cont">
         
         <h4 class="mediumfont">I'm looking for</h4>
         </div>
           <app-cards></app-cards>
      
   </div>

  </div>
  </div>

 
   <!--know more-->

<!--  
   <div class="row main-cont">

      <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 ">
         <img src="/app/appassets/images/5.png">                
      </div>

   </div>
   
   <div class="row  know_more main-cont">

      <div class=" offset-xs-1 offset-md-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
         <h5 class="mediumfont">Want to know more? </h5>
         <p  class="regularfont">The Camera Re-Imagined. The Galaxy S9| S9+?s Dual Aperture lens provides you with a revolutionary camera
            that adapts like a human eye: It gets wider when the light is low, and it gets smaller in bright conditions,
            allowing you to capture stunning pictures. Capture the Moment within the Moment and record video at 960
            frames per second and then play it back in Super Slow-mo. </p>
         <p  class="regularfont">Turn yourself into an emoji with AR Emoji by creating sharable avatars of yourself to liven up your
            messages.</p>
      </div>
	   <div class=" offset-md-1 col-sm-5 col-xs-5 col-md-5 col-lg-5 buttonnew">
					<app-buttonnew size='full' label='Contact us' (click)="contact()"></app-buttonnew>
         </div>
		 		      <div class="col-sm-5 col-xs-5 col-md-5 col-lg-5 buttonnew">
					        <app-buttonwhite size='full' label='Frequently Asked Question'  (click)="faqs()"></app-buttonwhite>
         </div>
   </div> -->

<!--know more-->


  <!--my subscription -->
<div class="curve-container bg-color last">
      <div class="white-convex-outer">
      <div class="convex">
 
   <div class="know_more_bg main-cont">
       <h4 class="mediumfont" >More</h4>
      <div id="target">
              <app-dashboard-submenu></app-dashboard-submenu>
              <!-- <router-outlet></router-outlet> -->
      </div>
         <div class="subscrption h4mr_lft" [hidden]='tooglebutton' *ngIf="desc">
            <app-mysubscription (sub)="sub($event)" [erromessage]='erromessage' [class]="toggle ? 'offer-button' : 'selected-button'" [ProductNames]="ProductNames"  [checked]="ProductNames"></app-mysubscription>
         </div>
      <div *ngIf="!desc">
         <p  class="regularfont">Sorry you do not have any subscribed bundles</p>
      </div>

      <div class="subscrption">
		   <!--Success Message-->

         <div class="failmar">
               <div *ngIf="hideee">         
                  <div class="row mobfail">
                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 failed regularfont font_size"> <span><strong><i>Y</i>'ello</strong>, you have Successfully turned <strong>On Autorenew</strong> for {{bundleSubscriptionName}}, 
                        {{bundleSubscriptionDescription}}.</span>                                                                                      
                   </div>        
                        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">   
                        <div class="vouchertxt regularfont font_size"><span  class="msisdnstl">{{msisdn}} </span> </div>     
                        </div>                                          
                     </div>                       
                      <!-- <div class="row failbtn">
                      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                         <app-buttonnew size='full' label='Load another Recharge Card' (click)="loadtopup()"></app-buttonnew>
                      </div>
                      </div>           -->
                </div>            
            </div>
         
         <!--autorenewal-->
         
         <div class="failmar">
               <div *ngIf="hideeeautorenewal">         
                  <div class="row mobfail">
                     
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 failed regularfont font_size"><span><strong><i>Y</i>'ello</strong>, you have Successfully turned <strong>Off Autorenew</strong> for {{bundleSubscriptionName}}, 
                   {{bundleSubscriptionDescription}}.</span>                                                                                    
                   </div>        
                      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">                
                       <div class="vouchertxt regularfont font_size font_align"><span class="msisdnstl">{{msisdn}} </span> </div>     
                        </div>                                          
                     </div>                       
                      <!-- <div class="row failbtn">
                      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                         <app-buttonnew size='full' label='Load another Recharge Card' (click)="loadtopup()"></app-buttonnew>
                      </div>
                      </div>           -->
                </div>            
            </div>
         
           <!--Failure Message-->
           <div class="failmar">
              <div *ngIf="failure">         
                 <div class="row mobfail">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 failed regularfont font_size">                                                   
                  </div>        
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">                  
                     <div class="vouchertxt regularfont font_size font_align"> 
                       <span class="msisdnstl">{{msisdn}} </span> </div>     
                       </div>                                          
                    </div>                       
                     <!-- <div class="row failbtn">
                     <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                        <app-buttonnew size='full' (click)="loadtopup()" label='Load another Recharge Card'></app-buttonnew>
                     </div>
                     </div>           -->
               </div>            
           </div>
</div>
         </div>

      </div>
      </div>
</div>         
 <!--my subscription ends -->
     
         <app-footer></app-footer>

   </div>
