
<div class="main_pages">
  
    <app-header [migrateMode]="header"></app-header>


<div class="main-cont min-height">
  
<div class="rechargeabc"> 
<div class="progress">
<div class="progress-bar progress-bar-success" role="progressbar">
Confirmation
</div>
<div class="progress-bar" [ngClass]='{"progress-bar-warning" : suceesDiv,"progress-bar-failure" : failurDiv}'   role="progressbar">
{{message1}}
</div>
</div>

<div class="backbuttonlogin"  >
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>

<div *ngIf="showsuccessdiv" class="cnfrm-msg">

<!-- <p class="fontsize mediumfont">Your secondary number is </p> -->
<!-- <div class="row xplanst">
   <div class="col-md-12 col-sm-6">
      <p class="rcgfnt mediumfont"><span style="color:#d0d0d0">(+234)</span>{{msisdnval}}</p> 
   </div>
</div> -->
<!-- <p class="fontsize mediumfont">Your new email address is</p> -->
<!-- <p class="rcgfnt mediumfont">{{email}}</p> -->
<div><p class="fontsize mediumfont">Note that you will lose benefits associated with this package ( {{Productname}} )</p></div>
<div><p class="fontsize mediumfont">{{ProductDescription}}</p></div>
<div class="row">     
<div class="col-lg-3 col-md-3 col-sm-6 col-12">
<app-mainbutton size='full' (click)="MigratePlans()" label='Confirm'  ></app-mainbutton>
</div>
</div>

</div>

</div>


<!-- hidden Form form for payment -->

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 failmar">
    <div *ngIf="suceesDiv">         
       <div class="row mobfail">
           <div class="fail">  <img src="../../../../assets/images/success.svg" alt="failed"> </div>                                                   
           <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 errmsg">{{message}}</div>         
         </div>                      
           <div class="row failbtn">
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
              <app-buttonnew size='full' label='Ok' (click)="backbuttons()"></app-buttonnew>
           </div>
           </div>          
     </div>            
  </div>



  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 failmar">
      <div *ngIf="failurDiv">         
         <div class="row mobfail">
            <div class="fail"> <img src="../../../../assets/images/failed.svg" alt="failed"></div>                                                                     
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 errmsg">{{message}}</div>                                                                   
         </div>                      
             <div class="row failbtn">
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
                <app-buttonnew size='full' (click)="backbuttons()" label='Ok'></app-buttonnew>
             </div>
             </div>          
       </div>            
    </div>

<div *ngIf='showLoader' class="row"> 
<app-slimloader></app-slimloader>

</div>

</div>


<app-footer></app-footer>

</div>
