.buybuild{
    padding:0%;
    margin:0%;
    width:100%;
}
.marginleft{margin-left:10px;}
.fontsize{font-size:14px;margin: 13px 0px 0px 0px;padding: 0;}
.sponsoredGBdata{font-size:22px; margin: 0;padding: 0;}
.sharedata{font-size: 13px; margin: 10px 0px 0px 0px; padding: 0px;}
.formdata{font-size: 14px; color: #707070; margin: 0px; padding: 0px;}
.padleftdata{ margin: 0px; padding: 0px 0px 0px 10px;}
.or{font-size: 14px;  margin:10px;}
.selectdata{ font-size: 11px;padding: 0px; margin: 5px 5px 0px 0px;}
.classntng{ padding: 0px; margin: 0px;}
.formborder{ border: 1px solid grey; padding: 10px; margin:10px 0px 10px 0px; border-radius: 5px;}
.colortext{ color:#707070; font-size: 14px;}
.dddd{color: red !important;
    border: 2px solid red !important;
    padding: 12px;}
button {
     background-color: #fcfcfc; 
    color: black;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-top: 16px;
}
.fa-plus-square{
    font-size: 40px;
}
// .iconfix{margin: 30px 0px 0px -42px;}
// i.fa {
//     float: right;
//     margin-top: -38px;
//     margin-right: 5px;
//     pointer-events: none;
//     padding-right: 5px;
//     //background-color: #000;
//     //color: white;
//   }
h4{
    margin-top: 3%;
    width: auto;
    margin-bottom: 2%;
    //overflow: visible;
    display:contents;
}

.butnmarg {padding-top: 15px;}
.xtradata{margin-bottom: 2%; width:100%; margin-top: 20px; display: flex;}
.buybuild-ttl{ font-size: 28px; width: 360px; cursor: pointer;}
.circle{  width: 40px; height: 40px;
    padding: 5px 3px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid #ffcc00;
    transition: all .5s ease; 
     text-align: center;
	  cursor: pointer;
      flex-shrink: 0;
}
  .circle_xtraplans{
        padding: 2px 12px 8px 8px;
        margin-left: 22px;
        border-radius: 50%;
        margin-bottom: 1%;
        //background-color: #ffcc00;
        border: 2px solid #ffcc00;
        transition: all .5s ease; 
    }
.xtratalk{margin:2% 0%;}
.arrow:true{ background-color: #ffcc00;}
.fa{ font-size: 11px;}
.active {  background-color: #ffcc00;}
.mat-radio-button p{ margin-bottom: 0; }

.tab-width{
    width:70%;
    margin-bottom: 3%;
}

      .otpbelow.radiomargin{
        display: block;
      }
      .mat-radio-container .mat-radio-outer-circle{margin-top: 0;}
      .form-wrapper,
      .radiomargin {
        padding: 0;
      }


.flex{   display: flex;}
.mat-radio-button  {
    padding-right: 16px;
    }
    :host /deep/.mat-radio-outer-circle {
    border: solid 2px rgb(8, 8, 8) !important;
    }
    :host /deep/.mat-radio-inner-circle {
    background-color: rgb(8, 8, 8) !important;
    margin-top: 0%;
    
    }

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #000 !important;
}
[class^="mat-radio-inner-circle"]{
    background-color: #000 !important;
}

.plusicon{
    margin: 30px 0px 0px -60px;
    cursor: pointer;
    z-index: 9;
}

@media only screen and (max-width:768px){
     h4{ margin-bottom:7%; }
}
 @media only screen and (min-width:768px){
       }

   @media only screen and (max-width:640px){
        .butnmarg {padding: 0px 10px 0 0;}
        }

@media only screen and (max-width:460px){
        .buybuild-ttl{ font-size: 24px; width: 240px;}
 }

    
