
<div *ngIf='showLoader' class="row">
  <app-slimloader></app-slimloader>
</div>
<div class="buybuild" *ngIf='paymentuipagemigerate'>
  <div class="ml-2 xtradata mediumfont mediumfont">
    <div class="buybuild-ttl" (click)="buybuild()">Main bundles</div>
      <div class="circle" id="circledata"  [ngClass]='{"active" : arrow}' (click)="buybuild()"><i
          class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !arrow}' aria-hidden="true"></i>
        </div>
      </div>
     
      <div *ngIf='arrow' class="marginleft">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="fontsize regularfont">Please select more than 1 bundle below:</p>
        </div>
        <br>
        <div class="row  intercuard" (selected_tab)="onLoadData($event,'Carte')">
           <div class="col-md-6 col-sm-12" *ngFor="let data of buildbundle;let i = index">
              <app-internalcard-cartbundle [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price"  (click)='changeStatus(data, i)'></app-internalcard-cartbundle> 
               <!-- <app-internalcard-cartbundle [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price"  (click)='changeStatus(data, i)'></app-internalcard-cartbundle>    -->
               <!-- <app-internalcard-cartbundle [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price"  (click)='changeStatus(data, i)'></app-internalcard-cartbundle>    -->
            
            </div>
       </div>
       
     
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <p class="fontsize regularfont">You are buying for below number</p>
           <div>
      <br>
           <mat-radio-group class="fontsize mediumfont">
             <div>
               <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="1">Self</mat-radio-button>
             </div>
     
             </mat-radio-group> 
           </div>
           
           <form  [formGroup]='selfform'  class='card-content-pad' *ngIf="!_selectradi">
                 <div class="row form-grp" >
                   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 "  style="padding:10px 10px 10px 0;">
                     <app-input-floating formControlName='msisdn' placeholder='myMTN Number'  value='1' type='text' required maxlengthVal=13
                       [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
                          [errorMsg]="'Please click valid fields to proceed.'" required  (keypress)="numberOnlyself($event)"
                          [(ngModel)] = "msisdnval"  (keypress)="numberOnly($event)" disabled=true></app-input-floating> 
     <a ><b style=" color:#d50000;">{{errorMsg}}</b></a>
                   </div>
                 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 butnmarg">
                       <app-mainbutton label='viewProceed' [disabled]="true" (click)="buyprocce()"   size='full' ></app-mainbutton>
                  <!-- <app-mainbutton  label='Procehhhhhhhhhhhhhhed'  (click)="buycart()"  size='full' ></app-mainbutton> -->
                    </div>
                 </div>
                </form>
           
            
           </div>
        
         <p class="colortext marginleft regularfont">MTN cannot be held responsible for numbers entered incorrectly. Please double
               check the cell
               number you've chosen before recharging. </p>
       
       </div>

<div class="ml-2 xtradata xtradetails mediumfont">
  <div class="buybuild-ttl" (click)="topbuild()">Top up bundles</div>
    <div class="circle" [ngClass]='{"active" : arrow1}' (click)="topbuild()"><i
        class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !arrow1}' aria-hidden="true"></i>
      </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<p  *ngIf='arrow' class="fontsize regularfont">Y'ello, you need to buy Xtravalue Cart to see Top-up bundles. </p>
</div>
<div  *ngIf='arrow1' class="marginleft">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <p class="fontsize mediumfont">Y'ello, you need to have used up to 90% of >> Main bundle elements >> to purchase this bundle.</p>
  </div>
  <div class="row  intercuard" (selected_tab)="onLoadData($event,'Carte')">
      <div class="col-md-6 col-sm-12" *ngFor="let data of buildbundle;let i = index">
         <app-internalcards [promolable]="data.promotionApplicable" [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price"  (click)='changeStatus(data, i)'></app-internalcards>    
  </div>
  </div>
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p class="fontsize regularfont">You are buying for below number</p>
      <div>
 <br>
      <mat-radio-group class="fontsize mediumfont">
        <div>
          <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="1">Self</mat-radio-button>
        </div>

        </mat-radio-group> 
      </div>
      
      <form  [formGroup]='selfform'  class='card-content-pad' *ngIf="!_selectradi">
            <div class="row form-grp" >
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 "  style="padding:10px 10px 10px 0;">
                <app-input-floating formControlName='msisdn' placeholder='myMTN Number'  value='1' type='text' required maxlengthVal=13
                  [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
                     [errorMsg]="'Please click valid fields to proceed.'" required  (keypress)="numberOnlyself($event)"
                     [(ngModel)] = "msisdnval"  (keypress)="numberOnly($event)" disabled=true></app-input-floating> 
<a ><b style=" color:#d50000;">{{errorMsg}}</b></a>
              </div>
            
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 butnmarg">
                  <app-mainbutton label='Proceed' [disabled]="!bottoncolr" (click)="buyprocce()"   size='full' ></app-mainbutton>
               </div>
            </div>
           </form>
      </div>
      <p class="colortext marginleft regularfont">MTN cannot be held responsible for numbers entered incorrectly. Please double
          check the cell
          number you've chosen before recharging. </p>
          {{annu}}
</div>



</div>

