<div class="scrollmenu" >
    <a (click)="onLoadMdNav(rechargeNavEl)"  class="tiny-card" [ngClass]="{'highlighted_bg' : active_nav === rechargeNavEl.id }"  aria-selected='true'  *ngFor="let rechargeNavEl of rechargeOther">
                <img class="imgicon" [src]="rechargeNavEl.source">
                <div class="tcard-txt mediumfont">  <p>{{rechargeNavEl.value}}</p> </div>
                            </a>              
</div>
<app-recharge-history *ngIf="!status"></app-recharge-history>
<app-rechargestatus *ngIf="status"></app-rechargestatus>
