
select{
    background-color: #000;
    color: white;
}

select.input-lg {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    border-radius: 30px;
    font-size: 20px;
    // background-color: #000;
    // color: white;
  }

  
  select + i.fa {
    float: right;
    margin-top: -30px;
    margin-right: 5px;
    pointer-events: none;
    padding-right: 5px;
    //background-color: #000;
    color: white;
  }
 
  
  .form-control:focus{
      background: #000000 !important;
      color: white;
}

i.fa:focus {
    background: #ffcc00 !important;
    //color: black;
}
  select option{
      margin: 40px;
      background: #ffffff !important;
      text-shadow: 0 1px 0 #ffcc00;
      border-radius: 30px;
      font-size: 20px;
      color: black;
  }
  select option[value="option"]{
      background: #ffffff;
      border-radius: 30px;
      color: #000;
      padding: 60px;
      margin: 30px;
      //font-size: 20px;
  }
  select option:checked,
select option:hover {
    box-shadow: 0 0 10px 100px #ffcc00 inset;
}
select:focus > option:checked { 
    background: #ffcc00 !important;
}

.xtraplans{
    padding:0%;
    margin:0%;
    width:100%;
}
.textsty{
line-height: 11px;
font-size:11px;
background-color: #f2f2f2;
border:1px solid white;
 border-radius: 10px 10px 10px 10px;
}

select{
    height: calc(2.25rem + 20px);
 
  }
  textarea:focus,select:focus{
    border:2px solid;
    border-color:#ffcc00 !important;
    box-shadow:none;
  }


.margbody{ margin-left: 10%; margin-right: 10%;  width: 80%; }
.cursor{ cursor: pointer;}
.countrty{
     margin: 20px 0;
    font-size:28px;
    width: auto;
    //overflow: visible;
    //display:contents;

}
.abb {padding-top:15px;}
.colortext{ color:#707070; font-size: 14px;}
   .romaingdispl{
    display: flex;
    align-items: center;
   } 

.arrow:true{ background-color: #ffcc00; }
.mardropdown{  margin-left:-14px;}
.marginrig{ margin-right:20%; }
.intercuard{ margin-top: 20px;}
.fa{ font-size: 11px;}

.xtradetails{margin-bottom: 2%; width:100%; margin-top: 20px; display: flex;}
.xtradata-ttl{ font-size: 28px; width: 340px; cursor: pointer;}
.circle{  width: 40px; height: 40px;
    padding: 6px 3px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid #ffcc00;
    transition: all .5s ease; 
     text-align: center;
 cursor: pointer;
 flex-shrink: 0;
}

.circleservices{
  
    padding: 2px 12px 2px 12px;
    margin-left: 1%;;
    border-radius: 50%;
    margin-bottom: 1%;
    background-color: #ffcc00;
    border: 2px solid #ffcc00;
    transition: all .5s ease;

}
.siztext{    font-size: 14px;}
.tab-width{ width: 100%;}
.active {   background-color: #ffcc00;}

.mat-radio-button p{ margin-bottom: 0; }
 .otpbelow.radiomargin{  display: block; }
.mat-radio-container .mat-radio-outer-circle{margin-top: 0;}
.form-wrapper, .radiomargin {   padding: 0; }

.flex{  display: flex;}

.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
    }
    :host /deep/.mat-radio-outer-circle {
    border: solid 2px rgb(8, 8, 8) !important;
    }
    :host /deep/.mat-radio-inner-circle {
    background-color: rgb(8, 8, 8) !important;
    margin-top: 0%;
    
    }


.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #000 !important;
}
[class^="mat-radio-inner-circle"]{
    background-color: #000 !important;
}



@media only screen and (max-width:768px){
     h4{ margin-bottom:7%;}
    .tab-width{ width:100%; }
    .marginleft{  width:100%;}
    
    }
 
    @media only screen and (max-width:640px){
        .butnmarg {padding: 0px 10px 0 0;}
        }
 
@media only screen and (max-width:460px){
        .xtradata-ttl{ font-size: 24px;}
 } 
    
