<div *ngIf='showLoader' class="row">
  <app-slimloader></app-slimloader>

</div>
<div class="">
  <div class="xtraplans" *ngIf='paymentuipagemigerate'>
    <div class="xtradata xtradetails mediumfont">
      <div class="xtradata-ttl" (click)="xtratalk()">Roaming Countries </div>
        <div class="circle" [ngClass]='{"active" : arrow1}' (click)="xtratalk()"><i
            class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !arrow1}' aria-hidden="true"></i>
          </div>
    </div>

    <div *ngIf='arrow1'>
      <p class="siztext regularfont">Please select a country below:</p>
     
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mardropdown marginleft" style="padding:0;">
       <!-- <option [ngValue]="undefined" disabled  selected> State of Origin </option> -->
        <select class="form-control input-lg" id="sel1" style="font-weight: 200;" (change)="onChangeState($event.target.value)" [(ngModel)]="selectedroamingcountry">
          <option *ngFor='let state of roamingcountry' style="font-weight: 200;">{{state.COUNTRY}} </option>
        </select>
        <i class="fa fa-chevron-down"></i>
      </div>

      <div class="row" *ngIf='headinghide'>
        <div class="col-md-6 col-sm-12">
          <p class="countrty marginheade marginleft mediumfont">Services</p>
         
          <div class="row  siztext regularfont" *ngFor="let roamingdat of roamingcountrydata">
            <div class="col-2">
              <span class="circleservices"></span>
            </div>
            <div class="col-3 pl-0">
              <p>{{roamingdat.operater}}</p>
            </div>
            <div class="col-7 pl-0">
              <p>{{roamingdat.service}}</p>
            </div>
          </div>

        </div>


        <div class="col-md-6 col-sm-12">
          <p class="countrty marginleft mediumfont">Outgoing calls to Nigeria</p>
          
          <div class="row siztext regularfont" *ngFor="let roamingdat of roamingcountrydata">
            <div class="col-2">
              <span class="circleservices"></span>
            </div>
            <div class="col-3 pl-0">
              <p>{{roamingdat.operater}}</p>
            </div>
            <div class="col-7 pl-0">
              <p><b>N</b> {{roamingdat.callnig}}<b>/min</b></p>
            </div>
          </div>
        </div>
    
      </div>
     

      <!-- outgoingcalllvisitied -->

      <div class="row" *ngIf='headinghide'>
        <div class="col-md-6 col-sm-12">
          <p class="countrty marginheade marginleft mediumfont">Outgoing call to visited country</p>
        
          <div class="row siztext regularfont" *ngFor="let roamingdat of roamingcountrydata">
            <div class="col-2">
              <span class="circleservices"></span>
            </div>
            <div class="col-3 pl-0">
              <p>{{roamingdat.operater}}</p>
            </div>
            <div class="col-7 pl-0">
              <p><b>N</b> {{roamingdat.calltocurrrent}}<b>/min</b></p>
            </div>
          </div>


        </div>

        <div class="col-md-6 col-sm-12">
          <p class="countrty marginheade marginleft mediumfont">Outgoing call to Rest of the World</p>
         
          <div class="row siztext regularfont" *ngFor="let roamingdat of roamingcountrydata">
            <div class="col-2">
              <span class="circleservices"></span>
            </div>
            <div class="col-3 pl-0">
              <p>{{roamingdat.operater}}</p>
            </div>
            <div class="col-7 pl-0">
              <p><b>N</b> {{roamingdat.calltoworld}}/min</p>
            </div>
          </div>

        </div>
      </div>
      
<!-- //incomingcall/min -->

<div class="row" *ngIf='headinghide'>
<div class="col-md-6 col-sm-12">
    <p class="countrty marginheade marginleft mediumfont">Incoming call/min</p>
   
    <div class="row siztext regularfont" *ngFor="let roamingdat of roamingcountrydata">
      <div class="col-2">
        <span class="circleservices"></span>
      </div>
      <div class="col-3 pl-0">
        <p>{{roamingdat.operater}}</p>
      </div>
      <div class="col-7 pl-0">
        <p><b>N</b> {{roamingdat.incoming}}/min</p>
      </div>
    </div>

  </div>
  
  <!-- //ougoing SMS -->
  <div class="col-md-6 col-sm-12">
      <p class="countrty marginheade marginleft mediumfont">Outgoing SMS</p>
    
      <div class="row siztext regularfont" *ngFor="let roamingdat of roamingcountrydata">
        <div class="col-2">
          <span class="circleservices"></span>
        </div>
        <div class="col-3 pl-0">
          <p>{{roamingdat.operater}}</p>
        </div>
        <div class="col-7 pl-0">
          <p><b>N</b> {{roamingdat.outgoingsms}}/min</p>
        </div>
      </div>

    </div>
   
  </div>
    <!-- //GPRS Rate -->

    <div class="row" *ngIf='headinghide'>
    <div class="col-md-6 col-sm-12">
        <p class="countrty marginheade marginleft mediumfont">GPRS rate</p>
      
        <div class="row siztext regularfont" *ngFor="let roamingdat of roamingcountrydata">
          <div class="col-2">
            <span class="circleservices"></span>
          </div>
          <div class="col-3 pl-0">
            <p>{{roamingdat.operater}}</p>
          </div>
          <div class="col-7 pl-0">
            <p><b>N</b> {{roamingdat.GPRSrate}}/min</p>
          </div>
        </div>

      </div>
      <!-- Gprs Charging Increment -->

      <div class="col-md-6 col-sm-12">
          <p class="countrty marginheade marginleft mediumfont">GPRS Charging Increment</p>
        
          <div class="row siztext regularfont" *ngFor="let roamingdat of roamingcountrydata">
            <div class="col-2">
              <span class="circleservices"></span>
            </div>
            <div class="col-3 pl-0">
              <p>{{roamingdat.operater}}</p>
            </div>
            <div class="col-7 pl-0">
              <p><b>N</b> {{roamingdat.GPRScharging}}/min</p>
            </div>
          </div>

        </div>
      </div>
    </div>
   
    <div class="xtradata xtradetails mediumfont">
        <div class="xtradata-ttl" (click)="xtradata()">Roaming Offers </div>
          <div class="circle" id="circledata "  [ngClass]='{"active" : arrow}' (click)="xtradata()"><i
              class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !arrow}' aria-hidden="true"></i>
    </div>
      </div>



    <div *ngIf='arrow'>
      <div  class="tabmargin" *ngIf='isDataLoaded'>

        <app-tabsnormal class='tab-width' [faq_tab_header_Elements]='elementVal' (selected_tab)="onLoadData($event)">
        </app-tabsnormal>

      </div>
        <div class="col-xl-6  col-lg-6 col-md-6" style="margin: 15px 0px 25px -15px; "*ngIf="countryDropdown">
        <select class="form-control" id="sel1" (change)="onChangedataCountries($event.target.value)" >
          <option   selected>MTN Countries </option>
          <option  >Other Countries </option>
        </select>
      </div>
     
      <div class="row  intercuard">
        <div class="col-md-6 col-sm-12" *ngFor="let data of roamingDataPeriodicity;let i = index">

          <app-internalcards [label]="data.ProductName" [active]=data.active [desc]="data.Description" [price]="data.Price"
            (click)='changeStatus(data, i)'></app-internalcards>
           <div class="row">
            <div class="cursor col-xs-12 col-sm-12 col-md-12 col-lg-12  regularfont" (click)="countries(dataAction, data)">
              <p>Offer available in {{offerAvailTotalCountries}} countries 
                  <i class="fa fa-chevron-up"  [ngClass]='{"fa-chevron-down" : !data.offerCountriesArrow}' aria-hidden="true" ></i>
              </p>
            </div> 
          </div>
            <div class="regularfont font_size11 textsty"  *ngIf='data.offerCountriesArrow'>
              
              <p  style="margin:5px 0px 5px 5px; height: 60px; width:402px;overflow: auto;">{{listOfOfferAvailCountry}}</p>
            
              
              </div>
           
            
          <!-- <app-xtraplanst  [label]="data.pname" [active]=data.active [desc]="data.description" [price]="data.price" (click)='changeStatus(i)'></app-xtraplanst>  -->

        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div>
          <mat-radio-group class="siztext mediumfont">
            <div>
              <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="1">Self</mat-radio-button>
            </div>
             <!-- <div>
             <mat-radio-button (click)="onslectradio(true)" value="2">Others</mat-radio-button>
            </div>  -->
          </mat-radio-group>
        </div>

        <form [formGroup]='selfform' class='card-content-pad'>
          <div class="row form-grp">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"  style="padding:10px 10px 10px 0;">
              <app-input-floating formControlName='msisdn' placeholder='myMTN Number' iconPosition='left' iconName='recharge' value='1' type='text' required
                maxlengthVal=11
                [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
                [(ngModel)]="msisdnval" [errorMsg]="'Please enter a valid MTN number'" required
                (keypress)="numberOnly($event)" disabled='true'></app-input-floating> <a *ngIf="errorMsg"><b
                  style=" color:#be1e50;">{{errorMsg}}</b></a>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 abb">
              <!-- {{selfform.invalid}} {{bottoncolr}} -->
              <app-mainbutton label='Proceed' [disabled]="!bottoncolr" (click)="buyprocce()" size='full'>
              </app-mainbutton>
            </div>
          </div>
        </form>


      </div>

      <p class="colortext marginleft regularfont">MTN cannot be held responsible for numbers entered incorrectly. Please double
        check the cell
        number you've chosen before recharging. </p>
    </div>
	 </div>

  </div>


