  <div class="row">
    <div class="col nopadding" [ngClass]="{'app-input-error': valid && dirty , 'app-input-focus': !valid && dirty}">
      <mat-form-field [floatLabel]="placeholder" class="form-field w-100" appearance="outline">
        <mat-label class="touched" [ngClass]="labelClass">{{placeholder}}</mat-label>
        <input matInput [value]="_value" (focus)='onFocus()' (blur)='onBlur()' class='input-field'
          [disabled]='disabled' (keyup)="renderChange($event.target.value)" autocomplete="off"
          [matDatepicker]="datepicker" (click)="datepicker.open()" [max]="maxDate" [min]="minDate"
          (dateChange)="getSelectedDate($event.target.value)" readonly>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>