 <!-- <div class="col-xs-12 col-sm-12 col-md-12">
  <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-9">
          {{label}}
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
         <mat-slide-toggle (toggleChange)='toggleStatusChange()' [checked]="toggleStatus"></mat-slide-toggle>
		         
      </div>
  </div>
</div> -->

  <mat-slide-toggle  [checked]='toggleStatus'></mat-slide-toggle>