
<div class="main-cont">
<div class="scrollmenu">
<a (click)="onLoadMdNav(rechargeNavEl)" class="tiny-card"
                  [ngClass]="{'highlighted_bg' : active_nav === rechargeNavEl.id }" aria-selected='true'
                  *ngFor="let rechargeNavEl of rechargeNavElements">
      <img class="imgicon" [src]="rechargeNavEl.source">
      <div class="tcard-txt mediumfont"> <p>{{rechargeNavEl.value}}</p> <p>Stores</p></div>
 </a>
</div>
</div>

<router-outlet></router-outlet>