@import './config/config';

// .mat-button-focus-overlay{
//   background-color: $disabled !important;
// }

.mat-button[disabled]{
   //background-color: #ffffff !important;
     background-color: transparent !important;
  //border: 0px solid $button-disabled !important;
    border: 2px solid #000000 !important;
  // background-color: $disabled !important;
  // border: 0px solid $disabled !important;
  & i{
    color: $white;
  }
}
.mat-button[disabled] .mat-button-focus-overlay, .mat-icon-button[disabled] .mat-button-focus-overlay{
 // background-color: transparent !important;
  color: $disabled !important;
}
.disabled{
  background-color: #E4E4E4 !important;
}
//.nopadding {
//  padding: 0 !important;
//  margin: 0 !important;
//}
#buttonp{
 // width: 100%;
  text-align: center;
  border-radius: 100px;
  margin: 5px 0px !important;
  padding: 3px 0px;
 background-color: #ffcc00 ;
  font-size: 12px;
  //filter: drop-shadow(0 0 0.2rem grey);
  // box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
   border: none;
}
 #buttonp:hover{
    background-color:#ffe582;  
  }

  @media only screen and (max-width:640px){
    #buttonp{margin:15px 0px !important; }
  }

button:hover{
  background-color:#ffe582;
  color: black;
}

.mat-button-focus-overlay{
  background-color: transparent !important;
}
#btn-container{
  display: grid;
  grid-template-columns: 1fr;
  color: $default-text !important
}
#icon{
  padding-top:9px;
}
button:focus {
  outline:0 !important;
}
.filled {
  background-color: $warning;
  & i{
    color:$white;
  }
}
.borderline {
  background-color: transparent;
  border: 1px solid $border;
  & i{
    color:$default-text !important;
  }
}
.borderline:hover {
  border: 1px solid $border-light;
}
.mat-button-focus-overlay, .mat-button-ripple{
  border-radius: 100px;
}
.fab-btn-lable{
  padding: 5px 2px;
}
.mat-fab{
  width: 36px !important;
  height: 36px !important;
}

.mat-fab .mat-button-wrapper {
  padding: 10px 0px !important;
  display: inline-block;
  line-height: 24px;
}

.mat-fab .fa-lg {
  font-size: 14px;
  // line-height: -9.25em;
  vertical-align: 35%;
}

.full-btn{
  width: 100%;
}

.quater-btn{
  width: 30%;
}
.half-btn{
  width: 45%;
}

.round-btn{
  border-radius: 50%;
  padding: 28px 1px;
  width: 10%;
}

#label{
  overflow : hidden;
  text-overflow : ellipsis;
  padding-right : 1px;
  font-size: 14px;
font-family: 'MTNBrighterSans-Medium';
}

//  .material-icons {
//   vertical-align: top;
//   line-height: 40px;
// }