.bg-gray{background: #f2f2f2;}
.bg-yellow{background: #ffcc00;}
.bg-white{background: #fff;}
.curve-container{
	padding-bottom: 30px;
	height: auto;	
}
.last{padding-bottom: 0px;}

.yellow-convex-outer{position: relative;background: #ffcc00; z-index: 1;}
.gray-convex-outer{position: relative;background: #f2f2f2; z-index: 1;}
.white-convex-outer {position: relative;background: #fff; z-index: 1;}
.yellow-convex-outer::after {
    content:'';
    position:absolute;
	background:#ffcc00 ;
	border-radius: 0 0 100% 100%;
    width:120%;
    height:100px;
    bottom:-40px;
    left:-10%;
    z-index: -1;
}
.white-convex-outer::after {
    content:'';
    position:absolute;
	background:#fff ;
	border-radius: 0 0 100% 100%;
    width:120%;
    height:100px;
    bottom:-40px;
    left:-10%;
    z-index: -1;
}
.gray-convex-outer::after {
    content:'';
    position:absolute;
	background:#f2f2f2 ;
	border-radius: 0 0 100% 100%;
    width:120%;
    height:100px;
    bottom:-40px;
    left:-10%;
    z-index: -1;
}


.curve-container .convex{min-height: 200px;}
.convex img{ max-width: 100%;}

.concave {
    background:#1d1d1d;
    width:100%;
    position:relative;
    box-sizing:border-box;
}
.concave:before {
    content:'';
    position:absolute;
	background:#fff ;
	border-radius: 0 0 200% 200%;
    width:120%;
    height:60px;
    top:0;
    left:-10%;
    transform:translatey(-25%);
}
.ftr-gray-curve .concave:before {background:#f2f2f2 ;
    border-radius: 0 0 200% 200%;}

@media only screen and (max-width: 768px) {   
    .curve-container .convex{min-height: 300px;}
    }
