// @import './config/config';

@font-face{
 font-family: 'MTN Sans';
  src: url("/app/appassets/fonts/MTNBrighterSans-Light.woff"),
  url("/app/appassets/fonts/MTNBrighterSans-Light.otf"),
  url("/app/appassets/fonts/MTNBrighterSans-Light.eot");  
  font-weight: 100;
}

// @font-face{
//   font-family: 'MTN Sans';
//   src: url('/appassets/fonts/MTNBrighterSans-Regular.otf');
//   font-weight: 400;
// }

// @font-face{
//   font-family: 'MTN Sans';
//   src: url('/appassets/fonts/MTNBrighterSans-Medium.otf');
//   font-weight: 600;
// }

// @font-face{
//   font-family: 'MTN Sans';
//   src: url('/appassets/fonts/MTNBrighterSans-Bold.otf');
//   font-weight: bold;
// }

// @font-face{
//   font-family: 'MTN Sans';
//   src: url('/app/appassets/fonts/MTNBrighterSans-ExtraBold.otf');
//   font-weight: bolder;
// }

/** Font Faces for Internet Explorer**/
@font-face{
  font-family: 'MTN Sans IE';
  src: url('/app/appassets/fonts/MTNBrighterSans-Light.woff');
  font-weight: 200;
}

@font-face{
  font-family: 'MTN Sans IE';
  src: url('/app/appassets/fonts/MTNBrighterSans-Regular.woff');
  font-weight: 600;
}
@font-face{
  font-family: 'MTNBrighterSans-Regular';
  src: url('/app/appassets/fonts/MTNBrighterSans-Regular.woff');
}

@font-face{
  font-family: 'MTN Sans IE';
  src: url('/app/appassets/fonts/MTNBrighterSans-Medium.woff');
  font-weight: 400;
}
@font-face{
  font-family: 'MTNBrighterSans-Medium';
  src: url('/app/appassets/fonts/MTNBrighterSans-Medium.woff');
}
@font-face{
  font-family: 'MTN Sans IE';
  src: url('/app/appassets/fonts/MTNBrighterSans-Bold.woff');
  font-weight: bold;
}
@font-face{
  font-family: 'MTNBrighterSans-Bold';
  src: url('/app/appassets/fonts/MTNBrighterSans-Bold.woff');
}

@font-face{
  font-family: 'MTN Sans IE';
  src: url('/app/appassets/fonts/MTNBrighterSans-ExtraBold.woff');
  font-weight: bolder;
}
/** Font Faces for Internet Explorer**/
body {
 // font-family: 'MTN Sans', Century Gothic, Arial;
  color: black;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.mat-toolbar, .mat-select, .mat-option, .mat-form-field, .mat-select-trigger
.mat-select-value, .mat-input-placeholder-wrapper.mat-form-field-placeholder-wrapper, .mat-select-arrow
.mat-error, .mat-card, .mat-radio-button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  //font-weight: 700;
}

.mat-expansion-panel-header,.mat-expansion-panel-content{
  font-family: 'MTNBrighterSans-Regular'!important;
  font-size: 12px;
}

.mat-radio-label{font-weight: normal;}
.mat-button{
  font-family: 'MTNBrighterSans-Medium';
  font-size: 14px;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper{
  font-family: 'MTNBrighterSans-Regular';
}
.fa{
  color: black;
}
a:hover, a:visited, a:active{
  color: black;
}
.section-title{
  font-weight: bold;
}

.layout-title{
  font-weight: 300;
}
.mat-radio-button, .mat-radio-label-content{
	font-family: 'MTNBrighterSans-Medium';
}
// @media screen and (max-width: $resS){
//   .layout-title{
//   }
// }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
 
  body {
    font-family: 'MTN Sans IE';
    color: black;
  }
}
