@import './config/config';

@media (max-width: 575px){
    .col-sm-8 {
        flex: 0 0 66.666667% !important;
        max-width: 66.666667% !important;
    }
    .col-sm-4 {
        flex: 0 0 33.3333333% !important;
        max-width: 33.333333% !important;
    }
}