.mat-form-field-underline {
  display: none;
}
.mat-form-field-flex {
  border-radius: 6px;
  padding: 1em;
}
.mat-form-field.mat-focused .mat-form-field-label {
  color: #ffcc00 !important;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  margin-top: -0.25em;
}



.mat-form-field-label {
  padding-left: 1em;
}
mat-form-field{
  display: block !important;
}


.mat-form-field-underline {
  display: none;
}
.mat-form-field-flex {
  border-radius: 6px;
  padding: 1em;
}



mat-label{
  color: #666666;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.app-input-error mat-label{
  color: #d50000;
}
mat-label.label-on{
  background-color: white;
}
mat-label.label-off{
  background-color: #f2f2f2;
}
.mat-error{
  color: #d50000;
  font-size: 12px;
}
.mat-form-field-wrapper{
  padding-bottom: 0;
  font-size: 14px;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper{
  padding-bottom: 0;
}
mat-icon {
  display: grid !important;
  vertical-align: middle;
}
.mat-form-field-outline-thick {
  color: #6e6e6e !important;
}
.app-input-focus .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ffcc00 !important;
}
.app-input-error .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #d50000 !important;
}
.app-input-blur .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #6e6e6e !important;
}














// .mat-form-field-underline {
//   display: none;
// }
// .mat-form-field-flex {
//   border-radius: 6px;
//   padding: 1em;
// }


// .mat-form-field-label {
//   padding-left: 1em;
//   // padding-top: 0.3em;
// }
// mat-label.untouched{
//   background-color: white;
//   color: black;
// }
// mat-label.touched{
//   background-color: #f2f2f2;
//   color: #666666;
// }
// .mat-error{
//   color: #be1e50;
//   font-size: 11px;
// }
// .mat-form-field-wrapper{
//   padding-bottom: 0;
//   font-size: 13px;
// }
// .mat-form-field-appearance-legacy .mat-form-field-wrapper{
//   padding-bottom: 0;
// }
// mat-icon {
//   display: grid !important;
//   vertical-align: middle;
// }


// .mat-form-field-underline {
//   display: none;
// }
// .mat-form-field-flex {
//   border-radius: 6px;
//   padding: 1em;
// }


// .mat-form-field-label {
//   padding-left: 1em;
//   // padding-top: 0.3em;
// }
// mat-label.untouched{
//   background-color: white;
//   color: black;
// }
// mat-label.touched{
//   background-color: #f2f2f2;
//   color: #666666;
// }
// .mat-error{
//   color: #be1e50;
//   font-size: 11px;
// }
// .mat-form-field-wrapper{
//   padding-bottom: 0;
//   font-size: 13px;
// }
// .mat-form-field-appearance-legacy .mat-form-field-wrapper{
//   padding-bottom: 0;
// }
// mat-icon {
//   display: grid !important;
//   vertical-align: middle;
// }




