

    <div class="nopadding" [ngClass]="{'app-input-error': valid && dirty , 'app-input-focus': !valid}">
      <mat-form-field [floatLabel]="placeholder" class="form-field w-100" appearance="outline">
          <!-- <img [src]= 'imagePath' alt='Hello' class='left-icon'/> -->
            <mat-icon *ngIf="iconPosition === 'left'" matPrefix>
                <img [src]= 'imagePath' alt='Hello' class='left-icon' [hidden]='showErrorMessage'/>
                <img [src]= 'imagePath' alt='Hello' class='left-icon' [hidden]='!showErrorMessage'/>
              </mat-icon>
            <mat-icon *ngIf="iconPosition === 'right'" matSuffix (click)="tooltip.emit()">
                <img [src]= 'imagePath' alt='Hello' class='left-icon' [hidden]='showErrorMessage'/>
                <img [src]= 'imagePath' alt='Hello' class='left-icon' [hidden]='!showErrorMessage'/>
            </mat-icon>
            <mat-label class="touched" [ngClass]="labelClass">{{placeholder}}</mat-label>
            <input matInput 
            [attr.maxlength]='maxlengthVal'
            [type]="type" 
            [value]="_value"
            (focus)='onFocus()'
            (blur)='onBlur()'
            class='input-field'
            [disabled] = 'disabled'
         
            (keyup)="renderChange($event.target.value)"
            autocomplete="off">
      </mat-form-field>
    </div>

  <div class="leror mt-2" *ngIf="valid && dirty">
    <div class="nopadding">
        <span class='mat-error'>{{errorMsg}}</span>
    </div>




<!-- 
      
      <div class="container">
        <div class="row">
          <div class="col nopadding ">
            <mat-form-field  style="margin-top: 5%;" [floatLabel]="placeholder" class=" form-field w-100 input-blur" appearance="outline">
                  <mat-icon matPrefix><img [src]= 'imagePath' alt='Hello' class=' left-icon'/></mat-icon>
                  <mat-label class="touched">{{placeholder}}</mat-label>
                  <input matInput 
                  [attr.maxlength]='maxlengthVal'
                  [type]="type" 
                  [value]="_value"
                  (focus)='onFocus()'
                  (blur)='onBlur()'
                  class='input-field'
                  (paste)='onPaste($event)'
                  (keyup)="renderChange($event.target.value)"
                  autocomplete="off">
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-2" *ngIf="showErrorMessage">
          <div class="col nopadding">
              <span class='mat-error'>{{errorMsg}}</span>
          </div>
        </div>
      </div> -->