<div *ngIf='showLoader' class="row">
    <app-slimloader></app-slimloader>
</div>

<div class="row backbutton">
  <app-backbutton label='Back' (click)="backout()"></app-backbutton>
</div>
<br>

<div class="container-grid margbody " *ngIf='phonconf &&!suceesDiv &&!failurDiv' >

    <p class="mediumfont callfar"><b>Y'ello</b> You are requesting below Number Calls forwarding to Phone.</p>
    <p class="rcgfnt mediumfont">+234{{msisdnother}}</p>
    <p class="boldfont callfar">Are you sure you want to proceed?</p>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ccc">

      <app-mainbutton label='Confirm' (click)="phoneconfirm()" size='full'>
      </app-mainbutton>
    </div>
 
</div>

<div class="container-grid margbody" *ngIf='voiceconf &&!suceesDiv &&!failurDiv'  >
   
    <p class="mediumfont callfar"><b>Y'ello</b> You are requesting below Number calls forwarding to Voicemail.</p>
    <p class="rcgfnt mediumfont">+{{msisdnval}}</p>
    <p class="boldfont callfar">Are you sure you want to proceed?</p>
   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ccc">
        <app-mainbutton label='Confirm' (click)="voicecallconfirm()" size='full'></app-mainbutton>
    </div>
</div>

<div class="container-grid margbody" *ngIf='deacticonf && !suceesDiv && !failurDiv'>
        
    <p class="mediumfont callfar"><b>Y'ello</b> You are requesting below Number calls Deactivate to Voicemail.</p>
    &nbsp;
    <p class="rcgfnt mediumfont">+{{msisdnval}}</p>
    <p class="boldfont callfar">Are you sure you want to proceed?</p>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ccc">
        <app-mainbutton label='Confirm' (click)="deactcallforconfirm()" size='full'></app-mainbutton>
    </div>

</div>

<div class="container-grid margbody" *ngIf='resetconf && !suceesDiv && !failurDiv'>
    <p class="mediumfont callfar"><b>Y'ello</b> You are requesting below Number to Reset Call Barring.</p>
    &nbsp;
    <p class="rcgfnt mediumfont">+{{msisdnval}}</p>
    <p class="boldfont callfar">Are you sure you want to proceed?</p>
   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ccc">
        <app-mainbutton label='Confirm' (click)="resetconfirm()"size='full'></app-mainbutton>
    </div>
</div>

<div class="container-grid margbody" *ngIf='barrconf && !suceesDiv && !failurDiv'>
        <p class="mediumfont callfar"><b>Y'ello</b> are you sure you want to do call barring for incoming numbers?</p>
        &nbsp;
        <p class="rcgfnt mediumfont">+{{msisdnval}}</p>
        <p class="boldfont callfar">Are you sure you want to proceed?</p>
     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ccc">
            <app-mainbutton label='Confirm' (click)="barincominconfirm()" size='full'></app-mainbutton>
        </div>
    </div>

    <div class="container-grid margbody" *ngIf='unbarrcinf && !suceesDiv && !failurDiv'>
            <p class="mediumfont callfar"><b>Y'ello</b> are you sure you want to do call unbarring for incoming numbers?</p>
            &nbsp;
            <p class="rcgfnt mediumfont">+{{msisdnval}}</p>
            <p class="boldfont callfar">Are you sure you want to proceed?</p>
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ccc">
                <app-mainbutton label='Confirm' (click)="unbarincominconfirm()" size='full'></app-mainbutton>
            </div>
        </div>




<div class="container-grid mb20" *ngIf='suceesDiv'>
 
  <app-success Message={{message}}></app-success>
</div>

<div class="row mb20" *ngIf="failurDiv">

  <app-failure Message={{message}}> </app-failure>
</div>