<div class="failmar">
       
  <div class="row mobfail">
      <div class="fail"> 
         <img src="../../../../assets/images/success.svg" alt="success"> 
      </div> 
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-9 col-9 failed mediumfont">Success!</div>                                                    
   </div>        
      <div class="row errmar">                
     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 errmsg regularfont">{{Message}}</div>                  
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">   
    
        </div>                                          
     </div>                       

</div>