
 <div class="main_pages">
          <app-header [migrateMode]="header"></app-header>
  
  <div class="main-cont min-height">
        <app-confirmprofile ></app-confirmprofile>
  </div>
       <app-footer></app-footer>
    </div>