 //NEW FEATURE CARD
.abc{

  background-color:#f2f2f2;
}
.spc{
  margin: 15px;
}
.crd{
  background-color: #ffffff;
    border-radius: 15px;
    height: 155px;
    width: 120px;
    max-width: 100%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15) !important;
}

.fntt{
  font-weight: 600;
  font-size: 13px;
  margin-left: 18px;
  color: #000000;
  padding-top: 3px;
}

.abcc{
  background-color: #ffcc00;
  border:none;
  border-radius: 45px;
  height: 32px;
  width: 95px;
  font-size: 16px;
  margin-top: 28px;
  margin-left: 12px;
}

#labell{
  text-align: left;
  margin-right: 20px;
  font-weight: 700;
  font-size: 14px;
  color: 000000;  
}

.fa{
  float: right;
  line-height: 27px;
  padding-right: 5px;
  font-size: 13px;
}

.imgicon{  
  padding-top: 14px;
  margin-left: 7px;
}
button:hover{
    background-color:#ffe582;
    color: #000000;
  }
  @media only screen and (max-width: 800px){
    .aaaa{
    display: -webkit-box;
    overflow-x: scroll;
    }
}







.homecard{
  background-color:#ffcc00;
  height: 400px;
  width: 100%;
  // border-bottom-left-radius: 5%;
  // border-bottom-right-radius: 5%;
}

.name{
  padding-left: 5px;
  padding-top: 1px;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}

.greet{

  font-size: 24px;
  line-height: 35px;
  font-weight: 500;
}

.gmm
{
padding: 70px 0px 0px 144px;
}


.dot {
  height: 83px;
  width: 83px;
  background-color: #ffffff;
  border-radius: 50%;
 // margin: 60px;
 //margin-left: 120px;
 margin-top: 8px;
}

.imgiconcard{
  margin-top: 17px;
  margin-left: 17px;
}
.txtcrd{
  font-size: 16px;
  line-height: 17px;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 14px;
  white-space: nowrap;
}

.txtcrdd{
  font-size: 24px;
  line-height: 17px;
  font-weight: 700;
  white-space: nowrap;
  margin-top: 8px;
  margin-left: 14px;

}
.spcc{
  margin-left: 100px;
}
.mobb{
  margin-left: 9px; 
  height:180px;
}
.btnmrg{

  margin-left: 325px;
}
@media only screen and (max-width: 800px){
  .abbb{
  display: -webkit-box;
  overflow-x: scroll;
  }
 

  .gmm
  {
   padding: 70px 0px 0px 31px;
  }

.mobb{
  margin-left: -80px; 
  height:180px;
}

}

@media only screen and (max-width: 600px){

  .btnmrg{
    margin-left: 0px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
 

  .btnmrg{
    margin-left: 200px !important;
  }

}




//lebel sizes

.signin{
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
}
.rcglgn{
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.otplb{
  font-weight: bold;
  font-size: 21px;
  line-height: 35px;
}
