<div class="scrollmenu" >
             <a (click)="onLoadMdNav(rechargeNavEl)"  class="tiny-card" [ngClass]="{'highlighted_bg' : active_nav === rechargeNavEl.id }"  aria-selected='true'  *ngFor="let rechargeNavEl of rechargeNavElements" style="margin-left: 0;">
                               <img class="imgicon" [src]="rechargeNavEl.source">
                               <div class="tcard-txt mediumfont">
                              <p>{{rechargeNavEl.value}}</p>
                              <p>Card</p>
                            </div>
           </a>
 </div>


 