
.scrollmenu {display:flex;
	 padding-left: 10px;
	height: 150px;
	margin-bottom: 10px;
}

.tiny-card {
	flex-shrink: 0;
	color: #111;
	background-color:#f2f2f2;
	text-align: left;
	text-decoration: none;
	cursor: pointer;
	color: #888;
	font-size: 14px;
	height: 115px;
	width: 115px;
	border: 1px solid transparent;
	border-radius: 15px;
	padding: 10px;
	margin-right: 15px;
}

.tiny-card:hover {  background-color: #d3d3d3; }
.imgicon{ margin-top:5px; margin-right: 10px; width: 35px; }
.tcard-txt{ padding-top: 5px; margin-left:0px; }

.highlighted_bg {
   position: relative;
   background-color: #ffcc00 !important;
   color:#000000!important;
   box-shadow: 0 15px 16px 0 rgba(0, 0, 0, 0.15) !important;
}

.highlighted_bg::after {
	content: '';
 position: absolute;
 left: 50px;
 bottom: -15px;
 width: 0;
 height: 0;
 border-left: 8px solid transparent;
 border-right: 8px solid transparent;
 border-top: 18px solid #ffcc00;
 clear: both;
}


