.clr{clear:both;}
.bd-example{ background-color: #ffcc00; margin-top: 74px;}
.bd-example.curve-container{  background-color: #ffcc00;}

.carousel-curve-container{ 
  position: relative;
	top: 0px;
	overflow: hidden;
	height: auto;	
}
.carousel-yellow-convex {
	background-color:#ffcc00 ;
	border-radius: 0 0 200% 200%;
	left: -50%;
	margin: 0 auto;
	overflow: hidden;
	position:relative;
	width: 200%;
}


.carousel-curve-container .convex{max-width: 50%;
	margin: 0 auto;}
.convex img{ max-width: 100%;}


.c1{background-image: url("/app/appassets/images/MTN_Mass_187266931.jpg"); 
  background-size: cover; background-position: center;}
.c2{background-image: url("/app/appassets/images/2019.jpg");
  background-size: cover; background-position: center;}
.c3{background-image: url("/app/appassets/images/MTN_SME_472347382.jpg");
  background-size: cover; background-position: center;}

.carousel .carousel-item { transition-duration: 100;}

.carousel-item{  background-color:#ffcc00; overflow: hidden; min-height: 500px; }
.carousel-inner{background-color:#ffcc00; } 

.carousel-indicators{
  z-index: 4;
  justify-content: left;
  bottom:50px;
  display: -webkit-box;
  width: 38px; margin: 0 auto;
  }
  .carousel-indicators li {
    width: 6px;
    height: 6px;
    border-radius: 100%; 
    opacity: 1;  border: 1px solid #fff;
  }
  .carousel-indicators li.active{
     background-color: transparent !important;}
  .carousel-caption{ left:10%; bottom: 190px; text-align: left; 
  width: 80%; }

  h5{ font-size: 24px; margin: 0;}
  .live{ font-size:72px; color:white; margin: 0; line-height: 70px; }
  .work{ font-size: 72px; color:white;  margin: 0; line-height:56px;}


    .carousel-item:after{
      position: absolute;
      content: '';
      background: #000;
      opacity: 0.3;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
}

 @media only screen and (min-width:1441px){
 .carousel-caption{ top: 30%;}
 .carousel-item{min-height: 1000px}
 .bd-example{min-height: 1004px;}
  }
  @media only screen and (max-width:1441px){ 
  .carousel {max-height: 500px;}
  .bd-example{min-height: 504px;}
  }
@media only screen and (max-width:1024px){
  .bd-example{margin-top: -1px;}
  .carousel-caption{ bottom: 140px;}
}
@media only screen and (max-width:768px){   
  .live, .work{ font-size: 55px; line-height: 50px;} 
  .carousel-caption{bottom: 100px; left:7.5%;}
  .carousel-item{min-height: 350px; }
  .bd-example{min-height: 354px;}
}
    
@media screen and (max-width:540px){ 
   .live, .work{ font-size: 24px; line-height: 22px;}
   h5{font-size: 11px;}
   .carousel-item{min-height: 250px; }
   .bd-example{min-height: 254px;}
}
