  <div class="bd-example carousel-curve-container bg-yellow">
    <div class="carousel-yellow-convex"> 
      <div id="carouselExampleCaptions" class="carousel convex slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active c1">
         
            <div class="carousel-caption  d-md-block text">
              <h5 class="regularfont">Personal</h5>
              <p class="work mediumfont">We work</p>
              <p class="live  mediumfont">while you live</p>
               <!-- <p class="work">We work<br><span style="margin-left:77px;">while you live</span></p> -->
            </div>
          </div>
          <div class="carousel-item c2">
          
            <div class="carousel-caption  d-md-block text">
              <h5 class="regularfont">Personal</h5>
              <p class="work mediumfont">We work</p>
              <p class="live mediumfont">while you live</p>
              <!-- <p class="work">We work<br><span style="margin-left:77px;">while you live</span></p> -->
            </div>
          </div>
          <div class="carousel-item c3">
          
            <div class="carousel-caption  d-md-block text">
              <h5 class="regularfont">Personal</h5>
              <p class="work mediumfont">We work</p>
              <p class="live mediumfont">while you live</p>
              <!-- <p class="work">We work<br><span style="margin-left:77px;">while you live</span></p> -->
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span> -->
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span> -->
        </a>
      </div>
    </div>
    <div class="clr"></div>
  </div>
 