<div class="main-cont-nomr">  
<div class="c-container"> 
<div class="gmm homecard">
         <!-- <span id="demo" class="greet regularfont">{{greeting}}</span>
         <span class="name mediumfont">{{firstName}}</span> -->
  
      <div class="greetings">
         <span id="demo" class="greet regularfont">{{greeting}}</span>
         <span class="name mediumfont">{{firstName}}</span>
      </div>
      
      <div class="add-acnt">
         <div class="dropdown">
            <!-- <app-dashyellow class="btnmrg mediumfont nam" id="dropdownMenu1"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" [yellowback]="true"  [label]='getNumberPlus()'>
            </app-dashyellow> -->
            <ul class="no_padding_left no_bullet_right">
               <li class="has_sub listitemdrop"> 
                  <a class="tagsmargin cursor_pointer"> 
                     <span class="mediumfont">(+234) {{ mynumber  }} </span>                     
                     <i class="fa fa-angle-down"></i> 
                  </a>
                  <ul class="sub-nav inner_left" style="z-index: 1 !important;">
                     <!-- <span *ngIf="!getParentSwitchNumber()" >   -->

                        <li *ngIf="switched" style="width: 100%; float: left;">
                                 <span class="left"> 
                                    <a [routerLink] = "['/switchaccount']" [state]="{switchNumber: mainnumber, parentNumber: mynumber}" >
                                      (+234) {{mainnumber}} 
                                 </a>
                                 </span>
                                 <span class="right">
                                    <a [routerLink] = "['/switchaccount']" [state]="{switchNumber: mainnumber, parentNumber: mynumber}"> <i class="fab fa-medium-m"></i> </a> 
                                 </span>
                        </li>
               

                     <li *ngFor="let number of numberLists" id="nana" style="width: 100%; float: left;" > 
                        <span class="left"> 
                           <a [routerLink]= "['/confirmation']" [state]="{switchNumber: number.SecondaryNumber, parentNumber: mynumber, nickname: number.NickName, switchCondition: true }" >
                           (+234) {{ number.SecondaryNumber }}
                           </a> 
                        </span>
                        <span class="right"> 
                           <a [routerLink]= "['/confirmation']" [state]="{unlinkNumber: number.SecondaryNumber, unlinkName: number.NickName, unlinkCondition: true }"> <i class="fa fa-times-circle"></i> </a> 
                        </span>
                     </li>
                 

                

                     <li style="width: 100%; float: left;" *ngIf="!switched">
                        <span class="left"> 
                           <a [routerLink] = "['/addaccount']" style="color:#4098ff;">
                              Add another  
                           </a>
                        </span>
                        <span class="right">
                           <a [routerLink] = "['/addaccount']"> <i class="fa fa-plus-circle" style="color:#4098ff;"></i> </a> 
                        </span>
                     </li>
                  </ul>                     
               </li>
            </ul> 
         </div>

      </div>
     
   </div>

       <div class="round mobb carousel carousel-hmcrd">
<div class="round-card carousel-cell"> 
         <div class="dot"> <img src="/app/appassets/icons/airtime.svg"  class="imgiconcard"> </div>
            <div class="txtcrd">Airtime</div>
            <div class="txtcrdd">{{airtimeBalance}}</div>
         </div>

<div class="round-card carousel-cell"  *ngIf="check_postpaid == 'Postpaid' || check_postpaid == 'Postpaid' || check_postpaid == 'Post-paid'"> 
         <div class="dot">
            <img src="/app/appassets/icons/credit_limit.svg"  class="imgiconcard"> </div>
            <div class="txtcrd">Cr.Limit Balance</div>
            <div class="txtcrdd">{{creditLimitBalance}}</div>
         </div>

<div class="round-card carousel-cell" *ngIf="check_postpaid == 'Postpaid' || check_postpaid == 'Postpaid' || check_postpaid == 'Post-paid'"> 
           <div class="dot">
            <img src="/app/appassets/icons/credit_limit_assigned.svg"  class="imgiconcard">  </div>
            <div class="txtcrd">Cr.Limit Assigned</div>
            <div class="txtcrdd">{{creditLimitAssignedBalance}}</div>
         </div>

<div class="round-card carousel-cell" *ngIf="check_postpaid == 'Postpaid' || check_postpaid == 'Postpaid' || check_postpaid == 'Post-paid'"> 
         <div class="dot">
            <img src="/app/appassets/icons/balance.svg"  class="imgiconcard">  </div>
            <div class="txtcrd">Outst.Balance</div>
            <div class="txtcrdd">{{outstandingBalance}}</div>
         </div>

<div class="round-card carousel-cell"  *ngIf="check_postpaid == 'Prepaid' || check_postpaid == 'Prepaid' || check_postpaid == 'Pre-paid'"> 
         <div class="dot">
            <img src="/app/appassets/icons/airtime_bonus.svg"   class="imgiconcard">  </div>
            <div class="txtcrd">Airtime Bonus</div>
            <div class="txtcrdd">{{airtimeBonusBalance}}</div>
         </div>

<div class="round-card carousel-cell"> 
         <div class="dot"> <img src="/app/appassets/icons/data.svg"   class="imgiconcard">  </div>
            <div class="txtcrd">Data</div>
            <div class="txtcrdd">{{dataBalance}}</div>
         </div>

<div class="round-card carousel-cell"> 
         <div class="dot">
            <img src="/app/appassets/icons/data_bonus.svg"   class="imgiconcard">  </div>
            <div class="txtcrd">Data Bonus</div>
            <div class="txtcrdd">{{dataBonusBalance}}</div>
         </div>

<div class="round-card carousel-cell"> 
         <div class="dot">
            <img src="/app/appassets/icons/plans.svg"  class="imgiconcard">  </div>
            <div class="txtcrd">My Plan</div>
    <!--<div class="txtcrdd">{{tariffPlanName}}</div>-->
			          <div *ngIf="tariffPlanName && tariffPlanName.length>9; else loggedOut">
               <div class="txtcrdd" title="{{tariffPlanName}}">{{ (tariffPlanName | slice:0:6)+'..' }}</div>
         </div>
             <ng-template #loggedOut>
               <div class="txtcrdd" >{{ tariffPlanName}}</div>
             </ng-template>
       </div>
	   
</div>
	   
	 	   
	   

                <!--<div class="row abc"> 
              <div  class="col-xl-4 col-lg-4 col-md-5 col-sm-5 cursor">
               <app-dashyellow  size='full' (click)='balances.emit()' label='Other Bundle balances'></app-dashyellow>
              </div>

             <div class="col-xl-4 col-lg-4 col-md-5 col-sm-5 " *ngIf="check_postpaid == 'Postpaid' || check_postpaid == 'Postpaid' || check_postpaid == 'Post-paid'">
               <app-dashyellow  size='full' (click)='details.emit()' label='View bill details'></app-dashyellow>
              </div>
          </div>-->
		
</div>          
      <div class="main-cont" style="padding-bottom: 20px;">    
      <div class="dashh"> 
         <div class="row ">
                <div  class="col-xl-5 col-lg-5 col-md-5 col-sm-5 cursors" *ngIf="check_postpaid == 'Prepaid' || check_postpaid == 'Prepaid' || check_postpaid == 'Pre-paid'" >
                 <app-dashyellow class="btnmrgs mediumfont other" size='full' idicon="icn1" (click)='balances.emit()' label='Other Bundle balances'></app-dashyellow>
                </div>
                <div  class="col-xl-5 col-lg-5 col-md-5 col-sm-5 cursors" *ngIf="check_postpaid == 'Prepaid' || check_postpaid == 'Prepaid' || check_postpaid == 'Pre-paid'" >
                  <app-dashyellow class="btnmrgs mediumfont" size='full'  (click)='subscriptionapi()' label='View subscriptions'></app-dashyellow>
               </div>
            </div>          
      </div> 
      <div class="button_row">
         <div class="row "  > 
             <div  class="col-xl-4 col-lg-4 col-md-4 col-sm-6 cursor " *ngIf="check_postpaid == 'Postpaid' || check_postpaid == 'Postpaid' || check_postpaid == 'Post-paid'">
              <app-dashyellow class="btnmrg mediumfont other" size='full' idicon="icn1" (click)='balances.emit()' label='Other Bundle balances'></app-dashyellow>
             </div>

             <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 cursor  " *ngIf="check_postpaid == 'Postpaid' || check_postpaid == 'Postpaid' || check_postpaid == 'Post-paid'">
              <app-dashyellow class="btnmrg mediumfont other" size='full' idicon="icn2" (click)='details.emit()' label='View bill details'></app-dashyellow>
             </div>

             <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 cursor " *ngIf="check_postpaid == 'Postpaid' || check_postpaid == 'Postpaid' || check_postpaid == 'Post-paid'">
                  <app-dashyellow class="btnmrg mediumfont" size='full' (click)='subscriptionapi()' label='View subscriptions'></app-dashyellow>
                 </div>
         </div>
      
      </div>
      </div>