a{
  text-decoration:none;
}
.main-cont-nomr{ width:80%; margin:0 auto; padding-top: 30px;}

.gmm{ padding: 5% 0 2% 0; display: inline;}

.greetings{ width: 50%;}
.greet{ font-size: 24px; line-height: 35px; }
  .name{
    padding-left: 5px;
    padding-top: 1px;
    font-size: 24px;
    line-height: 35px;
  }

.white { color: #FFF !important; }
.left { float: left !important; margin-right: 0 !important; padding-right: 0 !important }
.right { float: right !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }

.button_row{ margin:0; }

.mobb{ height:180px; margin-top: 30px;
       scrollbar-width: none;
       -ms-overflow-style: none;}  

.mobb::-webkit-scrollbar{width:0px;height:0px;}
.mobb::-webkit-scrollbar-button{width:0px;height:0px;}
  

.round-card{ margin-right: 15px;          
            cursor: pointer;}

  .add-acnt{position: absolute; top: 0; right: 10px;}          
  .no_bullet_right {
    list-style: none;
    text-align: right; 
    cursor: pointer !important;
	  position:relative;
  }  

  .dot {
    height: 83px;
    width: 83px;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    padding: 17px; margin-bottom: 12px;
  }
  
  .txtcrd{
    font-size: 16px;
    line-height: 17px;
    margin-left: 5px;
    font-family: 'MTNBrighterSans-Regular';
  }
  
  .txtcrdd{ width: 100%;
    font-size: 24px;
   // line-height: 17px;
    margin-top: 8px;
    margin-left: 5px;
    font-family: 'MTNBrighterSans-Medium';
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }


.cursor{cursor: pointer;}
.cursors{cursor: pointer;}
.abc{margin-left:130px;}


.has_sub{ position: relative;}
.sub-nav { 
  display: none; position: absolute; 
  right:0;
  top: 30px;
  border-radius: 15px;
  padding: 0px;  width: 175px;
}
.sub-nav li {
  display: block; background-color: #fff;
  border-bottom: solid 1px #f5f5f5;}
.sub-nav li:first-child { border-radius:6px 6px 0 0; }
.sub-nav li:last-child { border-radius:0 0 6px 6px; border-bottom: 0px; }
.sub-nav li:hover { background-color: #fff !important; }
.sub-nav li a {
  line-height: 1; display: block;      
  color: #000;  padding: 15px 10px; font-size:12px;
  position: relative; float: none; text-align: left;
  cursor: pointer; font-family: 'MTNBrighterSans-Regular';
}

.sub-nav li a .fa-plus-circle, .sub-nav li a .fa-times-circle{color:#e0e0e0; font-size: 14px;}

.cursor, .cursors{cursor: pointer;}

@media screen and ( min-width: 769px ) {
.c-container{position: relative; display: inline-block; max-width: 100%;}
  .mobb{display: inline-flex;
    justify-content: flex-start;
   flex-wrap: nowrap; max-width: 100%;
   overflow-x: auto;}
  .round-card{flex-shrink: 0;  width: 160px;}
  }
 @media only screen and (max-width: 800px){
 .mobb{ height:180px; }
 .abc{ margin-left:0px; margin-right: 2px;}
 .cursor{padding-right: 0;}
 .main-cont-nomr{ width:98%; margin:0 auto ;}
 .round-card{ width: 150px;}
}

@media only screen and (max-width: 768px) {
 .no_bullet_right {text-align: left; padding: 0;}
 .cursor{ padding-right: 15px;}

  .sub-nav { left: 0px; }
  .add-acnt{position: relative; right:0;}
  .greetings{ width: 100%;}
  .gmm{ margin-left: 7.5%; display: block;}
}
  

 /* external css: flickity.css */
.carousel-cell {
  counter-increment: carousel-cell;
}

/* enable Flickity by default */
.carousel:after {
    content: 'flickity';
    display: none; /* hide :after */
  }
  
   @media screen and ( min-width: 769px ) {
    /* disable Flickity for large devices */
    .carousel:after {
      content: '';
    }
  } 
