
<button id="buttonp" mat-button [disabled]='disabled' [class]='size' [ngClass]='btn_class' (click)='onClick.emit()'>
    <div id='btn-container'>
      <span id='label'>{{label}}</span>  
      <!-- <i class="material-icons">keyboard_arrow_right</i> -->
    </div>
  </button>