<!-- <div class="container d-none d-md-block d-lg-block"> -->
    <div class="containertable table-responsive-sm">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
<h6>Other balances</h6><i class="far fa-times-circle" (click)="crossIcon.emit()"></i>
  </div>

</div>
  <div class="row">    
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">     
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>Bundle Name</th>
          <th>Bundle Type</th>
          <th>Expires On</th>
          <th>Amount</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let name of other">
          <td>{{name.bundleName}} <p>bundleType:{{name.bundleType}}</p></td>
          <td> {{name.bundleType}} </td>
          <td>{{name.bundleExpiry}} <p>bundlevalue:{{name.bundleValue}}</p></td>
          <td>{{name.bundleValue}}</td>
        </tr>
     
         </tbody>
    </table>
  </div>
  </div>
</div>


