

h6{
    font-size:24px;
    font-family:'MTN Sans';
    float: left;
}
.containertable{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
th{
    font-size:18px;
    font-family:'MTN Sans';
}
td{
    font-size:14px;
    font-family:'MTN Sans'
}
.far{
    margin-left:10px;
}


@media only screen and (min-width:320px) and (max-width:768px){
    th{
        font-size:16px;
    }
    td{
        font-size:12px;
    }
    h6{
        font-size:22px;
    }
.containertable{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
  }


  @media only screen and (min-width:320px) and (max-width:768px){
      tr th:nth-child(2n){
          display:none;
      }

      tr td:nth-child(2n){
        display:none;
       
    }
    tr td p:nth-child(2n){
        display:block;
       
    }
  }
//   @media only screen and (max-width:480px){
//     tr th:nth-child(2n+1) {
//         display:none;
//       } 
//       tr td:nth-child(2n+1) {
//         display:none;
       
//       } 
 

// }

@media only screen and (min-width:769px) and (max-width:3000px){
    tr th:nth-child(2n){
        display:block;
    }

    tr td:nth-child(2n){
      display:block;
     
  }
  tr td p:nth-child(2n+1){
      display:none;
     
  }
 }