
<div *ngIf='showLoader' class="row" > 
  <app-slimloader></app-slimloader>
 </div> 


 <div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p class="regularfont">Please enter MTN number below to recharge</p>
  </div>
 </div>

<div>
<mat-radio-group class="fontsize mediumfont">
  <div>
    <mat-radio-button [checked]="true" (click)="onslectradio(false)" value="1">Self</mat-radio-button>
  </div>
  <div>
    <mat-radio-button (click)="onslectradio(true)" value="2">Others</mat-radio-button>
  </div>
  </mat-radio-group> 
</div>

<br/>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
<form  [formGroup]='debit_card'  class='card-content-pad' (ngSubmit)='onSubmitDebitcard(debit_card)'>
<div *ngIf="!selctradio">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <app-profileinput formControlName='msisdnSes' placeholder='myMTN Number'  iconPosition='left' iconName='recharge' value=''  [(ngModel)] = "msisdnval" type='text' disabled= 'true'></app-profileinput>
            </div>
       </div>

  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
       <app-input-floating formControlName='amount' placeholder='Enter amount'  value='' type='text' required maxlengthVal=6
         [valid]="((debit_card.get('amount').hasError('required') || debit_card.get('amount').hasError('minlength')))"
            [errorMsg]="'Please check enter amount is correct.'" required
              (keypress)="amount($event)"></app-input-floating>
              <a *ngIf="errorMsg"><b style=" color:#be1e50;">{{errorMsg}}</b></a>
    </div>
  
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="center_button">
        <app-mainbutton label='Proceed'[disabled]="debit_card.invalid" size='full' ></app-mainbutton>
      </div>
     </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <p class="regularfont" style="color: #707070;font-size: 14px;">MTN cannot be held responsible for numbers entered incorrectly.  Please double check the cell number you've chosen before recharging. </p>
</div>
</div>
</div>
 </form>
 </div>
</div>


 <form #form id='payForm' method='post' action=''>
  <input type='hidden' name='mtnepg_transaction_amount' value='' id='mtnepg_transaction_amount'>
  <input type='hidden' name='mtnepg_cust_id' value='' id='mtnepg_cust_id'>
  <input type='hidden' name='mtnepg_cust_name' value='' id='mtnepg_cust_name'>
  <input type='hidden' name='mtnepg_cust_mobile' value='' id='mtnepg_cust_mobile'>
  <input type='hidden' name='mtnepg_cust_email' value='' id='mtnepg_cust_email'>
</form>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <form  [formGroup]='debit_card1'  class='card-content-pad' (ngSubmit)='onSubmitDebitcardOthers(debit_card1)' >
   <div *ngIf="selctradio">
     <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<app-input-floating formControlName='msisdn' placeholder='Enter MTN Number'  value='' type='text' required maxlengthVal=13
                  [valid]="((debit_card1.get('msisdn').hasError('required') || debit_card1.get('msisdn').hasError('minlength')))"
                     [errorMsg]="'Please enter a valid MTN number.'" required
                       (keypress)="msisdn($event)"></app-input-floating>
                      
    </div>
  </div>

     <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
           <app-input-floating formControlName='amount1' placeholder='Enter amount'  value='' type='text' required maxlengthVal=6
             [valid]="((debit_card1.get('amount1').hasError('required') || debit_card1.get('amount1').hasError('minlength')))"
                [errorMsg]="'Please check enter amount is correct.'" required
                  (keypress)="amount($event)"></app-input-floating>
                 
        </div>
      
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <app-mainbutton label='Proceed'[disabled]="debit_card1.invalid" size='full' ></app-mainbutton>
         </div>
     </div>

     <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p class="regularfont" style="color: #707070;font-size: 14px;">MTN cannot be held responsible for numbers entered incorrectly.  Please double check the cell number you've chosen before recharging. </p>
    </div>
    </div>
    
    </div>

  </form>
  </div>
  </div>




      
       
    






  
  
