:host /deep/.mat-radio-outer-circle {
    border: solid 2px rgb(8, 8, 8) !important;
 
  }
  :host /deep/.mat-radio-inner-circle {
    background-color: rgb(8, 8, 8) !important;

   
  }
  mat-radio-button{
font-family: 'MTNBrighterSans-Medium';
color: black;
  }

  .rcgtxt{
    //   font-weight: 600;
    //  color: black;
    //  font-size:15px ;
    //  line-height:18px ; 
    //  margin-top: 26px;
    //  margin-left: 0px;  
    //  margin-bottom: 28px;      
    // font-size: 16px;
    line-height: 1.5
  }
  .pdd{
     padding-left: 0px;
     margin-top: 10px;
  }
  .pddd{
      padding-left: 10px;
  }
  .abcd{
      margin-left:-14px;
  }
  .abcd1{
    margin-left:-30px;
  }
  .abb{
      margin-top:12px;
  }
.abbb{
      margin-top:0px;
  }



  @media screen and (max-width:800px){
    .abb{
        margin-left:10px;
        margin-top:8px;
    }
  }
  

 



