<div *ngIf='showLoader' class="row">
    <app-slimloader></app-slimloader>
</div>


<div class="min-height" *ngIf='!phonfarconfirm &&!deactivconfirm &&!voicemailconfirm &&!resetcallconfirm &&!barrconfirm &&!unbarrconfirm'>
   <!--
    <div class="xtraplans">
        <div class="xtradata xtradetails">
            <p class="mediumfont rcgfnt">Call forwarding <span class="circle" [ngClass]='{"active" : arrow1}'
                    (click)="xtratalk()"><i class="fa fa-chevron-up" [ngClass]='{"fa-chevron-down" : !arrow1}'
                        aria-hidden="true"></i></span></p>
        </div>
     


        <div *ngIf='arrow1'>
            <div class="wrapper-grid">
              
                    <div class="flex cursor">
                        <p class="regularfont callfar" (click)="plusminus(i)" *ngIf="plusminusVar[i]!=true">Call
                            forwarding to phone</p>
                        <p class="boldfont callfar" (click)="plusminus(i)" *ngIf="plusminusVar[i] == true">Call
                            forwarding to phone</p>
                        <p (click)="plusminus(i)">
                            <span *ngIf="plusminusVar[i]==true"><i class="fas fa-minus yellow"
                                    aria-hidden="true"></i></span>
                            <span *ngIf="plusminusVar[i] != true"><i class="fas fa-plus yellow"
                                    aria-hidden="true"></i></span></p>
                    </div>
                    <div class="inner-content" *ngIf="plusminusVar[i]==true">
                        <p class="regularfont callfarplease">Y'ello Please enter a number below to forward your calls:
                        </p>
<br>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form [formGroup]='existing_cust' (ngSubmit)='onSubmit(existing_cust)'>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

                                        <app-input-floating formControlName='msisdnother' placeholder='Enter MTN Number'
                                            iconName='recharge' iconPosition='left' value='' type='text' required
                                            maxlengthVal=13
                                            [valid]="((existing_cust.get('msisdnother').hasError('required') || existing_cust.get('msisdnother').hasError('minlength')))"
                                            [errorMsg]="'Please enter a valid MTN number.'" required
                                            (keypress)="numberOnly($event)"></app-input-floating>

                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 ccc">
                                        <app-mainbutton label='Proceed' (click)="phoneproceed()"
                                            [disabled]="existing_cust.invalid" size='full'>
                                        </app-mainbutton>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
          

            <div class="wrapper-grid">
           
                    <div class="flex cursor">
                        <p class="regularfont callfar" (click)="plusminusfarvoice(i)"
                            *ngIf="plusminusfarvoiceVar[i]!=true">Call
                            forwarding to Voicemail</p>
                        <p class="boldfont callfar" (click)="plusminusfarvoice(i)"
                            *ngIf="plusminusfarvoiceVar[i] == true">Call
                            forwarding to Voicemail</p>
                        <p (click)="plusminusfarvoice(i)">
                            <span *ngIf="plusminusfarvoiceVar[i]==true"><i class="fas fa-minus yellow"
                                    aria-hidden="true"></i></span>
                            <span *ngIf="plusminusfarvoiceVar[i] != true"><i class="fas fa-plus yellow"
                                    aria-hidden="true"></i></span></p>
                    </div>
                    <div class="inner-content" *ngIf="plusminusfarvoiceVar[i]==true">

                        <p class="regularfont callfarplease">Y'ello Please click below if you want to forward call to
                            voicemail.</p>
<br>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 ccc">
                            <app-mainbutton label='Proceed' (click)="Voiceproceed()" size='full'> </app-mainbutton>
                              
                        </div>
                    </div>
                </div>
          

            <div class="wrapper-grid">

           
                    <div class="flex cursor">
                        <p class="regularfont callfar" (click)="plusminusdeactfor(i)"
                            *ngIf="plusminusdeactforVar[i]!=true">
                            Deactivate Call forwarding</p>
                        <p class="boldfont callfar" (click)="plusminusdeactfor(i)"
                            *ngIf="plusminusdeactforVar[i] == true">
                            Deactivate Call forwarding</p>
                        <p (click)="plusminusdeactfor(i)">
                            <span *ngIf="plusminusdeactforVar[i]==true"><i class="fas fa-minus yellow"
                                    aria-hidden="true"></i></span>
                            <span *ngIf="plusminusdeactforVar[i] != true"><i class="fas fa-plus yellow"
                                    aria-hidden="true"></i></span></p>
                    </div>
                    <div class="inner-content" *ngIf="plusminusdeactforVar[i]==true">

                        <p class="regularfont callfarplease">Y'ello Please click below if you want to Deactivate Call
                            forwarding.</p>
<br>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 ccc">
                                <app-mainbutton label='Proceed' (click)="deactiveproceed()" size='full'></app-mainbutton>
                        </div>
                    </div>
                </div>
           
        </div>
        </div>
		
		-->

        <!-- call barring -->
        <div class="xtraplans">
        <div class=" xtradata romaingdispl">
            <p class="mediumfont rcgfnt">Call barring <span id="circledata " class="circle"
                    [ngClass]='{"active" : arrow}' (click)="xtradata()"><i class="fa fa-chevron-up"
                        [ngClass]='{"fa-chevron-down" : !arrow}' aria-hidden="true"></i></span></p>
        </div>


        <div *ngIf='arrow'>
            <div class="wrapper-grid">
                <div class="container-grid" >
                    <div class="flex cursor">
                        <p class="regularfont callfar" (click)="plusminusresetbar(i)"
                            *ngIf="plusminusresetbarVar[i]!=true">
                            Reset Call barring code</p>
                        <p class="boldfont callfar" (click)="plusminusresetbar(i)"
                            *ngIf="plusminusresetbarVar[i] == true">
                            Reset Call barring code</p>
                        <p (click)="plusminusresetbar(i)">
                            <span *ngIf="plusminusresetbarVar[i]==true"><i class="fas fa-minus yellow"
                                    aria-hidden="true"></i></span>
                            <span *ngIf="plusminusresetbarVar[i] != true"><i class="fas fa-plus yellow"
                                    aria-hidden="true"></i></span></p>
                    </div>
                    <div class="inner-content" *ngIf="plusminusresetbarVar[i]==true">

                        <p class="regularfont callfarplease">Y'ello Please click below if you want to Reset Call Barring
                            code</p>
<br>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 ccc">
                                    <app-mainbutton label='Proceed' (click)="resebartproceed()" size='full'>
                                    </app-mainbutton>
                                </div>
                    </div>
                </div>
        
            </div>
        

            <div class="wrapper-grid">
            
                    <div class="flex cursor">
                        <p class="regularfont callfar" (click)="plusminucallbar(i)" *ngIf="plusminucallbarVar[i]!=true">
                            Call
                            barring of incoming Calls</p>
                        <p class="boldfont callfar" (click)="plusminucallbar(i)" *ngIf="plusminucallbarVar[i] == true">
                            Call
                            barring of incoming Calls</p>
                        <p (click)="plusminucallbar(i)">
                            <span *ngIf="plusminucallbarVar[i]==true"><i class="fas fa-minus yellow"
                                    aria-hidden="true"></i></span>
                            <span *ngIf="plusminucallbarVar[i] != true"><i class="fas fa-plus yellow"
                                    aria-hidden="true"></i></span></p>
                    </div>
                    <div class="inner-content" *ngIf="plusminucallbarVar[i]==true">

                        <p class="regularfont callfarplease">Y'ello Please click below if you want to Call Barring of
                            incoming Calls</p>
<br>

                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 ccc">
                            <app-mainbutton label='Proceed' (click)="barringproceed()" size='full'>
                            </app-mainbutton>
                        </div>
                    </div>
                </div>

           
            <div class="wrapper-grid">
              
                    <div class="flex cursor">
                        <p class="regularfont callfar" (click)="plusminucallunbar(i)"
                            *ngIf="plusminucallunbarVar[i]!=true">
                            Unbarring of incoming Calls</p>
                        <p class="boldfont callfar" (click)="plusminucallunbar(i)"
                            *ngIf="plusminucallunbarVar[i] == true">
                            Unbarring of incoming Calls</p>
                        <p (click)="plusminucallunbar(i)">
                            <span *ngIf="plusminucallunbarVar[i]==true"><i class="fas fa-minus yellow"
                                    aria-hidden="true"></i></span>
                            <span *ngIf="plusminucallunbarVar[i] != true"><i class="fas fa-plus yellow"
                                    aria-hidden="true"></i></span></p>
                    </div>
                    <div class="inner-content" *ngIf="plusminucallunbarVar[i]==true">

                        <p class="regularfont callfarplease">Y'ello Please click below if you want to Unbarring of
                            incoming Calls</p>
<br>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 ccc">
                            <app-mainbutton label='Proceed'   (click)="unbarringproceed()" size='full'>
                            </app-mainbutton>
                        </div>
                    </div>
                </div>



        </div>

    </div>

</div>


