.xtraplans{  padding:0%; margin:0%; width:100%;}
.yellow{color: #ffcc00;}
.rcgfnt { font-size: 28px; line-height: 24px;  margin-bottom: 34px;}
.cursor{cursor: pointer;}
.callfar {  font-size: 12px; line-height: 14px;
  color: #1d1d1d; margin: 0;
}
.succptagclss {
    font-size: 20px;
    line-height: 16px;
  color: #1d1d1d;
  margin-left: 2%;
}

.callfarplease {
    font-size: 12px;
    line-height: 16px;
  color: #1d1d1d;
  margin: 0; margin-bottom: 5px;
}

.romaingdispl{ display: flex; align-items: center; } 

   .circle{
    padding: 10px 10px;
    margin-left: 10%;
    border-radius: 50%;
    margin-bottom: 1%;
    margin-top: -2%;
    border: 1px solid #ffcc00;
    transition: all .5s ease; 
    display: flex;
   align-items: center;
   position: absolute;
   left:250px;
cursor: pointer;
}

h4{
    margin-top: 3%;
    width: auto;
    margin-bottom: 2%;
    display:contents;
}

.colortext{  color:#707070;  font-size: 14px; }
.xtradata{
    font-size: 24px;
    line-height: 24px;
    width:100%;
    margin-top: 20px;
}

.arrow:true{ background-color: #ffcc00; }
.mardropdown{  margin-left: -4%;}
.marginrig{ margin-right:20%; }

.circleservices{ 
    padding: 2px 12px 2px 12px;
    margin-left: 1%;;
    border-radius: 50%;
    margin-bottom: 1%;
    background-color: #ffcc00;
    border: 2px solid #ffcc00;
    transition: all .5s ease;

}
.siztext{ font-size: 14px;}
.active {  background-color: #ffcc00;}
.mat-radio-button p{ margin-bottom: 0; }

.otpbelow.radiomargin{  display: block;}
      .mat-radio-container .mat-radio-outer-circle{margin-top: 0;}
.form-wrapper, .radiomargin {  padding: 0; }
.wrapper-grid{ border-bottom: 1px solid #b7baba; margin-bottom: 10px; }
.wrapper-grid .flex {display: flex;  flex-wrap: nowrap;  width:100%;
    justify-content: space-between;}

.wrapper-grid .flex p:first-child{
  text-align: left; flex-grow: 10;
  }
  .wrapper-grid .flex p:last-child{
    text-align: right; flex-grow: 10;
    padding-left: 8%; margin: 0;
  }
  .wrapper-grid .inner-content{
  transition: all .3s ease-in-out;
  margin-bottom: 20px;
  }
  
.fa {font-size: 11px;}
.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
    }
    :host /deep/.mat-radio-outer-circle {
    border: solid 2px rgb(8, 8, 8) !important;
    }
    :host /deep/.mat-radio-inner-circle {
    background-color: rgb(8, 8, 8) !important;
    margin-top: 0%;
    }
    

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #000 !important;
}
[class^="mat-radio-inner-circle"]{
    background-color: #000 !important;
}



@media only screen and (max-width:768px){
     h4{   margin-bottom:7%;}
    }
@media only screen and (max-width:460px){    
    .circle{ margin-top: -22px;}
}

  