<div class="main_pages">

          <app-header [migrateMode]="header"></app-header>
 
          <div class="banner-curve-container">
              <div class="banner-convex-outer">
              <div class="convex">
  <div class="i-banner">
    
<div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>

  
<div class="main-cont term mediumfont">
    <p>Terms &</p>
    <p>Conditions</p>
</div>
</div>
</div>
</div>
          </div>


  <div class="main-cont">
  <div class="row rowspace">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pm-0">
          <p class="heading mediumfont"> ACCEPTANCE OF TERMS OF USE - WARRANTY OF CAPACITY TO CONTRACT.</p>

           <p class="heading mediumfont"> DISCLAIMER  </p>        
            <p class="para regularfont">
                MTN shall not be held responsible for any injury, loss, expense or damage of any kind whatsoever
                 suffered or incurred by any person who accesses or uses this website (the User) as a result
                  of the User accessing this website, utilizing any service offered on this website or relying 
                  on any information contained on this website for any reason whatsoever including but not limited
                   to any injury, loss or damage suffered as a result of:
            </p>
            <p class="para regularfont">1.1 errors or discrepancies in the information provided</p>
            <p class="para regularfont">1.2 Any unauthorized access of this website by third parties</p>
            <p class="para regularfont">1.3 Any breakdown or failure of any equipment or medium of access to this website</p>
            <p class="heading mediumfont"> MODIFICATION OF TERMS OF USE </p>

            <p class="para regularfont">
                MTN reserves the right, in its sole discretion,
                 to amend (including without limitation, by the addition of new terms and conditions) these Terms of Use at any time and from time to time without notice to you.
                 Any such amendments shall come into effect immediately and automatically. You undertake to review these Terms of Use regularly prior to use of this application for any such amendments.

            </p>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pm-0">
         
            <p class="heading mediumfont"> DEFINITIONS </p> 
            <p class="para regularfont"> The following terms shall have the corresponding meanings assigned to them:</p>
           <p class="para regularfont">1.1 Intellectual Property means, collectively, the patents, copyrights (and moral rights), Trade Marks, designs, models, brands, names, trade names, graphics, icons, hyperlinks, Know-How, trade secrets and any other type of intellectual property (whether registered or unregistered including applications for and rights to obtain or use same) which are owned by, licensed to, used and/or held (whether or not currently) by MTN on or in connection with this application.</p>
           <p class="para regularfont">1.2 Know-How means all the ideas, designs, documents, diagrams, information, devices, technical and scientific data, secret and other processes and methods used by MTN in connection with this website, as well as, all available information regarding marketing and promotion of the products and services described in this website, as well as all and any modifications or improvements to any of them.</p>

           <p class="para regularfont"> INTERPRETATION </p> 
           <p class="para regularfont"> 1.1 Unless the context requires otherwise or it is expressly stated to the contrary, any words and phrases.</p>
           <p class="para regularfont"> 1.2 defined in these Terms of Use will bear the same meaning throughout these Terms of Use.</p>
           <p class="heading mediumfont">OTHER TERMS AND CONDITIONS</p>
           <p class="para regularfont">
               Certain products and/or services offered on this website may be subject to additional
                terms and conditions as indicated on that part of the website (see Product Terms and 
                Conditions) and your use of those products and/or services will also be subject to those
                 additional terms and conditions governing those relevant products and/or services.
                  To the extent that those additional terms and conditions conflict with these Terms 
                  of Use, then those additional terms and conditions shall take precedence.
          </p>
         </div>
  </div>
   </div>
  


  <app-footer bgColor='white'></app-footer>
  </div>

