.banner-curve-container{ 
  position: relative;
	 margin-top: 69px;
	overflow: hidden;
	height: auto;	
}
.banner-convex-outer {
	background-color:#fff ;
	border-radius: 0 0 200% 200%;
	left: -50%;
	margin: 0 auto;
	overflow: hidden;
	position:relative;
	width: 200%;
}
.banner-curve-container .convex{max-width: 50%;
	margin: 0 auto;}
.convex img{ max-width: 100%;}

.i-banner{
  background-image: url("/app/appassets/images/MTN_SOHO_472186391.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  min-height: 350px;
 
}

.main_pages{  overflow-x:hidden;}

.backbuttonss{ padding-top: 25px; margin-bottom: 2%; }
.heading{ font-size: 20px; line-height: 22px; color: #1d1d1d;}

.rowspace{ margin: 50px 0 20px;}
.para{
font-size: 16px;
line-height: 1.5;
text-align: justify;
}

    .container-fluid1 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .term{ padding-top: 30px;}
  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .term{  font-size: 35px; line-height: 35px;  color:#ffffff; }
  .i-banner{  min-height: 250px;}
  .pm-0{padding: 0px;}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.term{  font-size: 35px;  line-height: 35px;  color:#ffffff;}
}
@media only screen and (max-width: 768px) {
.banner-curve-container{margin-top: 0px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .term{
      font-size: 35px;
      line-height: 35px;
      color:#ffffff;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {   
    .term{
      font-size: 72px;
      line-height:50px;
      color:#ffffff;
    }

  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    .term{
      font-size: 72px;
      line-height: 50px;
      color:#ffffff;
    }
}

@media only screen and (min-width: 2000px) {
   
    .term{
      font-size: 72px;
      line-height:50px;
      color:#ffffff;
    }
}