:host /deep/.mat-radio-outer-circle {
    border: solid 2px rgb(8, 8, 8) !important;
 
  }
  :host /deep/.mat-radio-inner-circle {
    background-color: rgb(8, 8, 8) !important;

   
  }
.fontsize{
font-size:14px;
}


  .rcgtxt{
     color: black;
     font-size:14px ;
     line-height:18px ; 
     margin-top: 26px;
     margin-left: 0px;  
     margin-bottom: 28px;      
  }
  .pdd{
     padding-left: 0px;
     margin-top: 10px;
  }
  .pddd{
      padding-left: 10px;
  }
  .abcd{
      margin-left:-14px;
  }
  .abcd1{
    margin-left:-30px;
  }
  .abb{
      margin-top:11px;
  }
.abbb{
      margin-top:2px;
  }

  .fail{
    height: 60px;
    width: 60px;
    background-color: #ffcc00;
    border-radius: 10px ;
  }
  .failmar{
  
    margin-left: 20px;
    //margin-top: 40px;
  }
  .failed{
    font-size: 28px;
    line-height: 35px;
    margin-top: 10px;
  }
  .errmsg{
  
    font-size: 24px;
    line-height: 30px;
    color:#7f7f7f;
    
  }
  .errmar{
    margin-left: 44px;
  }
  
  .failbtn{
    margin-left: -30px;
    margin-top: 20px;
  }
  
  .msisdnstl{
    color:#000000;
    font-size: 24px;
    line-height:24px;
  }
  
  .vouchertxt{
    font-size: 14px;
    line-height: 13px;
    color: #4C4C4C;
    margin-bottom: 10px;
    //margin-top: 6px;
  }
  

  @media screen and (max-width:800px){
    .abb{
        margin-left:10px;
        margin-top:8px;
    }
    .mobfail{
      display: -webkit-box;
    }
    .errmsg{
      font-size: 14px;
      line-height: 16px;
    }
    .msisdnstl{
     margin-left: -67px;
    }
    
    .vouchertxt{
    margin-left: -67px;
    margin-top: 25px;
    }
  .failbtn{
    margin-left: -30px;
    margin-top: 20px;
    margin-right: 10px;
    }
  }
  
  
  

 



