
.backbutton{ margin-top: 95px; margin-bottom: 2%; }
.grey_text{ max-width:536px;   }
.xplanst{  padding:0px;}
.backbutton{ margin-top: 95px; margin-bottom: 2%; }
.text-center{ border-radius:0px 15px 15px 0px;
    cursor: pointer; 
    padding:18px 0px 0px 0px;
    font-size:20px;
}
  
    @media only screen and (max-width:768px){
      .text-center{
        border-radius:0px 15px 15px 0px;
        cursor: pointer;
        padding:18px 0px 14px 0px;
        font-size:20px;
    }
    .xplanst{
        padding:0px;
    }
    .xplanst > div{
        max-width: 100%;
        flex: 0 0 100%;
    }

    .payment{ display: block; }
    }
    

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1.5rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: .65rem;  
}
 .progress-bar{ background-color: #f2f2f2 !important; color: black; width:50%;}
    .progress-bar-success{
        background-color: #0faf4b !important;
        color: white;
        border-radius: 10px 10px 10px 10px;
    }
    .progress-bar-failure{
        background-color: red !important;
        color: white;
        border-radius: 10px 10px 10px 10px;
    }
    .progress-bar-warning{
        background-color: #ffcc00 !important;
        //color: white;
        border-radius: 10px 10px 10px 10px;
    }

    .active {
        background-color: #ffcc00;
    //     transform: rotate(-135deg);
    //   -webkit-transform: rotate(-135deg);
    color: black;
    }
 
    .rcgfnt{
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 34px;
        }
        .debitlogo{
            height:40px;
            width:40px;
            padding: 3%;
            margin-left: 2%;
        }
        
.coloravila{ color: #7f7f7f }

