<div *ngIf='showLoader' class="row"> 
  <app-slimloader></app-slimloader>

</div>

<div class="main_pages">
               <app-header [migrateMode]="header"></app-header>

    <div class="container-fluid">
 <div class="backbutton">
                  <app-backbutton label='Back' (click)="backButton()"></app-backbutton>
        </div>
     </div>
<div class="main-cont">
    <!-- <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar">
        OTP Verification
      </div>
      
      <div class="progress-bar progress-bar-success " *ngIf="Confirmation" [ngClass]='{"progress-bar-warning" : success}'   role="progressbar" style="background-color: #ffcc00 !important; color:#fff">
      Confirmation
      </div>
      <div class="progress-bar progress-bar-success " *ngIf="success" [ngClass]='{"progress-bar-warning" : success}'   role="progressbar" style="background-color: #ffcc00 !important; color:#fff">
        Success!
        </div>
      <div class="progress-bar float-right" *ngIf="failure" [ngClass]='{"progress-bar-failure" : failure}'   role="progressbar" style="background-color: red !important;">
        failure
      </div>
    
    
    
    </div> -->
    <div class="progress regularfont" >
      <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
        OTP Verification
      </div>
      <div class="progress-bar" *ngIf="Confirmation" [ngClass]='{"progress-bar-success" : showconfimdiv}' role="progressbar" style="width:30%">
        Confirmation
      </div>
      <div class="progress-bar" *ngIf="success" [ngClass]='{"progress-bar-warning" : success}' role="progressbar" style="width:30%">
        Success!
      </div>
      <div class="progress-bar"  *ngIf="failure" [ngClass]='{"progress-bar-failure" : failure}' role="progressbar" style="width:30%">
        Failure!
      </div>
        </div>
 
    <div class="classMain" *ngIf = "otpvarification">
    <div class="row" *ngIf="showconfimdiv">
    
      <div class="col-md-12 col-sm-12">
          <h5 class="bottmmarotp">  Enter OTP </h5>
                 <p class="mediumfont">An OTP sent to the requesting number {{ protectedMsisdn }} below:</p>
            </div>
    
            <div class="col-12 col-md-6">
        
                <form [formGroup]='otp_cust' class='card-content-pad'>
                        <app-input-floating 
                        formControlName='enterotp' 
                        placeholder='Enter OTP here' 
                        value=''
                        type='password' required maxlengthVal=6
                            [valid]="((otp_cust.get('enterotp').hasError('required') || otp_cust.get('enterotp').hasError('minlength')))"
                             [errorMsg]="'Please enter valid OTP number'" required
                            (keypress)="numberOnlyotp($event)"></app-input-floating><br><a ><b style=" color:#be1e50;"></b></a>
                           
                    </form> 
                <p class="timeoutErr mat-error">{{timeoutErr}}</p>
            </div>
            <div class="col-12 col-md-6">
                <div class="center_button">
                 <app-mainbutton label='Proceed' [disabled]="otp_cust.invalid" (click)="validateOtp()" size='half'></app-mainbutton>

              </div>  
            </div>
             <!-- hidden Form form for payment -->
             <p class="resentnow regularfont" (click)="resendotpClick()" >Didn't receive OTP yet?
              <span style="color: #00678f">Resend OTP now!</span>
          </p>
    <div class="col-12 col-md-6" *ngIf="suceesDiv"  >
            <app-success Message={{message}}></app-success>
          </div>
          
          <div class="col-12 col-md-6" *ngIf="failurDiv"  >
          
          <app-failure Message={{message}}> </app-failure>
          </div>
          
          <div *ngIf='showLoader' class="col-12 col-md-6"> 
          <app-slimloader></app-slimloader>
          
     
        </div>
      </div>
    </div>
    
    
      <div class="row col-xs-6 col-lg-6 col-lg-6 col-sm-12 abc " *ngIf="Confirmation">
          
      
        
            <div *ngIf = "confirm">
          <p class="mediumfont"><b>You are linking below number with your account</b> </p>
            <div class="row col-md-12 col-sm-12 xplanst">
                <div class="col-md-12 col-sm-6">
                  <p class="rcgfnt">{{sec_msisdn1}}</p>
                </div>
            </div>
            <div >
                    <p class="mediumfont" >Are you sure you want to proceed?</p>
                        <app-mainbutton size='half' (click)="linkAccount()" label='Confirm' ></app-mainbutton>
                  </div>
        </div>
     
    </div>
    <div class="row col-sm-12 " *ngIf="failure">

        <div class="col-md-6 col-sm-12 abc">
            <h5>There is a issue while processing your request</h5>
      </div>
    </div>
    <div class="row col-sm-12 " *ngIf="success">
      <div class="col-md-6 col-sm-12 abc">
          <h5 class="mediumfont">Dear {{firstName}} Thank you for linking {{sec_msisdn1}} to your primary account {{msisdn1}}</h5>
    </div>
  </div>
    
</div>
    
        <app-footer></app-footer>
  
     </div>
  
    