.back-btn{
    background-color: #ffcc00;
    border:none;
    border-radius: 45px;
    font-size: 16px;
    display: flex;
padding:5px 10px;
}

.fa{ line-height: 23px;
    font-size: 14px;
}

#label{
    font-weight: 600;
    font-size: 14px;
    color: black;
    font-style:italic;
    margin-left:5px;
    
}
button:hover{
    background-color:#ffe582;
    color: black;
  }
  
  