 <div class="container-fluid">
 <div class="backbuttonss">
 <button class="back-btn" href="javascript:void(0)">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
     <span id='label'>{{label}}</span></button>
     </div>
 </div>

     
