/* You can add global styles to this file, and also import other style files */

@import'./app/theme/theme.scss'; 
body{
    font-family: 'MTN Sans';
}
body {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    }

   .backbutton[_ngcontent-gyg-c16] {
        margin-left: 2%;
        margin-top: 7% !important;
        /* padding: 0; */
    }
    
.lightfont{
        font-family: 'MTN Sans';
      }
      .regularfont{
        font-family: 'MTNBrighterSans-Regular';
      }
      .mediumfont{
        font-family: 'MTNBrighterSans-Medium';
      }
      .boldfont{
        font-family: 'MTNBrighterSans-Bold';
      }


.e-grid .e-gridheader {
    /* grid header font color and styles*/
    color: #1d1d1d;
    background-color: #f2f2f2 !important;
    border-top-width: 0px !important;
}

.e-grid .e-headercelldiv {
    /* grid headercell font styles*/
    font-size: 18px;
    font-family: 'MTN Sans IE';
}

.e-grid .e-gridcontent tr td {
    font-size: 14px;
    color: #000000 !important;
    font-family: 'MTN Sans IE';
    border-bottom: 2px solid darkgray !important;
}

.e-grid .e-table,
.e-grid .e-headercell,
.e-grid .e-pager,
.e-pager .e-pagercontainer,
.e-pager .e-nextpage,
.e-pager .e-prevpage,
.e-grid .e-detailheadercell {
    background-color: #f2f2f2;
}

.e-grid.e-resize-lines .e-headercell .e-rhandler,
.e-grid .e-detailcell {
    border-color: #dddddd !important;
}

.e-grid .e-detailcell tr {
    background-color: #dddddd !important
}

.e-grid.e-default {
    border: 0px !important;
}

.e-grid tr {
    height: 48px;
}

.e-grid .e-rowcell,
.e-grid .e-detailcell {
    border-color: #dddddd !important;
    direction: ltr
}

.e-grid .e-detailcell .e-gridheader {
    display: none;
}

.e-grid .e-detailindentcell {
    background-color: #ddd;
}

.e-grid .e-detailcell {
    border-top-style: none !important;
    border-top-width: 0px !important;
    padding: 0 !important;
}

.reportdwnld-btn #buttonp {
    background-color: #f2f2f2 !important;
    border: 2px solid #000 !important;
}

.reportdwnld-btn #buttonp:hover {
    background-color: #ffcc00 !important;
    border: none !important;
}

.e-grid .e-gridcontent tr:first-child td {
    border-top: 2px solid darkgray !important;
}

.e-grid .e-detailcell tr td {
    border-bottom: 0.5px solid darkgray !important;
    border-top: none !important;
}

.e-grid .e-detailcell tr:last-child td {
    border: none !important;
}

.e-grid .e-detailcell tr:first-child td {
    border-top: none !important;
}

.e-grid .e-altrow {
    background-color: #dddddd;
}

.e-grid .e-rhandler {
    border: 0 !important;
}

.e-grid.e-gridhover tr[role='row']:not(.e-editedrow):hover .e-rowcell:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell),
.e-grid.e-gridhover tr[role='row']:hover .e-detailrowcollapse:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell) {
    background-color: transparent !important;
}

.e-row[aria-selected="true"] .e-customizedExpandcell {
    background-color: #e0e0e0;
}

.e-grid.e-gridhover tr[role='row']:hover {
    background-color: #eee;
}

.e-emptyrow {
    text-align: left !important
}

.sec {
    position: absolute;
    margin-left: 8px;
}

.e-grid .e-icon-gdownarrow::before,
.e-grid-menu .e-icon-gdownarrow::before {
    content: '\e910' !important;
}

.e-grid .e-icon-grightarrow::before,
.e-grid-menu .e-icon-grightarrow::before {
    content: '\e36a' !important;
}

.e-grid .e-detailcell tbody td:nth-child(2) {
    padding: 0px !important;
}

.e-grid .e-detailcell tbody td:nth-child(4) {
    text-align: left;
    padding: 0px !important;
}

.e-grid .e-detailcell tbody td {
    position: relative !important;
    left: 25px !important;
}

.e-grid .e-detailcell .e-content {
    background-color: #dddddd !important;
    overflow-x: hidden !important;
}

.e-grid .e-detailcell table {
    background-color: #dddddd !important;
}
.mat-expansion-panel-content {
  margin-left: -24px;
}
.main_pages{ overflow-x: hidden; min-height:500px;}
.main-cont{ width: 80%; margin: 0 auto;}
.main-cont-nomr{width:80%; margin: 0 auto;}
.min-height{min-height: 60Vh;}
@media only screen and (max-width: 1024px) and (min-width: 769px){
  .main-cont{width:90%;}   
  .main-cont-nomr{width:90%; margin: 0 auto;}
}

@media only screen and (max-width: 768px) {
    .main-cont{width: 85%;}
    .container-fluid{ margin: 0 auto;  width: 95%;  padding: 0;}
    .main-cont-nomr{width:98%; margin: 0 auto;}
    .flickity-slider{ left: 10px !important;  width: 98% !important;}
}
 

.mat-checkbox-frame, .mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame
{ background-color: #f2f2f2 !important;
 border: 0px !important; 
 border-radius: 0px !important;
height: 15px;   width: 15px;} 
.blck-check .mat-checkbox-checkmark{fill:#000!important;}
.blck-check .mat-checkbox-checkmark-path{ stroke: #000!important;}
.flickity-page-dots {bottom: 5px !important;}
.carousel-faq .flickity-slider{ left: 10px !important;  width: 98% !important;}


