
<div class="concave" >
 
 <div class="row bg-color" >
         <!-- <div class="offset-md-1 col-xs-2 col-sm-2 col-md-2  footer-mtn" >
            <div id="homeheading" class="pad">
               <h6> Home </h6>
               <i class="fa fa-plus fa-lg" aria-hidden="true" ></i>
            </div>
            <div id="home">
               <i class="fas fa-minus fa-lg hello"></i>
               <a [routerLink]='leftColEl.url' *ngFor="let leftColEl of leftColFooterElements"> {{leftColEl.value}}</a>
            </div>
         </div>
         
         <hr>
         <div class="col-xs-2 col-sm-2 col-md-2  footer-mtn " id="aboutus">
            <div id="aboutheading" class="pad">
               <h6> About Us </h6>
               <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
            </div>
            <div id="about">
               <i class="fas fa-minus fa-lg"></i>
               <a *ngFor="let leftColElAboutUs of leftColFooterElementsAboutUs"> {{leftColElAboutUs.value}}</a>  
            </div>
         </div>
         <hr>
         <div class=" col-xs-2 col-sm-2 col-md-2  footer-mtn " id="business">
            <div id="rechargeheading" class="pad">
               <h6> Recharge </h6>
               <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
            </div>
            <div id="recharge">
               <i class="fas fa-minus fa-lg"></i>
               <a *ngFor="let leftColElBusiness of leftColFooterElementsBusiness"> {{leftColElBusiness.value}}</a>
            </div>
         </div>
         <hr>
         <div class=" col-xs-2 col-sm-2 col-md-2  footer-mtn ">
            <div id="buynundleheading" class="pad">
               <h6> Buy Bundles </h6>
               <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
            </div>
            <div id="buybundle">
               <i class="fas fa-minus fa-lg"></i>
               <a *ngFor="let leftColElMomo of leftColFooterElementsMomo"> {{leftColElMomo.value}}</a>
            </div>
         </div>
         <hr>
         <div class=" col-xs-2 col-sm-2 col-md-2 footer-mtn">
            <div id="helpheading" class="pad">
               <h6> Help </h6>
               <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
            </div>
            <div id="help">
               <i class="fas fa-minus fa-lg"></i>
                <a [routerLink]='leftColElHelp.url' *ngFor="let leftColElHelp of leftColFooterElementsHelp"> {{leftColElHelp.value}}</a>
            </div>
         </div>
         <hr> -->

<div class="main-cont topmargin">
               <!-- <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                     <div class="icon-align test " *ngFor="let item of category">
           
                        <a [routerLink]="['/socialmedia/', item.id]">
            <img [src]='item.imageurl' class='imagesheight'>
            </a>
         </div>
      </div>
   </div> -->
  

 
      <div class="col-md-5 col-sm-12 col-xs-12 col-lg-5">
         <div class="row">
            <div class="" *ngFor="let item of category" style="width:15%;">

               <a [routerLink]="['/socialmedia/', item.id]">
                  <img [src]='item.imageurl' style="margin: 0 10px 0 10px;;display:inline-block" />
               </a>
            </div>
         </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
      </div>

</div>



      <!--<div class="row">
         <div class=" offset-md-1 col-xs-6 col-sm-1 col-md-3 col-lg-3">
         <div class="span12">
         <form id="custom-search-form" class="form-search form-horizontal pull-right">
         <div class="input-append span12">
         <input type="text" [(ngModel)]="searchText" name="search" class="search-query" placeholder="Search">
         <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
         <ul style="list-style: none;color:white;">
         <li *ngFor="let c of searchCharacters | search : searchText"></li>
         {{c}}
         </ul>
         </div>
         </form>
         </div>
         </div>
         </div> -->
         <div class="main-cont ">
            <!-- <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
             <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <p>MTN (PTY) LTD is an authorised Financial Service Provider underwritten by Guardrisk Insurance Company.
                FSP license number: 44774</p>
        
            <a href="" style="text-decoration: none;">Terms & Conditions</a> 
            <a href="" style="text-decoration: none;">Privacy policy</a>      
            <a href="" style="text-decoration: none;">All rights reserved</a>
         </div>
      </div>
   </div>

         <div class="offset-md-2 col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="country-select">
               <img src="assets/images/nigeria.png" class="flag">
           
            <span  class="country-name"> Nigeria </span>
             <i class="fa fa-chevron-down"> </i>
             <div class="clearfix"></div>
            </div>
         </div>
      </div> -->


      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8 text-md-left text-lg-left text-xs-center text-sm-center" style="font-size:9px;text-align:left;color:#484848;line-height:1.5;margin-bottom:25px;padding-top:5px;">
               <p>© 2019 MTN Nigeria (Pty) Ltd, All rights reserved.
               </p>
                   <div>
                   <a href="terms-condition" class="color"><span>Terms & Conditions</span></a> 
                     <a href="privacy-policy" class="color"><span class='ml-2'>Privacy Policy</span></a>      
      
                   </div>
               
            </div>
      
            <div class="offset-md-1 col-xs-12 col-sm-12 col-md-3 col-lg-3" style="margin-bottom:25px;">
               <div class="country-select">
                  <img src="assets/images/nigeria.png" class="flag">
              
               <span  class="country-name"> Nigeria </span>
                <i class="fa fa-chevron-down"> </i>
                <div class="clearfix"></div>
               </div>
            </div>

         </div>
      </div>

      
   </div>
   </div>
   </div>
 