.bg-color{background-color:#1d1d1d;  padding-top: 100px;}
.concave{margin-top: 2%;}
h6{  color:white;
    font-size:16px;
    font-weight: 700; 
    margin-bottom: 20px;
}
.footer-mtn{
    font-family: 'MTN Sans';
    margin-top:8%;
    font-size: 12px;  
}
// a.color:hover, a.color:visited, a.color:active {
// }
a.color:hover{
    color: #0056b3;
    text-decoration: none;
}
a.color{
    color: #484848;
}
.footer-mtn a{
text-decoration:none;
color:#ffffff;
display:block;
font-family: 'MTN Sans';
font-size: 12px;
margin-bottom: 14px;

}

.foot-text{
    padding-right:15px;display: inline-block;font-size:9px;text-align:left;color:#484848;line-height:1.5;text-decoration: none;
}
//serach boc css starts here
#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0; 
}

#custom-search-form .search-query {
    border:2px solid white;
    padding-right: 150px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 50px;
    height:40px;
    background-color:black;
    caret-color:white; 
}

textarea:focus, input:focus{  outline: none;}
.search_icon{ float:right; }
.fa-search{
    position:absolute;
    bottom:25px;
    color:white;
    left:318px;
}
input.search-query {
    color:white;
}
.fa-plus{
    float:right;
    margin: -25px 0px 0px 0px;
}
.fa-minus{
    float:right;
    margin: -25px 0px 0px 0px;
}
.icon-align{
    display: inline-block;
    width: 54px;
    margin-left: 2px;
}
.topmargin{
    padding-bottom:13px;
}
.content_align{
    font-size: 8px;
    color: #484848;
    margin-bottom:5%;
    text-align: justify;
  
}

.country-select{background: transparent; border: 2px solid #fff;
border-radius: 100px; padding: 5px; color:#fff; font-family:'MTNBrighterSans-Medium';
font-size: 12px; margin-top:10px;}
.flag{width: 25px; margin-right: 10px;}
.country-select i{float: right;  color:#fff; padding: 5px;}

.content_align a{color: #484848; margin-right: 10px; 
    text-decoration:underline;}
.white:before{
        background-color: white;
    }


@media only screen and (min-width:1366px)and (max-width:2500px) {
        .fa-plus{   display:none; }
        .fa-minus{  display:none;}
}
@media only screen and (min-width: 767px)and (max-width:1400px){
    hr{ display:none; }
    .fa-plus{ display:none;}
    .fa-minus{ display:none; }
    .footer-mtn a{ display:block; }
  
}
@media only screen and (max-width: 768px){
    .content_align{padding-left: 2%;}
	.concave{ margin-top: 10px; padding-top: 5%;}
    .footer-mtn{ color: white; font-size: 12px;}
     hr{ display:none;}
    .fa-plus{  display:none;}
    .fa-minus{ display:none;}
    .bg-color{ padding-top: 30px;}
}

@media (max-width: 576px){
.concave{ margin-top:20px; padding-top: 15%;}
.content_align .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.content_align{
margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

}

@media only screen and (max-width:480px){
    .footer-mtn a{display:none;}
    .footer-mtn{ margin-top: 0;}
 
    hr{
        display:inline-block;
        width:100%;
        border:0.5px solid #707070;
    }
    .fa-plus{    
        display: inline-block;
        color: white;
        margin-right: 38px;
        margin-top: -36px;
    }
    .fa-minus{
        display:none;
        margin-right: 38px;
        margin-top: -31px;
    }
    
    .container-fluid{
        overflow-x:hidden;
    }
    h6{
        color:white;
        font-size:14px;
        margin-left: 38px;
        line-height:40px;
    
    }
    .footer-mtn a{
        margin-left: 38px;
    }
    .icon-align{
      
        display: inline-block;
        width: 12px;
        margin-left: 37px;
    }
   
   .pad{
       padding-top:0;
   }
}



@media only screen and (max-width:320px){
     
#custom-search-form .search-query {
    padding-right: 90px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 50px;
    height:40px;
  
    background-color:black;
    caret-color:white;
    
} 
.fa-search{
    position:absolute;
    bottom:25px;
    color:white;
    left:260px;
}
.icon-align{
      
    display: inline-block;
    width: 10px;
    margin-left: 10px;
}


}

.cursor_pointer{  cursor:pointer; }