<div class="main_body" style="overflow-x: hidden;">
    <app-header [migrateMode]="header"></app-header>
  
<div class="main-cont content">
<div class="row" style="width:100%;">
  <div class="col-xl-6 col-md-6 col-sm-12">
    <p class="opps mediumfont">Oops !</p>
    <p class="exhausted mediumfont">You have exhausted your data</p>

    
      <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12 mediumfont">
        <app-mainbutton label='Buy Bundles' (click)="Gobuybundles()"  size='full'>
        </app-mainbutton>
      </div>
      </div>
    <div class="col-xl-6 col-md-6 col-sm-12">
        <img src="app/appassets/images/woman-withphone-vector.jpg" class="imagebottomspace">
      </div>
</div>
</div>


</div>


    <app-footer></app-footer>     
