.backbutton{ margin-top: 95px; margin-bottom: 2%; }
.exhausted{ font-size: 25px;}
.opps{ font-size: 120px; color: red; padding:0px; margin-top: 30px;}
img{width:100%;}
.content{
    margin-top: 9%;
}

@media screen and (max-width: 768px){
    .exhausted{ font-size: 20px; text-align: center;}
.opps{ font-size: 75px; color: red; padding:0px; margin-top: 30px; text-align: center;}

}