<!-- <div class="container"> -->
<div class="scrollmenu carousel carousel-crds">


        <a (click)="onLoadMdNav(accounthistoryNavEl)" class="tiny-card carousel-cell"
          [ngClass]="{'highlighted_bg' : active_nav === accounthistoryNavEl.id }" aria-selected='true'
          *ngFor="let accounthistoryNavEl of accounthistoryNavElements">
          <img class="imgicon" [src]="accounthistoryNavEl.source">
          <div class="account_nav_el">
            <p class="account_submenu mediumfont">{{accounthistoryNavEl.value}}</p>
          </div>
        </a>

</div>
<!-- </div> -->
