
<div *ngIf='showLoader' class="row"> 
    <app-slimloader></app-slimloader>
</div>

<div class="main_pages">
 
           
               <app-header [migrateMode]="!header"></app-header>
          
<div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>

<div  *ngIf="linking">
<div class="main-cont lggn min-height"> 
    <div *ngIf='OTPShow'>
        <div class="signtop">
    <h4 class="page-heading mediumfont"> Added Number </h4>
    <div class="row" *ngFor="let data of accountdetails;let i=index">
                <div class="col-xs-9 col-md-6 col-sm-6 col-10" >
                        <div class="card mb-3 grey_text">
                          <div class="row no-gutters">
                             
                            <div class="col-xs-9 col-md-8 col-sm-8" >
                              <div class="card-body">
                                <p class="card-text mediumfont">{{data.SecondaryNumber}}<br>{{data.NickName}}</p>
                                
                              </div>
                            </div>
                            <div class="col-xs-3 col-md-4 col-sm-4 active">
                              <div class="text-center regularfont swtch" >
         <a [routerLink]= "['/confirmation']" [state]="{switchNumber: data.SecondaryNumber, parentNumber: mynumber, nickname: data.NickName, switchCondition: true }" style="text-decoration: none;">
                                        Switch
                                        </a> 
                            </div>
                        <!-- <app-mainbutton label='Remove' (click)="unlinkAccount()"  size='full'></app-mainbutton>   -->
                              </div>
</div>
                             
</div>
</div>
                <div class="col-xs-3 col-md-2 col-sm-3 col-2" >
                    <div class="crsbtn">
                            <!-- (click)="unlinkAccount()" -->
                                <!-- <span aria-hidden="true">&times;</span> -->
        <span aria-hidden="true">
            <a [routerLink]= "['/confirmation'] " [state]="{unlinkNumber: data.SecondaryNumber, unlinkName: data.NickName, unlinkCondition: true }" style="text-decoration: none;">&times;</a>
        </span>
                            </div>                    
                   

                </div>
        </div>
                      
                <p class="welcom mediumfont">You can add {{secondaryNumberToBeAdded}} more contacts to your account (Maximum 5) </p>
        </div>
         <form [formGroup]='add_account'  (ngSubmit)='onSubmit(add_account)'>
               
                <div class="row">
                        
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                          
                        <app-input-floating formControlName='sec_msisdn' placeholder='Enter MTN Number' iconName='recharge'  iconPosition='left'  value='' type='text' required maxlengthVal=13
                           [valid]="((add_account.get('sec_msisdn').hasError('required') ))"
                              [errorMsg]="'Please enter a valid MTN number.'" required
                                (keypress)="numberOnly($event)"
                              
                                ></app-input-floating>
                               </div>              
                       </div>  
                       <div class="row">
                        
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">                         
                        <app-input-floating formControlName='label' placeholder='Enter label (Optional)'value='' type='text'
                         [errorMsg]="'Please valid label'"></app-input-floating> 
                        <p style="font-size: 12px;" class="regularfont">
<mat-checkbox class="blck-check" (change)="changeCheck($event)" [disabled] = "inputField" >I have read complete 
<a href="" [routerLink] = "['/terms-condition']" target="_blank" style="text-decoration: none;"><span style="color: #ffcc00;font-size: 12px;" > Terms and Conditions</span></a>
</mat-checkbox></p>
                                         
                        </div>  
                       
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-11 ccc">					
                                <app-mainbutton label='Proceed' [disabled]="tempDisable"  size='full'></app-mainbutton>  
                           </div>
                       </div>  
                    </form>    
                     
 </div>
    <div *ngIf='!sendotp'>
        <div class="row" *ngIf='!OTPShow'>
<div class="form-wrapper col-12 col-md-6 col-sm-12 col-xs-6 col-lg-6">
               <div class="otpclass regularfont">
                <h5>OTP Options </h5>
                <a class="otp">Please select how you want to recieve One Time password(OTP)</a>
                     </div>
                
                <div class="  form-container marleftradio col-xs-12 col-sm-12 col-md-12 col-lg-8 ">

                    <mat-radio-group [(ngModel)]="otp_radio" aria-label="Select an option">
                        <span class="col-xs-6 col-sm-6 col-md-6  otpbelow radiomargin" *ngIf="primaryNumber">
                        
                            <mat-radio-button [checked]="true"  id="primarynu" name='otp_radio' [value]="primaryNumber"  (click)="checkEmail(false)"><p>Primary number</p><p class="ptagradio">{{primaryNumber}}</p></mat-radio-button>
                            
                        </span>

                        <span *ngIf="email" class="col-xs-6 col-sm-6 col-md-6  otpbelow radiomargin">
                            <mat-radio-button id="emailaddre" name='otp_radio' [value]="email" (click)="checkEmail(true)"><p>Email address</p><p class="ptagradio">{{ email }}</p></mat-radio-button>
                            
                        </span>

                        <span *ngIf="alternateNumber" class="col-xs-6 col-sm-6 col-md-6    otpbelow radiomargin">
                            <mat-radio-button id="secondaynu" name='otp_radio' [value]="alternateNumber" (click)="checkEmail(false)"><p>Alternate number</p><p class="ptagradio">{{ alternateNumber }}</p></mat-radio-button>
                            
                        </span>

                    </mat-radio-group>


                </div>

                <div class="col-12 col-md-12 col-sm-12 col-xs-6 col-lg-6 noPadding_md">
                 <div class="center_button full-btn">
            <app-mainbutton label='Send OTP'(click)="sendotpClick()" type='filled' icon='right_arrow' size="full" style="margin-left: 15px;"></app-mainbutton>
</div>
                </div>
            </div>

        </div>
    </div>
  
    
   
     <div *ngIf='!OTPShow'>
        <div class="row">
 
            <div class="col-12 col-md-6 entertop regularfont">
                <h5 class="bottmmarotp"> Enter OTP  </h5>
                <p>An OTP is sent to number or email id or other number, below:</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
        
                <form [formGroup]='otp_cust' class='card-content-pad' (ngSubmit)='onSubmit(otp_cust)'>
                        <app-input-floating 
                        formControlName='enterotp' 
                        placeholder='Enter OTP here' 
                        value=''
                        type='text' required maxlengthVal=6
                            [valid]="((otp_cust.get('enterotp').hasError('required')))"
                             [errorMsg]="'Please enter a valid OTP number'" required
                            (keypress)="numberOnlyotp($event)"></app-input-floating><br><a ><b style=" color:#be1e50;"></b></a>
                           
                    </form> 
                <p class="timeoutErr mat-error">{{timeoutErr}}</p>
   <p class="resentnow" (click)="resendotpClick()" >Didn't receive OTP yet?
                <span style="color: #00678f">Resend OTP now!</span>
            </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="center_button">
                 <app-mainbutton label='Proceed' [disabled]="otp_cust.invalid" (click)="validateOtp()" size='half'></app-mainbutton>

              </div>  
            </div>
        </div>
             <div *ngIf="!hideee" class="invalidotp">{{message}}</div>
         
</div>
</div>
</div>
<div class="main-cont">
<div class="form-wrapper col-12 col-md-6 col-sm-12 col-xs-6 col-lg-6">
    <div  class=" min-height" *ngIf ="failed">
        <h3 class="m50">{{phonenum}}</h3>
    </div>
</div>
</div>
<div class="main-cont">
    <div class="form-wrapper col-12 col-md-6 col-sm-12 col-xs-6 col-lg-6">
        <div  class="min-height" *ngIf ="alreadylinked">
            <h3 class="m50">this number is already linked with {{primaryNumberProvider}}</h3>
        </div>
    </div>
    </div>
<div class="main-cont">
    <div class=" min-height" *ngIf="showconfimdiv">
  
        <p>Y<b>ou are requesting to link the below number:</b> </p>
          <div class="row xplanst">
              <div class="col-md-12 col-sm-6">
                <p class="rcgfnt">{{sec_msisdn}}</p>
              </div>
          </div>
      
      <div >
          <p >Are you sure you want to proceed?</p>
              <app-mainbutton size='half' (click)="linkAccount()" label='Confirm' ></app-mainbutton>
        </div>
      </div>
   </div>

            <app-footer></app-footer>
      
</div>
