
.noPadding_noMargin{ padding: 0px; margin: 0px; }
.m50{margin: 50px 0;}
  .invalidotp{
    color: #be1e50;
    margin-left: 15px;
     margin-top:-20px;
     padding:10px;
  }

  .lggn{ font-size: 24px;  line-height: 24px;  margin-bottom: 34px;}
  .ccc{ margin-left:16px; }
.page-heading{ font-size: 28px; line-height: 35px; margin:0 0 20px;} 
.swtch a, .crsbtn a{color:#000;}
  .imagebottomspace{
    width: 100%;
    height: 70%;
    border-bottom-left-radius: 100% 10%;
    border-bottom-right-radius: 100% 10%;
  }

.backbuttonss{ padding-top: 95px; margin-bottom: 2%; }
  .bg-color{ background-color:#f2f2f2;  }
  
  .mat-checkbox{font-family: 'MTNBrighterSans-Regular' !important;}
  .mat-radio-button p{  margin-bottom: 0;
    font-family: 'MTNBrighterSans-Regular';
  }
  
  .otpbelow.radiomargin{ display: block; }
  .form-grp{ align-items: center; display: -webkit-box;}
  .mat-radio-container .mat-radio-outer-circle{margin-top: 0;}
  .form-wrapper,
  .radiomargin {
    padding: 0;
    font-family: 'MTNBrighterSans-Regular';
  }
  .form-wrapper1{  margin-left: 1%; margin-top:8%; }
  .imgheigwidth{
  width: 100%;
  border-bottom-left-radius: 100% 10%;
  border-bottom-right-radius: 100% 10%;
  height: 60%;
  }
  
  
  .paddingleft{ padding-left: 8%; }
  .paddingleftinput{  padding-left: 5%; margin-top: 5%; }
 
  .welcom { margin-top:5px; font-size: 14px; }

  .ptagchange {
  margin-bottom: -4px;
  font-size: 12px;
  }
  .marginbotmmpage{
  font-size: 12px;
  margin-bottom: 4px;
  }
 

  .h4 { margin-top: 30px !important; }
  .ptagchange { background-color:#f2f2f2; } 
  .marleftradio{  margin-left: 2%;}
  .otpclass{ font-size: 12px; }
  
  .otpbelow{ font-size: 12px}
  .resendtest { font-size: 14px; }
  .procedotp{  margin-top: 1.3%;  }
  .margttt{ margin-top: -1%; }
  
  .resentnow{  margin-left: 2.2%;  margin-top: -1%; }

  .bottmmarotp{
    margin-bottom: -0.5rem !important;
  }
  
  .mat-radio-button ~ .mat-radio-button {
  padding-right: 16px;
      font-family: 'MTN Sans';
  }
  :host /deep/.mat-radio-outer-circle {
  border: solid 2px rgb(8, 8, 8) !important;
   
  }
  :host /deep/.mat-radio-inner-circle {
  background-color: rgb(8, 8, 8) !important;
  margin-top: 0%;
      font-family: 'MTN Sans';
  
  }
  
  .rcgfnt{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin-left: 17px;
   margin-bottom: 34px;
  }
  
  .otp_margin{
    margin: -8% 0 0 0;
  }
  
  ::ng-deep .send_otp_btn button .half-btn{
    width: 100%;
  }
  
  .timeoutErr {
    margin-left: 20px;
    margin-top: -16px;
    color:#be1e50; 
  }
  
  @media only screen and (min-width: 992px){
  .noPadding_md {
      flex: 0 0 50%;
      max-width: 35%;
  }
  }
  
  @media only screen and (max-width: 800px) {
    .marginsigin {
      margin-top: 0px;
      margin-left: 40px;
      }  
      .paddingleft{
        padding-left:0%;
        }
        .center_button{ margin: 0 ;   }
        .marginleft{
          margin-left:10%;
          margin-right:10%;
          }
          .marginleft1{
            margin-left:5%;
          }
          
    }
  
  @media only screen and (min-width: 769px) {
    .noPadding_md{
      padding: 0;
    }
  }
  @media only screen and (max-width: 769px) {
    .entertop{
      margin-top: 8%;
    }
   
    .signtop{
      margin-top: 10%;
      margin-left: 0%;
    }
      .topimginsmallscreen {
        margin-top: -4%;
        height: 100%;
      }
      .marginleft{
        margin-left:10%;
        margin-right:10%;
        }
        .marginleft1{
          margin-left:5%;
        }
   
      }
  
  @media screen and (max-width: 768px){
  
  .marginsigin {
  margin-top: 10px;
  margin-left: 20px;
  }
  .marginprocee {  margin-top: 0%; }

  .resendtest {
  margin-left: 30px;
  margin-top: 30px;
  }
  .resentnow {
  margin-top: 1%;
  margin-left: 10px;
  }
  .paddingleftinput{
  padding-left: 0%;
  margin-top: 5%;
  }
  .marginput{  width: 100%;}
  .form-wrapper1{
    margin-left: 6%;
    margin-top:8%;
  }
  
  .center_button{
    margin: 15px 0 ;
    max-width: 540px;
    padding: 0 15px;
    width: 100%;
  }
  .welcom { margin-top:5px; }

  .marginleft1{ margin-left:5%; }
  .resentnow{ margin-left: 5%; } 
 }
  
.ng-star-inserted{width: 100%; position: relative;}

.card{
    border-radius:15px;
    -moz-box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);/* Firefox 3.5 - 3.6 */
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -ms-box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border:none;
}
.grey_text{ max-width:500px;   }
.xplanst{  padding:0px;}

.text-center{
    border-radius:0px 15px 15px 0px;
    cursor: pointer; 
    padding:18px 0px 0px 0px;
    font-size:20px;
}
.card-body{
    padding: 10px 1px 0px 17px;
    font-size: 14px;
    font-weight: 500;
}
.active { 
     background-color: #ffcc00;
     border-radius:0px 15px 15px 0px;
     color:black;
     height: 61px;
     width: 131px;
    
}
.crsbtn{ text-align: center; 
  height: 25px;
  width: 25px; margin-top: 20px;
  border: 2px solid black;
  border-radius: 50%; cursor: pointer;
  line-height: 14px;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.inactive {
    background-color: #7f7f7f;
    border-radius:0px 15px 15px 0px;
    color:white;
}
    
    @media only screen and (max-width:768px){
 
      .text-center{
        border-radius:0px 15px 15px 0px;
        cursor: pointer;
        padding:18px 0px 14px 0px;
        font-size:20px;
    }
    .xplanst{
        padding:0px;
    }
    .xplanst > div{
        max-width: 100%;
        flex: 0 0 100%;
    }

    

    }
    
::ng-deep .mat-checkbox-checked .mat-checkbox-background,
 .mat-checkbox-indeterminate .mat-checkbox-background {
      background-color:#f2f2f2 !important;
      color:black !important; height: 15px; width: 15px;
      margin-left: 1px;
      margin-top: 1px;
    }

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color:#f2f2f2 !important;  height: 15px; width: 15px;
  }
  
  ::ng-deep .mat-checkbox {
     height: 15px; width: 15px;
    }  
.mat-checkbox-inner-container{ height: 15px; width: 15px;}


@media only screen and (max-width: 768px) {
    .backbuttonss{ padding-top: 25px; }
}