
        <div class="main_pages">
                    <app-header [migrateMode]="header"></app-header>
          
            <div class="banner-curve-container">
                <div class="banner-convex-outer">
                <div class="convex">
    <div class="i-banner">
      
<div class="container-fluid">
<div class="backbuttonss">
<app-backbutton label='Back' (click)="backbuttons()"></app-backbutton>
</div>
</div>
          
            <div class="main-cont term mediumfont">           
              <p>Security</p>            
            </div>
      
     </div>
          </div>
          </div>
            </div>
       
          
            <div class="main-cont">
           
            <div class="row rowspace">
          
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pm-0">
                    <p class="heading mediumfont"> Security...</p>
                      <p class="para regularfont">The security of your Personal Information is important to us.</p>
                      <p class="para regularfont">"MTN takes technical, contractual, administrative, and physical security steps to protect Personal Information that you provide to us." </p>
                           <p class="para regularfont">"We instruct our employees with access to your Personal Information that it is to be used only in adherence with the principles set forth in this Privacy Policy and the laws applicable to each specific business."</p> 
                        
                           <p class="para regularfont">
                             "In certain areas, such as when you provide credit card information to us, we work to help protect the security of your credit card information during transmission by using industry standard Secure Sockets Layer (SSL) encryption technology." 
                  
                        </p>
                     
                  </div>
          
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pm-0">
                      <p class="para regularfont"> "You can help protect the security of your Personal Information as well." </p>
                      <p class="para regularfont">   "For instance, never give out your password, since this is what is used to access your Account or Registration Information. " </p>
                      <p class="para regularfont">  "Also remember to log out of your account and close your browser window when you finish using an MTN Service or surfing the Web, so that other people using the same computer won't have access to your information."
                    </p>
                   </div>
            </div>
           
              </div>
 
            <app-footer ></app-footer>
            </div>
          
          