

.fa{
  float: right;
  line-height: 21px;
  padding-right: 14px;
  font-size: 14px;

}

button:hover{
  background-color:#ffe582;
}

#btn-container{
  display: grid;
  grid-template-columns: 1fr;
  
}

.full-btn{
  width: 100%;
}

.quater-btn{
  width: 30%;
}
.half-btn{
  width: 45%;
}
button {
  // width: 100%;
  background-color:white ;
   text-align: center;
   border-radius: 100px;
   margin: 10px 0px !important;
   padding: 7px 0px;
   font-size: 12px;
   //filter: drop-shadow(0 0 0.2rem grey);
   // box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border: none;
 }
 #label{
  //font-weight: bold;
  overflow : hidden;
  text-overflow : ellipsis;
  padding-right : 1px;
  font-size: 14px;
  text-align: left;
  padding-left: 18px;
  //font-family:'MTN Sans';
}
