.card{
    border-radius:15px;
    -moz-box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);/* Firefox 3.5 - 3.6 */
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -ms-box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border:none;
}
.fontsize{font-size:14px;}
.grey_text{  max-width:536px;  }
.card-text{font-size:14px;}
.card-text1{   font-size:11px;  }
.xplanst{   padding:0px;}
.text-center{
    border-radius:0px 15px 15px 0px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size:20px;
}
.card-body{
    line-height: 14px;
    display: flex;
    height: 100%;
    align-items: center;
}

.mat-error {
    position: relative;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.active { 
     background-color: #ffcc00;
     border-radius:0px 15px 15px 0px;
     color:black;
}

.inactive {
    background-color: #7f7f7f;
    border-radius:0px 15px 15px 0px;
    color:white;
}
    

    

.progress {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    height: 1.5rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    width: auto;
    max-width: 100%;
    margin: auto;
    margin-top: 85px;
    margin-bottom: 2%;
    border-radius: .65rem;
    
}

    .progress-bar{
        background-color: #f2f2f2 !important;
        color: black;
        width:33.3%;
    }
    .progress-bar-success{
        background-color: green !important;
        color: white; padding: 3px;
        border-radius: 10px 10px 10px 10px;
    }
    .progress-bar-warning{
        background-color: #ffcc00 !important;
       // color: white;
        padding: 3px;
        border-radius: 10px 10px 10px 10px;
    }
   .progress-bar-warning1{
        background-color: hsl(2, 100%, 50%) !important;
        color: white; padding: 3px;
        border-radius: 10px 10px 10px 10px;
    }
    .active { background-color: #ffcc00;color: black;  }

    .rcgfnt{
        font-size: 24px;
        line-height: 24px;
        margin-left: 0%;
        margin-bottom: 34px;
        }
        .debitlogo{
            height:40px;
            width:40px;
            padding: 3%;
            margin-left: 2%;
        }
        
        
        .coloravila{  color: #7f7f7f  }
    
    @media only screen and (max-width:768px){
      
    .xplanst{    padding:0px;}
    .xplanst > div{ max-width: 100%; flex: 0 0 100%; }
    .no-gutters > div{
        width: 70%;
        float: left;
        max-width: 70%;
    }
    .no-gutters > div:last-child{  max-width: 30%;  }
    .payment{  display: block;}
    .progress {  margin-top: 10px; max-width:100%; }
    }
