<div class="progress regularfont" *ngIf="!bundleErrMsg">
  <div class="progress-bar progress-bar-success" role="progressbar">
    Details & Payment
  </div>
  <div class="progress-bar" [ngClass]='{"progress-bar-success" : showconfimdiv}' role="progressbar">
    Confirmation
  </div>
  <div class="progress-bar" [ngClass]='{"progress-bar-warning" : suceesDiv,"progress-bar-warning1" : failurDiv}' role="progressbar">
    {{mesagestatus | titlecase}}
  </div>
</div>

<div class="backbuttonlogin" *ngIf="!bundleErrMsg">
  <app-backbutton label='Back' (click)="backtologinpayment()"></app-backbutton>
</div>
<div class="backbtnWithBundleErr" *ngIf="bundleErrMsg">
  <app-backbutton label='Back' (click)="backtologinpayment()"></app-backbutton>
</div>

<br>

<p class="mat-error" *ngIf="bundleErrMsg">{{bundleErrMsg}}</p>

<div class="row" *ngIf="showsuccessdiv && !bundleErrMsg">

  <div class="col-md-6 col-sm-12 col-12">
    <div>
      <p class="fontsize mediumfont">You are requesting to buy a bundle with below details: </p>
      <div class="row xplanst">
        <div class="col-md-12 col-sm-6">
          <div class="card mb-3 grey_text">
            <div class="row no-gutters">
              <div class=" col-xs-6 col-md-8 col-sm-12">
                <div class="card-body">
                      <p class="card-text mediumfont">{{getInternalCardDetails?.pname||getInternalCardDetails?.ProductName}}<br/><span  class="card-text1 regularfont">{{getInternalCardDetails?.description||getInternalCardDetails?.Description}}</span></p>
                </div>
              </div>
              <div class="col-xs-3 col-md-4 col-sm-6 inactive" [ngClass]="{'active' : colorpayment,'active': !active}">
                    <div class="text-center mediumfont" (click)='changeStatus(i)'>N{{getInternalCardDetails?.price||getInternalCardDetails?.Price}}</div>

              </div>
            </div>

          </div>
        </div>


      </div>
      <p class="fontsize mediumfont">You are making a payment for:</p>
      <!-- <p class="rcgfnt">+{{masisdnpayment}}</p> -->
      <p *ngIf="!getInternalCardDetails?.selfOthers" class="rcgfnt mediumfont">+{{masisdnpayment}}</p>
      <p *ngIf ="getInternalCardDetails?.selfOthers" class="rcgfnt mediumfont"><span style="color:#d0d0d0">(+234)</span>{{benefeciaryMSISDN}}</p>

    </div>
    <div *ngIf="showconfimdiv">
      <p class="fontsize mediumfont">Are you sure you want to proceed?</p>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <app-mainbutton size='full'   (click)="debitpaymebtconfirm()" label='Confirm' *ngIf="airttt1"  ></app-mainbutton>
          <!-- <app-mainbutton size='half'   (click)="debitpaymebtconfirmOthers()" label='ConfirmDebitOthers' *ngIf="airtimeothers"></app-mainbutton> -->
          <app-mainbutton size='full' (click)="paymentconfirm()" label='Confirm' *ngIf="airttt"></app-mainbutton>
        </div>
      </div>
    </div>
    <form #form id='payForm' method='post' action=''>
      <input type='hidden' name='msisdn' value='' id='msisdn'>
      <input type='hidden' name='mtnepg_transaction_amount' value='' id='mtnepg_transaction_amount'>
      <input type='hidden' name='mtnepg_cust_id' value='' id='mtnepg_cust_id'>
      <input type='hidden' name='mtnepg_cust_name' value='' id='mtnepg_cust_name'>
      <input type='hidden' name='mtnepg_cust_mobile' value='' id='mtnepg_cust_mobile'>
      <input type='hidden' name='mtnepg_cust_email' value='' id='mtnepg_cust_email'>
      <input type='hidden' name='transaction_type' value='' id='transaction_type'>
      <!-- <input type='hidden' name='bundleid' value='' id='bundleid'>
		<input type='hidden' name='price' value='' id='price'>
		<input type='hidden' name='autorenew' value='' id='autorenew'> -->
    </form>

  </div>


  <div class="col-md-6 col-sm-12 col-12" *ngIf="airtime">
  <div *ngIf='hideDebit == 0; else notEligible'>
    <p class="rcgfnt mediumfont">Activation mode</p>
    <p class="fontsize regularfont">Please select a mode to activate plan: </p>
    <div>
      <mat-radio-group class="fontsize mediumfont">
        <div>
              <mat-radio-button [checked]="true" name="modeOfActivation"  (click)="onslectradiomodeofactive(1)"  value="1">One Off</mat-radio-button>
          <!-- <mat-radio-button  name="modeOfActivation"  (click)="onslectradiomodeofactive(1)" value="1">One-Off</mat-radio-button> -->
        </div>
        <div>
          <!-- <mat-radio-button name="modeOfActivation"  (click)="onslectradiomodeofactive(2)" value="2">Recurrent</mat-radio-button> -->
              <mat-radio-button  (click)="onslectradiomodeofactive(2)" name="modeOfActivation"  value="2">Autorenew</mat-radio-button>
        </div>
      </mat-radio-group>
    </div>
    <br>
    <p class="rcgfnt mediumfont">Payment mode</p>
    <p class="fontsize regularfont">Please select a mode to make a payment: </p>

    <div>
      <mat-radio-group class="fontsize mediumfont">
        <div>
              <mat-radio-button [checked]="true" name="modeOfPaymentO" (click)="onslectradiopaymentO(1)"  value="1"> AirTime<!--span class="coloravila">-Available Airtime balance N43234234</span-->  </mat-radio-button>
            <!--span class="coloravila">-Available Airtime balance N43234234</span-->
        </div>
        <div>

              <mat-radio-button *ngIf='hideDebit == 0' name="modeOfPaymentO" (click)="onslectradiopaymentO(2)"value="2"> Debit Card </mat-radio-button>
        </div>
      </mat-radio-group>
    </div>
    <!-- <app-mainbutton label='Proceed'  (click)="payemntproceed()" *ngIf="airttt" size='half' ></app-mainbutton> -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <app-mainbutton label='Proceed' (click)="payemntproceed()" size='full'></app-mainbutton>
      </div>
    </div>
    <!-- <app-mainbutton label='Proceed1'  (click)="payemntproceedDebit()" *ngIf="airttt1" size='half' ></app-mainbutton> -->
    <!-- <app-mainbutton label='Proceed' (buttonEve)='buyBundles($event, data)' (ngSubmit)="payemntproceed()" size='half' ></app-mainbutton> -->
	 </div>

<br/>
<br/>
<ng-template #notEligible>
   <p class="fontsize regularfont" style="color:red;">You are not eligible to purchase bundle.</p>
</ng-template>
  </div>





</div>




<!-- hidden Form form for payment -->

<div class="row" *ngIf="suceesDiv">
  <!-- <p class="rcgfnt">Success!</p> -->
  <app-success Message={{message}}></app-success>
</div>

<div class="row" *ngIf="failurDiv">

  <app-failure Message={{message}}> </app-failure>
</div>

<div *ngIf='showLoader' class="row">
  <app-slimloader></app-slimloader>

</div>
