<!--<button  [class]='size'>
    <div id='btn-container'>
      <span id='labelmain'>{{label}}</span>  
    </div>
  </button> -->
 <button id="buttonp" mat-button [disabled]='disabled' [class]='size' [ngClass]='btn_class' (click)='onClick.emit()'>
    <div id='btn-container'>
      <span id='label'>{{label}}</span>
    </div>
  </button>
  