

button:hover{
    background-color:#ffe582;
    
  }

  #btn-container{
    display: grid;
    grid-template-columns: 1fr;
    
  }

  .full-btn{width: 100%;}
  .otpbtn .half-btn{
    width: 100%;
  }
  
  .otpbtn{width: 100%;}
  
  .quater-btn{
    width: 30%;
  }
  .half-btn{
    width: 45%;
  }

  button {
    // width: 100%;
    background-color: #ffcc00 ;
     text-align: center;
     border-radius: 100px;
    // margin: 10px 0px !important;
     padding: 10px 0px;
     font-size: 12px;
     //filter: drop-shadow(0 0 0.2rem grey);
     // box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
      border: none;
   }
   #labelmain{
    font-weight: bold;
    overflow : hidden;
    text-overflow : ellipsis;
    padding-right : 1px;
    font-size: 14px;
  }
  
  @media only screen and (max-width: 800px) {
    .half-btn{
      width: 100%;
      margin: 0 auto;
      //margin: 10px;
    }
  
  }
  
  @media screen and (max-width: 768px){

    .half-btn{
      width: 100%;
      margin: 0 auto;
      //margin: 10px;
    }
  }
  @media screen and (max-width: 640px){

    .half-btn{
      width: 100%;
      margin: 0 auto;
      //margin:10px;
      display: inherit;
      //margin-left:auto;
      //margin-right:auto;
      //margin-left: 40px;
    }
  }
  
  
 
  
  