


.container-fluid{
  padding: 0;
}

.img-container{
  position:relative;
  display: inline-block;
}

img-container img{
  display:block;
}

.mat-error {
  text-align: center;
  font-weight: bold;
}



.img-txt{
  position:absolute;
   bottom:0;
  left:0;
  display:inline-block;
  line-height: 115px;
  // background:lightgrey;
  background: rgba(0,0,0,0.2);
  font-size: 30px;
  display:none;
  width: 100%;
  height: 50%;
  border-bottom-left-radius:100% 200%;
  border-bottom-right-radius:100% 200%;
  text-align: center;
}

img{
  width:80%;
  height:80%;
  border-radius:100px;
}
 .img-txt{
  display:block;
}

.app-input-focus .mat-form-field-appearance-outline .mat-form-field-outline {
    
    color: #f2f2f2 !important;
}

//  circle

 .block {
    border: 0px solid green;
    text-align: center;
    vertical-align: middle;
}
.circle {
    // background: #62a087;
    background: #f2f2f2;
    border-radius: 300px;
    color: white;
    height: 300px;
    width: 300px;
    display: table;
    margin: 20px auto;
}
.circle p {
    vertical-align: middle;
        font-size: 40px;
       
    display: table-cell;
}
.circle H1 {
    // vertical-align: middle;
    display: block;
}
.circle H1 i.fa {
  display:inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}

.img__overlay {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 15px;
  opacity: 0;
  position: absolute;
  right: 0;
//   top: 0;
  transition: opacity 0.25s;
  z-index: 1;
  height: 96px;
  width: 300px;
}

.img__overlay {
  background-color: red;
  background: linear-gradient(65deg, #000000, #000000);
  color: #fafafa;
  font-size: 30px;

    line-height: 40px;
}

.img__overlay:hover {
  opacity: 1;
}


.image-wrapper {
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}
.circle img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    border-radius: 50%;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .circle{
    background: #f2f2f2;
    border-radius: 300px;
    color: white;
    height: 150px;
    width: 150px;
    display: table;
  }
  .img-txt{
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    line-height: 50px;
    font-size: 20px;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 100% 200%;
    border-bottom-right-radius: 100% 200%;
    text-align: center;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 2000px) {

}
