<div *ngIf='showLoader' class="row">
    <app-slimloader></app-slimloader>
</div>
<div class="container-fluid">
    <div class="row">

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div>
                <span class="mat-error" *ngIf="uploadImgErrMsg">{{uploadImgErrMsg}}</span>
                <div class="circle img-container">
                    <img id="blah"  class="circle" [src]='url' alt="">
                   <!-- <input type="file" name="file" accept="image/*" id="profilechange"-->
                   <input type="file" name="file"   accept=".png, .jpg, .jpeg" 
                        (change)="changeListener($event)" hidden='true' #profilechange (click)="profilechange.value = null">
                    <span class="img-txt regularfont" (click)="profilechange.click()">Change</span>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <form [formGroup]='firstNameform' class='card-content-pad'>
                <div class="col-xl-12 " style="padding-left:0px;padding-top: 10px">
                    <app-profileinput formControlName='nameuser' placeholder='MTN User Name' iconName='' type='text'
                        [(ngModel)]="firstName" disabled='true'></app-profileinput>
                </div>
            </form>


            <form [formGroup]='activationdateform' class='card-content-pad'>
                <div class="col-xl-12 " style="padding-left:0px;padding-top: 10px">
                    <app-profileinput formControlName='date' placeholder='Account activation date'
                        [(ngModel)]="activationdate" disabled='true'></app-profileinput><a><b
                            style=" color:#be1e50;"></b></a>
                </div>
            </form>

            <form [formGroup]='emailform' class='card-content-pad'>
                <div class="col-xl-12 " style="padding-left:0px;padding-top: 10px">
                    <app-profileinput formControlName='email' placeholder='Email address' type='text'
                        [(ngModel)]="email" disabled='true'></app-profileinput>
                </div>
            </form>

            <form [formGroup]='selfform' class='card-content-pad'>
                <div class="col-xl-12 " style="padding-left:0px;padding-top: 10px">
                    <app-profileinput formControlName='msisdn' placeholder='Primary Number' type='text' required
                        maxlengthVal=13
                        [valid]="((selfform.get('msisdn').hasError('required') || selfform.get('msisdn').hasError('minlength')))"
                        [errorMsg]="'Please enter a valid MTN number.'" required [(ngModel)]="msisdnval"
                         disabled='true'></app-profileinput><a><b
                            style=" color:#be1e50;"></b></a>
                </div>
            </form>

            <form [formGroup]='PUKform' class='card-content-pad'>
                <div class="col-xl-12 " style="padding-left:0px;padding-top: 10px">
                    <app-profileinput formControlName='puknumber' placeholder='PUK' type='text' required maxlengthVal=8
                        [valid]="((PUKform.get('puknumber').hasError('required') || PUKform.get('puknumber').hasError('minlength')))"
                        [errorMsg]="'Please enter a valid MTN number.'" required [(ngModel)]="pukval"
                       disabled='true'></app-profileinput><a><b
                            style=" color:#be1e50;"></b></a>
                </div>
            </form>

            <form [formGroup]='alternateNumberform' class='card-content-pad'>
                <div class="col-xl-12 " style="padding-left:0px;padding-top: 10px">
                    <app-profileinput formControlName='othernumber' placeholder='Secondary Number' type='text' required
                        maxlengthVal=13
                        [valid]="((alternateNumberform.get('othernumber').hasError('required') || alternateNumberform.get('othernumber').hasError('minlength')))"
                        [errorMsg]="'Please enter a valid MTN number.'" required [(ngModel)]="alternateNumber"
                        disabled='true'></app-profileinput><a><b
                            style=" color:#be1e50;"></b></a>
                </div>
            </form>

        </div>
    

    </div>
</div>