
  <div class="main_pages">
            <app-header [migrateMode]="header"></app-header>
  

 <div class="main-cont">
<app-buybundlespayment [getInternalCardDetails]="proceedData" [masisdnpayment]="msisdnval">
  
</app-buybundlespayment>
</div>

     <app-footer></app-footer>

