body { font-family: 'MTN Sans'; margin:0px;}
.change{ margin-top: -23%; margin-bottom: -23%;}
.noPadding_noMargin{ padding: 0px; margin: 0px;}
.focus {  box-shadow: none !important;}
button:hover {background-color: #ffcc00;  color: #000;}
// .cursor_pointer{ cursor:pointer;}
.header {
  background-color: #ffcc00 !important;
  font-family: 'MTNBrighterSans-Medium';
  position: fixed; z-index: 15;
  top: 0; width: 100%; margin: auto;
  height: 75px;
}

#profile-pic {
  border-radius: 50%;
    background: white;
    width: 40px;
    height: 40px;
    margin-top: 3px;
}
.activated{ color: black; font-weight: 800;}

li .tagsmargin:hover{ color: black; font-weight: 800;}

a{ font-family: 'MTNBrighterSans-Medium';
 font-size: 14px;}

.header a {
  float: left;
  text-decoration: none;
 font-size: 14px;
 cursor: pointer;
}

.no_padding_left { padding-left: 0 !important; }
.inner_left { left: -80px !important;}
.firstNameRight { padding: 15px;}
.no_padding_left .sub-nav{ min-width: 155px;}

.logomargi { margin: 15px;}
.logomargi img{height: 40px;}
.logomargimobilescreen { margin-left: 15px !important;}

.headercontent{max-height: 75px; padding: 15px; margin: 0;}
.headercontent li{display: inline-block;}

.tagsmargin{ padding: 15px; color:black;}
.tagsmargin:hover{ background-color: #ffcc00 !important; font-weight: 700;}
.tagsmargin:hover i{ font-weight: 700; }

.has_sub{ position: relative;}
.sub-nav{ display: none; position: absolute;
    left: -55px;
    top: 40px;
    border-radius: 15px;
   padding: 0px;  min-width: 200px;
   -webkit-transition: all .3s ease;
   transition: all .3s ease;}

.has_sub:hover .sub-nav{ display: block; animation: slide-down .3s ease-out; 
  -webkit-animation: slide-down .3s ease-out;
  -moz-animation: slide-down .3s ease-out;}

  
@-webkit-keyframes slide-down {
  0% { opacity: 0; -webkit-transform: translateY(5%); }   
100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
  0% { opacity: 0; -moz-transform: translateY(5%); }   
100% { opacity: 1; -moz-transform: translateY(0); }
}

.sub-nav li {display: block; background-color: #1d1d1d;
  border-bottom: solid 1px #707070;}

.sub-nav li:first-child{ border-radius:15px 15px 0 0; }
.sub-nav li:last-child{ border-radius:0 0 15px 15px; border-bottom: 0px; }
.sub-nav li:only-child{ border-radius:15px; border-bottom: 0px; }

.sub-nav li:hover{background-color: #4c4c4c!important;}

.sub-nav li a {line-height: 1; display: block;      
    color: #ffffff;  padding: 15px;
    position: relative; float: none; text-align: left;
    cursor: pointer; }
 
.login-mob{z-index:100000;}

.buttonrespons{
 display:flex;
 justify-content:flex-end;
}

.btncss{  border-radius: 1.50rem;  margin:4px 16px;}

.logoutlogomobile{
  margin-top: -6%;
  margin-left: -63%;
}

.btn{
  transition: unset !important;
  height: fit-content;
}
.logg{  font-family:'MTNBrighterSans-Medium';
        margin-left: 5px;  font-size: 14px;
}

.btnmobile{
    margin-top: 0!important;
    margin-left: 26px!important;
    padding: 5px;
}

.btn-info {
  color: black;
  background-color: white !important;
  border-color: white !important;
}
.btn-info:hover{ background-color: #ffe582 !important; 
                 border-color: #ffe582 !important;
                }
.srch{padding-top: 3px;}
.searchtext{
  margin-top: -8px;
  font-size: 10px;
}

// ---------------------Mobile header Css-------------------------
.Menutext{ position: absolute; left: 29px; top: 47px; font-size: 10px;}

#myDiv {
  background-color: #1d1d1d;
  width: 100%;
  height: 100vh; overflow-y: auto;
  z-index: 31;
  display: none;
}

.recharge{ margin-top: 17px;}

.navbar-toggler { line-height: 1; 
  //background-color: #ffcc00;  border: #ffcc00;
}
.headercontentmobile{ margin-left: -1%; z-index: 1;}
.testcolor { font-family: 'MTNBrighterSans-Medium'; font-size: 14px; color:black; padding-left:13%;}

.space-between{  justify-content: space-between;}

.desktop{ display: block;}
.mobile{ display: none;
  background-color: #ffcc00;
  width: 100%;
  z-index: 1000;}

@media screen and(max-width: 1023px) {
  .tagsmargin{ padding: 15px 6px;}
  }
@media screen and(max-width: 769px) {
.searchlog { margin-top: -85%;}
.searchtext{ margin-top: -50px; margin-bottom: -3rem;}
.focus {font-size: 13px; line-height: 30px; padding: 5px;}
}

@media screen and(max-width: 768px) {
  .desktop{display: none ;}
  .mobile{display: block;}
}

@media screen and (max-width: 480px) {
  #myDiv {  width: 100%; }
}

/* Navbar*/

.justify-evenly { display: flex !important; justify-content: space-around; }
.justify-evenly .justify-item { width: 35px;}

/* Bootstrap navbar - delete what is not needed */
.mtn-navbar__container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.mtn-navbar__container > .mtn-navbar__header,
.mtn-navbar__container > .mtn-navbar__collapse {
  margin-right: -15px;
  margin-left: -15px;
}


.mtn-navbar__container:before,
.mtn-navbar__container:after,
.mtn-navbar:before,
.mtn-navbar:after,
.mtn-navbar__header:before,
.mtn-navbar__header:after,
.mtn-navbar__collapse:before,
.mtn-navbar__collapse:after {
  display: table;
  content: ' ';
}

.mtn-navbar__container:after,
nav:after,
.mtn-navbar:after,
.mtn-navbar__header:after,
.mtn-navbar__collapse:after {
  clear: both;
}

.mtn-navbar {
  position: relative;
  background-color: #ffcc00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mtn-navbar *,
.mtn-navbar :after,
.mtn-navbar :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mtn-navbar__logo { padding: 15px 0 15px 15px; display: inline-block;}
.mtn-navbar__logo:focus, .mtn-navbar__logo:hover { background-color: transparent;}

.mtn-navbar__logo img { max-width: 100%; height: 40px;}

.mtn-navbar__toggle {
  cursor: pointer;
  position: relative;
  float: right;
  padding: 22px 15px;
  background-color: transparent;
  background-image: none;
  border: none; text-shadow: none;
}

.mtn-navbar .mtn-navbar__header .mtn-navbar__toggle:focus {
  outline: 0;
}

.mtn-navbar .mtn-navbar__collapse {
  border: none;
  height: 100%;
  background-color: #1d1d1d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


.mtn-navbar .mtn-navbar__collapse .mtn-navbar__item {
  padding: 20px 30px;
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__item:last-child {
  padding-bottom: 40px;
}

.mtn-navbar .mtn-navbar__collapse .nav-item--mobile {
  display: list-item;
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav li,
.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-accordion__panel,
.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-navbar__item {
  font-family: 'MTNBrighterSans-Medium';
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav li > a,
.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-accordion__panel > a,
.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-navbar__item > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  color: #777;
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav li > a:focus, .mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav li > a:hover,
.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-accordion__panel > a:focus,
.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-accordion__panel > a:hover,
.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-navbar__item > a:focus,
.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-navbar__item > a:hover {
  color: #333;
  background-color: transparent;
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav > .active > a,
.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav > .active > a:focus,
.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav > .active > a:hover {
  color: #555;
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav > .disabled > a,
.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav > .disabled > a:focus,
.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav > .disabled > a:hover {
  color: #ccc;
  background-color: transparent;
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-navbar__item.mtn-navbar__tabs {
  background-color: #ffcc00;
  color: #ffffff;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 13px 30px;
  border-top: solid 1px #ffea9d;
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-navbar__item.mtn-navbar__tabs .mtn-navbar__tab {
  display: inline-block;
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-navbar__item.mtn-navbar__tabs .mtn-navbar__tab .material-icons,
.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-navbar__item.mtn-navbar__tabs .mtn-navbar__tab .mtn-icon {
  font-size: 24px;
  color: #1d1d1d;
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-navbar__item.mtn-navbar__tabs .mtn-navbar__tab .material-icons:hover,
.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-navbar__item.mtn-navbar__tabs .mtn-navbar__tab .mtn-icon:hover {
  color: #1d1d1d;
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-navbar__item .mtn-btn {
  width: 100%;
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .nav-item--search {
  border-bottom: 1px #6a6b6b solid;
  color: #ffffff;
  padding: 0;
}

.mtn-search-box {
  padding: 0; position: relative;
}

.mtn-input.mtn-search-box .mtn-input__label {
  display: none;
}

.nav-item--search .mtn-input.mtn-search-box .mtn-input__input {
  border: none;
  padding: 15px 30px;
  font-size: 14px;
  color: #ffffff;
  line-height: 1;
  height: 44px;
}

.nav-item--search .mtn-input.mtn-search-box .mtn-input__input:focus, 
.nav-item--search .mtn-input.mtn-search-box .mtn-input__input:active {
  outline: none;
}

.mtn-input__icon{float: right; position: absolute; right: 16px; top: 8px;}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .social-icons-container {
  padding: 20px 0 0;
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .social-icons-container .social-icon .mtn-icon {
  color: #ffffff;
  font-size: 28px;
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .social-icons-container .social-icon .mtn-icon:hover {
  color: #ffcc00;
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-text-copyright {
  margin: 20px 0;
  // text-align: center;
}

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-text-copyright:after {
  clear: both;
}

// .mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-text-copyright a:first-child {
//   float: left;
// }

// .mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-text-copyright a:last-child {
//   float: right;
// }

.mtn-navbar .mtn-navbar__collapse .mtn-navbar__nav .mtn-select__title.mtn-btn.mtn-btn--outlined.outline-white-bg-black.mtn-btn--text-right-icon {
  background-color: #1d1d1d;
}

.nav-mobile{background-color:rgb(29, 29, 29); }


@media (min-width: 769px) and (max-width: 991px) {
  .nav-item--mobile {display: none !important;}
  .mtn-navbar .mtn-navbar__container .mtn-navbar__collapse .mtn-navbar__nav.mtn-accordion .mtn-accordion__panel .mtn-accordion__title a {
    font-size: 14px;
  }

}

@media (min-width: 811px) and (max-width: 860px) {

  .mtn-navbar .mtn-navbar__container .mtn-navbar__collapse .mtn-navbar__nav.mtn-accordion .mtn-accordion__panel {
    margin-left: 10px;
    max-width: 50px;
  }
  .mtn-navbar .mtn-navbar__container .mtn-navbar__collapse .mtn-navbar__nav.mtn-accordion .mtn-accordion__panel:nth-of-type(2) {
    margin-left: 15px;
  }
 
  .mtn-navbar .mtn-navbar__container .mtn-navbar__collapse .mtn-navbar__item.nav-item--search {
    margin-right: 10px;
  }
}

@media (min-width: 769px) and (max-width: 810px) {
 
  .mtn-navbar .mtn-navbar__container .mtn-navbar__collapse .mtn-navbar__nav.mtn-accordion .mtn-accordion__panel {
    margin-left: 4px;
    max-width: 45px;
  }
  .mtn-navbar .mtn-navbar__container .mtn-navbar__collapse .mtn-navbar__nav.mtn-accordion .mtn-accordion__panel:nth-of-type(2) {
    margin-left: 15px;
  }
  .mtn-navbar .mtn-navbar__container .mtn-navbar__collapse .mtn-navbar__nav.mtn-accordion .mtn-accordion__panel .mtn-accordion__title a:after,
  .mtn-navbar .mtn-navbar__container .mtn-navbar__collapse .mtn-navbar__nav.mtn-accordion .mtn-accordion__panel .mtn-accordion__title a:link:after,
  .mtn-navbar .mtn-navbar__container .mtn-navbar__collapse .mtn-navbar__nav.mtn-accordion .mtn-accordion__panel .mtn-accordion__title a:active:after,
  .mtn-navbar .mtn-navbar__container .mtn-navbar__collapse .mtn-navbar__nav.mtn-accordion .mtn-accordion__panel .mtn-accordion__title a:visited:after {
    right: -25px;
  }
 
  .mtn-navbar .mtn-navbar__container .mtn-navbar__collapse .mtn-navbar__item.nav-item--search {
    margin-right: 8px;
  }
}


@media (min-width: 992px) {
 
  .mtn-navbar .mtn-navbar__container .mtn-navbar__collapse .mtn-navbar__nav.mtn-accordion .mtn-accordion__panel {
    margin-left: 30px;
  }
  .mtn-navbar .mtn-navbar__container .mtn-navbar__collapse .mtn-navbar__item.nav-item--search {
    margin-right: 30px;
  }
 .nav-item--mobile {display: none !important;}
}

/* Accordion*/

.mtn-collapse.show {
  max-height: 99em;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.mtn-collapse .mtn-collapse__content {
  padding: 1.5em;
  height: 100%;
}

.mtn-collapse .mtn-collapse__content p {
  font-size: 14px;
  font-family: 'MTNBrighterSans-Regular', sans-serif;
  margin: 0;
}

.mtn-text-copyright, .mtn-text-copyright a, .mtn-text-copyright p {
  font-size: 8px;
  font-family: 'MTNBrighterSans-Medium';
  color: #484848;
  line-height: 1;
  font-weight: 300;
}

/* Accordion collapse */
.mtn-accordion {
  margin: 0 auto;
  padding: 0;
  position: relative;
  list-style: none;
}

.mtn-accordion .mtn-accordion__panel {
  margin: 0 auto;
  padding: 0;
  position: relative;
  /* Plus icon for accordion item */
}

.mtn-accordion .mtn-accordion__panel .mtn-accordion__title {
  border-bottom: 1px #6a6b6b solid;
  background-color: #1d1d1d;
  color: #ffffff;
  position: relative;
}

.mtn-accordion .mtn-accordion__panel .mtn-accordion__title a,
.mtn-accordion .mtn-accordion__panel .mtn-accordion__title a:active,
.mtn-accordion .mtn-accordion__panel .mtn-accordion__title a:link,
.mtn-accordion .mtn-accordion__panel .mtn-accordion__title a:visited {
  display: block;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-property: color, font-family, font-weight;
  transition-property: color, font-family, font-weight;
  padding: 15px 30px;
  color: #ffffff; cursor: pointer;
}

.mtn-accordion .mtn-accordion__panel .mtn-accordion__title:hover a {
  color: #b7baba;
}

.plus{float: right; color: #fff; font-size: 24px;}

@media screen and (max-width: 767px) {
  .mtn-accordion .mtn-accordion__panel .mtn-accordion__title {
    font-size: 16px;
    line-height: 15px;
  }
}

@media screen and (max-width: 400px) {
  .mtn-accordion .mtn-accordion__panel .mtn-accordion__title {
    font-size: 14px;
    line-height: 18px;
  }
}

.mtn-accordion .mtn-accordion__panel .mtn-accordion__content {
  margin: 0;
  padding: 0;
  max-height: auto;
  display:none;
  background-color: #4c4c4c;
  -webkit-transition:all 0.15s;
  transition: all 0.15s;
  color: #ffffff;
}

.mtn-accordion .mtn-accordion__panel .mtn-accordion__content .mtn-accordion__item {
  line-height: 1;
  display: block;
  margin: 0;
  padding: 15px 45px;
  background-color: #4c4c4c;
  border-bottom: solid 1px #707070;
  color: #ffffff;
  font-size: 14px;
  font-family: 'MTNBrighterSans-Medium';
  position: relative;
  cursor: pointer;
}


.mtn-accordion .mtn-accordion__panel .mtn-accordion__content .mtn-accordion__item:hover,
.mtn-accordion .mtn-accordion__panel .mtn-accordion__content .mtn-accordion__item:hover a {
  color: #b7baba;
}

.mtn-accordion .mtn-accordion__panel .mtn-accordion__content .mtn-accordion__item a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

.mtn-accordion .mtn-accordion__panel.is-active .mtn-accordion__content {
  margin: 0;
  padding: 0;
  max-height: 400px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
