<div *ngIf='showLoader' class="row">
    <app-slimloader></app-slimloader>
</div>	
<div  class="row noPadding_noMargi header main_blockmobil login-mob" *ngIf='!migrateMode'>
    <a class="logomargi"[routerLink] = "['/login']"> <img  src="assets/images/mtn-logo-nav.svg"> </a>
</div>

 <nav class="mtn-navbar">

        <div class="desktop noPadding_noMargin header main_block hover" *ngIf='migrateMode'>
                <a class="logomargi" href="#" [routerLink] = "['/dashboard']"> <img  src="assets/images/mtn-logo-nav.svg"> </a>
            
                <div class="row noPadding_noMargin">
                    <ul class="headercontent col-8">
                        <li>   <a class=" tagsmargin cursor_pointer" [routerLink] = "['/recharge']" routerLinkActive="activated"
                           > Recharge </a>  </li>
                        <li>  <a class="tagsmargin cursor_pointer" [routerLink] = "['/buybundles']" routerLinkActive="activated">  Buy Bundle</a> </li>
                        <li>  <a class="tagsmargin cursor_pointer" [routerLink] = "['/history']" routerLinkActive="activated"> History </a> </li>
 			            <li>  <a class="tagsmargin cursor_pointer" [routerLink] = "['/tarrifplan/activeplan']" routerLinkActive="activated"> Tariff Plan </a> </li>
                        <li class="has_sub">  <a class="tagsmargin  cursor_pointer">  More <i class="fa fa-angle-down" routerLinkActive="activated"></i> </a>
                            <ul class="sub-nav">
                            <!-- <li> <a href="">Manage PIN</a></li>
                            <li> <a href="">SIM Swap</a> </li> -->
                           
                            <li> <a  [routerLink] = "['/dashboard']" (click)="subscription()">My Subscriptions</a> </li>

                            <!---<li *ngIf="!sec_switch_accnt"> <a href="" [routerLink] = "['/switchaccount']">Switch Account</a> </li>-->
                            </ul>
                        </li>

                       <li class="has_sub">  <a class="tagsmargin  cursor_pointer" routerLinkActive="activated">  Help <i class="fa fa-angle-down"></i> </a>
                        <ul class="sub-nav">
                                <li>    <a [routerLink] = "['/terms-condition']" routerLinkActive="activated"> Terms & Conditions</a> </li>
                                <li>    <a [routerLink] = "['/legal']" > Legal</a></li>
                                <li>    <a [routerLink] = "['/security']" > Security</a> </li>
                                <li>    <a [routerLink] = "['/contactus']" > Contact Us</a> </li>
                                <li>    <a [routerLink] = "['/mtnservicestores']" > Locate MTN Store</a> </li>
                                <li>   <a  [routerLink] = "['/faqs']" > FAQs</a> </li>
                                <li>   <a  [routerLink] = "['/complaints']" > Complaints</a> </li>
                                <li>   <a  [routerLink] = "['/feedback']" > Feedback</a> </li>
                            </ul>                     
                   </li>
                    </ul>
                 
                    <div class="headercontent col-4 buttonrespons">
                        <!-- <a class="srch">
                            <img class="searchlog cursor_pointer" src="assets/images/search.svg">
                          
                        </a> -->
            
                        <a (click)="profilepage()"><img [src]='profilePic' alt="" id="profile-pic" ></a>

                        <ul class="no_padding_left">
                            <li class="has_sub"> <a class="firstNameRight cursor_pointer">  {{ firstName }} <i class="fa fa-angle-down"></i> </a>
                                <ul class="sub-nav inner_left">
                                    <li> <a [routerLink] = "['/detailsofprofile']"> My Profile </a> </li>
                                    <li *ngIf="!switched"> <a [routerLink] = "['/addaccount']"> Add Account </a> </li>
                                    <li *ngIf="switched"> <a [routerLink]="['/switchaccount']" [state]="{switchNumber: mainnumber, parentNumber: mainnumber}" >Switch Account</a></li>
                                    <li> <a (click)="logout()"> Logout</a> </li>
                                </ul>                     
                            </li>
                        </ul>
                    </div>
                </div>
                </div>

<!-- Navigation Mobile -->

    <div class="mtn-navbar__container mobile" id='header-main-mobile'>
        <div class="mtn-navbar__header">
            <button type="button" class="mtn-navbar__toggle navbar-collapsed myButton close">
                <span id="tgl"Â class="fa fa-bars"> </span>                
            </button>
            <a class="mtn-navbar__logo" href="#" [routerLink] = "['/dashboard']"><img src="assets/images/mtn-logo-nav.svg" alt="MTN"></a>
        </div>
        <div id="navbar" class="mtn-navbar__collapse">
            <ul id="myDiv" class="mtn-navbar__nav mtn-accordion nav-mobile">
               <!-- <li class="mtn-navbar__item nav-item--mobile mtn-navbar__tabs justify-evenly">
                    <div class="mtn-navbar__tab justify-item">
                        <a href=""> <img src="assets/images/login.svg" alt="search"> </a>
                    </div>
                    <div class="mtn-navbar__tab justify-item">
                        <a href=""><img src="assets/images/search.svg" alt="search"></a>
                    </div>
                    <div class="mtn-navbar__tab justify-item">
                        <a href=""> <img src="assets/images/login.svg" alt="search"> </a>
                    </div>
                    <div class="mtn-navbar__tab justify-item">
                        <a href=""><img src="assets/images/sign_out.svg" alt="search"></a>
                    </div>
                </li> -->
                <li class="mtn-accordion__panel">
                    <div class="mtn-accordion__title">
                        <a href="#" [routerLink] = "['/dashboard']">Home</a>       
                    </div>                    
                </li>
                <li class="mtn-accordion__panel">
                    <div class="mtn-accordion__title">
                        <a href="#" [routerLink] = "['/recharge']">Recharge</a>       
                    </div>                    
                </li>
                <li class="mtn-accordion__panel">
                    <div class="mtn-accordion__title">
                        <a href="#" [routerLink] = "['/buybundles']">Buy Bundle</a>                        
                    </div>                   
                </li>
                <!-- <li class="mtn-accordion__panel">
                    <div class="mtn-accordion__title">
                        <a href="#">VAS</a>                    
                    </div>                    
                </li> -->
                <li class="mtn-accordion__panel">
                    <div class="mtn-accordion__title">
                        <a href="#" [routerLink] = "['/history']">History</a>                       
                    </div>                    
                </li>
 		<li class="mtn-accordion__panel">
                    <div class="mtn-accordion__title">
                        <a href="#" [routerLink] = "['/tarrifplan/activeplan']">Tariff Plan</a>                       
                    </div>                    
                </li>
                <li class="mtn-accordion__panel">
                    <div class="mtn-accordion__title  mob-subnav">
                     <a> More  <span class="plus">+</span> </a>                                           
                    </div>  
                    
                    <div class="mtn-accordion__content">
                        <!-- <div class="mtn-accordion__item">
                            <a href="">Manage PIN</a>
                        </div>
                        <div class="mtn-accordion__item">
                            <a href="">SIM Swap</a>
                        </div> -->
                        <a [routerLink] = "['/dashboard/mysubscription']" > <div class="mtn-accordion__item">
                          My Subscriptions
                        </div></a>
                        <a [routerLink] = "['/detailsofprofile']"><div class="mtn-accordion__item">
                           My Profile
                        </div></a>
                        <a [routerLink] = "['/addaccount']"> <div class="mtn-accordion__item">
                            Add Account
                        </div></a>                 
                    </div>
                </li>
                
                <li class="mtn-accordion__panel">
                        <div class="mtn-accordion__title  mob-subnav">
                          <a> Help  <span class="plus">+</span> </a>                                           
                        </div>  
                    
                        <div class="mtn-accordion__content">
                            <a [routerLink] = "['/terms-condition']"><div class="mtn-accordion__item">
                                    Terms & Conditions
                            </div></a>
                            <a  [routerLink] = "['/legal']"><div class="mtn-accordion__item">
                                    Legal
                            </div></a>
                            <a [routerLink] = "['/security']"><div class="mtn-accordion__item">
                                     Security
                            </div></a>
                            <a [routerLink] = "['/contactus']">  <div class="mtn-accordion__item">
                                   Contact Us
                            </div></a>
                            <a [routerLink] = "['/mtnservicestores']"> <div class="mtn-accordion__item">
                                   Locate MTN Store
                            </div></a> 
                            <a [routerLink] = "['/faqs']"><div class="mtn-accordion__item">
                                    FAQs
                            </div></a>
                            <a [routerLink] = "['/complaints']"><div class="mtn-accordion__item">
                                    Complaints
                            </div></a> 
                            <a [routerLink] = "['/feedback']"> <div class="mtn-accordion__item">
                                   Feedback
                            </div></a>
                        </div>
                    </li>
              
               <!-- Search box -->
                <!-- <li class="mtn-navbar__item nav-item--mobile nav-item--search">
                   
                    <div class="mtn-input mtn-input--icon mtn-input--icon-right mtn-js-input mtn-search-box">
                        <span class="mtn-input__icon">
                            <img src="assets/images/search.svg" alt="search">
                        </span>
                        <input class="mtn-input__input" type="text" id="nav-searchbox" placeholder="Search">
                        <label class="mtn-input__label" for="nav-searchbox">Search</label>
                    </div>
                </li> -->
                <li class="mtn-navbar__item nav-item--mobile">
                    <!-- Log in button -->
                    <app-buttonnew size='full' label='Logout' (click)="logout()"></app-buttonnew>
                   
                    <!-- <div class="justify-evenly social-icons-container">
                        <div class="social-icon justify-item">
                            <a [routerLink]="['/socialmedia/',1]">
                                <i class="mtn-icon fa fa-facebook-official"></i>
                            </a>
                        </div>
                        <div class="social-icon justify-item">
                           <a [routerLink]="['/socialmedia/',2]">
                                <i class="mtn-icon fa fa-instagram"></i>
                            </a>
                        </div>
                        <div class="social-icon justify-item">
                            <a [routerLink]="['/socialmedia/',5]">
                            <i class="mtn-icon fa fa-twitter"></i>
                        </a>
                        </div>
                        <div class="social-icon justify-item">
                            <a [routerLink]="['/socialmedia/',4]">
                                <i class="mtn-icon fa fa-map-marker"></i>
                            </a>
                        </div>
                        <div class="social-icon justify-item">
                            <a [routerLink]="['/socialmedia/',3]">
                                <i class="mtn-icon fa fa-youtube-play"></i>
                            </a>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-5 col-sm-12 col-xs-12 col-lg-5"> -->

                        <div class="row">
                           <div class="" *ngFor="let item of category" style="width:15%;">
               
                              <a [routerLink]="['/socialmedia/', item.id]">
                                 <img [src]='item.imageurl' style="margin: 0 10px 0 10px;;display:inline-block" />
                              </a>
                           </div>
                        </div>

                     <!-- </div> -->
                    <!-- Copyright text -->
                    <div class="mtn-text-copyright">
                            © 2019 MTN Nigeria (Pty) Ltd, All rights reserved.
                    </div>
                    <div class="mtn-text-copyright">
                            <a href="terms-condition" class="color"><span>Terms & Conditions</span></a> 
                            <a href="privacy-policy" class="color"><span class='ml-2'>Privacy Policy</span></a> 
                    </div>                
                </li>
            </ul>
        </div>
    </div>       
  </nav>         

      
